CS Insider Scraper v1.json
{
  "name": "CS Insider Scraper v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "weeks", "triggerAtDay": [2, 5], "triggerAtHour": 7}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "id": "schedule-trigger",
      "name": "Schedule: Tue/Fri 7am"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/unblock?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"url\": \"https://www.csinsider.co/job-board\", \"content\": true, \"cookies\": false, \"screenshot\": false, \"waitForTimeout\": 5000}",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300],
      "id": "fetch-csinsider",
      "name": "Fetch CS Insider Page"
    },
    {
      "parameters": {
        "jsCode": "// Extract Notion iframe URL from CS Insider page\nconst html = $input.first().json.content || '';\n\n// Look for Notion iframe src\nconst iframeMatch = html.match(/iframe[^>]+src=\"(https:\\/\\/csinsider\\.notion\\.site[^\"]+)\"/i);\n\nif (!iframeMatch) {\n  // Fallback: look for any notion.site URL\n  const notionMatch = html.match(/https:\\/\\/csinsider\\.notion\\.site\\/[a-f0-9]+/i);\n  if (notionMatch) {\n    return [{ json: { notionUrl: notionMatch[0] } }];\n  }\n  throw new Error('Could not find Notion iframe URL on CS Insider page');\n}\n\n// Clean up the URL (remove /ebd// prefix if present)\nlet notionUrl = iframeMatch[1];\nnotionUrl = notionUrl.replace('/ebd//', '/').replace(/\\/+/g, '/');\nnotionUrl = notionUrl.replace('https:/', 'https://');\n\nconsole.log('Found Notion URL:', notionUrl);\n\nreturn [{ json: { notionUrl: notionUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "extract-notion-url",
      "name": "Extract Notion URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/unblock?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.notionUrl, content: true, cookies: false, screenshot: false, waitForTimeout: 15000, waitForSelector: { selector: '[data-block-id]', timeout: 15000 } }) }}",
        "options": {"timeout": 180000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, 300],
      "id": "fetch-notion",
      "name": "Fetch Notion Job Board"
    },
    {
      "parameters": {
        "jsCode": "// Parse CS Insider Notion job board\nconst html = $input.first().json.content || '';\n\nconst jobs = [];\n\n// Extract company names\nconst companyRegex = /Company<\\/span>:\\s*([^<]+)/gi;\nconst companyMatches = [];\nlet companyMatch;\nwhile ((companyMatch = companyRegex.exec(html)) !== null) {\n  companyMatches.push(companyMatch[1].trim());\n}\n\n// Extract locations\nconst locationRegex = /Location<\\/span>:\\s*([^<]+)/gi;\nconst locationMatches = [];\nlet locationMatch;\nwhile ((locationMatch = locationRegex.exec(html)) !== null) {\n  locationMatches.push(locationMatch[1].trim());\n}\n\n// Extract apply links (Greenhouse, Lever, etc.)\nconst applyRegex = /href=\"(https:\\/\\/[^\"]*(?:greenhouse|lever|workday|jobs\\.lever|boards\\.greenhouse|careers|apply)[^\"]*)\"/gi;\nconst applyMatches = [];\nlet applyMatch;\nwhile ((applyMatch = applyRegex.exec(html)) !== null) {\n  const url = applyMatch[1];\n  // Skip Notion internal links and duplicates\n  if (!url.includes('notion.') && !applyMatches.includes(url)) {\n    applyMatches.push(url);\n  }\n}\n\n// Extract job titles from content-editable divs\nconst cleanTitles = [];\nconst titleCleanRegex = />([^<]*(?:Customer Success|CSM|Client Success|Account Manager|Success Manager|Engagement Manager)[^<]*)<\\/div>/gi;\nlet titleCleanMatch;\nwhile ((titleCleanMatch = titleCleanRegex.exec(html)) !== null) {\n  const title = titleCleanMatch[1].trim();\n  if (title.length > 5 && title.length < 100 && !cleanTitles.includes(title)) {\n    cleanTitles.push(title);\n  }\n}\n\n// Build job objects - only include jobs with URLs\nconst numJobs = applyMatches.length;\n\nfor (let i = 0; i < numJobs; i++) {\n  const company = companyMatches[i];\n  const title = cleanTitles[i];\n  const jobUrl = applyMatches[i];\n  \n  // Only include if we have a URL and company\n  if (jobUrl && company) {\n    jobs.push({\n      json: {\n        'Job Title': title || 'Customer Success Manager',\n        'Company': company,\n        'Location': locationMatches[i] || 'Remote',\n        'Job URL': jobUrl,\n        'Source': 'CS Insider'\n      }\n    });\n  }\n}\n\nconsole.log('=== CS INSIDER SCRAPE SUMMARY ===');\nconsole.log('Jobs with URLs:', jobs.length);\nconsole.log('Total companies found:', companyMatches.length);\nconsole.log('Total apply links:', applyMatches.length);\nconsole.log('Skipped (no URL):', companyMatches.length - jobs.length);\n\nif (jobs.length === 0) {\n  return [{\n    json: {\n      error: 'No jobs parsed',\n      debug: {\n        titlesFound: cleanTitles.length,\n        companiesFound: companyMatches.length,\n        sampleCompanies: companyMatches.slice(0, 10),\n        sampleTitles: cleanTitles.slice(0, 10),\n        applyLinksFound: applyMatches.length\n      }\n    }\n  }];\n}\n\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "id": "parse-jobs",
      "name": "Parse Jobs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-company",
              "leftValue": "={{ $json.company }}",
              "rightValue": "Unknown",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "filter-valid",
      "name": "Filter Valid Jobs"
    },
    {
      "parameters": {
        "workflowId": "v24qHkIsp8GVCwFkscHP8",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1400, 300],
      "id": "run-pipeline",
      "name": "Job Evaluation Pipeline"
    }
  ],
  "connections": {
    "Schedule: Tue/Fri 7am": {
      "main": [[{"node": "Fetch CS Insider Page", "type": "main", "index": 0}]]
    },
    "Fetch CS Insider Page": {
      "main": [[{"node": "Extract Notion URL", "type": "main", "index": 0}]]
    },
    "Extract Notion URL": {
      "main": [[{"node": "Fetch Notion Job Board", "type": "main", "index": 0}]]
    },
    "Fetch Notion Job Board": {
      "main": [[{"node": "Parse Jobs", "type": "main", "index": 0}]]
    },
    "Parse Jobs": {
      "main": [[{"node": "Filter Valid Jobs", "type": "main", "index": 0}]]
    },
    "Filter Valid Jobs": {
      "main": [[{"node": "Job Evaluation Pipeline", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
