CS Insider Scraper v1.7.json
{
  "name": "CS Insider Scraper v1.7",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "weeks", "triggerAtDay": [2, 5], "triggerAtHour": 7}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "id": "schedule-trigger",
      "name": "Schedule: Tue/Fri 7am"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/unblock?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://www.csinsider.co/job-board\",\n  \"content\": true,\n  \"cookies\": false,\n  \"screenshot\": false,\n  \"waitForTimeout\": 8000\n}",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "id": "fetch-csinsider",
      "name": "Fetch CS Insider Page"
    },
    {
      "parameters": {
        "jsCode": "// Extract Notion iframe URL from CS Insider page\nconst response = $input.first().json;\nconst html = response.content || '';\n\nconsole.log('CS Insider HTML length:', html.length);\n\n// Look for Notion iframe src\nconst iframeMatch = html.match(/iframe[^>]+src=\"(https:\\/\\/[^\"]*notion\\.site[^\"]+)\"/i);\n\nif (iframeMatch) {\n  let notionUrl = iframeMatch[1];\n  // Clean URL encoding\n  notionUrl = notionUrl.replace(/&amp;/g, '&');\n  console.log('Found Notion URL from iframe:', notionUrl);\n  return [{ json: { notionUrl } }];\n}\n\n// Fallback: look for any notion.site URL\nconst notionMatch = html.match(/https:\\/\\/[^\"\\s]*notion\\.site\\/[a-f0-9-]+/i);\nif (notionMatch) {\n  console.log('Found Notion URL (fallback):', notionMatch[0]);\n  return [{ json: { notionUrl: notionMatch[0] } }];\n}\n\nthrow new Error('Could not find Notion URL on CS Insider page. HTML length: ' + html.length);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "extract-notion-url",
      "name": "Extract Notion URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/unblock?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.notionUrl, content: true, cookies: false, screenshot: false, waitForTimeout: 20000 }) }}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "id": "fetch-notion",
      "name": "Fetch Notion Job Board"
    },
    {
      "parameters": {
        "jsCode": "// Parse CS Insider Notion job board - v1.7 (URL-based company extraction)\nconst response = $input.first().json;\n\nlet html = response.content || '';\nif (!html && typeof response === 'string') html = response;\nif (!html) html = JSON.stringify(response);\n\nconst jobs = [];\nconst today = new Date().toISOString().split('T')[0];\n\nconsole.log('Notion HTML length:', html.length);\n\n// Extract company from URL (most reliable method)\nfunction extractCompanyFromUrl(url) {\n  // Greenhouse: job-boards.greenhouse.io/COMPANY/jobs/...\n  let m = url.match(/greenhouse\\.io\\/([a-z0-9-]+)\\//i);\n  if (m) return formatCompanyName(m[1]);\n  // Lever: jobs.lever.co/COMPANY/...\n  m = url.match(/lever\\.co\\/([a-z0-9-]+)\\//i);\n  if (m) return formatCompanyName(m[1]);\n  // Ashby: jobs.ashbyhq.com/COMPANY/...\n  m = url.match(/ashbyhq\\.com\\/([a-z0-9-]+)\\//i);\n  if (m) return formatCompanyName(m[1]);\n  // Workday: COMPANY.wd1.myworkdayjobs.com\n  m = url.match(/\\/\\/([a-z0-9-]+)\\.wd\\d\\.myworkdayjobs/i);\n  if (m) return formatCompanyName(m[1]);\n  // Generic: try to get domain name\n  m = url.match(/\\/\\/(?:www\\.)?(?:jobs\\.)?([a-z0-9-]+)\\./i);\n  if (m && m[1] !== 'job-boards' && m[1] !== 'careers') return formatCompanyName(m[1]);\n  return null;\n}\n\nfunction formatCompanyName(slug) {\n  // Convert slug to proper company name\n  return slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n}\n\n// Apply links - extract all job URLs\nconst applyMatches = [];\nconst applyRegex = /href=\"(https:\\/\\/[^\"]*(?:greenhouse|lever|workday|ashby|jobs\\.|careers|apply|hiring)[^\"]*)\"/gi;\nlet match;\nwhile ((match = applyRegex.exec(html)) !== null) {\n  const url = match[1];\n  if (!url.includes('notion.') && !url.includes('google.com') && !applyMatches.includes(url)) {\n    applyMatches.push(url);\n  }\n}\n\n// Title extraction with validation\nfunction isValidTitle(text) {\n  if (/^[:\\-\\•\\*]/.test(text)) return false;\n  if (/\\d+\\+?\\s*years?/i.test(text)) return false;\n  if (/\\b(minimum|required|preferred|must have|experience in|proficiency)\\b/i.test(text)) return false;\n  if (text.length > 80) return false;\n  if (!/\\b(Manager|Director|Lead|Head|VP|Associate|Specialist|Coordinator|Partner|Executive)\\b/i.test(text)) return false;\n  return true;\n}\n\nconst cleanTitles = [];\nconst titleRegex = />([^<]*(?:Customer Success|CSM|Client Success|Account Manager|Success Manager|Engagement Manager|Implementation|Onboarding)[^<]*)</gi;\nwhile ((match = titleRegex.exec(html)) !== null) {\n  const title = match[1].trim();\n  if (title.length > 5 && isValidTitle(title) && !cleanTitles.includes(title)) {\n    cleanTitles.push(title);\n  }\n}\n\nconsole.log('URLs:', applyMatches.length, 'Titles:', cleanTitles.length);\n\n// Job ID helper\nfunction extractJobId(url) {\n  const patterns = [/\\/jobs?\\/([a-f0-9-]+)/i, /\\/postings?\\/([a-f0-9-]+)/i, /\\/([0-9]+)(?:\\?|$)/];\n  for (const p of patterns) {\n    const m = url.match(p);\n    if (m) return m[1];\n  }\n  let hash = 0;\n  for (let i = 0; i < url.length; i++) { hash = ((hash << 5) - hash) + url.charCodeAt(i); hash = hash & hash; }\n  return 'csi-' + Math.abs(hash).toString(36);\n}\n\n// Build jobs - company from URL, title by index fallback\nfor (let i = 0; i < applyMatches.length; i++) {\n  const jobUrl = applyMatches[i];\n  const company = extractCompanyFromUrl(jobUrl);\n  if (jobUrl && company) {\n    jobs.push({\n      json: {\n        'Job Title': cleanTitles[i] || 'Customer Success Manager',\n        'Company': company,\n        'Location': 'Remote',\n        'Job URL': jobUrl,\n        'Source': 'CS Insider',\n        'Date Found': today,\n        'Job ID': extractJobId(jobUrl)\n      }\n    });\n  }\n}\n\nif (jobs.length === 0) {\n  console.log('No jobs found - check HTML sample');\n  console.log('Sample:', html.substring(0, 1000));\n  return [];\n}\n\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "id": "parse-jobs",
      "name": "Parse Jobs"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "has-company", "leftValue": "={{ $json.Company }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "filter-valid",
      "name": "Filter Valid Jobs"
    },
    {
      "parameters": {
        "workflowId": "v24qHkIsp8GVCwFkscHP8",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1400, 300],
      "id": "run-pipeline",
      "name": "Job Evaluation Pipeline"
    }
  ],
  "connections": {
    "Schedule: Tue/Fri 7am": { "main": [[{"node": "Fetch CS Insider Page", "type": "main", "index": 0}]] },
    "Fetch CS Insider Page": { "main": [[{"node": "Extract Notion URL", "type": "main", "index": 0}]] },
    "Extract Notion URL": { "main": [[{"node": "Fetch Notion Job Board", "type": "main", "index": 0}]] },
    "Fetch Notion Job Board": { "main": [[{"node": "Parse Jobs", "type": "main", "index": 0}]] },
    "Parse Jobs": { "main": [[{"node": "Filter Valid Jobs", "type": "main", "index": 0}]] },
    "Filter Valid Jobs": { "main": [[{"node": "Job Evaluation Pipeline", "type": "main", "index": 0}]] }
  },
  "settings": {"executionOrder": "v1"}
}
