CS Insider Scraper v1.3.json
{
  "name": "CS Insider Scraper v1.3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "weeks", "triggerAtDay": [2, 5], "triggerAtHour": 7}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "id": "schedule-trigger",
      "name": "Schedule: Tue/Fri 7am"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://csinsider.notion.site/6ea1b344d26042fbb78aa390429800f6\",\n  \"elements\": [\n    { \"selector\": \"body\", \"timeout\": 60000 }\n  ],\n  \"waitForSelector\": {\n    \"selector\": \"[data-block-id]\",\n    \"timeout\": 30000\n  },\n  \"gotoOptions\": {\n    \"timeout\": 60000,\n    \"waitUntil\": \"networkidle0\"\n  }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "id": "fetch-notion",
      "name": "Fetch Notion Job Board",
      "credentials": {
        "httpHeaderAuth": {
          "id": "browserless-api",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse CS Insider Notion job board - v1.3: Handle /scrape response\nconst response = $input.first().json;\n\n// /scrape returns { data: [{ results: [{ html: '...' }] }] }\nlet html = '';\nif (response.data && response.data[0] && response.data[0].results) {\n  html = response.data[0].results.map(r => r.html || r.text || '').join('\\n');\n} else if (typeof response === 'string') {\n  html = response;\n} else {\n  html = JSON.stringify(response);\n}\n\nconst jobs = [];\nconst today = new Date().toISOString().split('T')[0];\n\nconsole.log('HTML length:', html.length);\n\n// Multiple patterns for company extraction\nconst companyPatterns = [\n  /Company<\\/span>:?\\s*([^<]+)/gi,\n  /Company[:\\s]+([A-Z][a-zA-Z0-9\\s&.-]+?)(?:<|\\/|$)/gi\n];\n\nconst companyMatches = [];\nfor (const pattern of companyPatterns) {\n  let match;\n  while ((match = pattern.exec(html)) !== null) {\n    const company = match[1].trim();\n    if (company.length > 1 && company.length < 100 && !companyMatches.includes(company)) {\n      companyMatches.push(company);\n    }\n  }\n  if (companyMatches.length > 0) break;\n}\n\n// Location patterns\nconst locationPatterns = [\n  /Location<\\/span>:?\\s*([^<]+)/gi,\n  /Location[:\\s]+([A-Za-z][a-zA-Z,\\s.-]+?)(?:<|\\/|$)/gi\n];\n\nconst locationMatches = [];\nfor (const pattern of locationPatterns) {\n  let match;\n  while ((match = pattern.exec(html)) !== null) {\n    const loc = match[1].trim();\n    if (loc.length > 1 && loc.length < 100 && !locationMatches.includes(loc)) {\n      locationMatches.push(loc);\n    }\n  }\n  if (locationMatches.length > 0) break;\n}\n\n// Extract apply links\nconst applyRegex = /href=\"(https:\\/\\/[^\"]*(?:greenhouse|lever|workday|ashby|jobs\\.|careers|apply|hiring)[^\"]*)\"/gi;\nconst applyMatches = [];\nlet applyMatch;\nwhile ((applyMatch = applyRegex.exec(html)) !== null) {\n  const url = applyMatch[1];\n  if (!url.includes('notion.') && !url.includes('google.com') && !applyMatches.includes(url)) {\n    applyMatches.push(url);\n  }\n}\n\n// Extract job titles\nconst titlePattern = />([^<]*(?:Customer Success|CSM|Client Success|Account Manager|Success Manager|Engagement Manager|Implementation|Onboarding)[^<]*)</gi;\nconst cleanTitles = [];\nlet titleMatch;\nwhile ((titleMatch = titlePattern.exec(html)) !== null) {\n  const title = titleMatch[1].trim();\n  if (title.length > 5 && title.length < 100 && !cleanTitles.includes(title)) {\n    cleanTitles.push(title);\n  }\n}\n\n// Helper to generate Job ID\nfunction extractJobId(url) {\n  const patterns = [\n    /\\/jobs?\\/([a-f0-9-]+)/i,\n    /\\/postings?\\/([a-f0-9-]+)/i,\n    /job_id=([a-f0-9-]+)/i,\n    /\\/([0-9]+)(?:\\?|$)/\n  ];\n  for (const pattern of patterns) {\n    const match = url.match(pattern);\n    if (match) return match[1];\n  }\n  let hash = 0;\n  for (let i = 0; i < url.length; i++) {\n    hash = ((hash << 5) - hash) + url.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return 'csi-' + Math.abs(hash).toString(36);\n}\n\n// Build job objects\nfor (let i = 0; i < applyMatches.length; i++) {\n  const company = companyMatches[i];\n  const title = cleanTitles[i];\n  const jobUrl = applyMatches[i];\n  \n  if (jobUrl && company) {\n    jobs.push({\n      json: {\n        'Job Title': title || 'Customer Success Manager',\n        'Company': company,\n        'Location': locationMatches[i] || 'Remote',\n        'Job URL': jobUrl,\n        'Source': 'CS Insider',\n        'Date Found': today,\n        'Job ID': extractJobId(jobUrl)\n      }\n    });\n  }\n}\n\nconsole.log('=== CS INSIDER SCRAPE SUMMARY ===');\nconsole.log('Jobs:', jobs.length, 'Companies:', companyMatches.length, 'URLs:', applyMatches.length);\n\nif (jobs.length === 0) {\n  return [{\n    json: {\n      error: 'No jobs parsed',\n      debug: {\n        htmlLength: html.length,\n        companiesFound: companyMatches.length,\n        sampleCompanies: companyMatches.slice(0, 5),\n        titlesFound: cleanTitles.length,\n        sampleTitles: cleanTitles.slice(0, 5),\n        applyLinksFound: applyMatches.length,\n        sampleUrls: applyMatches.slice(0, 5),\n        htmlSample: html.substring(0, 3000)\n      }\n    }\n  }];\n}\n\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "id": "parse-jobs",
      "name": "Parse Jobs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-company",
              "leftValue": "={{ $json.Company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [800, 300],
      "id": "filter-valid",
      "name": "Filter Valid Jobs"
    },
    {
      "parameters": {
        "workflowId": "v24qHkIsp8GVCwFkscHP8",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1000, 300],
      "id": "run-pipeline",
      "name": "Job Evaluation Pipeline"
    }
  ],
  "connections": {
    "Schedule: Tue/Fri 7am": {
      "main": [[{"node": "Fetch Notion Job Board", "type": "main", "index": 0}]]
    },
    "Fetch Notion Job Board": {
      "main": [[{"node": "Parse Jobs", "type": "main", "index": 0}]]
    },
    "Parse Jobs": {
      "main": [[{"node": "Filter Valid Jobs", "type": "main", "index": 0}]]
    },
    "Filter Valid Jobs": {
      "main": [[{"node": "Job Evaluation Pipeline", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
