Funding Alerts Rescore v4.15-standalone.json
{
  "name": "Funding Alerts Rescore v4.15 (Standalone)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        400
      ],
      "id": "trigger",
      "name": "Every 2 Min"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list"
        },
        "filterByFormula": "AND({Last Scored Version}!='v4.15',{Status}!='Applied',{Status}!='Reached Out')",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        400,
        400
      ],
      "id": "fetch",
      "name": "Fetch 1 Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-token",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-record",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        400
      ],
      "id": "check-record",
      "name": "Has Record"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.13: Capture everything from Airtable record in ONE place\n// Added existing fields for rescore fallback including founded_year and total_funding\nconst record = $json;\nreturn {\n  json: {\n    RECORD_ID: record.id,\n    company_name: record['Company Name'] || '',\n    company_url: record['Company URL'] || '',\n    description: record['Company Description'] || '',\n    source: record['VC Firm'] || record['Source'] || 'Rescore',\n    existing_dq_reasons: record['Disqualify Reasons'] || '',\n    existing_employee_count: record['Employee Count'] || null,\n    existing_stage: record['Stage'] || null,\n    existing_score: record['Tide-Pool Score'] || 0,\n    existing_founded_year: record['Founded Year'] || null,\n    existing_total_funding: record['Total Funding'] || null,\n    searchQuery: '\"' + (record['Company Name'] || '') + '\" company funding employees series startup valuation'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ],
      "id": "capture",
      "name": "Capture"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        400
      ],
      "id": "brave",
      "name": "Brave",
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "brave-search-api",
          "name": "Brave Search API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.15: Stage Gate + Mature Company Detection (Mar 2026)\\n// - Series C or later = auto-PASS\\n// - Stage unknown but employees > 500 OR funding > $200M OR valuation > $500M = auto-PASS\\n// - Founded > 12 years ago = auto-PASS\\n// - Exception: Series C + <150 emp + active CS hire + no existing CS team = MANUAL_REVIEW\\n//\\n// v4.13: Config-Driven Gates (Mar 2026)\n//\n// All gate thresholds now fetched from Airtable Config table.\n// PE firms list fetched from Airtable PE Firms table.\n// No more hardcoded magic numbers.\n//\n// Requires: Config Fetcher subworkflow to run first, providing config object.\n//\n// Previous fixes (v4.13):\n// - DQ duplication fix (detection skip for pre-existing DQ reasons)\n//\n// Previous fixes (v4.11):\n// 1. Funding hard cap: $450M \u2192 $75M (catches HouseRx, Candid Health)\n// 2. Employee hard cap: 350 \u2192 150 (catches HouseRx, Candid Health)\n// 3. PE acquisition detection patterns (catches SmarterDx/New Mountain Capital)\n// 4. Hardware/deeptech keywords - power transmission, nuclear, grid (catches Veir, Last Energy)\n// 5. Funding-per-head ratio gate >$2M/head at <50 emp (catches Gumloop)\n\n// === CONFIG INPUT ===\n// Config comes from the Config Fetcher subworkflow output\nconst configInput = $('Config Fetcher').first().json;\nconst config = configInput.config || {};\nconst peFirmsFromConfig = configInput.peFirms || [];\nconst peRegexPattern = configInput.peRegexPattern || '';\n\n// Config defaults (fallback if Airtable config missing)\nconst EMPLOYEE_HARD_CAP = config.EMPLOYEE_HARD_CAP || 150;\nconst EMPLOYEE_SOFT_CAP = config.EMPLOYEE_SOFT_CAP || 100;\nconst FUNDING_HARD_CAP = config.FUNDING_HARD_CAP || 75000000;\nconst FUNDING_SOFT_CAP = config.FUNDING_SOFT_CAP || 50000000;\nconst FUNDING_PER_HEAD_THRESHOLD = config.FUNDING_PER_HEAD_THRESHOLD || 2000000;\nconst FUNDING_PER_HEAD_MIN_EMPLOYEES = config.FUNDING_PER_HEAD_MIN_EMPLOYEES || 50;\nconst CS_READINESS_CAP = config.CS_READINESS_CAP || 25;\nconst SCORE_APPLY_THRESHOLD = config.SCORE_APPLY_THRESHOLD || 70;\nconst SCORE_WATCH_THRESHOLD = config.SCORE_WATCH_THRESHOLD || 40;\nconst HEADCOUNT_PENALTY = config.HEADCOUNT_PENALTY || -10;\nconst REBUILD_BONUS = config.REBUILD_BONUS || 20;\nconst COMPANY_AGE_HARD_CAP = config.COMPANY_AGE_HARD_CAP || 8;\nconst COMPANY_AGE_SOFT_CAP = config.COMPANY_AGE_SOFT_CAP || 5;\nconst VALUATION_UNICORN = config.VALUATION_UNICORN || 1000000000;\nconst VALUATION_HIGH = config.VALUATION_HIGH || 500000000;\n\nconst captured = $('Capture').first().json;\nconst RECORD_ID = captured.RECORD_ID;\nconst company_name = captured.company_name;\nconst company_url = captured.company_url;\nconst description = captured.description;\nconst source = captured.source;\nconst existing_dq_reasons = captured.existing_dq_reasons || '';\nconst existing_employee_count = captured.existing_employee_count || null;\nconst existing_stage = captured.existing_stage || null;\nconst existing_score = captured.existing_score || 0;\nconst existing_founded_year = captured.existing_founded_year || null;\nconst existing_total_funding = captured.existing_total_funding || null;\n\nconst isRescore = (existing_score === 0 || existing_score === null) && existing_dq_reasons.length > 0;\n\nconst braveResponse = $json;\nconst searchResults = braveResponse?.web?.results || [];\nconst currentYear = new Date().getFullYear();\n\n// === SCOPED RESULT FILTERING ===\nconst companyNameLower = company_name.toLowerCase().trim();\nconst companyNameNormalized = companyNameLower.replace(/[^a-z0-9]/g, '');\n\nconst isAboutTargetCompany = (result) => {\n  const title = (result.title || '').toLowerCase();\n  const url = (result.url || '').toLowerCase();\n  const desc = (result.description || '').toLowerCase();\n\n  const titleHasName = title.includes(companyNameLower) ||\n                       title.includes(companyNameNormalized);\n\n  const urlDomain = url.replace(/^https?:\\/\\//, '').split('/')[0].replace('www.', '');\n  const domainHasName = urlDomain.includes(companyNameNormalized) ||\n                        companyNameNormalized.includes(urlDomain.replace(/\\.(com|io|co|org|net)$/, ''));\n\n  const companyDomain = (company_url || '').toLowerCase().replace(/^https?:\\/\\//, '').split('/')[0].replace('www.', '');\n  const isCompanySite = companyDomain && url.includes(companyDomain);\n\n  const descStartsWithName = desc.startsWith(companyNameLower) ||\n                             desc.match(new RegExp('^' + companyNameLower.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&') + '\\\\b', 'i'));\n\n  return titleHasName || domainHasName || isCompanySite || descStartsWithName;\n};\n\nconst companyResults = searchResults.filter(isAboutTargetCompany);\nconst allResults = searchResults;\n\nconst companyText = companyResults.map(r => (r.title || '') + ' ' + (r.description || '')).join(' ');\nconst allText = allResults.map(r => (r.title || '') + ' ' + (r.description || '')).join(' ');\n\n// === PE FIRMS (from Airtable config) ===\n// Use config-driven PE firms list, with fallback to hardcoded list\nconst peFirms = peFirmsFromConfig.length > 0 ? peFirmsFromConfig : [\n  'Vista Equity', 'Thoma Bravo', 'KKR', 'Blackstone', 'TPG', 'Carlyle',\n  'Bain Capital', 'Silver Lake', 'Francisco Partners', 'Accel-KKR',\n  'LLR Partners', 'Warburg Pincus', 'Apollo', 'Insight Partners', 'GTCR',\n  'Clearlake', 'Welsh Carson', 'Providence Equity', 'Leonard Green',\n  'Hellman & Friedman', 'Advent', 'Golden Gate Capital', 'TA Associates',\n  'Brighton Park Capital', 'General Atlantic', 'Summit Partners', 'SoftBank Vision Fund',\n  'EQT Partners', 'Permira', 'Jonas Software', 'Constellation Software', 'Volaris',\n  'Harris Computer', 'Total Specific Solutions', 'N. Harris Computer',\n  'Ares Management', 'Ares Capital', 'Spring Lake Equity', 'Vector Capital',\n  'New Mountain Capital', 'New Mountain', 'Marlin Equity', 'Alpine Investors',\n  'Norwest Equity', 'JMI Equity', 'Riverside Company', 'K1 Investment Management',\n  'Mainsail Partners', 'Level Equity', 'Luminate Capital', 'Updata Partners'\n];\n\nconst knownLargeCompanies = [\n  'Zapier', 'SnapLogic', 'Stripe', 'Notion', 'Figma', 'Canva',\n  'Airtable', 'Webflow', 'Monday.com', 'Asana', 'Modern Treasury',\n  'Plaid', 'Brex', 'Ramp', 'Gusto', 'Rippling', 'Deel'\n];\n\nconst knownOldCompanies = [\n  { name: 'InternMatch', founded: 2009 },\n  { name: 'VoltServer', founded: 2011 },\n  { name: 'Mighty Networks', founded: 2010 },\n  { name: 'Helcim', founded: 2006 },\n  { name: 'Zapier', founded: 2011 },\n  { name: 'Mailchimp', founded: 2001 },\n  { name: 'HubSpot', founded: 2006 },\n  { name: 'Zendesk', founded: 2007 },\n  { name: 'Intercom', founded: 2011 },\n  { name: 'Drift', founded: 2015 },\n  { name: 'Pendo', founded: 2013 },\n  { name: 'Gainsight', founded: 2011 },\n  { name: 'Mixpanel', founded: 2009 },\n  { name: 'Amplitude', founded: 2012 },\n  { name: 'Segment', founded: 2011 },\n  { name: 'Twilio', founded: 2008 },\n  { name: 'SendGrid', founded: 2009 },\n  { name: 'Clearbit', founded: 2014 }\n];\n\nconst CX_TOOLING_KEYWORDS = [\n  'cobrowsing', 'session replay', 'helpdesk', 'ticketing',\n  'chatbot', 'customer support software', 'live chat',\n  'contact center', 'support automation', 'knowledge base software',\n  'customer service platform', 'help desk software', 'support ticketing'\n];\n\n// Helpers\nconst parseFundingAmount = (amountStr, unitStr) => {\n  const amount = parseFloat(amountStr);\n  const unit = unitStr.toLowerCase();\n  if (unit === 'billion' || unit === 'b') return amount * 1000000000;\n  if (unit === 'million' || unit === 'm') return amount * 1000000;\n  return amount;\n};\n\nconst formatFunding = (numeric) => {\n  if (numeric >= 1000000000) return '$' + (numeric / 1000000000).toFixed(1) + 'B';\n  if (numeric >= 1000000) return '$' + (numeric / 1000000).toFixed(1) + 'M';\n  return '$' + numeric;\n};\n\nconst median = (arr) => {\n  if (arr.length === 0) return null;\n  const sorted = [...arr].sort((a, b) => a - b);\n  const mid = Math.floor(sorted.length / 2);\n  return sorted.length % 2 !== 0 ? sorted[mid] : Math.round((sorted[mid - 1] + sorted[mid]) / 2);\n};\n\n// === FUNDING STAGE DETECTION (needed for sanity bounds) ===\nlet fundingStage = null;\nif (/Series\\s*E/i.test(companyText)) fundingStage = 'Series E';\nelse if (/Series\\s*D/i.test(companyText)) fundingStage = 'Series D';\nelse if (/Series\\s*C/i.test(companyText)) fundingStage = 'Series C';\nelse if (/Series\\s*B/i.test(companyText)) fundingStage = 'Series B';\nelse if (/Series\\s*A/i.test(companyText)) fundingStage = 'Series A';\nelse if (/\\bSeed\\b/i.test(companyText)) fundingStage = 'Seed';\n\nif (!fundingStage && existing_stage) {\n  fundingStage = existing_stage;\n}\n\n// v4.15: Stage Gate - Series C or later patterns\nconst LATE_STAGE_PATTERNS = [/series\\s*c/i, /series\\s*d/i, /series\\s*e/i, /series\\s*f/i, /\\bgrowth\\b/i, /late[\\s-]?stage/i, /\\bipo\\b/i, /pre[\\s-]?ipo/i, /\\bpublic(ly)?\\s+traded\\b/i];\nconst isLateStageByPattern = LATE_STAGE_PATTERNS.some(p => p.test(fundingStage || '')) || ['Series C', 'Series D', 'Series E', 'Series F', 'Growth', 'Late Stage', 'IPO', 'Pre-IPO', 'Public'].includes(fundingStage);\n\n// v4.15: Mature scale indicators (when stage unknown)\nconst MATURE_EMPLOYEE_THRESHOLD = 500;\nconst MATURE_FUNDING_THRESHOLD = 200000000;\nconst MATURE_VALUATION_THRESHOLD = 500000000;\nconst MATURE_AGE_THRESHOLD = 12;\n\n// === SANITY BOUNDS DEFINITIONS ===\nconst stageMaxEmployees = {\n  'Seed': 100,\n  'Series A': 250,\n  'Series B': 600,\n  'Series C': 1500,\n  'Series D': 3000,\n  'Series E': 5000\n};\nconst maxEmployeesForStage = stageMaxEmployees[fundingStage] || 2000;\n\nconst stageFundingCaps = {\n  'Seed': 30000000,\n  'Series A': 100000000,\n  'Series B': 300000000,\n  'Series C': 750000000,\n  'Series D': 1500000000,\n  'Series E': 3000000000\n};\nconst maxFundingForStage = stageFundingCaps[fundingStage] || 500000000;\n\n// Sanity check helper functions\nconst passesEmployeeSanity = (count) => {\n  if (count === null || count === undefined) return false;\n  return count > 0 && count <= maxEmployeesForStage;\n};\n\nconst passesFundingSanity = (funding) => {\n  if (funding === null || funding === undefined) return false;\n  return funding > 0 && funding <= maxFundingForStage;\n};\n\nconst passesFoundedYearSanity = (year) => {\n  if (year === null || year === undefined) return false;\n  const age = currentYear - year;\n  return year >= 1980 && year <= currentYear && age <= 15;\n};\n\n// === EMPLOYEE COUNT EXTRACTION WITH REFINED SANITY ===\nconst empMatches = [...companyText.matchAll(/(\\d[\\d,]*)\\s*(?:to\\s*\\d[\\d,]*)?\\s*employees?/gi)];\nlet extractedEmpCounts = empMatches.map(m => parseInt(m[1].replace(/,/g, ''))).filter(n => n > 0 && n < 100000);\n\n// Range detection\nconst rangeMatch = companyText.match(/(\\d+)\\s*(?:to|-)\\s*(\\d+)\\s*employees?/i);\nif (rangeMatch && extractedEmpCounts.length === 0) {\n  const upper = parseInt(rangeMatch[2]);\n  if (upper > 0 && upper < 100000) {\n    extractedEmpCounts.push(upper);\n  }\n}\n\n// Get median of extracted values\nlet extractedEmployeeCount = extractedEmpCounts.length > 0\n  ? (extractedEmpCounts.length > 1 ? median(extractedEmpCounts) : extractedEmpCounts[0])\n  : null;\nconst employeeCountCorroborated = extractedEmpCounts.length >= 2;\n\n// REFINED SANITY CHECK - check both extracted and Airtable\nlet employeeCount = null;\nlet employeeCountSource = 'none';\n\nif (extractedEmployeeCount && passesEmployeeSanity(extractedEmployeeCount)) {\n  employeeCount = extractedEmployeeCount;\n  employeeCountSource = 'extracted';\n} else if (existing_employee_count && passesEmployeeSanity(existing_employee_count)) {\n  employeeCount = existing_employee_count;\n  employeeCountSource = 'airtable_fallback';\n} else {\n  employeeCount = null;\n  employeeCountSource = 'cleared';\n}\n\n// Additional trust check: if extracted but not corroborated and high, be cautious\nlet employeeCountTrusted = true;\nif (employeeCountSource === 'extracted' && !employeeCountCorroborated && employeeCount > 200) {\n  if (existing_employee_count && passesEmployeeSanity(existing_employee_count) && existing_employee_count !== extractedEmployeeCount) {\n    employeeCount = existing_employee_count;\n    employeeCountSource = 'airtable_preferred';\n    employeeCountTrusted = false;\n  }\n}\n\n// === FUNDING EXTRACTION WITH REFINED SANITY ===\nlet totalFunding = null, totalFundingRaw = null;\nlet fundingSource = 'none';\n\nconst fundingMatch = companyText.match(/(?:raised|funding|total funding)\\s*\\$?([\\d.]+)\\s*(million|billion|M|B)/i);\nlet extractedFunding = null;\nif (fundingMatch) {\n  extractedFunding = parseFundingAmount(fundingMatch[1], fundingMatch[2]);\n}\n\n// Parse existing funding from Airtable (might be string like \"$41.0M\")\nlet existingFundingNumeric = null;\nif (existing_total_funding) {\n  const existingMatch = existing_total_funding.match(/\\$?([\\d.]+)\\s*(million|billion|M|B)/i);\n  if (existingMatch) {\n    existingFundingNumeric = parseFundingAmount(existingMatch[1], existingMatch[2]);\n  }\n}\n\n// REFINED SANITY CHECK\nif (extractedFunding && passesFundingSanity(extractedFunding)) {\n  totalFunding = extractedFunding;\n  totalFundingRaw = formatFunding(totalFunding);\n  fundingSource = 'extracted';\n} else if (existingFundingNumeric && passesFundingSanity(existingFundingNumeric)) {\n  totalFunding = existingFundingNumeric;\n  totalFundingRaw = formatFunding(totalFunding);\n  fundingSource = 'airtable_fallback';\n} else {\n  totalFunding = null;\n  totalFundingRaw = null;\n  fundingSource = 'cleared';\n}\n\n// === VALUATION EXTRACTION ===\nlet valuation = null, valuationRaw = null;\n\nconst unicornInCompanyResults = companyResults.some(r => {\n  const text = ((r.title || '') + ' ' + (r.description || '')).toLowerCase();\n  return text.includes('unicorn') && text.includes(companyNameLower);\n});\n\nif (unicornInCompanyResults) {\n  valuation = VALUATION_UNICORN;\n  valuationRaw = '$1.0B (unicorn)';\n} else {\n  const valuationMatch = companyText.match(/(?:valued at|valuation of?)\\s*\\$?([\\d.]+)\\s*(million|billion|M|B)/i);\n  if (valuationMatch) {\n    valuation = parseFundingAmount(valuationMatch[1], valuationMatch[2]);\n    valuationRaw = formatFunding(valuation);\n  }\n}\n\n// === FOUNDED YEAR EXTRACTION WITH REFINED SANITY ===\nlet foundedYear = null;\nlet foundedYearSource = 'none';\n\nconst knownOldMatch = knownOldCompanies.find(c => company_name && company_name.toLowerCase().includes(c.name.toLowerCase()));\nlet extractedFoundedYear = null;\n\nif (knownOldMatch) {\n  extractedFoundedYear = knownOldMatch.founded;\n} else {\n  const foundMatch = companyText.match(/(?:founded|established|since)\\s*(?:in)?\\s*(20\\d{2}|19\\d{2})/i);\n  if (foundMatch) {\n    const year = parseInt(foundMatch[1]);\n    if (year >= 1980 && year <= currentYear) {\n      extractedFoundedYear = year;\n    }\n  }\n}\n\n// REFINED SANITY CHECK\nif (extractedFoundedYear && passesFoundedYearSanity(extractedFoundedYear)) {\n  foundedYear = extractedFoundedYear;\n  foundedYearSource = 'extracted';\n} else if (existing_founded_year && passesFoundedYearSanity(existing_founded_year)) {\n  foundedYear = existing_founded_year;\n  foundedYearSource = 'airtable_fallback';\n} else {\n  foundedYear = null;\n  foundedYearSource = 'cleared';\n}\n\nconst companyAge = foundedYear ? (currentYear - foundedYear) : null;\nconst isTooOld = companyAge !== null && companyAge > COMPANY_AGE_HARD_CAP;\nconst isAgingFlag = companyAge !== null && companyAge > COMPANY_AGE_SOFT_CAP && companyAge <= COMPANY_AGE_HARD_CAP;\n\n// v4.15: Mature company by age (>12 years)\nconst isTooMatureByAge = companyAge !== null && companyAge > MATURE_AGE_THRESHOLD;\n\n// v4.15: Mature scale indicators (applies when stage is unknown)\nconst isMatureByScale = !fundingStage && ((employeeCount && employeeCount > MATURE_EMPLOYEE_THRESHOLD) || (totalFunding && totalFunding > MATURE_FUNDING_THRESHOLD) || (valuation && valuation > MATURE_VALUATION_THRESHOLD));\nconst isKnownOldCompany = knownOldMatch !== undefined;\n\n// === REST OF EXTRACTION ===\nconst fundingStageRank = { 'Pre-Seed': 1, 'Seed': 2, 'Series A': 3, 'Series B': 4, 'Series C': 5, 'Series D': 6, 'Series E': 7 };\nlet suspiciousEmployeeCount = false;\nlet employeeCountFlag = null;\n\nconst isSeriesAPlus = fundingStage && fundingStageRank[fundingStage] >= 3;\nconst hasSignificantFunding = totalFunding && totalFunding >= 10000000;\nif (employeeCount && employeeCount < 15 && (isSeriesAPlus || hasSignificantFunding)) {\n  suspiciousEmployeeCount = true;\n  employeeCountFlag = 'Employee count ' + employeeCount + ' seems low for ' + (fundingStage || 'significant funding') + ' with ' + (totalFundingRaw || '>$10M');\n}\n\n// Funding recency\nlet lastFundingYear = null;\nlet yearsSinceLastRound = null;\nlet fundingRecency = null;\nconst fundingYearPatterns = [\n  /series\\s*[a-e]\\s*(?:round\\s*)?(?:in\\s*)?(20\\d{2})/i,\n  /raised.*?(20\\d{2})/i,\n  /(20\\d{2}).*?series\\s*[a-e]/i,\n  /(?:funding|round).*?(20\\d{2})/i\n];\nfor (const pattern of fundingYearPatterns) {\n  const match = companyText.match(pattern);\n  if (match) {\n    const year = parseInt(match[1]);\n    if (year >= 2015 && year <= currentYear && (!lastFundingYear || year > lastFundingYear)) {\n      lastFundingYear = year;\n    }\n  }\n}\nif (lastFundingYear) {\n  yearsSinceLastRound = currentYear - lastFundingYear;\n  if (yearsSinceLastRound < 1) fundingRecency = 'recent';\n  else if (yearsSinceLastRound < 2) fundingRecency = 'moderate';\n  else if (yearsSinceLastRound < 3) fundingRecency = 'aging';\n  else fundingRecency = 'stale';\n}\n\nconst isEarlyStage = ['Seed', 'Series A'].includes(fundingStage);\nlet fundingStalenessModifier = 0;\nif (yearsSinceLastRound && isEarlyStage && (!employeeCount || employeeCount < 100)) {\n  if (yearsSinceLastRound >= 4) fundingStalenessModifier = -15;\n  else if (yearsSinceLastRound >= 3) fundingStalenessModifier = -10;\n  else if (yearsSinceLastRound >= 2) fundingStalenessModifier = -5;\n}\n\n// CX Tooling Detection\nlet isCXToolingCompany = false;\nlet cxToolingSignals = [];\nconst allTextLower = allText.toLowerCase();\nfor (const keyword of CX_TOOLING_KEYWORDS) {\n  if (allTextLower.includes(keyword.toLowerCase())) {\n    cxToolingSignals.push(keyword);\n  }\n}\nisCXToolingCompany = cxToolingSignals.length >= 2;\n\n// Rebuild signal detection\nlet rebuildSignal = false;\nlet rebuildLeader = null;\nlet rebuildLeaderStart = null;\nconst isInRebuildRange = employeeCount && employeeCount >= EMPLOYEE_SOFT_CAP && employeeCount <= EMPLOYEE_HARD_CAP;\nif (isInRebuildRange) {\n  const rebuildPatterns = [\n    /(?:hired|appointed|welcomed|joined|named)\\s+(?:as\\s+)?(?:our\\s+)?(?:new\\s+)?(?:CCO|Chief Customer Officer|VP (?:of )?Customer (?:Success|Experience)|Head of Customer (?:Success|Experience)|VP CS|VP CX|Chief Customer|Chief Experience Officer)/gi,\n    /(?:CCO|Chief Customer Officer|VP (?:of )?Customer (?:Success|Experience)|Head of Customer (?:Success|Experience))\\s+(?:hired|appointed|joined|started|welcomes|announced)/gi,\n    /new (?:CCO|Chief Customer Officer|VP (?:of )?Customer|Head of Customer)/gi,\n    /(?:joins|joined)\\s+(?:as|the company as)\\s+(?:CCO|Chief Customer Officer|VP (?:of )?Customer|Head of Customer)/gi\n  ];\n  for (const pattern of rebuildPatterns) {\n    const match = companyText.match(pattern);\n    if (match) {\n      rebuildSignal = true;\n      rebuildLeader = match[0].substring(0, 100);\n      break;\n    }\n  }\n}\n\n// === PE + ACQUISITION DETECTION ===\n// Use config-driven PE regex if available, otherwise build from peFirms list\nlet peRegex;\nif (peRegexPattern) {\n  peRegex = new RegExp(peRegexPattern, 'i');\n} else {\n  const escapedFirms = peFirms.map(f => f.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'));\n  peRegex = new RegExp('\\\\b(' + escapedFirms.join('|') + ')\\\\b', 'i');\n}\n\nconst isPEBackedByName = peRegex.test(allText);\nconst peBackerFoundByName = peFirms.find(f => new RegExp(f.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'i').test(allText)) || null;\n\n// Acquisition pattern detection\nconst acquisitionPatterns = [\n  /acquired by\\s+([A-Z][A-Za-z\\s&]+(?:Capital|Partners|Equity|Investment|Management))/gi,\n  /(?:acquisition|acquired|bought)\\s+by\\s+([A-Z][A-Za-z\\s&]+)/gi,\n  /([A-Z][A-Za-z\\s&]+(?:Capital|Partners|Equity))\\s+(?:acquires|acquired|to acquire)/gi,\n  /majority (?:stake|investment|ownership)\\s+(?:by|from)\\s+([A-Z][A-Za-z\\s&]+)/gi,\n  /(?:private equity|PE)\\s+(?:firm|group|fund)\\s+([A-Z][A-Za-z\\s&]+)/gi\n];\n\nlet acquisitionDetected = false;\nlet acquirerName = null;\n\nfor (const pattern of acquisitionPatterns) {\n  const matches = [...allText.matchAll(pattern)];\n  for (const match of matches) {\n    const potentialAcquirer = match[1]?.trim();\n    if (potentialAcquirer && potentialAcquirer.length > 3) {\n      const isPEAcquirer = peFirms.some(f => potentialAcquirer.toLowerCase().includes(f.toLowerCase()));\n      const hasPENaming = /(?:Capital|Partners|Equity|Investment|Management)$/i.test(potentialAcquirer);\n\n      if (isPEAcquirer || hasPENaming) {\n        acquisitionDetected = true;\n        acquirerName = potentialAcquirer;\n        break;\n      }\n    }\n  }\n  if (acquisitionDetected) break;\n}\n\nconst isPEBacked = isPEBackedByName || acquisitionDetected;\nconst peBackerFound = peBackerFoundByName || acquirerName;\n\nconst isKnownLargeCompany = knownLargeCompanies.some(name =>\n  company_name && company_name.toLowerCase().includes(name.toLowerCase())\n);\n\n// Status detection\nconst isAcquired = /\\b(acquired|was acquired|acquisition|merged with|bought by|shut down|defunct)\\b/i.test(companyText);\nconst isPublic = /\\b(NYSE|NASDAQ|publicly traded|IPO|went public|stock ticker)\\b/i.test(companyText);\n\n// === HARDWARE/DEEPTECH DETECTION ===\nconst hardwareKeywordsBasic = /\\b(hardware|sensors|devices|robotics|manufacturing|semiconductor|solar|battery|EV charging)\\b/i;\nconst hardwareKeywordsExpanded = /\\b(power transmission|power lines|superconducting|grid infrastructure|energy infrastructure|utility infrastructure|modular nuclear|nuclear reactor|nuclear power|pilot deployment|physical infrastructure|transmission lines|high voltage|electrical grid|substation|transformer|cable manufacturing|industrial equipment)\\b/i;\n\nconst hasHardwareSignals = hardwareKeywordsBasic.test(allText) || hardwareKeywordsExpanded.test(allText);\nconst hasSaaSSignals = /\\b(SaaS|software platform|cloud platform|API|software-as-a-service)\\b/i.test(allText);\nconst isHardware = hasHardwareSignals && !hasSaaSSignals;\n\nlet hardwareSignalsFound = [];\nif (hardwareKeywordsBasic.test(allText)) {\n  const match = allText.match(hardwareKeywordsBasic);\n  if (match) hardwareSignalsFound.push(match[0]);\n}\nif (hardwareKeywordsExpanded.test(allText)) {\n  const match = allText.match(hardwareKeywordsExpanded);\n  if (match) hardwareSignalsFound.push(match[0]);\n}\n\n// Other sector detection\nconst isBiotech = /\\b(therapeutic|drug development|clinical trial|pharma|biotech|oncology|immunotherapy)\\b/i.test(allText);\nconst isCrypto = /\\b(blockchain|cryptocurrency|web3|NFT|DeFi|token|crypto|decentralized)\\b/i.test(allText);\nconst isConsumer = /\\b(consumer app|DTC|direct-to-consumer|B2C|telehealth|patient app|consumer health)\\b/i.test(allText);\nconst isHRTech = /\\b(HR tech|human resources|DEI|diversity equity|workforce analytics|recruiting platform|HRIS|payroll)\\b/i.test(allText);\nconst isMarketplace = /\\b(marketplace|two-sided market|gig economy|freelance platform|labor marketplace)\\b/i.test(allText) && !/\\b(SaaS|software platform|enterprise)\\b/i.test(allText);\nconst isFintech = /\\b(fintech|banking software|credit union|neobank|payment processing|lending platform|loan origination|mortgage tech|banking as a service|BaaS|open banking|core banking)\\b/i.test(allText) && !/\\b(healthcare billing|medical billing|revenue cycle)\\b/i.test(allText);\nconst isConstructionTech = /\\b(construction (?:tech|software|management)|general contractor|subcontractor management|job site|building information|BIM software)\\b/i.test(allText);\nconst isFoodBiotech = /\\b(fermentation|food science|food tech|cultured (?:meat|protein)|alternative protein|CPG brand|consumer packaged goods|beverage brand)\\b/i.test(allText);\nconst isPhysicalSecurity = /\\b(physical security|access control|surveillance|security camera|weapon detection|metal detector|perimeter security)\\b/i.test(allText) && !/\\b(cybersecurity|data security|cloud security)\\b/i.test(allText);\nconst isInsurtech = /\\b(insurtech|insurance (?:technology|software|platform)|policy management|claims processing|underwriting)\\b/i.test(allText) && !/\\b(healthcare|health plan|benefits administration)\\b/i.test(allText);\nconst isSaaSManagement = /\\b(SaaS management|software spend|IT asset management|license management|shadow IT|SaaS operations)\\b/i.test(allText);\nconst isConsumerDigitalHealth = /\\b(mental health app|therapy app|meditation app|wellness app|patient (?:portal|app)|health coaching app|digital therapeutic|DTx|fertility app|pregnancy app)\\b/i.test(allText) && !/\\b(provider-facing|clinician-facing|EHR|clinical workflow)\\b/i.test(allText);\n\n// GTM Motion detection\nconst plgSignals = [\n  /free (?:tier|plan|trial)/i,\n  /self[\\s-]?serve/i,\n  /product[\\s-]?led/i,\n  /freemium/i,\n  /open[\\s-]?source/i,\n  /sign up free/i\n];\nconst enterpriseSignals = [\n  /enterprise (?:sales|team|customers)/i,\n  /account (?:executive|manager)/i,\n  /sales[\\s-]?led/i,\n  /high[\\s-]?touch/i,\n  /customer success (?:team|manager)/i,\n  /enterprise[\\s-]?grade/i\n];\nconst plgSignalCount = plgSignals.filter(p => p.test(allText)).length;\nconst enterpriseSignalCount = enterpriseSignals.filter(p => p.test(allText)).length;\nconst isPLGDominant = plgSignalCount >= 3 && enterpriseSignalCount < 2;\n\n// === HEADCOUNT-TO-FUNDING RATIO DETECTION ===\nlet fundingPerHead = null;\nlet isExtremeFundingRatio = false;\nlet fundingRatioFlag = null;\n\nif (totalFunding && employeeCount && employeeCount > 0) {\n  fundingPerHead = totalFunding / employeeCount;\n\n  // Use config-driven thresholds\n  if (employeeCount < FUNDING_PER_HEAD_MIN_EMPLOYEES && fundingPerHead > FUNDING_PER_HEAD_THRESHOLD) {\n    isExtremeFundingRatio = true;\n    fundingRatioFlag = 'Extreme funding/headcount ratio: ' + formatFunding(totalFunding) + ' / ' + employeeCount + ' emp = ' + formatFunding(fundingPerHead) + '/head (no CS need yet)';\n  }\n}\n\n// === DISQUALIFIERS ===\nconst disqualifiers = [];\nconst flagsForReview = [];\n\n// v4.15 FIX: Handle isRescore case - preserve existing DQ status\nif (isRescore) {\n  // Record was previously DQ'd (score=0 + DQ reasons) - preserve status\n  disqualifiers.push(existing_dq_reasons);\n} else if (existing_dq_reasons.length > 0) {\n  // Has DQ reasons but wasn't formally DQ'd - copy with prefix\n  if (!existing_dq_reasons.startsWith('Pre-existing DQ:')) {\n    disqualifiers.push('Pre-existing DQ: ' + existing_dq_reasons);\n  } else {\n    disqualifiers.push(existing_dq_reasons);\n  }\n}\n\n// v4.13: Only run detection if no pre-existing DQ reasons\n// This prevents duplicate DQ reasons from accumulating on rescore runs\nif (!existing_dq_reasons || existing_dq_reasons.length === 0) {\n\n// === TIER 1: HARD GATES (config-driven) ===\nif (isAcquired) disqualifiers.push('Acquired');\nif (isPEBacked) {\n  if (acquisitionDetected) {\n    disqualifiers.push('PE-acquired (' + acquirerName + ')');\n  } else {\n    disqualifiers.push('PE-backed (' + peBackerFound + ')');\n  }\n}\nif (isKnownLargeCompany) disqualifiers.push('Known large company (enrichment bypass)');\n\n// v4.13: Config-driven employee cap\nif (employeeCount && employeeCount > EMPLOYEE_HARD_CAP) {\n  disqualifiers.push('Too large (>' + EMPLOYEE_HARD_CAP + ' employees: ' + employeeCount + ')');\n} else if (suspiciousEmployeeCount) {\n  flagsForReview.push(employeeCountFlag);\n}\n\n// v4.13: Config-driven funding cap\nif (totalFunding && totalFunding > FUNDING_HARD_CAP) {\n  disqualifiers.push('>' + formatFunding(FUNDING_HARD_CAP) + ' funding (' + totalFundingRaw + ')');\n}\n\n// v4.13: Config-driven valuation caps\nif (valuation && valuation >= VALUATION_UNICORN) {\n  disqualifiers.push('Unicorn valuation (>$1B: ' + valuationRaw + ')');\n} else if (valuation && valuation > VALUATION_HIGH) {\n  disqualifiers.push('>' + formatFunding(VALUATION_HIGH) + ' valuation (' + valuationRaw + ')');\n}\n\nif (isPublic) disqualifiers.push('Public company');\n\n// v4.15: Stage Gate - Series C or later\nif (isLateStageByPattern) disqualifiers.push('Past target stage (' + (fundingStage || 'late stage detected') + ')');\nelse if (['Series D', 'Series E'].includes(fundingStage)) disqualifiers.push('Late stage (' + fundingStage + ')');\n\n// v4.15: Mature scale indicators (when stage unknown)\nif (isMatureByScale) disqualifiers.push('Scale indicators exceed target range (>' + MATURE_EMPLOYEE_THRESHOLD + ' emp or >$200M funding or >$500M valuation)');\n\n// v4.15: Company too mature by age\nif (isTooMatureByAge) disqualifiers.push('Company founded ' + foundedYear + ' — too mature (' + companyAge + ' years old)');\nif (isTooOld) disqualifiers.push('Company too old (' + companyAge + ' years)');\n\n// === TIER 2: SECTOR GATES ===\nif (isBiotech) disqualifiers.push('Biotech/pharma');\nif (isHardware) disqualifiers.push('Hardware/deeptech (' + hardwareSignalsFound.join(', ') + ')');\nif (isCrypto) disqualifiers.push('Crypto/Web3');\nif (isConsumer) disqualifiers.push('Consumer/B2C');\nif (isHRTech) disqualifiers.push('HR Tech');\nif (isMarketplace) disqualifiers.push('Marketplace');\nif (isFintech) disqualifiers.push('Fintech/Banking (wrong sector)');\nif (isConstructionTech) disqualifiers.push('Construction Tech (wrong sector)');\nif (isFoodBiotech) disqualifiers.push('Food science/CPG (not B2B SaaS)');\nif (isPhysicalSecurity) disqualifiers.push('Physical security hardware (wrong sector)');\nif (isInsurtech) disqualifiers.push('Insurtech (wrong sector)');\nif (isSaaSManagement) disqualifiers.push('SaaS management (wrong buyer persona)');\nif (isConsumerDigitalHealth) disqualifiers.push('Consumer digital health (patient-facing)');\n\n// === TIER 3: GTM MOTION GATES ===\nif (isPLGDominant) disqualifiers.push('PLG-dominant (no enterprise CS need)');\n\n// v4.13: Config-driven funding ratio gate\nif (isExtremeFundingRatio) {\n  disqualifiers.push('Extreme funding/headcount ratio (no CS need at this stage)');\n}\n\n} // End v4.13 detection skip block\n\n// v4.13: Config-driven headcount penalty modifier\nlet headcountPenaltyModifier = 0;\nif (employeeCount && employeeCount >= EMPLOYEE_SOFT_CAP && employeeCount <= EMPLOYEE_HARD_CAP) {\n  if (rebuildSignal) {\n    headcountPenaltyModifier = 0;\n  } else {\n    headcountPenaltyModifier = HEADCOUNT_PENALTY;\n  }\n}\n\n// Warnings\nconst warnings = [];\nif (employeeCount && employeeCount < 15 && !suspiciousEmployeeCount) warnings.push('Early stage (<15 employees) - monitor for growth');\nif (isAgingFlag) warnings.push('Company aging (' + companyAge + ' years old)');\nif (employeeCount && employeeCount >= EMPLOYEE_SOFT_CAP && employeeCount <= EMPLOYEE_HARD_CAP) {\n  if (rebuildSignal) {\n    warnings.push('Employee count ' + employeeCount + ' in upper range - no penalty (rebuild signal detected)');\n  } else {\n    warnings.push('Employee count ' + employeeCount + ' in penalty zone (' + HEADCOUNT_PENALTY + ' modifier)');\n  }\n}\nif (fundingRecency === 'stale') warnings.push('Stale funding (' + yearsSinceLastRound + ' years since last round)');\nif (isCXToolingCompany) warnings.push('CX tooling company (sells TO support teams): ' + cxToolingSignals.join(', '));\n\n// Source tracking warnings\nif (employeeCountSource === 'cleared') warnings.push('Employee count cleared (both extracted and Airtable failed sanity)');\nif (employeeCountSource === 'airtable_fallback') warnings.push('Employee count from Airtable (extracted failed sanity)');\nif (fundingSource === 'cleared') warnings.push('Funding cleared (both extracted and Airtable failed sanity)');\nif (foundedYearSource === 'cleared') warnings.push('Founded year cleared (both extracted and Airtable failed sanity)');\n\nif (acquisitionDetected) warnings.push('Acquisition detected: ' + acquirerName);\n\n// Funding ratio warning (even if not DQ'd)\nif (fundingPerHead && fundingPerHead > 1500000 && !isExtremeFundingRatio) {\n  warnings.push('High funding/headcount ratio: ' + formatFunding(fundingPerHead) + '/head');\n}\n\nreturn {\n  json: {\n    RECORD_ID: RECORD_ID,\n    company_name: company_name,\n    company_url: company_url,\n    description: description,\n    source: source,\n    funding_stage: fundingStage,\n    total_funding: totalFundingRaw,\n    total_funding_numeric: totalFunding,\n    valuation: valuationRaw,\n    valuation_numeric: valuation,\n    employee_count: employeeCount,\n    employee_count_corroborated: employeeCountCorroborated,\n    employee_count_trusted: employeeCountTrusted,\n    suspicious_employee_count: suspiciousEmployeeCount,\n    employee_count_flag: employeeCountFlag,\n    pe_backed: isPEBacked,\n    pe_acquisition_detected: acquisitionDetected,\n    acquirer_name: acquirerName,\n    founded_year: foundedYear,\n    company_age: companyAge,\n    is_too_old: isTooOld,\n    is_aging_flag: isAgingFlag,\n    is_known_large_company: isKnownLargeCompany,\n    is_plg_dominant: isPLGDominant,\n    is_hardware: isHardware,\n    hardware_signals: hardwareSignalsFound.join(', '),\n    last_funding_year: lastFundingYear,\n    years_since_last_round: yearsSinceLastRound,\n    funding_recency: fundingRecency,\n    funding_staleness_modifier: fundingStalenessModifier,\n    funding_per_head: fundingPerHead,\n    funding_per_head_formatted: fundingPerHead ? formatFunding(fundingPerHead) + '/head' : null,\n    is_extreme_funding_ratio: isExtremeFundingRatio,\n    funding_ratio_flag: fundingRatioFlag,\n    is_cx_tooling_company: isCXToolingCompany,\n    cx_tooling_signals: cxToolingSignals.join(', '),\n    rebuild_signal: rebuildSignal,\n    rebuild_leader: rebuildLeader,\n    rebuild_leader_start: rebuildLeaderStart,\n    headcount_penalty_modifier: headcountPenaltyModifier,\n    flags_for_review: flagsForReview.join('; '),\n    disqualify_reasons: disqualifiers.join('; '),\n    isAutoDisqualified: disqualifiers.length > 0,\n    warnings: warnings,\n    // Debug info\n    _companyResultsCount: companyResults.length,\n    _totalResultsCount: searchResults.length,\n    _employeeCountSource: employeeCountSource,\n    _fundingSource: fundingSource,\n    _foundedYearSource: foundedYearSource,\n    _configLoaded: Object.keys(config).length > 0,\n    _peFirmsCount: peFirms.length,\n    _version: '4.15'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ],
      "id": "parse-enrich",
      "name": "Parse Enrich"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isAutoDisqualified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        400
      ],
      "id": "check-dq",
      "name": "Auto DQ"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appFEzXvPWvRtXgRY/Funding%20Alerts/{{ $json.RECORD_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Status\": \"Auto-Disqualified\",\n    \"Disqualify Reasons\": {{ JSON.stringify($json.disqualify_reasons || '') }},\n    \"Tide-Pool Score\": -1,\n    \"Last Scored Version\": \"v4.15\",\n    \"Summary\": {{ JSON.stringify('Auto-disqualified: ' + ($json.disqualify_reasons || '')) }},\n    \"Stage\": {{ JSON.stringify($json.funding_stage || '') }},\n    \"Total Funding\": {{ JSON.stringify($json.total_funding || '') }},\n    \"Employee Count\": {{ $json.employee_count != null ? $json.employee_count : 'null' }},\n    \"PE Backed\": {{ $json.pe_backed === true }},\n    \"Founded Year\": {{ $json.founded_year != null ? $json.founded_year : 'null' }},\n    \"Customer Persona\": \"auto-disqualified\",\n    \"Has Active Job Posting\": {{ $json.hasActiveJobPosting === true }},\n    \"Has CX Job Posting\": {{ $json.hasCXJobPosting === true }},\n    \"Matching Job Titles\": {{ JSON.stringify($json.matchingJobTitles || '') }},\n    \"Has Network Connection\": {{ $json.hasNetworkConnection === true }},\n    \"Connection Name\": {{ JSON.stringify($json.connectionName || '') }},\n    \"Connection LinkedIn URL\": {{ JSON.stringify($json.connectionLinkedInURL || '') }}\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        300
      ],
      "id": "update-dq",
      "name": "Update DQ (HTTP)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "airtable-token",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = $json;\nreturn {\n  json: {\n    RECORD_ID: c.RECORD_ID,\n    company_name: c.company_name,\n    company_url: c.company_url,\n    description: c.description,\n    source: c.source,\n    funding_stage: c.funding_stage,\n    total_funding: c.total_funding,\n    employee_count: c.employee_count,\n    pe_backed: c.pe_backed,\n    founded_year: c.founded_year,\n    company_age: c.company_age,\n    is_aging_flag: c.is_aging_flag,\n    // v4.5: Carry through job/network fields\n    hasActiveJobPosting: c.hasActiveJobPosting,\n    hasCXJobPosting: c.hasCXJobPosting,\n    matchingJobTitles: c.matchingJobTitles,\n    hasNetworkConnection: c.hasNetworkConnection,\n    connectionName: c.connectionName,\n    connectionLinkedInURL: c.connectionLinkedInURL,\n    // v4.7: Rebuild signal fields\n    rebuild_signal: c.rebuild_signal,\n    rebuild_leader: c.rebuild_leader,\n    rebuild_leader_start: c.rebuild_leader_start,\n    headcount_penalty_modifier: c.headcount_penalty_modifier,\n    // v4.6: Batch 4 fields\n    funding_recency: c.funding_recency,\n    years_since_last_round: c.years_since_last_round,\n    funding_staleness_modifier: c.funding_staleness_modifier,\n    is_cx_tooling_company: c.is_cx_tooling_company,\n    cx_tooling_signals: c.cx_tooling_signals,\n    suspicious_employee_count: c.suspicious_employee_count,\n    employee_count_flag: c.employee_count_flag,\n    personaPrompt: 'Company: ' + c.company_name + '. Description: ' + (c.description || 'No description') + '. URL: ' + (c.company_url || 'N/A') + '. Classify as business-user, developer, or mixed. Respond with ONE word only.'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        500
      ],
      "id": "build-persona",
      "name": "Build Persona"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 50,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.personaPrompt) }}}]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        500
      ],
      "id": "classify",
      "name": "Classify",
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.6: Added Batch 4 field pass-through\nconst prev = $('Build Persona').first().json;\nconst RECORD_ID = prev.RECORD_ID;\n\nconst response = $json;\nlet persona = 'unknown';\ntry {\n  const content = response.content?.[0]?.text || '';\n  const clean = content.toLowerCase().trim();\n  if (clean.includes('business')) persona = 'business-user';\n  else if (clean.includes('developer')) persona = 'developer';\n  else if (clean.includes('mixed')) persona = 'mixed';\n} catch (e) {\n  console.error('Persona parse error:', e.message);\n}\n\n// Only auto-pass developers if employee_count is known and < 50 (Opus review fix)\nconst shouldAutoPass = persona === 'developer' && prev.employee_count !== null && prev.employee_count < 50;\n\nreturn {\n  json: {\n    RECORD_ID: RECORD_ID,\n    company_name: prev.company_name,\n    company_url: prev.company_url,\n    description: prev.description,\n    source: prev.source,\n    funding_stage: prev.funding_stage,\n    total_funding: prev.total_funding,\n    employee_count: prev.employee_count,\n    pe_backed: prev.pe_backed,\n    founded_year: prev.founded_year,\n    company_age: prev.company_age,\n    is_aging_flag: prev.is_aging_flag,\n    // v4.5: Carry through job/network fields\n    hasActiveJobPosting: prev.hasActiveJobPosting,\n    hasCXJobPosting: prev.hasCXJobPosting,\n    matchingJobTitles: prev.matchingJobTitles,\n    hasNetworkConnection: prev.hasNetworkConnection,\n    connectionName: prev.connectionName,\n    connectionLinkedInURL: prev.connectionLinkedInURL,\n    // v4.6: Batch 4 fields\n    funding_recency: prev.funding_recency,\n    years_since_last_round: prev.years_since_last_round,\n    funding_staleness_modifier: prev.funding_staleness_modifier,\n    is_cx_tooling_company: prev.is_cx_tooling_company,\n    cx_tooling_signals: prev.cx_tooling_signals,\n    suspicious_employee_count: prev.suspicious_employee_count,\n    employee_count_flag: prev.employee_count_flag,\n    // v4.7: Rebuild signal fields\n    rebuild_signal: prev.rebuild_signal,\n    rebuild_leader: prev.rebuild_leader,\n    rebuild_leader_start: prev.rebuild_leader_start,\n    headcount_penalty_modifier: prev.headcount_penalty_modifier,\n    customer_persona: persona,\n    developer_auto_pass: shouldAutoPass\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ],
      "id": "parse-persona",
      "name": "Parse Persona"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.developer_auto_pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        500
      ],
      "id": "check-dev",
      "name": "Dev Pass"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appFEzXvPWvRtXgRY/Funding%20Alerts/{{ $json.RECORD_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Status\": \"Auto-Disqualified\",\n    \"Disqualify Reasons\": \"Developer-as-customer\",\n    \"Tide-Pool Score\": -1,\n    \"Last Scored Version\": \"v4.15\",\n    \"Summary\": {{ JSON.stringify('Developer-as-customer (' + ($json.employee_count != null ? $json.employee_count : 'unknown') + ' employees)') }},\n    \"Customer Persona\": {{ JSON.stringify($json.customer_persona) }},\n    \"Stage\": {{ JSON.stringify($json.funding_stage || '') }},\n    \"Total Funding\": {{ JSON.stringify($json.total_funding || '') }},\n    \"Employee Count\": {{ $json.employee_count != null ? $json.employee_count : 'null' }},\n    \"PE Backed\": {{ $json.pe_backed === true }},\n    \"Founded Year\": {{ $json.founded_year != null ? $json.founded_year : 'null' }},\n    \"Has Active Job Posting\": {{ $json.hasActiveJobPosting === true }},\n    \"Has CX Job Posting\": {{ $json.hasCXJobPosting === true }},\n    \"Matching Job Titles\": {{ JSON.stringify($json.matchingJobTitles || '') }},\n    \"Has Network Connection\": {{ $json.hasNetworkConnection === true }},\n    \"Connection Name\": {{ JSON.stringify($json.connectionName || '') }},\n    \"Connection LinkedIn URL\": {{ JSON.stringify($json.connectionLinkedInURL || '') }}\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        400
      ],
      "id": "update-dev",
      "name": "Update Dev (HTTP)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "airtable-token",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.7: Rebuilder Track - added REBUILDER role_type classification\n// v4.6: Updated eval prompt with CX tooling distinction, funding recency, suspicious employee count\nconst c = $json;\nconst agingNote = c.is_aging_flag ? ' Company is ' + c.company_age + ' years old (aging flag).' : '';\n\n// v4.6: Build context notes for new Batch 4 signals\nlet contextNotes = [];\nif (c.is_cx_tooling_company) {\n  contextNotes.push('CX TOOLING VENDOR FLAG: This company sells customer support software (signals: ' + c.cx_tooling_signals + '). Companies that SELL CX tools do NOT need CS leadership - they sell TO support teams, not BUILD large CS orgs. Set sector_match to unrelated and cs_hire_likelihood to unlikely.');\n}\nif (c.funding_recency === 'stale' && c.funding_staleness_modifier < 0) {\n  contextNotes.push('STALE FUNDING FLAG: Last funding was ' + c.years_since_last_round + ' years ago (' + (c.funding_stage || 'early stage') + '). Apply ' + c.funding_staleness_modifier + ' point penalty. Likely zombie company without growth.');\n}\nif (c.suspicious_employee_count) {\n  contextNotes.push('SUSPICIOUS EMPLOYEE COUNT: ' + c.employee_count_flag + '. Manual review needed - enrichment may have picked up stray integer instead of real headcount.');\n}\n// v4.7: Rebuild signal detection\nif (c.rebuild_signal) {\n  contextNotes.push('REBUILD SIGNAL: New CS leadership detected (' + (c.rebuild_leader || 'CCO/VP CS') + '). Apply +20 rebuild bonus. Company has 100-300 employees and new CS executive is building their team. Classify as REBUILDER not MAINTAINER.');\n}\nconst contextSection = contextNotes.length > 0 ? ' CONTEXT FLAGS: ' + contextNotes.join(' | ') : '';\n\nconst evalPrompt = 'COMPANY: ' + c.company_name + '. URL: ' + c.company_url + '. Description: ' + c.description + '. Funding: ' + (c.funding_stage || 'Unknown') + '. Employees: ' + (c.employee_count || 'Unknown') + '. Founded: ' + (c.founded_year || 'Unknown') + '. Persona: ' + c.customer_persona + '.' + agingNote + contextSection + ' Score 0-100 for job search fit (VP/Head of Customer Support/Success). CS HIRE READINESS (Leadership Gap): HIGH (20-25): No CS team exists OR frontline CSMs exist but no Director+ leader OR CS leadership recently turned over (<12 months). MEDIUM (10-19): Small CS team (2-5) with team lead but no senior leader. LOW (0-9): Stable CS leadership >12 months with fully staffed team. CRITICAL: CSMs existing is NOT negative - a company with 5 CSMs and no CS Director has HIGHER readiness than 0 CSMs where founder answers tickets. The question is whether there is a LEADERSHIP GAP. RULES: (1) cs_readiness_score requires EVIDENCE. If no evidence of CS team building, score 0 and state \"No evidence of CS leadership gap found.\" Do NOT infer CS need from funding stage alone. (2) CX TOOLING COMPANIES that sell support software should have cs_hire_likelihood=unlikely and sector_match=unrelated. (3) STALE FUNDING at early stage = apply penalty in scoring. Return JSON: {\"bucket\":\"APPLY|WATCH|PASS\",\"total_score\":N,\"sector_match\":\"target|adjacent|unrelated\",\"cs_hire_likelihood\":\"high|medium|low|unlikely\",\"product_type\":\"enterprise|mid-market|self-serve\",\"domain_distance\":\"target|adjacent|high-distance\",\"domain_distance_modifier\":N,\"gtm_motion\":\"enterprise|plg|hybrid\",\"role_type\":\"builder|rebuilder|maintainer|mixed\",\"cs_readiness_score\":N,\"cs_readiness_reasoning\":\"evidence-based explanation\",\"summary\":\"2 sentences\"}. For domain_distance_modifier: target domains like healthcare B2B SaaS get +3 to +5, adjacent domains get 0, high-distance domains like ITSM/Legal/RealEstate get -5 to -10.';\n\nreturn {\n  json: {\n    RECORD_ID: c.RECORD_ID,\n    company_name: c.company_name,\n    funding_stage: c.funding_stage,\n    total_funding: c.total_funding,\n    employee_count: c.employee_count,\n    pe_backed: c.pe_backed,\n    founded_year: c.founded_year,\n    customer_persona: c.customer_persona,\n    // v4.5: Carry through job/network fields\n    hasActiveJobPosting: c.hasActiveJobPosting,\n    hasCXJobPosting: c.hasCXJobPosting,\n    matchingJobTitles: c.matchingJobTitles,\n    hasNetworkConnection: c.hasNetworkConnection,\n    connectionName: c.connectionName,\n    connectionLinkedInURL: c.connectionLinkedInURL,\n    // v4.7: Rebuild signal fields\n    rebuild_signal: c.rebuild_signal || false,\n    rebuild_leader: c.rebuild_leader || null,\n    headcount_penalty_modifier: c.headcount_penalty_modifier || 0,\n    evalPrompt: evalPrompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        600
      ],
      "id": "build-eval",
      "name": "Build Eval"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 1500,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.evalPrompt) }}}]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        600
      ],
      "id": "evaluate",
      "name": "Evaluate",
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.13: CS Readiness cap at 25, Last Scored Version field\n// v4.6: Batch 4 - Added CS Hire Readiness score capping and scoring breakdown\nconst prev = $('Build Eval').first().json;\nconst RECORD_ID = prev.RECORD_ID;\nconst PIPELINE_VERSION = 'v4.15';  // v4.13: Track pipeline version\nconst CS_READINESS_CAP = 25;       // v4.13: Max CS readiness score\n\nconst response = $json;\nlet evaluation = { bucket: 'WATCH', total_score: 0, summary: 'Parse error' };\ntry {\n  const content = response.content?.[0]?.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) evaluation = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  console.error('Eval parse error:', e.message);\n}\n\n// v4.7: Apply rebuild bonus BEFORE capping\nlet finalScore = evaluation.total_score || 0;\nlet originalScore = finalScore;\nlet rebuildBonusApplied = false;\nif (prev.rebuild_signal) {\n  finalScore += 20;\n  rebuildBonusApplied = true;\n}\n\n// v4.6: CS Hire Readiness Score Capping (Batch 4 Fix 4.3)\nlet scoreCapped = false;\nlet scoreCapReason = null;\n\nconst csHireLikelihood = (evaluation.cs_hire_likelihood || '').toLowerCase();\n\n// Graduated caps: unlikely=65, low=75 (Opus review improvement)\nif (csHireLikelihood === 'unlikely') {\n  if (finalScore > 65) {\n    scoreCapped = true;\n    scoreCapReason = 'Score capped from ' + finalScore + ' to 65: CS hire likelihood is unlikely';\n    finalScore = 65;\n  }\n} else if (csHireLikelihood === 'low') {\n  if (finalScore > 75) {\n    scoreCapped = true;\n    scoreCapReason = 'Score capped from ' + finalScore + ' to 75: CS hire likelihood is low';\n    finalScore = 75;\n  }\n}\n\n// v4.7: Apply headcount penalty modifier\nif (prev.headcount_penalty_modifier && prev.headcount_penalty_modifier < 0) {\n  const beforeHeadcount = finalScore;\n  finalScore = Math.max(0, finalScore + prev.headcount_penalty_modifier);\n  if (!scoreCapped) {\n    scoreCapReason = 'Headcount penalty: ' + prev.headcount_penalty_modifier + ' (from ' + beforeHeadcount + ' to ' + finalScore + ')';\n  } else {\n    scoreCapReason = scoreCapReason + ' | Headcount penalty: ' + prev.headcount_penalty_modifier;\n  }\n}\n\n// v4.6: Apply funding staleness modifier\nif (prev.funding_staleness_modifier && prev.funding_staleness_modifier < 0) {\n  const beforeMod = finalScore;\n  finalScore = Math.max(0, finalScore + prev.funding_staleness_modifier);\n  if (!scoreCapped) {\n    scoreCapReason = 'Funding staleness modifier: ' + prev.funding_staleness_modifier + ' (from ' + beforeMod + ' to ' + finalScore + ')';\n  } else {\n    scoreCapReason = scoreCapReason + ' | Funding staleness modifier: ' + prev.funding_staleness_modifier;\n  }\n}\n\n// v4.6: Recalculate bucket based on capped score\nlet bucket = evaluation.bucket;\nif (scoreCapped || prev.funding_staleness_modifier < 0) {\n  if (finalScore >= 70) bucket = 'APPLY';\n  else if (finalScore >= 40) bucket = 'WATCH';\n  else bucket = 'PASS';\n}\n\n// v4.2: Updated status mapping (removed Skip, use Passed)\nconst statusMap = { 'APPLY': 'Apply', 'WATCH': 'Monitor', 'PASS': 'Passed' };\n\n// Valid Airtable select options\nconst validDomainDistance = ['target', 'adjacent', 'high-distance'];\nconst validGtmMotion = ['enterprise', 'plg', 'hybrid'];\nconst validRoleType = ['builder', 'rebuilder', 'maintainer', 'mixed'];\nconst validSectorMatch = ['target', 'adjacent', 'unrelated'];\nconst validCsHire = ['high', 'medium', 'low', 'unlikely'];\nconst validProductType = ['enterprise', 'mid-market', 'self-serve'];\nconst validPersona = ['business-user', 'developer', 'employee-user', 'mixed'];\n\n// v4.6: Build scoring breakdown for debugging\nconst scoringBreakdown = {\n  original_score: originalScore,\n  final_score: finalScore,\n  score_capped: scoreCapped,\n  cap_reason: scoreCapReason,\n  cs_hire_likelihood: csHireLikelihood,\n  funding_staleness_modifier: prev.funding_staleness_modifier || 0,\n  domain_distance_modifier: evaluation.domain_distance_modifier || 0,\n  cs_readiness_score: Math.min(evaluation.cs_readiness_score || 0, CS_READINESS_CAP),  // v4.13: Cap at 25\n  is_cx_tooling_company: prev.is_cx_tooling_company || false,\n  suspicious_employee_count: prev.suspicious_employee_count || false,\n  rebuild_signal: prev.rebuild_signal || false,\n  rebuild_bonus_applied: rebuildBonusApplied,\n  headcount_penalty_modifier: prev.headcount_penalty_modifier || 0\n};\n\n// Build fields object conditionally (omit select fields if invalid)\nconst fields = {\n  'Status': statusMap[bucket] || 'Research',\n  'Tide-Pool Score': finalScore,\n  'Summary': (scoreCapped ? '[CAPPED] ' : '') + (evaluation.summary || ''),\n  'Stage': prev.funding_stage || '',\n  'Total Funding': prev.total_funding || '',\n  'Employee Count': prev.employee_count || null,\n  'PE Backed': prev.pe_backed || false,\n  'Founded Year': prev.founded_year || null,\n  'Domain Distance Modifier': evaluation.domain_distance_modifier || 0,\n  'CS Readiness Score': Math.min(evaluation.cs_readiness_score || 0, CS_READINESS_CAP),  // v4.13: Cap at 25\n  'Last Scored Version': PIPELINE_VERSION,  // v4.13: Track scoring version\n  // v4.5: Add job/network fields\n  'Has Active Job Posting': prev.hasActiveJobPosting || false,\n  'Has CX Job Posting': prev.hasCXJobPosting || false,\n  'Matching Job Titles': prev.matchingJobTitles || '',\n  'Has Network Connection': prev.hasNetworkConnection || false,\n  'Connection Name': prev.connectionName || '',\n  'Connection LinkedIn URL': prev.connectionLinkedInURL || ''\n  // Note: v4.6/v4.7 fields (Rebuild Signal, Scoring Breakdown, etc.) omitted - not in Airtable schema\n};\n\n// Only add select fields if they have valid values\nif (validSectorMatch.includes(evaluation.sector_match)) fields['Sector Match'] = evaluation.sector_match;\nif (validCsHire.includes(csHireLikelihood)) fields['CS Hire Likelihood'] = csHireLikelihood;\nif (validProductType.includes(evaluation.product_type)) fields['Product Type'] = evaluation.product_type;\nif (validPersona.includes(prev.customer_persona)) fields['Customer Persona'] = prev.customer_persona;\nif (validDomainDistance.includes(evaluation.domain_distance)) fields['Domain Distance'] = evaluation.domain_distance;\nif (validGtmMotion.includes(evaluation.gtm_motion)) fields['GTM Motion'] = evaluation.gtm_motion;\nif (validRoleType.includes(evaluation.role_type)) fields['Role Type'] = evaluation.role_type;\n\nreturn {\n  json: {\n    RECORD_ID: RECORD_ID,\n    company_name: prev.company_name,\n    airtableFields: fields\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        600
      ],
      "id": "parse-eval",
      "name": "Parse Eval"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appFEzXvPWvRtXgRY/Funding%20Alerts/{{ $json.RECORD_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"fields\": {{ JSON.stringify($json.airtableFields) }} }",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        600
      ],
      "id": "update-eval",
      "name": "Update Eval (HTTP)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "airtable-token",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        500
      ],
      "id": "no-record",
      "name": "No Record"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl6ZV2rHjWz56pP3",
          "mode": "id"
        },
        "filterByFormula": "FIND(LOWER(\"{{ $('Parse Enrich').item.json.company_name }}\"), LOWER({Company})) > 0",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1300,
        300
      ],
      "id": "search-jobs",
      "name": "Search Job Listings",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-token",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbliKHRPEVI6SceJX",
          "mode": "id"
        },
        "filterByFormula": "OR(FIND(LOWER(\"{{ $('Parse Enrich').item.json.company_name }}\"), LOWER({Company Normalized})) > 0, FIND(LOWER(\"{{ $('Parse Enrich').item.json.company_name }}\"), LOWER({Company})) > 0)",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1300,
        500
      ],
      "id": "search-connections",
      "name": "Search LinkedIn Connections",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-token",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// v4.5: Job & Network Cross-Reference\n// Get company data from upstream\nconst companyData = $('Parse Enrich').first().json;\nconst companyName = (companyData.company_name || '').toLowerCase().trim();\n\n// Guard against empty/short company names (Opus review fix)\nconst companyNameClean = companyName\n  .replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!companyNameClean || companyNameClean.length < 2) {\n  // Return empty matches for invalid company names\n  return [{\n    json: {\n      ...companyData,\n      hasActiveJobPosting: false,\n      hasCXJobPosting: false,\n      matchingJobTitles: '',\n      hasNetworkConnection: false,\n      connectionName: '',\n      connectionLinkedInURL: '',\n      _jobMatchCount: 0,\n      _connectionMatchCount: 0,\n    }\n  }];\n}\n\n// For short names (< 4 chars), use exact match only to avoid false positives\nconst useExactOnly = companyNameClean.length < 4;\n\n// --- JOB LISTINGS MATCHING ---\nlet jobResults = [];\ntry {\n  jobResults = $('Search Job Listings').all() || [];\n} catch(e) {\n  console.error('Search Job Listings error:', e.message);\n  jobResults = [];\n}\n\nconst matchedJobs = jobResults.filter(job => {\n  const jobCompany = (job.json.Company || '').toLowerCase()\n    .replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (!jobCompany) return false;\n  if (useExactOnly) return jobCompany === companyNameClean;\n  return jobCompany === companyNameClean ||\n         jobCompany.includes(companyNameClean) ||\n         companyNameClean.includes(jobCompany);\n});\n\nconst hasActiveJob = matchedJobs.length > 0;\nconst jobTitles = matchedJobs.map(j => j.json['Job Title']).filter(Boolean);\n\n// CX/CS/Support job detection\nconst CX_PATTERNS = [\n  /customer success/i,\n  /customer support/i,\n  /customer experience/i,\n  /client success/i,\n  /client services/i,\n  /\\bcs\\b.*(?:manager|lead|director|vp|head)/i,\n  /\\bcx\\b.*(?:manager|lead|director|vp|head)/i,\n  /support.*(?:manager|lead|director|vp|head)/i,\n  /(?:head|vp|director).*(?:support|success|experience)/i,\n  /implementation/i,\n  /onboarding.*(?:manager|lead|director)/i,\n];\n\nconst hasCXJob = matchedJobs.some(job => {\n  const title = job.json['Job Title'] || '';\n  return CX_PATTERNS.some(p => p.test(title));\n});\n\n// --- LINKEDIN CONNECTIONS MATCHING ---\nlet connectionResults = [];\ntry {\n  connectionResults = $('Search LinkedIn Connections').all() || [];\n} catch(e) {\n  console.error('Search LinkedIn Connections error:', e.message);\n  connectionResults = [];\n}\n\nconst matchedConnections = connectionResults.filter(conn => {\n  const connCompany = (conn.json['Company Normalized'] || conn.json['Company'] || '')\n    .toLowerCase()\n    .replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (!connCompany) return false;\n  if (useExactOnly) return connCompany === companyNameClean;\n  return connCompany === companyNameClean ||\n         connCompany.includes(companyNameClean) ||\n         companyNameClean.includes(connCompany);\n});\n\nconst hasNetworkConnection = matchedConnections.length > 0;\n\n// Pick the most relevant connection (prefer senior roles)\nlet connectionName = '';\nlet connectionURL = '';\nif (hasNetworkConnection) {\n  const SENIORITY_KEYWORDS = /vp|vice president|director|head|chief|founder|ceo|coo|cro|cto/i;\n  const sorted = matchedConnections.sort((a, b) => {\n    const aScore = SENIORITY_KEYWORDS.test(a.json.Position || '') ? 1 : 0;\n    const bScore = SENIORITY_KEYWORDS.test(b.json.Position || '') ? 1 : 0;\n    return bScore - aScore;\n  });\n  connectionName = sorted[0].json.Name || '';\n  connectionURL = sorted[0].json['LinkedIn URL'] || '';\n}\n\n// --- OUTPUT ---\n// Merge with existing company data and pass through\nreturn [{\n  json: {\n    ...companyData,\n    hasActiveJobPosting: hasActiveJob,\n    hasCXJobPosting: hasCXJob,\n    matchingJobTitles: jobTitles.join(', '),\n    hasNetworkConnection: hasNetworkConnection,\n    connectionName: connectionName,\n    connectionLinkedInURL: connectionURL,\n    _jobMatchCount: matchedJobs.length,\n    _connectionMatchCount: matchedConnections.length,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        400
      ],
      "id": "match-jobs-network",
      "name": "Match Jobs & Network"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1500,
        400
      ],
      "id": "merge-searches",
      "name": "Merge Searches"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "aCym9UVO8b7Lz2Lt",
          "mode": "id"
        }
      },
      "id": "config-fetcher",
      "name": "Config Fetcher",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-config",
      "name": "Merge Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1100,
        400
      ]
    }
  ],
  "connections": {
    "Every 2 Min": {
      "main": [
        [
          {
            "node": "Fetch 1 Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 1 Record": {
      "main": [
        [
          {
            "node": "Has Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Record": {
      "main": [
        [
          {
            "node": "Capture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture": {
      "main": [
        [
          {
            "node": "Config Fetcher",
            "type": "main",
            "index": 0
          },
          {
            "node": "Brave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave": {
      "main": [
        [
          {
            "node": "Merge Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Enrich": {
      "main": [
        [
          {
            "node": "Search Job Listings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search LinkedIn Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Job Listings": {
      "main": [
        [
          {
            "node": "Merge Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search LinkedIn Connections": {
      "main": [
        [
          {
            "node": "Merge Searches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Searches": {
      "main": [
        [
          {
            "node": "Match Jobs & Network",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Jobs & Network": {
      "main": [
        [
          {
            "node": "Auto DQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto DQ": {
      "main": [
        [
          {
            "node": "Update DQ (HTTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Persona": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Parse Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Persona": {
      "main": [
        [
          {
            "node": "Dev Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Pass": {
      "main": [
        [
          {
            "node": "Update Dev (HTTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Eval": {
      "main": [
        [
          {
            "node": "Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate": {
      "main": [
        [
          {
            "node": "Parse Eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Eval": {
      "main": [
        [
          {
            "node": "Update Eval (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Fetcher": {
      "main": [
        [
          {
            "node": "Merge Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Config": {
      "main": [
        [
          {
            "node": "Parse Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}