Funding Alerts Rescore v4.7-standalone.json
{
  "name": "Funding Alerts Rescore v4.7.7 (Standalone)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 2}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400],
      "id": "trigger",
      "name": "Every 2 Min"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {"__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id"},
        "table": {"__rl": true, "value": "Funding Alerts", "mode": "list"},
        "filterByFormula": "AND({Tide-Pool Score}=0,{Status}!='Applied',{Status}!='Auto-Disqualified',{Status}!='Apply',{Status}!='Monitor',{Status}!='Passed',{Status}!='Research',{Status}!='Reached Out')",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [400, 400],
      "id": "fetch",
      "name": "Fetch 1 Record",
      "credentials": {"airtableTokenApi": {"id": "airtable-token", "name": "Airtable Token"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [{"id": "has-record", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [600, 400],
      "id": "check-record",
      "name": "Has Record"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.7.6: Capture everything from Airtable record in ONE place\n// Added existing fields for rescore fallback\nconst record = $json;\nreturn {\n  json: {\n    RECORD_ID: record.id,\n    company_name: record['Company Name'] || '',\n    company_url: record['Company URL'] || '',\n    description: record['Company Description'] || '',\n    source: record['VC Firm'] || record['Source'] || 'Rescore',\n    existing_dq_reasons: record['Disqualify Reasons'] || '',\n    existing_employee_count: record['Employee Count'] || null,\n    existing_stage: record['Stage'] || null,\n    existing_score: record['Tide-Pool Score'] || 0,\n    searchQuery: '\"' + (record['Company Name'] || '') + '\" company funding employees series startup valuation'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400],
      "id": "capture",
      "name": "Capture"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "q", "value": "={{ $json.searchQuery }}"},
            {"name": "count", "value": "10"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Accept", "value": "application/json"}]
        },
        "options": {"timeout": 30000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "id": "brave",
      "name": "Brave",
      "onError": "continueRegularOutput",
      "credentials": {"httpHeaderAuth": {"id": "brave-search-api", "name": "Brave Search API"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.7.1: Rebuilder Track + Rescore Fix\n// v4.7.1 fixes:\n// - isRescore detection: ignore pre-existing DQ reasons when Score=0 (fresh evaluation)\n// - Employee Count fallback: use Airtable field if Brave enrichment fails\n// v4.7: Rebuilder Track - added rebuild signal detection for 100-300 emp companies\n// v4.6: Batch 4 fixes - Employee corroboration, Funding recency, CX tooling detection\n\nconst captured = $('Capture').first().json;\nconst RECORD_ID = captured.RECORD_ID;\nconst company_name = captured.company_name;\nconst company_url = captured.company_url;\nconst description = captured.description;\nconst source = captured.source;\nconst existing_dq_reasons = captured.existing_dq_reasons || '';\nconst existing_employee_count = captured.existing_employee_count || null;\nconst existing_stage = captured.existing_stage || null;\nconst existing_score = captured.existing_score || 0;\n\n// v4.7.1: Detect if this is a rescore (Score=0 but has old DQ reasons)\n// If rescore, we ignore pre-existing DQ reasons and evaluate fresh\nconst isRescore = (existing_score === 0 || existing_score === null) && existing_dq_reasons.length > 0;\n\nconst braveResponse = $json;\nconst searchResults = braveResponse?.web?.results || [];\nconst allText = searchResults.map(r => (r.title || '') + ' ' + (r.description || '')).join(' ');\n\nconst currentYear = new Date().getFullYear();\n\n// PE Firms (expanded list from v9.8)\nconst peFirms = [\n  'Vista Equity', 'Thoma Bravo', 'KKR', 'Blackstone', 'TPG', 'Carlyle',\n  'Bain Capital', 'Silver Lake', 'Francisco Partners', 'Accel-KKR',\n  'LLR Partners', 'Warburg Pincus', 'Apollo', 'Insight Partners', 'GTCR',\n  'Clearlake', 'Welsh Carson', 'Providence Equity', 'Leonard Green',\n  'Hellman & Friedman', 'Advent', 'Golden Gate Capital', 'TA Associates',\n  'Brighton Park Capital', 'General Atlantic', 'Summit Partners', 'SoftBank Vision Fund',\n  'EQT Partners', 'Permira', 'Jonas Software', 'Constellation Software', 'Volaris',\n  'Harris Computer', 'Total Specific Solutions', 'N. Harris Computer',\n  'Ares Management', 'Ares Capital', 'Spring Lake Equity', 'Vector Capital'\n];\n\n// v4.4: Known large companies (bypass enrichment errors)\nconst knownLargeCompanies = [\n  'Zapier', 'SnapLogic', 'Stripe', 'Notion', 'Figma', 'Canva',\n  'Airtable', 'Webflow', 'Monday.com', 'Asana', 'Modern Treasury',\n  'Plaid', 'Brex', 'Ramp', 'Gusto', 'Rippling', 'Deel'\n];\n\n// v4.4: Known old companies (bypass enrichment errors for age gate)\nconst knownOldCompanies = [\n  { name: 'InternMatch', founded: 2009 },\n  { name: 'VoltServer', founded: 2011 },\n  { name: 'Mighty Networks', founded: 2010 },\n  { name: 'Helcim', founded: 2006 },\n  { name: 'Zapier', founded: 2011 },\n  { name: 'Mailchimp', founded: 2001 },\n  { name: 'HubSpot', founded: 2006 },\n  { name: 'Zendesk', founded: 2007 },\n  { name: 'Intercom', founded: 2011 },\n  { name: 'Drift', founded: 2015 },\n  { name: 'Pendo', founded: 2013 },\n  { name: 'Gainsight', founded: 2011 },\n  { name: 'Mixpanel', founded: 2009 },\n  { name: 'Amplitude', founded: 2012 },\n  { name: 'Segment', founded: 2011 },\n  { name: 'Twilio', founded: 2008 },\n  { name: 'SendGrid', founded: 2009 },\n  { name: 'Clearbit', founded: 2014 }\n];\n\n// v4.6: CX Tooling Keywords (companies that SELL to support teams)\nconst CX_TOOLING_KEYWORDS = [\n  'cobrowsing', 'session replay', 'helpdesk', 'ticketing',\n  'chatbot', 'customer support software', 'live chat',\n  'contact center', 'support automation', 'knowledge base software',\n  'customer service platform', 'help desk software', 'support ticketing'\n];\n\n// Helper: parse funding amount\nconst parseFundingAmount = (amountStr, unitStr) => {\n  const amount = parseFloat(amountStr);\n  const unit = unitStr.toLowerCase();\n  if (unit === 'billion' || unit === 'b') return amount * 1000000000;\n  if (unit === 'million' || unit === 'm') return amount * 1000000;\n  return amount;\n};\n\nconst formatFunding = (numeric) => {\n  if (numeric >= 1000000000) return '$' + (numeric / 1000000000).toFixed(1) + 'B';\n  if (numeric >= 1000000) return '$' + (numeric / 1000000).toFixed(1) + 'M';\n  return '$' + numeric;\n};\n\n// v4.6: Helper for median calculation\nconst median = (arr) => {\n  if (arr.length === 0) return null;\n  const sorted = [...arr].sort((a, b) => a - b);\n  const mid = Math.floor(sorted.length / 2);\n  return sorted.length % 2 !== 0 ? sorted[mid] : Math.round((sorted[mid - 1] + sorted[mid]) / 2);\n};\n\n// === EXTRACT DATA ===\n\n// v4.6: Employee count corroboration (Batch 4 Fix 4.1)\n// Extract ALL employee mentions and take median for corroboration\nconst empMatches = [...allText.matchAll(/(\\d[\\d,]*)\\s*(?:to\\s*\\d[\\d,]*)?\\s*employees?/gi)];\nconst empCounts = empMatches.map(m => parseInt(m[1].replace(/,/g, ''))).filter(n => n > 0 && n < 100000);\nlet employeeCount = empCounts.length > 0 ? (empCounts.length > 1 ? median(empCounts) : empCounts[0]) : null;\nconst employeeCountCorroborated = empCounts.length > 2;\n\n// Range detection: \"10-50 employees\" -> take upper bound\nconst rangeMatch = allText.match(/(\\d+)\\s*(?:to|-)\\s*(\\d+)\\s*employees?/i);\nif (rangeMatch && !employeeCount) {\n  employeeCount = parseInt(rangeMatch[2]); // Upper bound\n}\n\n// v4.7.1: Fallback to existing Airtable Employee Count if Brave extraction failed\nif (!employeeCount && existing_employee_count) {\n  employeeCount = existing_employee_count;\n}\n\n// v4.6: Suspicious employee count cross-reference (Batch 4 Fix 4.1)\nconst fundingStageRank = { 'Pre-Seed': 1, 'Seed': 2, 'Series A': 3, 'Series B': 4, 'Series C': 5, 'Series D': 6, 'Series E': 7 };\nlet suspiciousEmployeeCount = false;\nlet employeeCountFlag = null;\n\nlet fundingStage = null;\nif (/Series\\s*E/i.test(allText)) fundingStage = 'Series E';\nelse if (/Series\\s*D/i.test(allText)) fundingStage = 'Series D';\nelse if (/Series\\s*C/i.test(allText)) fundingStage = 'Series C';\nelse if (/Series\\s*B/i.test(allText)) fundingStage = 'Series B';\nelse if (/Series\\s*A/i.test(allText)) fundingStage = 'Series A';\nelse if (/\\bSeed\\b/i.test(allText)) fundingStage = 'Seed';\n\n// v4.7.6: Fallback to existing Airtable Stage if Brave extraction failed\nif (!fundingStage && existing_stage) {\n  fundingStage = existing_stage;\n}\n\n// Total funding\nlet totalFunding = null, totalFundingRaw = null;\nconst fundingMatch = allText.match(/(?:raised|funding|total funding)\\s*\\$([\\d.]+)\\s*(million|billion|M|B)/i);\nif (fundingMatch) {\n  totalFunding = parseFundingAmount(fundingMatch[1], fundingMatch[2]);\n  totalFundingRaw = formatFunding(totalFunding);\n}\n\n// Cross-reference: low employee count + high funding = suspicious\nconst isSeriesAPlus = fundingStage && fundingStageRank[fundingStage] >= 3;\nconst hasSignificantFunding = totalFunding && totalFunding >= 10000000;\nif (employeeCount && employeeCount < 15 && (isSeriesAPlus || hasSignificantFunding)) {\n  suspiciousEmployeeCount = true;\n  employeeCountFlag = 'Employee count ' + employeeCount + ' seems low for ' + (fundingStage || 'significant funding') + ' with ' + (totalFundingRaw || '>$10M');\n}\n\n// v4.6: Funding recency extraction (Batch 4 Fix 4.2)\nlet lastFundingYear = null;\nlet yearsSinceLastRound = null;\nlet fundingRecency = null;\nconst fundingYearPatterns = [\n  /series\\s*[a-e]\\s*(?:round\\s*)?(?:in\\s*)?(20\\d{2})/i,\n  /raised.*?(20\\d{2})/i,\n  /(20\\d{2}).*?series\\s*[a-e]/i,\n  /(?:funding|round).*?(20\\d{2})/i,\n  /(?:may|june|july|aug|sep|oct|nov|dec|jan|feb|mar|apr)\\s*(?:of\\s*)?(20\\d{2}).*?(?:series|raised|funding)/i\n];\nfor (const pattern of fundingYearPatterns) {\n  const match = allText.match(pattern);\n  if (match) {\n    const year = parseInt(match[1]);\n    if (year >= 2015 && year <= currentYear && (!lastFundingYear || year > lastFundingYear)) {\n      lastFundingYear = year;\n    }\n  }\n}\nif (lastFundingYear) {\n  yearsSinceLastRound = currentYear - lastFundingYear;\n  if (yearsSinceLastRound < 1) fundingRecency = 'recent';\n  else if (yearsSinceLastRound < 2) fundingRecency = 'moderate';\n  else if (yearsSinceLastRound < 3) fundingRecency = 'aging';\n  else fundingRecency = 'stale';\n}\n\n// v4.6: Graduated funding staleness modifier (Batch 4 Fix 4.2)\nconst isEarlyStage = ['Seed', 'Series A'].includes(fundingStage);\nlet fundingStalenessModifier = 0;\nif (yearsSinceLastRound && isEarlyStage && (!employeeCount || employeeCount < 100)) {\n  if (yearsSinceLastRound >= 4) fundingStalenessModifier = -15;\n  else if (yearsSinceLastRound >= 3) fundingStalenessModifier = -10;\n  else if (yearsSinceLastRound >= 2) fundingStalenessModifier = -5;\n}\n\n// v4.6: CX Tooling Company Detection (Batch 4 Fix 4.4)\nlet isCXToolingCompany = false;\nlet cxToolingSignals = [];\nconst allTextLower = allText.toLowerCase();\nfor (const keyword of CX_TOOLING_KEYWORDS) {\n  if (allTextLower.includes(keyword.toLowerCase())) {\n    cxToolingSignals.push(keyword);\n  }\n}\nisCXToolingCompany = cxToolingSignals.length >= 2;\n\n// v4.7: REBUILD SIGNAL DETECTION (for companies with 100-300 employees)\nlet rebuildSignal = false;\nlet rebuildLeader = null;\nlet rebuildLeaderStart = null;\nconst isInRebuildRange = employeeCount && employeeCount >= 100 && employeeCount <= 300;\nif (isInRebuildRange) {\n  // Look for CS/CX leadership hired in last 12 months\n  const rebuildPatterns = [\n    /(?:hired|appointed|welcomed|joined|named)\\s+(?:as\\s+)?(?:our\\s+)?(?:new\\s+)?(?:CCO|Chief Customer Officer|VP (?:of )?Customer (?:Success|Experience)|Head of Customer (?:Success|Experience)|VP CS|VP CX|Chief Customer|Chief Experience Officer)/gi,\n    /(?:CCO|Chief Customer Officer|VP (?:of )?Customer (?:Success|Experience)|Head of Customer (?:Success|Experience))\\s+(?:hired|appointed|joined|started|welcomes|announced)/gi,\n    /new (?:CCO|Chief Customer Officer|VP (?:of )?Customer|Head of Customer)/gi,\n    /(?:joins|joined)\\s+(?:as|the company as)\\s+(?:CCO|Chief Customer Officer|VP (?:of )?Customer|Head of Customer)/gi\n  ];\n  for (const pattern of rebuildPatterns) {\n    const match = allText.match(pattern);\n    if (match) {\n      rebuildSignal = true;\n      rebuildLeader = match[0].substring(0, 100);\n      // Try to extract date if present\n      const dateMatch = allText.match(new RegExp(match[0].replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&') + '[^.]*?(202[456]|January|February|March|April|May|June|July|August|September|October|November|December)', 'i'));\n      if (dateMatch) rebuildLeaderStart = dateMatch[1];\n      break;\n    }\n  }\n}\n\n// v4.4: Valuation extraction (for unicorn gate)\nlet valuation = null, valuationRaw = null;\nif (/\\bunicorn\\b/i.test(allText)) {\n  valuation = 1000000000;\n  valuationRaw = '$1.0B (unicorn)';\n} else {\n  const valuationMatch = allText.match(/(?:valued at|valuation of?)\\s*\\$([\\d.]+)\\s*(million|billion|M|B)/i);\n  if (valuationMatch) {\n    valuation = parseFundingAmount(valuationMatch[1], valuationMatch[2]);\n    valuationRaw = formatFunding(valuation);\n  }\n}\n\n// Founded year - first check known old companies list, then try enrichment\nlet foundedYear = null;\nconst knownOldMatch = knownOldCompanies.find(c => company_name && company_name.toLowerCase().includes(c.name.toLowerCase()));\nif (knownOldMatch) {\n  foundedYear = knownOldMatch.founded;\n} else {\n  const foundMatch = allText.match(/(?:founded|established|since)\\s*(?:in)?\\s*(\\d{4})/i);\n  if (foundMatch) foundedYear = parseInt(foundMatch[1]);\n}\n\n// v4.4: Company age calculation\nconst companyAge = foundedYear ? (currentYear - foundedYear) : null;\nconst isTooOld = companyAge !== null && companyAge > 8;\nconst isAgingFlag = companyAge !== null && companyAge > 5 && companyAge <= 8;\nconst isKnownOldCompany = knownOldMatch !== undefined;\n\n// PE detection\nconst isPEBacked = peFirms.some(f => new RegExp(f, 'i').test(allText));\nconst peBackerFound = peFirms.find(f => new RegExp(f, 'i').test(allText)) || null;\n\n// v4.4: Known large company check\nconst isKnownLargeCompany = knownLargeCompanies.some(name => \n  company_name && company_name.toLowerCase().includes(name.toLowerCase())\n);\n\n// Status flags\nconst isAcquired = /\\b(acquired|was acquired|acquisition|merged with|bought by|shut down|defunct)\\b/i.test(allText);\nconst isPublic = /\\b(NYSE|NASDAQ|publicly traded|IPO|went public|stock ticker)\\b/i.test(allText);\n\n// === SECTOR DETECTION (v9.7 aligned) ===\nconst isBiotech = /\\b(therapeutic|drug development|clinical trial|pharma|biotech|oncology|immunotherapy)\\b/i.test(allText);\nconst isHardware = /\\b(hardware|sensors|devices|robotics|manufacturing|semiconductor|solar|battery|EV charging)\\b/i.test(allText) && !/\\bSaaS\\b/i.test(allText);\nconst isCrypto = /\\b(blockchain|cryptocurrency|web3|NFT|DeFi|token|crypto|decentralized)\\b/i.test(allText);\nconst isConsumer = /\\b(consumer app|DTC|direct-to-consumer|B2C|telehealth|patient app|consumer health)\\b/i.test(allText);\nconst isHRTech = /\\b(HR tech|human resources|DEI|diversity equity|workforce analytics|recruiting platform|HRIS|payroll)\\b/i.test(allText);\nconst isMarketplace = /\\b(marketplace|two-sided market|gig economy|freelance platform|labor marketplace)\\b/i.test(allText) && !/\\b(SaaS|software platform|enterprise)\\b/i.test(allText);\n\n// v4.4: New sector gates from v9.7\nconst isFintech = /\\b(fintech|banking software|credit union|neobank|payment processing|lending platform|loan origination|mortgage tech|banking as a service|BaaS|open banking|core banking)\\b/i.test(allText) && !/\\b(healthcare billing|medical billing|revenue cycle)\\b/i.test(allText);\nconst isConstructionTech = /\\b(construction (?:tech|software|management)|general contractor|subcontractor management|job site|building information|BIM software)\\b/i.test(allText);\nconst isFoodBiotech = /\\b(fermentation|food science|food tech|cultured (?:meat|protein)|alternative protein|CPG brand|consumer packaged goods|beverage brand)\\b/i.test(allText);\nconst isPhysicalSecurity = /\\b(physical security|access control|surveillance|security camera|weapon detection|metal detector|perimeter security)\\b/i.test(allText) && !/\\b(cybersecurity|data security|cloud security)\\b/i.test(allText);\nconst isInsurtech = /\\b(insurtech|insurance (?:technology|software|platform)|policy management|claims processing|underwriting)\\b/i.test(allText) && !/\\b(healthcare|health plan|benefits administration)\\b/i.test(allText);\nconst isSaaSManagement = /\\b(SaaS management|software spend|IT asset management|license management|shadow IT|SaaS operations)\\b/i.test(allText);\nconst isConsumerDigitalHealth = /\\b(mental health app|therapy app|meditation app|wellness app|patient (?:portal|app)|health coaching app|digital therapeutic|DTx|fertility app|pregnancy app)\\b/i.test(allText) && !/\\b(provider-facing|clinician-facing|EHR|clinical workflow)\\b/i.test(allText);\n\n// v4.4: GTM Motion detection (PLG-dominant gate)\nconst plgSignals = [\n  /free (?:tier|plan|trial)/i,\n  /self[\\s-]?serve/i,\n  /product[\\s-]?led/i,\n  /freemium/i,\n  /open[\\s-]?source/i,\n  /sign up free/i\n];\nconst enterpriseSignals = [\n  /enterprise (?:sales|team|customers)/i,\n  /account (?:executive|manager)/i,\n  /sales[\\s-]?led/i,\n  /high[\\s-]?touch/i,\n  /customer success (?:team|manager)/i,\n  /enterprise[\\s-]?grade/i\n];\nconst plgSignalCount = plgSignals.filter(p => p.test(allText)).length;\nconst enterpriseSignalCount = enterpriseSignals.filter(p => p.test(allText)).length;\nconst isPLGDominant = plgSignalCount >= 3 && enterpriseSignalCount < 2;\n\n// === BUILD DISQUALIFIERS ===\nconst disqualifiers = [];\nconst flagsForReview = []; // v4.6: Soft flags for manual review\n\n// v4.7.1: Handle pre-existing DQ reasons - skip if this is a rescore\nif (!isRescore && existing_dq_reasons.length > 0) {\n  if (!existing_dq_reasons.startsWith('Pre-existing DQ:')) {\n    disqualifiers.push('Pre-existing DQ: ' + existing_dq_reasons);\n  } else {\n    disqualifiers.push(existing_dq_reasons);\n  }\n}\n// If isRescore=true, we intentionally ignore old DQ reasons and evaluate fresh\n\n// TIER 1: HARD GATES\nif (isAcquired) disqualifiers.push('Acquired');\nif (isPEBacked) disqualifiers.push('PE-backed (' + peBackerFound + ')');\nif (isKnownLargeCompany) disqualifiers.push('Known large company (enrichment bypass)');\n\n// v4.6: Modified employee count gate - route suspicious counts to review instead of auto-DQ\nif (employeeCount && employeeCount > 350) {\n  disqualifiers.push('Too large (>' + 350 + ' employees: ' + employeeCount + ')');\n} else if (suspiciousEmployeeCount) {\n  // Route to manual review instead of auto-DQ\n  flagsForReview.push(employeeCountFlag);\n}\n\nif (totalFunding && totalFunding > 450000000) disqualifiers.push('>$450M funding (' + totalFundingRaw + ')');\n\n// v4.4: Unicorn gate (mutually exclusive with >$450M valuation)\nif (valuation && valuation >= 1000000000) {\n  disqualifiers.push('Unicorn valuation (>$1B: ' + valuationRaw + ')');\n} else if (valuation && valuation > 500000000) {\n  disqualifiers.push('>$500M valuation (' + valuationRaw + ')');\n}\n\nif (isPublic) disqualifiers.push('Public company');\nif (['Series D', 'Series E'].includes(fundingStage)) disqualifiers.push('Late stage (' + fundingStage + ')');\n\n// v4.4: Company age gate\nif (isTooOld) disqualifiers.push('Company too old (' + companyAge + ' years)');\n\n// TIER 2: SECTOR GATES\nif (isBiotech) disqualifiers.push('Biotech/pharma');\nif (isHardware) disqualifiers.push('Hardware');\nif (isCrypto) disqualifiers.push('Crypto/Web3');\nif (isConsumer) disqualifiers.push('Consumer/B2C');\nif (isHRTech) disqualifiers.push('HR Tech');\nif (isMarketplace) disqualifiers.push('Marketplace');\n// v4.4: New sector gates\nif (isFintech) disqualifiers.push('Fintech/Banking (wrong sector)');\nif (isConstructionTech) disqualifiers.push('Construction Tech (wrong sector)');\nif (isFoodBiotech) disqualifiers.push('Food science/CPG (not B2B SaaS)');\nif (isPhysicalSecurity) disqualifiers.push('Physical security hardware (wrong sector)');\nif (isInsurtech) disqualifiers.push('Insurtech (wrong sector)');\nif (isSaaSManagement) disqualifiers.push('SaaS management (wrong buyer persona)');\nif (isConsumerDigitalHealth) disqualifiers.push('Consumer digital health (patient-facing)');\n\n// TIER 3: GTM MOTION GATES\nif (isPLGDominant) disqualifiers.push('PLG-dominant (no enterprise CS need)');\n\n// TIER 5: SOFT GATES - <15 employees moved to warnings section (not a hard DQ)\n// Early-stage companies are builder opportunities to monitor\n\n// v4.7: Headcount penalty modifier (per spec Phase 2)\nlet headcountPenaltyModifier = 0;\nif (employeeCount && employeeCount >= 200 && employeeCount <= 350) {\n  if (rebuildSignal) {\n    headcountPenaltyModifier = 0; // No penalty if rebuild signal detected\n  } else {\n    headcountPenaltyModifier = -10; // -10 penalty without rebuild signal\n  }\n} else if (employeeCount && employeeCount >= 150 && employeeCount < 200) {\n  if (rebuildSignal) {\n    headcountPenaltyModifier = 0; // No penalty if rebuild signal\n  } else {\n    headcountPenaltyModifier = -5; // -5 penalty without rebuild signal\n  }\n}\n\n// Warnings (for logging, not DQ)\nconst warnings = [];\nif (employeeCount && employeeCount < 15 && !suspiciousEmployeeCount) warnings.push('Early stage (<15 employees) - monitor for growth');\nif (isAgingFlag) warnings.push('Company aging (' + companyAge + ' years old)');\nif (employeeCount && employeeCount >= 200 && employeeCount <= 350) {\n  if (rebuildSignal) {\n    warnings.push('Employee count ' + employeeCount + ' in rebuild range - no penalty (rebuild signal detected)');\n  } else {\n    warnings.push('Employee count ' + employeeCount + ' in penalty zone (-10 modifier)');\n  }\n}\nif (fundingRecency === 'stale') warnings.push('Stale funding (' + yearsSinceLastRound + ' years since last round)');\nif (isCXToolingCompany) warnings.push('CX tooling company (sells TO support teams): ' + cxToolingSignals.join(', '));\n\nreturn {\n  json: {\n    RECORD_ID: RECORD_ID,\n    company_name: company_name,\n    company_url: company_url,\n    description: description,\n    source: source,\n    funding_stage: fundingStage,\n    total_funding: totalFundingRaw,\n    total_funding_numeric: totalFunding,\n    valuation: valuationRaw,\n    valuation_numeric: valuation,\n    employee_count: employeeCount,\n    employee_count_corroborated: employeeCountCorroborated,\n    suspicious_employee_count: suspiciousEmployeeCount,\n    employee_count_flag: employeeCountFlag,\n    pe_backed: isPEBacked,\n    founded_year: foundedYear,\n    company_age: companyAge,\n    is_too_old: isTooOld,\n    is_aging_flag: isAgingFlag,\n    is_known_large_company: isKnownLargeCompany,\n    is_plg_dominant: isPLGDominant,\n    // v4.6: Funding recency fields\n    last_funding_year: lastFundingYear,\n    years_since_last_round: yearsSinceLastRound,\n    funding_recency: fundingRecency,\n    funding_staleness_modifier: fundingStalenessModifier,\n    // v4.6: CX tooling fields\n    is_cx_tooling_company: isCXToolingCompany,\n    cx_tooling_signals: cxToolingSignals.join(', '),\n    // v4.7: Rebuild signal fields\n    rebuild_signal: rebuildSignal,\n    rebuild_leader: rebuildLeader,\n    rebuild_leader_start: rebuildLeaderStart,\n    headcount_penalty_modifier: headcountPenaltyModifier,\n    // v4.6: Flags for review\n    flags_for_review: flagsForReview.join('; '),\n    disqualify_reasons: disqualifiers.join('; '),\n    isAutoDisqualified: disqualifiers.length > 0,\n    warnings: warnings\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400],
      "id": "parse-enrich",
      "name": "Parse Enrich"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict"},
          "conditions": [{"leftValue": "={{ $json.isAutoDisqualified }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1400, 400],
      "id": "check-dq",
      "name": "Auto DQ"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appFEzXvPWvRtXgRY/Funding%20Alerts/{{ $json.RECORD_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Status\": \"Auto-Disqualified\",\n    \"Disqualify Reasons\": {{ JSON.stringify($json.disqualify_reasons || '') }},\n    \"Tide-Pool Score\": 0,\n    \"Summary\": {{ JSON.stringify('Auto-disqualified: ' + ($json.disqualify_reasons || '')) }},\n    \"Stage\": {{ JSON.stringify($json.funding_stage || '') }},\n    \"Total Funding\": {{ JSON.stringify($json.total_funding || '') }},\n    \"Employee Count\": {{ $json.employee_count != null ? $json.employee_count : 'null' }},\n    \"PE Backed\": {{ $json.pe_backed === true }},\n    \"Founded Year\": {{ $json.founded_year != null ? $json.founded_year : 'null' }},\n    \"Customer Persona\": \"auto-disqualified\",\n    \"Has Active Job Posting\": {{ $json.hasActiveJobPosting === true }},\n    \"Has CX Job Posting\": {{ $json.hasCXJobPosting === true }},\n    \"Matching Job Titles\": {{ JSON.stringify($json.matchingJobTitles || '') }},\n    \"Has Network Connection\": {{ $json.hasNetworkConnection === true }},\n    \"Connection Name\": {{ JSON.stringify($json.connectionName || '') }},\n    \"Connection LinkedIn URL\": {{ JSON.stringify($json.connectionLinkedInURL || '') }}\n  }\n}",
        "options": {"timeout": 30000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300],
      "id": "update-dq",
      "name": "Update DQ (HTTP)",
      "credentials": {"httpHeaderAuth": {"id": "airtable-token", "name": "Airtable Token"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = $json;\nreturn {\n  json: {\n    RECORD_ID: c.RECORD_ID,\n    company_name: c.company_name,\n    company_url: c.company_url,\n    description: c.description,\n    source: c.source,\n    funding_stage: c.funding_stage,\n    total_funding: c.total_funding,\n    employee_count: c.employee_count,\n    pe_backed: c.pe_backed,\n    founded_year: c.founded_year,\n    company_age: c.company_age,\n    is_aging_flag: c.is_aging_flag,\n    // v4.5: Carry through job/network fields\n    hasActiveJobPosting: c.hasActiveJobPosting,\n    hasCXJobPosting: c.hasCXJobPosting,\n    matchingJobTitles: c.matchingJobTitles,\n    hasNetworkConnection: c.hasNetworkConnection,\n    connectionName: c.connectionName,\n    connectionLinkedInURL: c.connectionLinkedInURL,\n    // v4.7: Rebuild signal fields\n    rebuild_signal: c.rebuild_signal,\n    rebuild_leader: c.rebuild_leader,\n    rebuild_leader_start: c.rebuild_leader_start,\n    headcount_penalty_modifier: c.headcount_penalty_modifier,\n    // v4.6: Batch 4 fields\n    funding_recency: c.funding_recency,\n    years_since_last_round: c.years_since_last_round,\n    funding_staleness_modifier: c.funding_staleness_modifier,\n    is_cx_tooling_company: c.is_cx_tooling_company,\n    cx_tooling_signals: c.cx_tooling_signals,\n    suspicious_employee_count: c.suspicious_employee_count,\n    employee_count_flag: c.employee_count_flag,\n    personaPrompt: 'Company: ' + c.company_name + '. Description: ' + (c.description || 'No description') + '. URL: ' + (c.company_url || 'N/A') + '. Classify as business-user, developer, or mixed. Respond with ONE word only.'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 500],
      "id": "build-persona",
      "name": "Build Persona"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 50,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.personaPrompt) }}}]\n}",
        "options": {"timeout": 30000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 500],
      "id": "classify",
      "name": "Classify",
      "onError": "continueRegularOutput",
      "credentials": {"httpHeaderAuth": {"id": "anthropic-api", "name": "Anthropic API"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.6: Added Batch 4 field pass-through\nconst prev = $('Build Persona').first().json;\nconst RECORD_ID = prev.RECORD_ID;\n\nconst response = $json;\nlet persona = 'unknown';\ntry {\n  const content = response.content?.[0]?.text || '';\n  const clean = content.toLowerCase().trim();\n  if (clean.includes('business')) persona = 'business-user';\n  else if (clean.includes('developer')) persona = 'developer';\n  else if (clean.includes('mixed')) persona = 'mixed';\n} catch (e) {\n  console.error('Persona parse error:', e.message);\n}\n\n// Only auto-pass developers if employee_count is known and < 50 (Opus review fix)\nconst shouldAutoPass = persona === 'developer' && prev.employee_count !== null && prev.employee_count < 50;\n\nreturn {\n  json: {\n    RECORD_ID: RECORD_ID,\n    company_name: prev.company_name,\n    company_url: prev.company_url,\n    description: prev.description,\n    source: prev.source,\n    funding_stage: prev.funding_stage,\n    total_funding: prev.total_funding,\n    employee_count: prev.employee_count,\n    pe_backed: prev.pe_backed,\n    founded_year: prev.founded_year,\n    company_age: prev.company_age,\n    is_aging_flag: prev.is_aging_flag,\n    // v4.5: Carry through job/network fields\n    hasActiveJobPosting: prev.hasActiveJobPosting,\n    hasCXJobPosting: prev.hasCXJobPosting,\n    matchingJobTitles: prev.matchingJobTitles,\n    hasNetworkConnection: prev.hasNetworkConnection,\n    connectionName: prev.connectionName,\n    connectionLinkedInURL: prev.connectionLinkedInURL,\n    // v4.6: Batch 4 fields\n    funding_recency: prev.funding_recency,\n    years_since_last_round: prev.years_since_last_round,\n    funding_staleness_modifier: prev.funding_staleness_modifier,\n    is_cx_tooling_company: prev.is_cx_tooling_company,\n    cx_tooling_signals: prev.cx_tooling_signals,\n    suspicious_employee_count: prev.suspicious_employee_count,\n    employee_count_flag: prev.employee_count_flag,\n    // v4.7: Rebuild signal fields\n    rebuild_signal: prev.rebuild_signal,\n    rebuild_leader: prev.rebuild_leader,\n    rebuild_leader_start: prev.rebuild_leader_start,\n    headcount_penalty_modifier: prev.headcount_penalty_modifier,\n    customer_persona: persona,\n    developer_auto_pass: shouldAutoPass\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 500],
      "id": "parse-persona",
      "name": "Parse Persona"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "loose"},
          "conditions": [{"leftValue": "={{ $json.developer_auto_pass }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2200, 500],
      "id": "check-dev",
      "name": "Dev Pass"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appFEzXvPWvRtXgRY/Funding%20Alerts/{{ $json.RECORD_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"Status\": \"Auto-Disqualified\",\n    \"Disqualify Reasons\": \"Developer-as-customer\",\n    \"Tide-Pool Score\": 0,\n    \"Summary\": {{ JSON.stringify('Developer-as-customer (' + ($json.employee_count != null ? $json.employee_count : 'unknown') + ' employees)') }},\n    \"Customer Persona\": {{ JSON.stringify($json.customer_persona) }},\n    \"Stage\": {{ JSON.stringify($json.funding_stage || '') }},\n    \"Total Funding\": {{ JSON.stringify($json.total_funding || '') }},\n    \"Employee Count\": {{ $json.employee_count != null ? $json.employee_count : 'null' }},\n    \"PE Backed\": {{ $json.pe_backed === true }},\n    \"Founded Year\": {{ $json.founded_year != null ? $json.founded_year : 'null' }},\n    \"Has Active Job Posting\": {{ $json.hasActiveJobPosting === true }},\n    \"Has CX Job Posting\": {{ $json.hasCXJobPosting === true }},\n    \"Matching Job Titles\": {{ JSON.stringify($json.matchingJobTitles || '') }},\n    \"Has Network Connection\": {{ $json.hasNetworkConnection === true }},\n    \"Connection Name\": {{ JSON.stringify($json.connectionName || '') }},\n    \"Connection LinkedIn URL\": {{ JSON.stringify($json.connectionLinkedInURL || '') }}\n  }\n}",
        "options": {"timeout": 30000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 400],
      "id": "update-dev",
      "name": "Update Dev (HTTP)",
      "credentials": {"httpHeaderAuth": {"id": "airtable-token", "name": "Airtable Token"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.7: Rebuilder Track - added REBUILDER role_type classification\n// v4.6: Updated eval prompt with CX tooling distinction, funding recency, suspicious employee count\nconst c = $json;\nconst agingNote = c.is_aging_flag ? ' Company is ' + c.company_age + ' years old (aging flag).' : '';\n\n// v4.6: Build context notes for new Batch 4 signals\nlet contextNotes = [];\nif (c.is_cx_tooling_company) {\n  contextNotes.push('CX TOOLING VENDOR FLAG: This company sells customer support software (signals: ' + c.cx_tooling_signals + '). Companies that SELL CX tools do NOT need CS leadership - they sell TO support teams, not BUILD large CS orgs. Set sector_match to unrelated and cs_hire_likelihood to unlikely.');\n}\nif (c.funding_recency === 'stale' && c.funding_staleness_modifier < 0) {\n  contextNotes.push('STALE FUNDING FLAG: Last funding was ' + c.years_since_last_round + ' years ago (' + (c.funding_stage || 'early stage') + '). Apply ' + c.funding_staleness_modifier + ' point penalty. Likely zombie company without growth.');\n}\nif (c.suspicious_employee_count) {\n  contextNotes.push('SUSPICIOUS EMPLOYEE COUNT: ' + c.employee_count_flag + '. Manual review needed - enrichment may have picked up stray integer instead of real headcount.');\n}\n// v4.7: Rebuild signal detection\nif (c.rebuild_signal) {\n  contextNotes.push('REBUILD SIGNAL: New CS leadership detected (' + (c.rebuild_leader || 'CCO/VP CS') + '). Apply +20 rebuild bonus. Company has 100-300 employees and new CS executive is building their team. Classify as REBUILDER not MAINTAINER.');\n}\nconst contextSection = contextNotes.length > 0 ? ' CONTEXT FLAGS: ' + contextNotes.join(' | ') : '';\n\nconst evalPrompt = 'COMPANY: ' + c.company_name + '. URL: ' + c.company_url + '. Description: ' + c.description + '. Funding: ' + (c.funding_stage || 'Unknown') + '. Employees: ' + (c.employee_count || 'Unknown') + '. Founded: ' + (c.founded_year || 'Unknown') + '. Persona: ' + c.customer_persona + '.' + agingNote + contextSection + ' Score 0-100 for job search fit (VP/Head of Customer Support/Success). CS HIRE READINESS (Leadership Gap): HIGH (20-25): No CS team exists OR frontline CSMs exist but no Director+ leader OR CS leadership recently turned over (<12 months). MEDIUM (10-19): Small CS team (2-5) with team lead but no senior leader. LOW (0-9): Stable CS leadership >12 months with fully staffed team. CRITICAL: CSMs existing is NOT negative - a company with 5 CSMs and no CS Director has HIGHER readiness than 0 CSMs where founder answers tickets. The question is whether there is a LEADERSHIP GAP. RULES: (1) cs_readiness_score requires EVIDENCE. If no evidence of CS team building, score 0 and state \"No evidence of CS leadership gap found.\" Do NOT infer CS need from funding stage alone. (2) CX TOOLING COMPANIES that sell support software should have cs_hire_likelihood=unlikely and sector_match=unrelated. (3) STALE FUNDING at early stage = apply penalty in scoring. Return JSON: {\"bucket\":\"APPLY|WATCH|PASS\",\"total_score\":N,\"sector_match\":\"target|adjacent|unrelated\",\"cs_hire_likelihood\":\"high|medium|low|unlikely\",\"product_type\":\"enterprise|mid-market|self-serve\",\"domain_distance\":\"target|adjacent|high-distance\",\"domain_distance_modifier\":N,\"gtm_motion\":\"enterprise|plg|hybrid\",\"role_type\":\"builder|rebuilder|maintainer|mixed\",\"cs_readiness_score\":N,\"cs_readiness_reasoning\":\"evidence-based explanation\",\"summary\":\"2 sentences\"}. For domain_distance_modifier: target domains like healthcare B2B SaaS get +3 to +5, adjacent domains get 0, high-distance domains like ITSM/Legal/RealEstate get -5 to -10.';\n\nreturn {\n  json: {\n    RECORD_ID: c.RECORD_ID,\n    company_name: c.company_name,\n    funding_stage: c.funding_stage,\n    total_funding: c.total_funding,\n    employee_count: c.employee_count,\n    pe_backed: c.pe_backed,\n    founded_year: c.founded_year,\n    customer_persona: c.customer_persona,\n    // v4.5: Carry through job/network fields\n    hasActiveJobPosting: c.hasActiveJobPosting,\n    hasCXJobPosting: c.hasCXJobPosting,\n    matchingJobTitles: c.matchingJobTitles,\n    hasNetworkConnection: c.hasNetworkConnection,\n    connectionName: c.connectionName,\n    connectionLinkedInURL: c.connectionLinkedInURL,\n    // v4.7: Rebuild signal fields\n    rebuild_signal: c.rebuild_signal || false,\n    rebuild_leader: c.rebuild_leader || null,\n    headcount_penalty_modifier: c.headcount_penalty_modifier || 0,\n    evalPrompt: evalPrompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 600],
      "id": "build-eval",
      "name": "Build Eval"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5\",\n  \"max_tokens\": 1500,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.evalPrompt) }}}]\n}",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 600],
      "id": "evaluate",
      "name": "Evaluate",
      "onError": "continueRegularOutput",
      "credentials": {"httpHeaderAuth": {"id": "anthropic-api", "name": "Anthropic API"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.6: Batch 4 - Added CS Hire Readiness score capping and scoring breakdown\nconst prev = $('Build Eval').first().json;\nconst RECORD_ID = prev.RECORD_ID;\n\nconst response = $json;\nlet evaluation = { bucket: 'WATCH', total_score: 0, summary: 'Parse error' };\ntry {\n  const content = response.content?.[0]?.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) evaluation = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  console.error('Eval parse error:', e.message);\n}\n\n// v4.7: Apply rebuild bonus BEFORE capping\nlet finalScore = evaluation.total_score || 0;\nlet originalScore = finalScore;\nlet rebuildBonusApplied = false;\nif (prev.rebuild_signal) {\n  finalScore += 20;\n  rebuildBonusApplied = true;\n}\n\n// v4.6: CS Hire Readiness Score Capping (Batch 4 Fix 4.3)\nlet scoreCapped = false;\nlet scoreCapReason = null;\n\nconst csHireLikelihood = (evaluation.cs_hire_likelihood || '').toLowerCase();\n\n// Graduated caps: unlikely=65, low=75 (Opus review improvement)\nif (csHireLikelihood === 'unlikely') {\n  if (finalScore > 65) {\n    scoreCapped = true;\n    scoreCapReason = 'Score capped from ' + finalScore + ' to 65: CS hire likelihood is unlikely';\n    finalScore = 65;\n  }\n} else if (csHireLikelihood === 'low') {\n  if (finalScore > 75) {\n    scoreCapped = true;\n    scoreCapReason = 'Score capped from ' + finalScore + ' to 75: CS hire likelihood is low';\n    finalScore = 75;\n  }\n}\n\n// v4.7: Apply headcount penalty modifier\nif (prev.headcount_penalty_modifier && prev.headcount_penalty_modifier < 0) {\n  const beforeHeadcount = finalScore;\n  finalScore = Math.max(0, finalScore + prev.headcount_penalty_modifier);\n  if (!scoreCapped) {\n    scoreCapReason = 'Headcount penalty: ' + prev.headcount_penalty_modifier + ' (from ' + beforeHeadcount + ' to ' + finalScore + ')';\n  } else {\n    scoreCapReason = scoreCapReason + ' | Headcount penalty: ' + prev.headcount_penalty_modifier;\n  }\n}\n\n// v4.6: Apply funding staleness modifier\nif (prev.funding_staleness_modifier && prev.funding_staleness_modifier < 0) {\n  const beforeMod = finalScore;\n  finalScore = Math.max(0, finalScore + prev.funding_staleness_modifier);\n  if (!scoreCapped) {\n    scoreCapReason = 'Funding staleness modifier: ' + prev.funding_staleness_modifier + ' (from ' + beforeMod + ' to ' + finalScore + ')';\n  } else {\n    scoreCapReason = scoreCapReason + ' | Funding staleness modifier: ' + prev.funding_staleness_modifier;\n  }\n}\n\n// v4.6: Recalculate bucket based on capped score\nlet bucket = evaluation.bucket;\nif (scoreCapped || prev.funding_staleness_modifier < 0) {\n  if (finalScore >= 70) bucket = 'APPLY';\n  else if (finalScore >= 40) bucket = 'WATCH';\n  else bucket = 'PASS';\n}\n\n// v4.2: Updated status mapping (removed Skip, use Passed)\nconst statusMap = { 'APPLY': 'Apply', 'WATCH': 'Monitor', 'PASS': 'Passed' };\n\n// Valid Airtable select options\nconst validDomainDistance = ['target', 'adjacent', 'high-distance'];\nconst validGtmMotion = ['enterprise', 'plg', 'hybrid'];\nconst validRoleType = ['builder', 'rebuilder', 'maintainer', 'mixed'];\nconst validSectorMatch = ['target', 'adjacent', 'unrelated'];\nconst validCsHire = ['high', 'medium', 'low', 'unlikely'];\nconst validProductType = ['enterprise', 'mid-market', 'self-serve'];\nconst validPersona = ['business-user', 'developer', 'employee-user', 'mixed'];\n\n// v4.6: Build scoring breakdown for debugging\nconst scoringBreakdown = {\n  original_score: originalScore,\n  final_score: finalScore,\n  score_capped: scoreCapped,\n  cap_reason: scoreCapReason,\n  cs_hire_likelihood: csHireLikelihood,\n  funding_staleness_modifier: prev.funding_staleness_modifier || 0,\n  domain_distance_modifier: evaluation.domain_distance_modifier || 0,\n  cs_readiness_score: evaluation.cs_readiness_score || 0,\n  is_cx_tooling_company: prev.is_cx_tooling_company || false,\n  suspicious_employee_count: prev.suspicious_employee_count || false,\n  rebuild_signal: prev.rebuild_signal || false,\n  rebuild_bonus_applied: rebuildBonusApplied,\n  headcount_penalty_modifier: prev.headcount_penalty_modifier || 0\n};\n\n// Build fields object conditionally (omit select fields if invalid)\nconst fields = {\n  'Status': statusMap[bucket] || 'Research',\n  'Tide-Pool Score': finalScore,\n  'Summary': (scoreCapped ? '[CAPPED] ' : '') + (evaluation.summary || ''),\n  'Stage': prev.funding_stage || '',\n  'Total Funding': prev.total_funding || '',\n  'Employee Count': prev.employee_count || null,\n  'PE Backed': prev.pe_backed || false,\n  'Founded Year': prev.founded_year || null,\n  'Domain Distance Modifier': evaluation.domain_distance_modifier || 0,\n  'CS Readiness Score': evaluation.cs_readiness_score || null,\n  // v4.5: Add job/network fields\n  'Has Active Job Posting': prev.hasActiveJobPosting || false,\n  'Has CX Job Posting': prev.hasCXJobPosting || false,\n  'Matching Job Titles': prev.matchingJobTitles || '',\n  'Has Network Connection': prev.hasNetworkConnection || false,\n  'Connection Name': prev.connectionName || '',\n  'Connection LinkedIn URL': prev.connectionLinkedInURL || ''\n  // Note: v4.6/v4.7 fields (Rebuild Signal, Scoring Breakdown, etc.) omitted - not in Airtable schema\n};\n\n// Only add select fields if they have valid values\nif (validSectorMatch.includes(evaluation.sector_match)) fields['Sector Match'] = evaluation.sector_match;\nif (validCsHire.includes(csHireLikelihood)) fields['CS Hire Likelihood'] = csHireLikelihood;\nif (validProductType.includes(evaluation.product_type)) fields['Product Type'] = evaluation.product_type;\nif (validPersona.includes(prev.customer_persona)) fields['Customer Persona'] = prev.customer_persona;\nif (validDomainDistance.includes(evaluation.domain_distance)) fields['Domain Distance'] = evaluation.domain_distance;\nif (validGtmMotion.includes(evaluation.gtm_motion)) fields['GTM Motion'] = evaluation.gtm_motion;\nif (validRoleType.includes(evaluation.role_type)) fields['Role Type'] = evaluation.role_type;\n\nreturn {\n  json: {\n    RECORD_ID: RECORD_ID,\n    company_name: prev.company_name,\n    airtableFields: fields\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, 600],
      "id": "parse-eval",
      "name": "Parse Eval"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appFEzXvPWvRtXgRY/Funding%20Alerts/{{ $json.RECORD_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"fields\": {{ JSON.stringify($json.airtableFields) }} }",
        "options": {"timeout": 30000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3000, 600],
      "id": "update-eval",
      "name": "Update Eval (HTTP)",
      "credentials": {"httpHeaderAuth": {"id": "airtable-token", "name": "Airtable Token"}}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [800, 500],
      "id": "no-record",
      "name": "No Record"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {"__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id"},
        "table": {"__rl": true, "value": "tbl6ZV2rHjWz56pP3", "mode": "id"},
        "filterByFormula": "FIND(LOWER(\"{{ $('Parse Enrich').item.json.company_name }}\"), LOWER({Company})) > 0",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1300, 300],
      "id": "search-jobs",
      "name": "Search Job Listings",
      "alwaysOutputData": true,
      "credentials": {"airtableTokenApi": {"id": "airtable-token", "name": "Airtable Token"}}
    },
    {
      "parameters": {
        "operation": "search",
        "base": {"__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id"},
        "table": {"__rl": true, "value": "tbliKHRPEVI6SceJX", "mode": "id"},
        "filterByFormula": "OR(FIND(LOWER(\"{{ $('Parse Enrich').item.json.company_name }}\"), LOWER({Company Normalized})) > 0, FIND(LOWER(\"{{ $('Parse Enrich').item.json.company_name }}\"), LOWER({Company})) > 0)",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1300, 500],
      "id": "search-connections",
      "name": "Search LinkedIn Connections",
      "alwaysOutputData": true,
      "credentials": {"airtableTokenApi": {"id": "airtable-token", "name": "Airtable Token"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v4.5: Job & Network Cross-Reference\n// Get company data from upstream\nconst companyData = $('Parse Enrich').first().json;\nconst companyName = (companyData.company_name || '').toLowerCase().trim();\n\n// Guard against empty/short company names (Opus review fix)\nconst companyNameClean = companyName\n  .replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!companyNameClean || companyNameClean.length < 2) {\n  // Return empty matches for invalid company names\n  return {\n    json: {\n      ...companyData,\n      hasActiveJobPosting: false,\n      hasCXJobPosting: false,\n      matchingJobTitles: '',\n      hasNetworkConnection: false,\n      connectionName: '',\n      connectionLinkedInURL: '',\n      _jobMatchCount: 0,\n      _connectionMatchCount: 0,\n    }\n  };\n}\n\n// For short names (< 4 chars), use exact match only to avoid false positives\nconst useExactOnly = companyNameClean.length < 4;\n\n// --- JOB LISTINGS MATCHING ---\nlet jobResults = [];\ntry {\n  jobResults = $('Search Job Listings').all() || [];\n} catch(e) {\n  console.error('Search Job Listings error:', e.message);\n  jobResults = [];\n}\n\nconst matchedJobs = jobResults.filter(job => {\n  const jobCompany = (job.json.Company || '').toLowerCase()\n    .replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (!jobCompany) return false;\n  if (useExactOnly) return jobCompany === companyNameClean;\n  return jobCompany === companyNameClean ||\n         jobCompany.includes(companyNameClean) ||\n         companyNameClean.includes(jobCompany);\n});\n\nconst hasActiveJob = matchedJobs.length > 0;\nconst jobTitles = matchedJobs.map(j => j.json['Job Title']).filter(Boolean);\n\n// CX/CS/Support job detection\nconst CX_PATTERNS = [\n  /customer success/i,\n  /customer support/i,\n  /customer experience/i,\n  /client success/i,\n  /client services/i,\n  /\\bcs\\b.*(?:manager|lead|director|vp|head)/i,\n  /\\bcx\\b.*(?:manager|lead|director|vp|head)/i,\n  /support.*(?:manager|lead|director|vp|head)/i,\n  /(?:head|vp|director).*(?:support|success|experience)/i,\n  /implementation/i,\n  /onboarding.*(?:manager|lead|director)/i,\n];\n\nconst hasCXJob = matchedJobs.some(job => {\n  const title = job.json['Job Title'] || '';\n  return CX_PATTERNS.some(p => p.test(title));\n});\n\n// --- LINKEDIN CONNECTIONS MATCHING ---\nlet connectionResults = [];\ntry {\n  connectionResults = $('Search LinkedIn Connections').all() || [];\n} catch(e) {\n  console.error('Search LinkedIn Connections error:', e.message);\n  connectionResults = [];\n}\n\nconst matchedConnections = connectionResults.filter(conn => {\n  const connCompany = (conn.json['Company Normalized'] || conn.json['Company'] || '')\n    .toLowerCase()\n    .replace(/[.,\\/#!$%\\^&\\*;:{}=\\-_`~()]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (!connCompany) return false;\n  if (useExactOnly) return connCompany === companyNameClean;\n  return connCompany === companyNameClean ||\n         connCompany.includes(companyNameClean) ||\n         companyNameClean.includes(connCompany);\n});\n\nconst hasNetworkConnection = matchedConnections.length > 0;\n\n// Pick the most relevant connection (prefer senior roles)\nlet connectionName = '';\nlet connectionURL = '';\nif (hasNetworkConnection) {\n  const SENIORITY_KEYWORDS = /vp|vice president|director|head|chief|founder|ceo|coo|cro|cto/i;\n  const sorted = matchedConnections.sort((a, b) => {\n    const aScore = SENIORITY_KEYWORDS.test(a.json.Position || '') ? 1 : 0;\n    const bScore = SENIORITY_KEYWORDS.test(b.json.Position || '') ? 1 : 0;\n    return bScore - aScore;\n  });\n  connectionName = sorted[0].json.Name || '';\n  connectionURL = sorted[0].json['LinkedIn URL'] || '';\n}\n\n// --- OUTPUT ---\n// Merge with existing company data and pass through\nreturn {\n  json: {\n    ...companyData,\n    hasActiveJobPosting: hasActiveJob,\n    hasCXJobPosting: hasCXJob,\n    matchingJobTitles: jobTitles.join(', '),\n    hasNetworkConnection: hasNetworkConnection,\n    connectionName: connectionName,\n    connectionLinkedInURL: connectionURL,\n    _jobMatchCount: matchedJobs.length,\n    _connectionMatchCount: matchedConnections.length,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 400],
      "id": "match-jobs-network",
      "name": "Match Jobs & Network"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1500, 400],
      "id": "merge-searches",
      "name": "Merge Searches"
    }
  ],
  "connections": {
    "Every 2 Min": {
      "main": [[{"node": "Fetch 1 Record", "type": "main", "index": 0}]]
    },
    "Fetch 1 Record": {
      "main": [[{"node": "Has Record", "type": "main", "index": 0}]]
    },
    "Has Record": {
      "main": [
        [{"node": "Capture", "type": "main", "index": 0}],
        [{"node": "No Record", "type": "main", "index": 0}]
      ]
    },
    "Capture": {
      "main": [[{"node": "Brave", "type": "main", "index": 0}]]
    },
    "Brave": {
      "main": [[{"node": "Parse Enrich", "type": "main", "index": 0}]]
    },
    "Parse Enrich": {
      "main": [
        [
          {"node": "Search Job Listings", "type": "main", "index": 0},
          {"node": "Search LinkedIn Connections", "type": "main", "index": 0},
          {"node": "Merge Searches", "type": "main", "index": 2}
        ]
      ]
    },
    "Search Job Listings": {
      "main": [[{"node": "Merge Searches", "type": "main", "index": 0}]]
    },
    "Search LinkedIn Connections": {
      "main": [[{"node": "Merge Searches", "type": "main", "index": 1}]]
    },
    "Merge Searches": {
      "main": [[{"node": "Match Jobs & Network", "type": "main", "index": 0}]]
    },
    "Match Jobs & Network": {
      "main": [[{"node": "Auto DQ", "type": "main", "index": 0}]]
    },
    "Auto DQ": {
      "main": [
        [{"node": "Update DQ (HTTP)", "type": "main", "index": 0}],
        [{"node": "Build Persona", "type": "main", "index": 0}]
      ]
    },
    "Build Persona": {
      "main": [[{"node": "Classify", "type": "main", "index": 0}]]
    },
    "Classify": {
      "main": [[{"node": "Parse Persona", "type": "main", "index": 0}]]
    },
    "Parse Persona": {
      "main": [[{"node": "Dev Pass", "type": "main", "index": 0}]]
    },
    "Dev Pass": {
      "main": [
        [{"node": "Update Dev (HTTP)", "type": "main", "index": 0}],
        [{"node": "Build Eval", "type": "main", "index": 0}]
      ]
    },
    "Build Eval": {
      "main": [[{"node": "Evaluate", "type": "main", "index": 0}]]
    },
    "Evaluate": {
      "main": [[{"node": "Parse Eval", "type": "main", "index": 0}]]
    },
    "Parse Eval": {
      "main": [[{"node": "Update Eval (HTTP)", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
