Funding Alerts Rescore v2.1.json
{
  "name": "Funding Alerts Rescore v2.1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 1}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400],
      "id": "a1",
      "name": "Every 1 Min"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {"__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id"},
        "table": {"__rl": true, "value": "Funding Alerts", "mode": "list"},
        "filterByFormula": "AND({Company Name}!='',OR({Tide-Pool Score}=0,{Tide-Pool Score}=1,{Tide-Pool Score}=BLANK()))",
        "returnAll": false,
        "limit": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [400, 400],
      "id": "a2",
      "name": "Fetch 5",
      "credentials": {"airtableTokenApi": {"id": "airtable-token", "name": "Airtable Token"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [{"id": "c1", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [600, 400],
      "id": "a3",
      "name": "Has Record"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $json;\nreturn { json: { recordId: d.id, company_name: d['Company Name']||'', company_url: d['Company URL']||'', description: d['Company Description']||'', source: d['VC Firm']||d['Source']||'Unknown', searchQuery: '\"' + (d['Company Name']||'') + '\" company funding employees' } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400],
      "id": "a5",
      "name": "Prep"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendQuery": true,
        "queryParameters": {"parameters": [{"name": "q", "value": "={{ $json.searchQuery }}"}, {"name": "count", "value": "10"}]},
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Accept", "value": "application/json"}]},
        "options": {"timeout": 30000, "batching": {"batch": {"batchSize": 1, "batchInterval": 500}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 400],
      "id": "a6",
      "name": "Brave",
      "credentials": {"httpHeaderAuth": {"id": "brave-search-api", "name": "Brave Search API"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v2.1: Fixed funding extraction - $5B cap, contextual matching, ignore PE fund sizes\nconst br = $json; const cd = $('Prep').item.json;\n\n// Expanded PE/Growth Equity firm list (v2)\nconst peFirms = [\n  'Vista Equity', 'Thoma Bravo', 'KKR', 'Blackstone', 'Bain Capital',\n  'Silver Lake', 'Apollo', 'Insight Partners', 'Clearlake', 'TA Associates',\n  'Brighton Park Capital', 'General Atlantic', 'Warburg Pincus',\n  'Francisco Partners', 'Summit Partners', 'Providence Equity',\n  'Welsh Carson', 'TPG Capital', 'Hellman & Friedman', 'Advent International',\n  'Permira', 'EQT Partners', 'Carlyle', 'SoftBank Vision Fund'\n];\n\nconst sr = br?.web?.results || [];\nconst txt = sr.map(r => (r.title || '') + ' ' + (r.description || '')).join(' ');\n\n// Helper functions\nconst parseFundingAmount = (amountStr, unitStr) => {\n  const amount = parseFloat(amountStr);\n  const unit = unitStr.toLowerCase();\n  if (unit === 'billion' || unit === 'b') return amount * 1000000000;\n  if (unit === 'million' || unit === 'm') return amount * 1000000;\n  return amount;\n};\n\nconst formatFunding = (numeric) => {\n  if (numeric >= 1000000000) return '$' + (numeric / 1000000000).toFixed(1) + 'B';\n  if (numeric >= 1000000) return '$' + (numeric / 1000000).toFixed(1) + 'M';\n  return '$' + numeric;\n};\n\nconst MAX_BELIEVABLE_FUNDING = 5000000000; // $5B cap\n\n// Extract employee count\nlet emp = null;\nconst em = txt.match(/([\\d,]+)\\s*employees?/i);\nif (em) emp = parseInt(em[1].replace(/,/g, ''));\n\n// Extract funding stage\nlet stg = null;\nif (/Series\\s*D/i.test(txt)) stg = 'Series D';\nelse if (/Series\\s*C/i.test(txt)) stg = 'Series C';\nelse if (/Series\\s*B/i.test(txt)) stg = 'Series B';\nelse if (/Series\\s*A/i.test(txt)) stg = 'Series A';\nelse if (/\\bSeed\\b/i.test(txt)) stg = 'Seed';\n\n// v2.1: IMPROVED funding extraction with sanity checks\nlet fund = null;\nlet fundNum = null;\nconst fundingCandidates = [];\n\n// Priority patterns - contextual matches\nconst contextualPatterns = [\n  /(?:raised|secur(?:ed|es)|total funding of|funding of|announced)\\s*\\$([\\d.]+)\\s*(million|billion|M|B)/gi,\n  /\\$([\\d.]+)\\s*(million|billion|M|B)\\s*(?:raised|funding|round|series)/gi,\n  /series\\s*[A-D]\\s*(?:funding|round)?\\s*(?:of)?\\s*\\$([\\d.]+)\\s*(million|billion|M|B)/gi\n];\n\nfor (const pattern of contextualPatterns) {\n  let match;\n  while ((match = pattern.exec(txt)) !== null) {\n    const numeric = parseFundingAmount(match[1], match[2]);\n    if (numeric <= MAX_BELIEVABLE_FUNDING && numeric >= 100000) {\n      fundingCandidates.push({ numeric, raw: formatFunding(numeric), priority: 1 });\n    }\n  }\n}\n\n// Fallback: Any dollar amount\nif (fundingCandidates.length === 0) {\n  const fallbackPattern = /\\$([\\d.]+)\\s*(million|billion|M|B)/gi;\n  let match;\n  while ((match = fallbackPattern.exec(txt)) !== null) {\n    const numeric = parseFundingAmount(match[1], match[2]);\n    if (numeric <= MAX_BELIEVABLE_FUNDING && numeric >= 100000) {\n      fundingCandidates.push({ numeric, raw: formatFunding(numeric), priority: 2 });\n    }\n  }\n}\n\n// Select best candidate\nif (fundingCandidates.length > 0) {\n  fundingCandidates.sort((a, b) => {\n    if (a.priority !== b.priority) return a.priority - b.priority;\n    return b.numeric - a.numeric;\n  });\n  const best = fundingCandidates[0];\n  fundNum = best.numeric;\n  fund = best.raw;\n}\n\n// Check PE backing\nconst isPE = peFirms.some(f => txt.toLowerCase().includes(f.toLowerCase()));\n\n// Extract founded year\nlet yr = null;\nconst ym = txt.match(/(?:founded|since)\\s*(?:in)?\\s*(\\d{4})/i);\nif (ym) yr = parseInt(ym[1]);\n\n// Check for acquisition\nlet isAcquired = false;\nlet acquiredBy = null;\nconst acqMatch = txt.match(/acquired\\s+by\\s+([A-Za-z0-9\\s]+?)(?:\\s+for|\\s+in|\\.|,)/i);\nif (acqMatch) {\n  isAcquired = true;\n  acquiredBy = acqMatch[1].trim();\n} else if (/\\bacquired\\b|\\bacquisition\\b/i.test(txt) && /\\bby\\b/i.test(txt)) {\n  isAcquired = true;\n}\n\nreturn {\n  json: {\n    recordId: cd.recordId,\n    company_name: cd.company_name,\n    company_url: cd.company_url,\n    description: cd.description,\n    source: cd.source,\n    funding_stage: stg,\n    total_funding: fund,\n    total_funding_num: fundNum,\n    employee_count: emp,\n    pe_backed: isPE,\n    founded_year: yr,\n    is_acquired: isAcquired,\n    acquired_by: acquiredBy\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400],
      "id": "a7",
      "name": "Enrich"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v2.1: Aligned thresholds with 100-point model - >150 employees, >$75M funding\nconst c = $json;\nconst reasons = [];\n\n// === HARD DISQUALIFICATION FILTERS ===\n\n// 1. Employee count > 150\nif (c.employee_count && c.employee_count > 150) {\n  reasons.push(`>150 employees (${c.employee_count})`);\n}\n\n// 2. Total funding > $75M\nif (c.total_funding_num && c.total_funding_num > 75000000) {\n  reasons.push(`>$75M funding (${c.total_funding})`);\n}\n\n// 3. PE/Growth Equity backed\nif (c.pe_backed) {\n  reasons.push('PE/Growth Equity backed');\n}\n\n// 4. Acquired company\nif (c.is_acquired) {\n  const byText = c.acquired_by ? ` by ${c.acquired_by}` : '';\n  reasons.push(`Acquired${byText}`);\n}\n\n// 5. Series D+ (too late stage)\nif (c.funding_stage === 'Series D') {\n  reasons.push('Late stage (Series D)');\n}\n\n// === RESULT ===\nconst isDisqualified = reasons.length > 0;\n\nreturn {\n  json: {\n    ...c,\n    is_disqualified: isDisqualified,\n    disqualify_reasons: reasons.join('; '),\n    disqualify_count: reasons.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400],
      "id": "pf1",
      "name": "Pre-Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "conditions": [{"id": "dq1", "leftValue": "={{ $json.is_disqualified }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1600, 400],
      "id": "pf2",
      "name": "Check DQ"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v2.1: Disqualified record - skip Claude, score = 0, status = Auto-Disqualified\nconst c = $json;\n\nconst fields = {\n  'Status': 'Auto-Disqualified',\n  'Next Steps': 'Skip',\n  'Tide-Pool Score': 0,\n  'Sector Match': 'unknown',\n  'CS Hire Likelihood': 'none',\n  'Product Type': '',\n  'Summary': `Auto-disqualified: ${c.disqualify_reasons}`,\n  'Disqualify Reasons': c.disqualify_reasons\n};\n\n// Still update enriched fields if available\nif (c.funding_stage) fields['Stage'] = c.funding_stage;\nif (c.total_funding) fields['Total Funding'] = c.total_funding;\nif (c.employee_count) fields['Employee Count'] = c.employee_count;\nif (c.pe_backed) fields['PE Backed'] = c.pe_backed;\nif (c.founded_year) fields['Founded Year'] = c.founded_year;\n\nreturn { json: { recordId: c.recordId, fields: fields } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300],
      "id": "pf3",
      "name": "Skip Parse"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = $json;\nconst sys = 'You are a company evaluator. Return ONLY valid JSON, no other text. Score 0-10 each dimension (80 max): build_opportunity, company_stage, company_size, sector_fit, technical_complexity, customer_journey_scope. HARD CAPS (max 35): DTC/consumer, biotech/pharma, defense/govt, hardware, Series D+, 500+ employees, $500M+ funding. SOFT CAP (max 40): 10yr+ companies. BUCKETS: APPLY(50+), WATCH(35-49), PASS(<35). Large late-stage companies are MAINTAINER roles not BUILDER opportunities - score build_opportunity 2-3 max. Output format: {\"bucket\":\"APPLY|WATCH|PASS\",\"total_score\":N,\"sector_match\":\"target|adjacent|unrelated\",\"cs_hire_likelihood\":\"high|medium|low|unlikely\",\"product_type\":\"enterprise|mid-market|self-serve|consumer\",\"summary\":\"1 sentence\"}';\nconst usr = 'Company: '+c.company_name+', URL: '+c.company_url+', Desc: '+(c.description||'').substring(0,150)+', Stage: '+(c.funding_stage||'?')+', Funding: '+(c.total_funding||'?')+', Emp: '+(c.employee_count||'?')+', Founded: '+(c.founded_year||'?');\nreturn { json: { ...c, _sys: sys, _usr: usr } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 500],
      "id": "a8",
      "name": "Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"claude-haiku-4-5\",\"max_tokens\":500,\"system\":{{ JSON.stringify($json._sys) }},\"messages\":[{\"role\":\"user\",\"content\":{{ JSON.stringify($json._usr) }}}]}",
        "options": {"timeout": 60000, "batching": {"batch": {"batchSize": 1, "batchInterval": 1000}}}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 500],
      "id": "a9",
      "name": "Claude",
      "credentials": {"httpHeaderAuth": {"id": "anthropic-api", "name": "Anthropic API"}}
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// v2.1: Clear Disqualify Reasons when record passes gates\nconst r = $json; const cd = $('Prompt').item.json;\nlet ev = {}; try { const t = r.content?.[0]?.text||''; const m = t.match(/\\{[\\s\\S]*\\}/); if(m) ev = JSON.parse(m[0]); } catch(e) { ev = {bucket:'WATCH',total_score:0,summary:'Parse error'}; }\nif(!ev.total_score || ev.total_score < 1) { ev = {bucket:'WATCH',total_score:1,summary:'API error - retry'}; }\nconst sm = {'APPLY':'Apply','WATCH':'Monitor','PASS':'Skip'};\nconst nm = {'APPLY':'Apply Now','WATCH':'Watch for Jobs','PASS':'Skip'};\nconst fields = { 'Status':sm[ev.bucket]||'Research', 'Next Steps':nm[ev.bucket]||'Research', 'Tide-Pool Score':ev.total_score||1, 'Sector Match':ev.sector_match||'unknown', 'CS Hire Likelihood':ev.cs_hire_likelihood||'', 'Product Type':ev.product_type||'', 'Summary':ev.summary||'', 'Disqualify Reasons':'' };\nif(cd.funding_stage) fields['Stage'] = cd.funding_stage;\nif(cd.total_funding) fields['Total Funding'] = cd.total_funding;\nif(cd.employee_count) fields['Employee Count'] = cd.employee_count;\nif(cd.pe_backed) fields['PE Backed'] = cd.pe_backed;\nif(cd.founded_year) fields['Founded Year'] = cd.founded_year;\nreturn { json: { recordId:cd.recordId, fields:fields } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 500],
      "id": "a10",
      "name": "Parse"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/appFEzXvPWvRtXgRY/Funding%20Alerts/{{ $json.recordId }}",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: $json.fields, typecast: true }) }}",
        "options": {"timeout": 30000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 400],
      "id": "a11",
      "name": "Update",
      "credentials": {"httpHeaderAuth": {"id": "airtable-token", "name": "Airtable Token"}}
    }
  ],
  "connections": {
    "Every 1 Min": {"main": [[{"node": "Fetch 5", "type": "main", "index": 0}]]},
    "Fetch 5": {"main": [[{"node": "Has Record", "type": "main", "index": 0}]]},
    "Has Record": {"main": [[{"node": "Prep", "type": "main", "index": 0}], []]},
    "Prep": {"main": [[{"node": "Brave", "type": "main", "index": 0}]]},
    "Brave": {"main": [[{"node": "Enrich", "type": "main", "index": 0}]]},
    "Enrich": {"main": [[{"node": "Pre-Filter", "type": "main", "index": 0}]]},
    "Pre-Filter": {"main": [[{"node": "Check DQ", "type": "main", "index": 0}]]},
    "Check DQ": {"main": [[{"node": "Skip Parse", "type": "main", "index": 0}], [{"node": "Prompt", "type": "main", "index": 0}]]},
    "Skip Parse": {"main": [[{"node": "Update", "type": "main", "index": 0}]]},
    "Prompt": {"main": [[{"node": "Claude", "type": "main", "index": 0}]]},
    "Claude": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[{"node": "Update", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
