GTMfund Jobs Scraper v1.json
{
  "name": "GTMfund Jobs Scraper v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl87G6NWqn6VCzPj",
          "mode": "id"
        },
        "filterByFormula": "Key = 'BROWSERLESS_TOKEN'",
        "options": {}
      },
      "id": "get-config",
      "name": "Get Config",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [220, 100],
      "credentials": {
        "airtableTokenApi": {
          "id": "svcspqcZ9yGYzqGm",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://jobs.gtmfund.com/jobs?jobTypes=Customer+Success+Manager\",\n  \"gotoOptions\": {\n    \"waitUntil\": \"networkidle0\",\n    \"timeout\": 60000\n  },\n  \"waitForTimeout\": 5000\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 90000
        }
      },
      "id": "browserless-fetch",
      "name": "Browserless Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "jsCode": "// Extract job cards from rendered HTML\n// GTMfund filtered by ?jobTypes=Customer+Success+Manager\n\nconst html = $input.first().json.data || $input.first().json;\n\nif (typeof html !== 'string') {\n  console.log('Response is not HTML string:', typeof html);\n  return [{ json: { _noJobs: true, message: 'Invalid response type' } }];\n}\n\nconsole.log('HTML length:', html.length);\n\n// Extract job cards - look for links with /jobs/ pattern\nconst jobLinkPattern = /<a[^>]*href=\\\"(\\/jobs\\/[^\\\"]+)\\\"[^>]*>([\\s\\S]*?)<\\/a>/gi;\nconst jobs = [];\nlet match;\n\nwhile ((match = jobLinkPattern.exec(html)) !== null) {\n  const href = match[1];\n  const content = match[2];\n  \n  // Skip navigation links\n  if (href === '/jobs' || href === '/jobs/') continue;\n  \n  // Clean up the content - remove HTML tags\n  const text = content.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  const lines = text.split(/\\s{2,}/).filter(l => l.trim());\n  \n  if (lines.length >= 1 && lines[0].length > 3) {\n    jobs.push({\n      title: lines[0] || '',\n      company: lines[1] || '',\n      location: lines[2] || '',\n      url: 'https://jobs.gtmfund.com' + href\n    });\n  }\n}\n\nconsole.log('Extracted', jobs.length, 'job cards from HTML');\n\nif (jobs.length === 0) {\n  // Check if page has job content at all\n  const hasJobContent = html.includes('Customer Success') || html.includes('job-card');\n  return [{ json: { _noJobs: true, message: hasJobContent ? 'Jobs found but extraction failed' : 'No jobs in HTML', htmlSample: html.slice(0, 1000) } }];\n}\n\nreturn [{ json: { jobs, count: jobs.length } }];"
      },
      "id": "extract-data",
      "name": "Extract serverInitialData",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100]
    },
    {
      "parameters": {
        "jsCode": "// Parse GTMfund jobs from HTML extraction\n// URL filter applied: ?jobTypes=Customer+Success+Manager\n\nconst input = $input.first().json;\n\nif (input._noJobs) {\n  return [{ json: input }];\n}\n\nconst jobs = input.jobs || [];\n\nfunction normalizeText(text) {\n  return (text || '').toLowerCase().trim();\n}\n\nconsole.log(`Processing ${jobs.length} jobs from extraction`);\n\nconst parsedJobs = [];\nconst seen = new Set();\n\nfor (const job of jobs) {\n  const title = job.title || '';\n  const company = job.company || 'Unknown';\n  const url = job.url || '';\n  \n  // Skip if no title or duplicate URL\n  if (!title || seen.has(url)) continue;\n  seen.add(url);\n  \n  parsedJobs.push({\n    title: title,\n    company: company,\n    location: job.location || 'Remote',\n    salary: '',\n    url: url,\n    source: 'GTMfund',\n    description: '',\n    job_id: `gtmfund:${normalizeText(company)}:${normalizeText(title)}`.replace(/[^a-z0-9:]/g, '-')\n  });\n}\n\nconsole.log(`Found ${parsedJobs.length} unique jobs from GTMfund`);\n\nif (parsedJobs.length === 0) {\n  return [{ json: { _noJobs: true, message: 'No jobs found after dedup' } }];\n}\n\nreturn parsedJobs.map(job => ({ json: job }));"
      },
      "id": "parse-jobs",
      "name": "Parse & Filter CX Roles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-jobs-check",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-jobs",
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl6ZV2rHjWz56pP3",
          "mode": "id"
        },
        "filterByFormula": "OR(Source = 'GTMfund')",
        "options": {
          "fields": ["Job Title", "Company", "Job URL"]
        }
      },
      "id": "search-existing",
      "name": "Search Existing Jobs",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1320, 0],
      "credentials": {
        "airtableTokenApi": {
          "id": "svcspqcZ9yGYzqGm",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Dedup against existing Airtable records\n\nconst newJobs = $('Parse & Filter CX Roles').all();\nconst existingJobs = $('Search Existing Jobs').all();\n\n// Build lookup set from existing jobs\nconst existingKeys = new Set();\nfor (const existing of existingJobs) {\n  const company = (existing.json.Company || '').toLowerCase().trim();\n  const title = (existing.json['Job Title'] || '').toLowerCase().trim();\n  const url = (existing.json['Job URL'] || '').toLowerCase().trim();\n  \n  // Key by URL (most reliable)\n  if (url) existingKeys.add(url);\n  \n  // Also key by company+title combo\n  if (company && title) {\n    existingKeys.add(`${company}:${title}`);\n  }\n}\n\nconsole.log(`Existing GTMfund jobs in Airtable: ${existingKeys.size}`);\n\n// Filter out duplicates\nconst uniqueJobs = [];\nfor (const job of newJobs) {\n  if (job.json._noJobs) continue;\n  \n  const url = (job.json.url || '').toLowerCase().trim();\n  const company = (job.json.company || '').toLowerCase().trim();\n  const title = (job.json.title || '').toLowerCase().trim();\n  const companyTitleKey = `${company}:${title}`;\n  \n  if (existingKeys.has(url) || existingKeys.has(companyTitleKey)) {\n    console.log(`Skipping duplicate: ${job.json.company} - ${job.json.title}`);\n    continue;\n  }\n  \n  uniqueJobs.push(job);\n}\n\nconsole.log(`New GTMfund jobs to evaluate: ${uniqueJobs.length}`);\n\nif (uniqueJobs.length === 0) {\n  return [{ json: { _noJobs: true, message: 'All jobs already in Airtable' } }];\n}\n\nreturn uniqueJobs;"
      },
      "id": "dedup",
      "name": "Dedup Against Airtable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-new-jobs",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-new-jobs",
      "name": "Has New Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "jsCode": "// Map fields for Job Evaluation Pipeline v6.1\n\nconst jobs = $input.all();\nconst mappedJobs = [];\n\nfor (const job of jobs) {\n  if (job.json._noJobs) continue;\n  \n  mappedJobs.push({\n    json: {\n      'Job Title': job.json.title,\n      'Company': job.json.company,\n      'Location': job.json.location,\n      'Salary Info': job.json.salary,\n      'Job URL': job.json.url,\n      'Source': 'GTMfund',\n      'Job ID': job.json.job_id,\n      'Date Found': new Date().toISOString().split('T')[0],\n      '_description': job.json.description\n    }\n  });\n}\n\nconsole.log(`Mapped ${mappedJobs.length} GTMfund jobs for evaluation`);\n\nreturn mappedJobs;"
      },
      "id": "map-fields",
      "name": "Map Fields for Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -100]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v24qHkIsp8GVCwFkscHP8",
          "mode": "id"
        },
        "options": {}
      },
      "id": "evaluate",
      "name": "Execute Job Evaluation Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2200, -100]
    },
    {
      "parameters": {
        "content": "## GTMfund Jobs Scraper v1\n\nScrapes jobs.gtmfund.com using Browserless to extract serverInitialData from Consider platform.\n\n**Schedule:** Every 6 hours\n\n**Requires:** BROWSERLESS_TOKEN in Airtable Config\n\n**Filters:**\n- CX leadership roles (support/success + manager/director/lead)\n\n**Pipeline:** Job Evaluation Pipeline v6.1\n\n**Note:** GTMfund focuses on GTM roles - limited CX matches expected",
        "height": 320,
        "width": 360
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -100]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Browserless Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Browserless Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Fetch Page": {
      "main": [
        [
          {
            "node": "Extract serverInitialData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract serverInitialData": {
      "main": [
        [
          {
            "node": "Parse & Filter CX Roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Filter CX Roles": {
      "main": [
        [
          {
            "node": "Has Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Jobs?": {
      "main": [
        [
          {
            "node": "Search Existing Jobs",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Search Existing Jobs": {
      "main": [
        [
          {
            "node": "Dedup Against Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Against Airtable": {
      "main": [
        [
          {
            "node": "Has New Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Jobs?": {
      "main": [
        [
          {
            "node": "Map Fields for Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Map Fields for Pipeline": {
      "main": [
        [
          {
            "node": "Execute Job Evaluation Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
