Indeed Job Scraper v7.json
{
  "name": "Indeed Job Scraper v7",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1000, 200],
      "id": "a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id" },
        "table": { "__rl": true, "value": "tblofzQpzGEN8igVS", "mode": "id" },
        "filterByFormula": "{Key} = 'BROWSERLESS_TOKEN'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [-800, 100],
      "id": "a2",
      "name": "Get Browserless Token"
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id" },
        "table": { "__rl": true, "value": "tbl6ZV2rHjWz56pP3", "mode": "id" },
        "filterByFormula": "AND({Source} = 'Indeed', IS_AFTER({Date Found}, DATEADD(TODAY(), -14, 'days')))",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [-800, 300],
      "id": "a3",
      "name": "Get Existing Indeed Jobs"
    },
    {
      "parameters": {
        "jsCode": "// v7: Build query list - runs in <1s, no timeout risk\nconst tokenItem = $input.first();\nconst token = (tokenItem?.json?.fields?.Value || tokenItem?.json?.Value || '').trim();\n\nif (!token || token.length < 10) {\n  return [{ json: { _error: 'BROWSERLESS_TOKEN missing or invalid', _fatal: true } }];\n}\n\nconst queries = [\n  { id: 'q1', query: 'Head of Customer Support B2B SaaS', priority: 'high' },\n  { id: 'q2', query: 'Director Customer Support SaaS startup', priority: 'high' },\n  { id: 'q3', query: 'Director Customer Support healthcare SaaS', priority: 'high' },\n  { id: 'q4', query: 'Head of Customer Support developer tools', priority: 'high' },\n  { id: 'q9', query: '\"founding\" customer success SaaS', priority: 'high' },\n  { id: 'q10', query: '\"first hire\" customer support SaaS', priority: 'high' },\n  { id: 'q11', query: '\"build\" customer support team startup', priority: 'high' },\n  { id: 'q5', query: 'Head of Customer Experience B2B SaaS', priority: 'medium' },\n  { id: 'q6', query: 'VP Customer Support SaaS', priority: 'medium' },\n  { id: 'q7', query: 'Head of Support SaaS startup', priority: 'medium' },\n  { id: 'q12', query: '\"ground up\" customer success startup', priority: 'medium' },\n  { id: 'q13', query: '\"0 to 1\" customer success', priority: 'medium' },\n  { id: 'q14', query: '\"first customer success\" hire startup', priority: 'medium' },\n  { id: 'q8', query: 'founding support leader SaaS', priority: 'low' },\n  { id: 'q15', query: '\"build customer support from scratch\"', priority: 'low' }\n];\n\nconst dayOfYear = Math.floor((Date.now() - new Date(new Date().getFullYear(), 0, 1)) / 86400000);\nconst todaysQueries = queries.filter(q => {\n  if (q.priority === 'high') return true;\n  if (q.priority === 'medium') return dayOfYear % 2 === 0;\n  if (q.priority === 'low') return dayOfYear % 3 === 0;\n  return false;\n});\n\nreturn todaysQueries.map(q => ({\n  json: {\n    _isQuery: true,\n    browserlessToken: token,\n    searchUrl: `https://www.indeed.com/jobs?q=${encodeURIComponent(q.query)}&l=remote&fromage=7&remotejob=032b3046-06a3-4876-8dfd-474eb5e7ed11`,\n    queryId: q.id,\n    queryText: q.query,\n    isBuilderQuery: parseInt(q.id.slice(1)) >= 9\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 100],
      "id": "a4",
      "name": "Build Queries"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-400, 100],
      "id": "a5",
      "name": "Loop Queries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chrome.browserless.io/function?token={{ $json.browserlessToken }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ context: { searchUrl: $json.searchUrl, queryId: $json.queryId }, code: `export default async ({ page, context }) => { const { searchUrl, queryId } = context; const sleep = ms => new Promise(r => setTimeout(r, ms)); try { page.setDefaultTimeout(60000); await page.setUserAgent('Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'); await page.goto(searchUrl, { waitUntil: 'networkidle2', timeout: 45000 }); await sleep(3000); const hasCaptcha = await page.evaluate(() => { return document.body.innerText.includes('unusual traffic') || document.body.innerText.includes('captcha') || document.querySelector('iframe[src*=\"captcha\"]') !== null; }); if (hasCaptcha) return { type: 'application/json', data: { error: 'CAPTCHA', queryId } }; for (let i = 0; i < 3; i++) { await page.evaluate(() => window.scrollTo(0, document.body.scrollHeight)); await sleep(1500); } const jobs = await page.evaluate(() => { const results = []; document.querySelectorAll('[data-jk], .job_seen_beacon, .jobsearch-ResultsList > li').forEach(card => { try { const titleEl = card.querySelector('h2 a, .jobTitle a, a[data-jk]'); if (!titleEl) return; const title = titleEl.innerText.trim(); const href = titleEl.getAttribute('href') || ''; const jobKey = card.getAttribute('data-jk') || href.match(/jk=([a-f0-9]+)/)?.[1] || ''; const company = card.querySelector('[data-testid=\"company-name\"], .companyName, .company')?.innerText.trim() || 'Unknown'; const location = card.querySelector('[data-testid=\"text-location\"], .companyLocation, .location')?.innerText.trim() || ''; const salary = card.querySelector('.salary-snippet, .salaryText, [data-testid=\"attribute_snippet_testid\"]')?.innerText.trim() || ''; const url = href.startsWith('http') ? href : 'https://www.indeed.com' + href; if (title.length > 3) results.push({ title, company, location, salary, url, jobKey, jobId: 'indeed-' + (jobKey || Date.now() + '-' + Math.random().toString(36).substr(2,6)) }); } catch (e) {} }); return results; }); return { type: 'application/json', data: { jobs, queryId, jobCount: jobs.length } }; } catch (error) { return { type: 'application/json', data: { error: error.message, queryId } }; } };` }) }}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-200, 100],
      "id": "a6",
      "name": "Scrape Indeed"
    },
    {
      "parameters": {
        "jsCode": "// v7: Parse jobs - outputs job items that loop back to SplitInBatches\nconst item = $input.first().json;\nconst response = item.data || item;\nconst batchItem = $('Loop Queries').first()?.json || {};\nconst queryId = response.queryId || batchItem.queryId || 'unknown';\nconst queryText = batchItem.queryText || '';\nconst isBuilderQuery = batchItem.isBuilderQuery || false;\n\nif (response.error) {\n  console.log('Query failed:', queryId, response.error);\n  // Return empty marker so loop continues\n  return [{ json: { _empty: true, _error: response.error, _queryId: queryId } }];\n}\n\nconst jobs = response.jobs || [];\nconst supportKeywords = ['support', 'success', 'customer', 'client', 'cx', 'experience'];\nconst leadershipKeywords = ['head', 'director', 'vp', 'vice president', 'chief', 'lead', 'supervisor', 'founding', 'first'];\n\nconst filtered = jobs.filter(job => {\n  const title = (job.title || '').toLowerCase();\n  return supportKeywords.some(kw => title.includes(kw)) && leadershipKeywords.some(kw => title.includes(kw));\n});\n\nif (filtered.length === 0) {\n  return [{ json: { _empty: true, _rawCount: jobs.length, _queryId: queryId } }];\n}\n\n// Return parsed jobs - these will loop back through SplitInBatches and be available on output 0\nreturn filtered.map(job => ({\n  json: {\n    _isJob: true,\n    'Job Title': job.title,\n    'Company': job.company,\n    'Location': job.location,\n    'Source': 'Indeed',\n    'Job URL': job.url,\n    'Job ID': job.jobId,\n    'Salary Info': job.salary,\n    'Date Found': new Date().toISOString().split('T')[0],\n    'Review Status': 'New',\n    '_queryId': queryId,\n    '_queryText': queryText,\n    '_isBuilderQuery': isBuilderQuery\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 100],
      "id": "a7",
      "name": "Parse Jobs"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [200, 100],
      "id": "a8",
      "name": "Wait 10s"
    },
    {
      "parameters": {
        "jsCode": "// v7: Filter only actual jobs from accumulated items (exclude queries and empty markers)\nconst allItems = $input.all();\nconst jobs = allItems.filter(i => i.json._isJob === true && !i.json._isQuery);\n\nif (jobs.length === 0) {\n  return [{ json: { _empty: true, _message: 'No jobs found from any query' } }];\n}\n\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 300],
      "id": "a9",
      "name": "Filter Jobs Only"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [0, 400],
      "id": "a10",
      "name": "Merge for Dedup"
    },
    {
      "parameters": {
        "jsCode": "// Dedup new jobs against existing\nconst normalize = str => (str || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n\nconst allItems = $input.all();\nconst newJobs = allItems.filter(i => i.json['Source'] === 'Indeed' && !i.json.fields && !i.json._empty && !i.json._error);\nconst existing = allItems.filter(i => i.json.fields);\n\nconst existingKeys = new Set();\nfor (const item of existing) {\n  const f = item.json.fields;\n  const key = normalize(f['Job Title']) + '|' + normalize(f['Company']);\n  if (key.length > 1) existingKeys.add(key);\n  if (f['Job ID']) existingKeys.add(f['Job ID']);\n}\n\nconst results = [];\nconst seen = new Set();\n\nfor (const job of newJobs) {\n  const key = normalize(job.json['Job Title']) + '|' + normalize(job.json['Company']);\n  const jobId = job.json['Job ID'];\n  \n  if (existingKeys.has(key) || existingKeys.has(jobId) || seen.has(key)) continue;\n  seen.add(key);\n  results.push(job);\n}\n\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 400],
      "id": "a11",
      "name": "Dedup"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._empty !== true && !$json._error }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 400],
      "id": "a12",
      "name": "Has Jobs?"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "v24qHkIsp8GVCwFkscHP8", "mode": "id" },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [600, 300],
      "id": "a13",
      "name": "Job Evaluation Pipeline"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "id": "a14",
      "name": "No Jobs",
      "position": [600, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[
        { "node": "Get Browserless Token", "type": "main", "index": 0 },
        { "node": "Get Existing Indeed Jobs", "type": "main", "index": 0 }
      ]]
    },
    "Get Browserless Token": {
      "main": [[{ "node": "Build Queries", "type": "main", "index": 0 }]]
    },
    "Build Queries": {
      "main": [[{ "node": "Loop Queries", "type": "main", "index": 0 }]]
    },
    "Loop Queries": {
      "main": [
        [{ "node": "Filter Jobs Only", "type": "main", "index": 0 }],
        [{ "node": "Scrape Indeed", "type": "main", "index": 0 }]
      ]
    },
    "Scrape Indeed": {
      "main": [[{ "node": "Parse Jobs", "type": "main", "index": 0 }]]
    },
    "Parse Jobs": {
      "main": [[{ "node": "Wait 10s", "type": "main", "index": 0 }]]
    },
    "Wait 10s": {
      "main": [[{ "node": "Loop Queries", "type": "main", "index": 0 }]]
    },
    "Filter Jobs Only": {
      "main": [[{ "node": "Merge for Dedup", "type": "main", "index": 0 }]]
    },
    "Get Existing Indeed Jobs": {
      "main": [[{ "node": "Merge for Dedup", "type": "main", "index": 1 }]]
    },
    "Merge for Dedup": {
      "main": [[{ "node": "Dedup", "type": "main", "index": 0 }]]
    },
    "Dedup": {
      "main": [[{ "node": "Has Jobs?", "type": "main", "index": 0 }]]
    },
    "Has Jobs?": {
      "main": [
        [{ "node": "Job Evaluation Pipeline", "type": "main", "index": 0 }],
        [{ "node": "No Jobs", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
