Indeed Job Scraper v6.1.json
{
  "name": "Indeed Job Scraper v6.1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-800, 200],
      "id": "a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblofzQpzGEN8igVS",
          "mode": "id"
        },
        "filterByFormula": "{Key} = 'BROWSERLESS_TOKEN'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [-600, 100],
      "id": "a2",
      "name": "Get Browserless Token"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl6ZV2rHjWz56pP3",
          "mode": "id"
        },
        "filterByFormula": "AND({Source} = 'Indeed', IS_AFTER({Date Found}, DATEADD(TODAY(), -14, 'days')))",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [-600, 300],
      "id": "a3",
      "name": "Get Existing Indeed Jobs"
    },
    {
      "parameters": {
        "jsCode": "// v6.1: Opus review fixes - HTTP status check, token validation, job cap, queryResults visibility\n\nconst MAX_JOBS = 500;  // Safety cap to prevent memory issues\n\nconst tokenItem = $input.first();\nconst token = (tokenItem?.json?.fields?.Value || tokenItem?.json?.Value || '').trim();\n\n// CRITICAL FIX #2: Proper token validation\nif (!token || token.length < 10) {\n  return [{ json: { \n    _error: tokenItem ? 'BROWSERLESS_TOKEN is empty or invalid' : 'Token record not found in Airtable', \n    _fatal: true \n  } }];\n}\n\n// Query definitions with priority tiers\nconst queries = [\n  // HIGH PRIORITY (daily) - Title-based\n  { id: 'q1', query: 'Head of Customer Support B2B SaaS', priority: 'high' },\n  { id: 'q2', query: 'Director Customer Support SaaS startup', priority: 'high' },\n  { id: 'q3', query: 'Director Customer Support healthcare SaaS', priority: 'high' },\n  { id: 'q4', query: 'Head of Customer Support developer tools', priority: 'high' },\n  // HIGH PRIORITY (daily) - Builder language\n  { id: 'q9', query: '\"founding\" customer success SaaS', priority: 'high' },\n  { id: 'q10', query: '\"first hire\" customer support SaaS', priority: 'high' },\n  { id: 'q11', query: '\"build\" customer support team startup', priority: 'high' },\n  // MEDIUM PRIORITY (every 2 days)\n  { id: 'q5', query: 'Head of Customer Experience B2B SaaS', priority: 'medium' },\n  { id: 'q6', query: 'VP Customer Support SaaS', priority: 'medium' },\n  { id: 'q7', query: 'Head of Support SaaS startup', priority: 'medium' },\n  { id: 'q12', query: '\"ground up\" customer success startup', priority: 'medium' },\n  { id: 'q13', query: '\"0 to 1\" customer success', priority: 'medium' },\n  { id: 'q14', query: '\"first customer success\" hire startup', priority: 'medium' },\n  // LOW PRIORITY (every 3 days)\n  { id: 'q8', query: 'founding support leader SaaS', priority: 'low' },\n  { id: 'q15', query: '\"build customer support from scratch\"', priority: 'low' }\n];\n\n// FIX #6: Correct day-of-year calculation (use Jan 1, not Dec 31)\nconst dayOfYear = Math.floor((Date.now() - new Date(new Date().getFullYear(), 0, 1)) / 86400000);\nconst todaysQueries = queries.filter(q => {\n  if (q.priority === 'high') return true;\n  if (q.priority === 'medium') return dayOfYear % 2 === 0;\n  if (q.priority === 'low') return dayOfYear % 3 === 0;\n  return false;\n});\n\nconst sleep = ms => new Promise(r => setTimeout(r, ms));\nconst supportKeywords = ['support', 'success', 'customer', 'client', 'cx', 'experience'];\n// FIX #9: Tighten leadership keywords - remove broad \"manager\" (catches Account Manager, Project Manager)\nconst leadershipKeywords = ['head', 'director', 'vp', 'vice president', 'chief', 'lead', 'supervisor', 'founding', 'first'];\n\nconst browserlessCode = String.raw`export default async ({ page, context }) => {\n  const { searchUrl, queryId } = context;\n  const sleep = ms => new Promise(r => setTimeout(r, ms));\n  try {\n    page.setDefaultTimeout(60000);\n    await page.setUserAgent('Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36');\n    await page.goto(searchUrl, { waitUntil: 'networkidle2', timeout: 45000 });\n    await sleep(3000);\n    const hasCaptcha = await page.evaluate(() => {\n      return document.body.innerText.includes('unusual traffic') || document.body.innerText.includes('captcha') || document.querySelector('iframe[src*=\"captcha\"]') !== null;\n    });\n    if (hasCaptcha) return { type: 'application/json', data: { error: 'CAPTCHA', queryId } };\n    for (let i = 0; i < 3; i++) {\n      await page.evaluate(() => window.scrollTo(0, document.body.scrollHeight));\n      await sleep(1500);\n    }\n    const jobs = await page.evaluate(() => {\n      const results = [];\n      document.querySelectorAll('[data-jk], .job_seen_beacon, .jobsearch-ResultsList > li').forEach(card => {\n        try {\n          const titleEl = card.querySelector('h2 a, .jobTitle a, a[data-jk]');\n          if (!titleEl) return;\n          const title = titleEl.innerText.trim();\n          const href = titleEl.getAttribute('href') || '';\n          const jobKey = card.getAttribute('data-jk') || href.match(/jk=([a-f0-9]+)/)?.[1] || '';\n          const company = card.querySelector('[data-testid=\"company-name\"], .companyName, .company')?.innerText.trim() || 'Unknown';\n          const location = card.querySelector('[data-testid=\"text-location\"], .companyLocation, .location')?.innerText.trim() || '';\n          const salary = card.querySelector('.salary-snippet, .salaryText, [data-testid=\"attribute_snippet_testid\"]')?.innerText.trim() || '';\n          const url = href.startsWith('http') ? href : 'https://www.indeed.com' + href;\n          if (title.length > 3) results.push({ title, company, location, salary, url, jobKey, jobId: 'indeed-' + (jobKey || Date.now() + '-' + Math.random().toString(36).substr(2,6)) });\n        } catch (e) {}\n      });\n      return results;\n    });\n    return { type: 'application/json', data: { jobs, queryId, jobCount: jobs.length } };\n  } catch (error) {\n    return { type: 'application/json', data: { error: error.message, queryId } };\n  }\n};`;\n\nconst allJobs = [];\nconst queryResults = [];\nlet hitJobCap = false;\n\nfor (let i = 0; i < todaysQueries.length; i++) {\n  // FIX #4: Check job cap before processing more queries\n  if (allJobs.length >= MAX_JOBS) {\n    console.error(`Hit job cap (${MAX_JOBS}), stopping query processing`);\n    hitJobCap = true;\n    break;\n  }\n\n  const q = todaysQueries[i];\n  const searchUrl = `https://www.indeed.com/jobs?q=${encodeURIComponent(q.query)}&l=remote&fromage=7&remotejob=032b3046-06a3-4876-8dfd-474eb5e7ed11`;\n  \n  console.log(`[${i+1}/${todaysQueries.length}] Scraping: ${q.query}`);\n  \n  try {\n    const response = await fetch(`https://chrome.browserless.io/function?token=${token}`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ context: { searchUrl, queryId: q.id }, code: browserlessCode })\n    });\n    \n    // CRITICAL FIX #1: Check HTTP response status before parsing\n    if (!response.ok) {\n      const errorText = await response.text();\n      queryResults.push({ queryId: q.id, query: q.query, error: `HTTP ${response.status}: ${errorText.slice(0, 200)}`, jobCount: 0 });\n      console.error(`  HTTP error ${response.status}: ${errorText.slice(0, 100)}`);\n      continue;  // Skip to next query\n    }\n    \n    const result = await response.json();\n    const data = result.data || result;\n    \n    if (data.error) {\n      queryResults.push({ queryId: q.id, query: q.query, error: data.error, jobCount: 0 });\n      console.error(`  Error: ${data.error}`);\n    } else {\n      const jobs = data.jobs || [];\n      const filtered = jobs.filter(job => {\n        const title = (job.title || '').toLowerCase();\n        return supportKeywords.some(kw => title.includes(kw)) && leadershipKeywords.some(kw => title.includes(kw));\n      });\n      \n      queryResults.push({ queryId: q.id, query: q.query, rawCount: jobs.length, filteredCount: filtered.length });\n      console.log(`  Found ${jobs.length} raw, ${filtered.length} filtered`);\n      \n      for (const job of filtered) {\n        if (allJobs.length >= MAX_JOBS) break;  // FIX #4: Respect cap within query too\n        allJobs.push({\n          'Job Title': job.title,\n          'Company': job.company,\n          'Location': job.location,\n          'Source': 'Indeed',\n          'Job URL': job.url,\n          'Job ID': job.jobId,\n          'Salary Info': job.salary,\n          'Date Found': new Date().toISOString().split('T')[0],\n          'Review Status': 'New',\n          '_queryId': q.id,\n          '_queryText': q.query,\n          '_isBuilderQuery': parseInt(q.id.slice(1)) >= 9\n        });\n      }\n    }\n  } catch (err) {\n    queryResults.push({ queryId: q.id, query: q.query, error: err.message, jobCount: 0 });\n    console.error(`  Fetch error: ${err.message}`);\n  }\n  \n  // Wait 10s between queries (except after last one)\n  if (i < todaysQueries.length - 1 && !hitJobCap) {\n    console.log('  Waiting 10s...');\n    await sleep(10000);\n  }\n}\n\n// FIX #10: Build summary stats for visibility into partial failures\nconst failedQueries = queryResults.filter(r => r.error).length;\nconst meta = {\n  queriesRun: queryResults.length,\n  queriesPlanned: todaysQueries.length,\n  queriesFailed: failedQueries,\n  totalJobsFound: allJobs.length,\n  hitJobCap: hitJobCap,\n  queryResults: queryResults\n};\n\nconsole.log(`\\nSummary: ${allJobs.length} jobs from ${queryResults.length} queries (${failedQueries} failed)`);\nif (failedQueries > 0) {\n  console.error(`WARNING: ${failedQueries}/${queryResults.length} queries failed!`);\n}\n\nif (allJobs.length === 0) {\n  return [{ json: { _empty: true, _message: 'No jobs found', ...meta } }];\n}\n\n// FIX #10: Attach meta to first job so failures are visible even when jobs found\nconst output = allJobs.map(job => ({ json: job }));\noutput[0].json._meta = meta;\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 100],
      "id": "a4",
      "name": "Execute All Queries"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-200, 200],
      "id": "a5",
      "name": "Merge for Dedup"
    },
    {
      "parameters": {
        "jsCode": "// Dedup new jobs against existing\nconst normalize = str => (str || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n\nconst allItems = $input.all();\nconst newJobs = allItems.filter(i => i.json['Source'] === 'Indeed' && !i.json.fields && !i.json._empty && !i.json._error);\nconst existing = allItems.filter(i => i.json.fields);\n\nconst existingKeys = new Set();\nfor (const item of existing) {\n  const f = item.json.fields;\n  const key = normalize(f['Job Title']) + '|' + normalize(f['Company']);\n  if (key.length > 1) existingKeys.add(key);\n  if (f['Job ID']) existingKeys.add(f['Job ID']);\n}\n\nconst results = [];\nconst seen = new Set();\n\nfor (const job of newJobs) {\n  const key = normalize(job.json['Job Title']) + '|' + normalize(job.json['Company']);\n  const jobId = job.json['Job ID'];\n  \n  if (existingKeys.has(key) || existingKeys.has(jobId) || seen.has(key)) continue;\n  seen.add(key);\n  results.push(job);\n}\n\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 200],
      "id": "a6",
      "name": "Dedup"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._empty !== true && !$json._error }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 200],
      "id": "a7",
      "name": "Has Jobs?"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "v24qHkIsp8GVCwFkscHP8",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [400, 100],
      "id": "a8",
      "name": "Job Evaluation Pipeline"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "id": "a9",
      "name": "No Jobs",
      "position": [400, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Browserless Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Indeed Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Browserless Token": {
      "main": [
        [
          {
            "node": "Execute All Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute All Queries": {
      "main": [
        [
          {
            "node": "Merge for Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Indeed Jobs": {
      "main": [
        [
          {
            "node": "Merge for Dedup",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge for Dedup": {
      "main": [
        [
          {
            "node": "Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup": {
      "main": [
        [
          {
            "node": "Has Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Jobs?": {
      "main": [
        [
          {
            "node": "Job Evaluation Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
