Lightspeed Jobs Scraper v1.json
{
  "name": "Lightspeed Jobs Scraper v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 2,5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (Tue/Fri 7am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/function",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"code\": \"export default async function({ page }) { await page.goto('https://jobs.lsvp.com/jobs?locations=United+States&stages=Seed&stages=Series+A&stages=Growth+(Series+B+or+later)&staffCountRanges=1-10&staffCountRanges=10-100&staffCountRanges=100-1000', { waitUntil: 'networkidle0', timeout: 60000 }); let prevHeight = 0; for (let i = 0; i < 20; i++) { await page.evaluate(() => window.scrollTo(0, document.body.scrollHeight)); await new Promise(r => setTimeout(r, 2500)); const newHeight = await page.evaluate(() => document.body.scrollHeight); if (newHeight === prevHeight) break; prevHeight = newHeight; } return { data: await page.content(), type: 'text/html' }; }\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "fetch-jobs",
      "name": "Browserless Lightspeed Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse Lightspeed jobs from HTML\nconst items = $input.all();\nconst html = String(items[0]?.json?.data || items[0]?.json || '');\nconst results = [];\nconst seen = new Set();\n\n// CX-relevant keywords\nconst cxKeywords = ['customer', 'support', 'success', 'experience', 'cx', 'service', 'solutions', 'implementation', 'onboarding', 'account manager', 'technical account', 'client'];\n\n// Split by job card boundaries - look for job listing items\nconst cards = html.split(/class=\"[^\"]*job-boards-job[^\"]*\"/);\n\nfor (const card of cards) {\n  // Extract job title\n  const titleMatch = card.match(/class=\"[^\"]*job-boards-job-title[^\"]*\"[^>]*>([^<]+)</);\n  if (!titleMatch) continue;\n  const title = titleMatch[1].trim();\n  \n  // Filter for CX-relevant roles\n  const titleLower = title.toLowerCase();\n  const isCxRelevant = cxKeywords.some(kw => titleLower.includes(kw));\n  if (!isCxRelevant) continue;\n  \n  // Extract company name\n  const companyMatch = card.match(/class=\"[^\"]*job-boards-job-company[^\"]*\"[^>]*>([^<]+)</);\n  const company = companyMatch ? companyMatch[1].trim() : '';\n  \n  // Extract job URL\n  const urlMatch = card.match(/href=\"([^\"]*lever\\.co[^\"]*|[^\"]*greenhouse\\.io[^\"]*|[^\"]*ashbyhq\\.com[^\"]*|[^\"]*jobs\\.lsvp\\.com\\/jobs\\/[^\"]+\\/[^\"]+)\"/i);\n  const jobUrl = urlMatch ? urlMatch[1] : '';\n  \n  // Extract location\n  const locationMatch = card.match(/class=\"[^\"]*job-boards-job-location[^\"]*\"[^>]*>([^<]+)</);\n  const location = locationMatch ? locationMatch[1].trim() : 'Remote';\n  \n  // Dedup by company+title\n  const key = (company + ':' + title).toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  \n  results.push({\n    json: {\n      'Job Title': title,\n      'Job URL': jobUrl,\n      'Company': company,\n      'Location': location,\n      'Source': 'Lightspeed',\n      'Source Detail': 'lightspeed-jobs-board'\n    }\n  });\n}\n\nif (results.length === 0) {\n  const hasJobItems = html.includes('job-boards-job');\n  return [{ json: { _empty: true, _message: 'No CX jobs found', htmlLength: html.length, hasJobItems: hasJobItems } }];\n}\n\nreturn results;"
      },
      "id": "parse-jobs",
      "name": "Parse & Filter CX Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-empties",
      "name": "Filter Empty Results",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [920, 380]
    },
    {
      "parameters": {
        "workflowId": "v24qHkIsp8GVCwFkscHP8",
        "options": {}
      },
      "id": "call-pipeline",
      "name": "Job Evaluation Pipeline v6.8",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1140, 380]
    }
  ],
  "connections": {
    "Schedule (Tue/Fri 7am)": {
      "main": [
        [
          {
            "node": "Browserless Lightspeed Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Browserless Lightspeed Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Lightspeed Jobs": {
      "main": [
        [
          {
            "node": "Parse & Filter CX Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Filter CX Jobs": {
      "main": [
        [
          {
            "node": "Filter Empty Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty Results": {
      "main": [
        [
          {
            "node": "Job Evaluation Pipeline v6.8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
