v9.8-Test-Webhook.json
{
  "name": "v9.8 Test Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v98-test",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "id": "webhook",
      "name": "Test Webhook",
      "webhookId": "v98-test"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pass through with defaults for testing\nconst input = $json;\nreturn {\n  json: {\n    company_name: input.company_name || 'Test Company',\n    company_url: input.company_url || '',\n    company_description: input.company_description || '',\n    source: input.source || 'v9.8-test',\n    stage: input.stage || '',\n    yc_batch: input.yc_batch || '',\n    founded_year: input.founded_year || null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400],
      "id": "prep",
      "name": "Prep Input"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.ENRICH_EVALUATE_PIPELINE_ID || 'UPDATE_AFTER_IMPORT' }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [600, 400],
      "id": "call-pipeline",
      "name": "Call v9.8 Pipeline"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [800, 400],
      "id": "done",
      "name": "Done"
    }
  ],
  "connections": {
    "Test Webhook": {
      "main": [[{"node": "Prep Input", "type": "main", "index": 0}]]
    },
    "Prep Input": {
      "main": [[{"node": "Call v9.8 Pipeline", "type": "main", "index": 0}]]
    },
    "Call v9.8 Pipeline": {
      "main": [[{"node": "Done", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "test"
  }
}
