VC Scraper - Lightspeed v1.json
{
  "name": "VC Scraper - Lightspeed v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2,5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (Tue/Fri 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/function",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"code\": \"module.exports = async ({ page }) => { await page.goto('https://jobs.lsvp.com/companies?stages=Seed+funded&stages=Series+A&stages=Growth&staffCountRanges=1-10&staffCountRanges=10-100&locations=United+States', { waitUntil: 'networkidle0', timeout: 60000 }); let prevHeight = 0; for (let i = 0; i < 20; i++) { await page.evaluate(() => window.scrollTo(0, document.body.scrollHeight)); await new Promise(r => setTimeout(r, 1500)); const newHeight = await page.evaluate(() => document.body.scrollHeight); if (newHeight === prevHeight) break; prevHeight = newHeight; } return { data: await page.content(), type: 'text/html' }; }\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "fetch-companies",
      "name": "Browserless Lightspeed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse Lightspeed portfolio companies from Consider page HTML\nconst items = $input.all();\nconst html = String(items[0]?.json?.data || items[0]?.json || '');\nconst results = [];\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\nconst vcName = 'Lightspeed';\n\n// Extract company link and name: href=\"/jobs/slug\" ... class=\"job-boards-company-name\">Name<\nconst pattern = /href=\"\\/jobs\\/([^\"]+)\"[\\s\\S]*?class=\"[^\"]*job-boards-company-name[^\"]*\"[^>]*>([^<]+)</gi;\nlet match;\nwhile ((match = pattern.exec(html)) !== null) {\n  const slug = match[1].trim();\n  const name = match[2].trim();\n  if (!name || name.length < 2) continue;\n  \n  const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  \n  const url = 'https://jobs.lsvp.com/jobs/' + slug;\n  \n  results.push({\n    json: {\n      'Company Name': name,\n      'VC Firm': vcName,\n      'Company Description': name + ' - Lightspeed portfolio company',\n      'Company URL': url,\n      'Stage': '',\n      'Employee Count': '',\n      'Status': 'New',\n      'First Seen Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\n\nif (results.length === 0) {\n  const hasCompanyItems = html.includes('job-boards-company-item');\n  const hasCompanyNames = html.includes('job-boards-company-name');\n  return [{ json: { _empty: true, _message: 'No companies found', vcName: vcName, htmlLength: html.length, hasCompanyItems: hasCompanyItems, hasCompanyNames: hasCompanyNames } }];\n}\n\nreturn results;"
      },
      "id": "parse-companies",
      "name": "Parse Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-empties",
      "name": "Filter Empty Results",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [920, 380]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "batch-companies",
      "name": "Split In Batches (10)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1140, 380]
    },
    {
      "parameters": {
        "workflowId": "UPDATE_AFTER_IMPORT",
        "options": {}
      },
      "id": "call-pipeline",
      "name": "Enrich & Evaluate Pipeline v9.13",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1360, 380]
    }  ],
  "connections": {
    "Schedule (Tue/Fri 8am)": {
      "main": [
        [
          {
            "node": "Browserless Lightspeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Browserless Lightspeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Lightspeed": {
      "main": [
        [
          {
            "node": "Parse Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Companies": {
      "main": [
        [
          {
            "node": "Filter Empty Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty Results": {
      "main": [
        [
          {
            "node": "Split In Batches (10)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (10)": {
      "main": [
        [],
        [
          {
            "node": "Enrich & Evaluate Pipeline v9.13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich & Evaluate Pipeline v9.13": {
      "main": [
        [
          {
            "node": "Split In Batches (10)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
