VC Scraper - Growth Stage v1.6.json
{
  "name": "VC Scraper - Growth Stage v1.6",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 3,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [400, 500],
      "id": "schedule-trigger",
      "name": "Schedule (Wed/Sat 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://www.emcap.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 45000 },\n  \"waitForTimeout\": 5000\n}",
        "options": {"timeout": 120000},
        "onError": "continueRegularOutput"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200],
      "id": "fetch-emergence",
      "name": "Browserless Emergence",
      "credentials": {
        "httpQueryAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Emergence Capital (emcap.com) - Enterprise SaaS pure-play\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Emergence Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  try {\n    let html = item.json.data || item.json.body || (typeof item.json === 'string' ? item.json : '');\n    if (!html || html.length < 100) {\n      console.log('Emergence: No HTML content received');\n      continue;\n    }\n    \n    // emcap.com uses /portfolio/company-slug links\n    // Pattern: <a href=\"/portfolio/company-name\">...<img alt=\"Company Name\">...</a>\n    const portfolioPattern = /<a[^>]*href=[\"']\\/portfolio\\/([^\"']+)[\"'][^>]*>[\\s\\S]*?<\\/a>/gi;\n    let match;\n    \n    while ((match = portfolioPattern.exec(html)) !== null) {\n      const slug = match[1];\n      const content = match[0];\n      \n      // Extract company name from alt text or convert slug\n      let name = '';\n      const altMatch = content.match(/alt=[\"']([^\"']+)[\"']/i);\n      if (altMatch) {\n        name = altMatch[1].trim();\n      } else {\n        // Convert slug to name: 'my-company' -> 'My Company'\n        name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n      }\n      \n      name = name.replace(/&amp;/g, '&');\n      if (name.length < 2 || name.length > 50) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({\n        json: {\n          'Company Name': name,\n          'VC Firm': vcName,\n          'Company Description': name + ' - Emergence Capital portfolio (Enterprise SaaS)',\n          'Company URL': 'https://www.emcap.com/portfolio/' + slug,\n          'Status': 'New',\n          'First Seen Date': today,\n          'Source': 'VC Portfolio'\n        }\n      });\n    }\n  } catch (e) {\n    console.error('Emergence parse error:', e.message);\n  }\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "id": "parse-emergence",
      "name": "Parse Emergence"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://www.insightpartners.com/sfcompany-sitemap.xml\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000},
        "onError": "continueRegularOutput"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400],
      "id": "fetch-insight",
      "name": "Browserless Insight Partners",
      "credentials": {
        "httpQueryAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Insight Partners sitemap - 900+ B2B SaaS portfolio companies\n// Source: sfcompany-sitemap.xml with URLs like /portfolio/company-slug/\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Insight Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  try {\n    let xml = item.json.data || item.json.body || (typeof item.json === 'string' ? item.json : '');\n    if (!xml || xml.length < 100) {\n      console.log('Insight Partners: No sitemap content received');\n      continue;\n    }\n    \n    // Extract URLs from sitemap: <loc>https://www.insightpartners.com/portfolio/company-slug/</loc>\n    const urlPattern = /<loc>https:\\/\\/www\\.insightpartners\\.com\\/portfolio\\/([^<\\/]+)\\/<\\/loc>/gi;\n    let match;\n    \n    while ((match = urlPattern.exec(xml)) !== null) {\n      const slug = match[1];\n      \n      // Skip non-company pages\n      if (slug === 'all' || slug === 'search' || slug.includes('page')) continue;\n      \n      // Convert slug to name: 'company-name' -> 'Company Name'\n      // Handle special patterns: 'fka-oldname' means 'formerly known as'\n      let name = slug\n        .replace(/-fka-.*$/, '') // Remove 'formerly known as' suffix\n        .replace(/-the-.*-group$/, '') // Remove group suffix\n        .split('-')\n        .map(w => w.charAt(0).toUpperCase() + w.slice(1))\n        .join(' ');\n      \n      if (name.length < 2 || name.length > 60) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({\n        json: {\n          'Company Name': name,\n          'VC Firm': vcName,\n          'Company Description': name + ' - Insight Partners portfolio (B2B SaaS)',\n          'Company URL': 'https://www.insightpartners.com/portfolio/' + slug + '/',\n          'Status': 'New',\n          'First Seen Date': today,\n          'Source': 'VC Portfolio'\n        }\n      });\n    }\n  } catch (e) {\n    console.error('Insight Partners parse error:', e.message);\n  }\n}\n\nconsole.log('Insight Partners: Found ' + results.length + ' companies from sitemap');\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400],
      "id": "parse-insight",
      "name": "Parse Insight Partners"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://www.generalcatalyst.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 45000 },\n  \"waitForTimeout\": 8000\n}",
        "options": {"timeout": 120000},
        "onError": "continueRegularOutput"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 600],
      "id": "fetch-gc",
      "name": "Browserless General Catalyst",
      "credentials": {
        "httpQueryAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse General Catalyst - B2B + Healthcare portfolio\nconst items = $input.all();\nconst results = [];\nconst vcName = 'General Catalyst';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  try {\n    let html = item.json.data || item.json.body || (typeof item.json === 'string' ? item.json : '');\n    if (!html || html.length < 100) {\n      console.log('General Catalyst: No HTML content received');\n      continue;\n    }\n    \n    // Look for company links in carousel or table\n    const companyPattern = /<a[^>]*href=[\"']\\/companies\\/([^\"']+)[\"'][^>]*>[\\s\\S]*?<h[1-4][^>]*>([^<]+)<\\/h[1-4]>/gi;\n    let match;\n    \n    while ((match = companyPattern.exec(html)) !== null) {\n      const slug = match[1];\n      const name = match[2].trim().replace(/&amp;/g, '&');\n      \n      if (name.length < 2 || name.length > 60) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({\n        json: {\n          'Company Name': name,\n          'VC Firm': vcName,\n          'Company Description': name + ' - General Catalyst portfolio',\n          'Company URL': 'https://www.generalcatalyst.com/companies/' + slug,\n          'Status': 'New',\n          'First Seen Date': today,\n          'Source': 'VC Portfolio'\n        }\n      });\n    }\n    \n    // Fallback: look for any company-like headings\n    if (results.length === 0) {\n      const h3Pattern = /<h3[^>]*>([^<]{2,50})<\\/h3>/gi;\n      while ((match = h3Pattern.exec(html)) !== null) {\n        const name = match[1].trim();\n        if (name.length < 2) continue;\n        if (/portfolio|company|sector|filter|view|about/i.test(name)) continue;\n        const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n        if (seen.has(key)) continue;\n        seen.add(key);\n        \n        results.push({\n          json: {\n            'Company Name': name,\n            'VC Firm': vcName,\n            'Company Description': name + ' - General Catalyst portfolio',\n            'Company URL': '',\n            'Status': 'New',\n            'First Seen Date': today,\n            'Source': 'VC Portfolio'\n          }\n        });\n      }\n    }\n  } catch (e) {\n    console.error('General Catalyst parse error:', e.message);\n  }\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600],
      "id": "parse-gc",
      "name": "Parse General Catalyst"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://signalfire.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 45000 },\n  \"waitForSelector\": { \"selector\": \".portfolio---item\", \"timeout\": 15000 }\n}",
        "options": {"timeout": 120000},
        "onError": "continueRegularOutput"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 800],
      "id": "fetch-signalfire",
      "name": "Browserless SignalFire",
      "credentials": {
        "httpQueryAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse SignalFire - Data-driven VC, includes growth signals\n// v1.4: Updated for new site structure - no more id=company-url\n// Structure: portfolio---item cards with h3 names and external URLs\nconst items = $input.all();\nconst results = [];\nconst vcName = 'SignalFire';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  try {\n    let html = item.json.data || item.json.body || (typeof item.json === 'string' ? item.json : '');\n    if (!html || html.length < 100) {\n      console.log('SignalFire: No HTML content received');\n      continue;\n    }\n    \n    // Primary: Match portfolio---item containing h3 name and external URL\n    // Pattern: portfolio---item > h3[name] > a[href=https://external.com] (not signalfire.com)\n    const cardPattern = /class=[\"'][^\"']*portfolio---item[^\"']*[\"'][^>]*>[\\s\\S]*?<h3[^>]*>([^<]+)<\\/h3>[\\s\\S]*?<a[^>]*href=[\"'](https?:\\/\\/(?!signalfire\\.com)[^\"']+)[\"']/gi;\n    let match;\n    \n    while ((match = cardPattern.exec(html)) !== null) {\n      const name = match[1].trim().replace(/&amp;/g, '&');\n      let url = match[2];\n      \n      if (name.length < 2 || name.length > 60) continue;\n      // Skip internal portfolio links\n      if (url.includes('/portfolio/')) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({\n        json: {\n          'Company Name': name,\n          'VC Firm': vcName,\n          'Company Description': name + ' - SignalFire portfolio (data-driven VC)',\n          'Company URL': url,\n          'Status': 'New',\n          'First Seen Date': today,\n          'Source': 'VC Portfolio'\n        }\n      });\n    }\n    \n    // Fallback: Try looser pattern - h3 names with nearby external URLs\n    if (results.length === 0) {\n      const namePattern = /<h3[^>]*>([^<]{2,50})<\\/h3>/gi;\n      const urlPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!signalfire\\.com)[^\"'\\/portfolio][^\"']+)[\"']/gi;\n      const names = [];\n      const urls = [];\n      \n      while ((match = namePattern.exec(html)) !== null) {\n        const name = match[1].trim();\n        if (name.length >= 2 && !/portfolio|sector|filter|all companies/i.test(name)) {\n          names.push(name);\n        }\n      }\n      while ((match = urlPattern.exec(html)) !== null) {\n        if (!match[1].includes('/portfolio/')) urls.push(match[1]);\n      }\n      \n      // Match names with URLs by position (both lists should align)\n      const count = Math.min(names.length, urls.length);\n      for (let i = 0; i < count; i++) {\n        const name = names[i].replace(/&amp;/g, '&');\n        const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n        if (seen.has(key)) continue;\n        seen.add(key);\n        \n        results.push({\n          json: {\n            'Company Name': name,\n            'VC Firm': vcName,\n            'Company Description': name + ' - SignalFire portfolio',\n            'Company URL': urls[i],\n            'Status': 'New',\n            'First Seen Date': today,\n            'Source': 'VC Portfolio'\n          }\n        });\n      }\n    }\n    \n    // Last fallback: just h3 names (no URL)\n    if (results.length === 0) {\n      const h3Pattern = /class=[\"'][^\"']*portfolio---item[^\"']*[\"'][^>]*>[\\s\\S]*?<h3[^>]*>([^<]{2,50})<\\/h3>/gi;\n      while ((match = h3Pattern.exec(html)) !== null) {\n        const name = match[1].trim();\n        if (name.length < 2) continue;\n        const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n        if (seen.has(key)) continue;\n        seen.add(key);\n        \n        results.push({\n          json: {\n            'Company Name': name,\n            'VC Firm': vcName,\n            'Company Description': name + ' - SignalFire portfolio',\n            'Company URL': '',\n            'Status': 'New',\n            'First Seen Date': today,\n            'Source': 'VC Portfolio'\n          }\n        });\n      }\n    }\n  } catch (e) {\n    console.error('SignalFire parse error:', e.message);\n  }\n}\n\nconsole.log('SignalFire: Found ' + results.length + ' companies');\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 800],
      "id": "parse-signalfire",
      "name": "Parse SignalFire"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://www.iconiq.com/growth/companies\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 45000 },\n  \"waitForSelector\": { \"selector\": \".companies-list_grid-item\", \"timeout\": 15000 }\n}",
        "options": {"timeout": 120000},
        "onError": "continueRegularOutput"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 1000],
      "id": "fetch-iconiq",
      "name": "Browserless Iconiq",
      "credentials": {
        "httpQueryAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Iconiq Growth - B2B Enterprise + Healthcare\n// v1.6: Fixed URL-name alignment - extract complete <a> blocks first\n// Structure: <a href=\"url\"><div class=\"companies-list_grid-item\"><h2>Name</h2>...</div></a>\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Iconiq Growth';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\nconst skipWords = ['milestone', 'insights', 'about', 'contact', 'team', 'news', 'blog', 'portfolio', 'growth', 'capital', 'iconiq', 'privacy', 'cookie', 'terms'];\n\nfor (const item of items) {\n  try {\n    let html = item.json.data || item.json.body || (typeof item.json === 'string' ? item.json : '');\n    if (!html || html.length < 100) {\n      console.log('Iconiq: No HTML content received');\n      continue;\n    }\n    \n    // Match complete <a>...</a> blocks to ensure URL-name alignment\n    const linkPattern = /<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n    let match;\n    \n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1];\n      const content = match[2];\n      \n      // Only process if this <a> contains a company card\n      if (!content.includes('companies-list_grid-item')) continue;\n      \n      // Extract company name from h2 within this block\n      const h2Match = content.match(/<h2[^>]*>([^<]+)<\\/h2>/i);\n      if (!h2Match) continue;\n      \n      const name = h2Match[1].trim().replace(/&amp;/g, '&');\n      \n      if (name.length < 2 || name.length > 60) continue;\n      // Skip navigation/footer text\n      if (skipWords.some(w => name.toLowerCase().includes(w))) continue;\n      // Must be external URL (company website)\n      if (!url.startsWith('http') || url.includes('iconiq.com') || url.includes('iconiqcapital.com')) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({\n        json: {\n          'Company Name': name,\n          'VC Firm': vcName,\n          'Company Description': name + ' - Iconiq Growth portfolio (B2B Enterprise + Healthcare)',\n          'Company URL': url,\n          'Status': 'New',\n          'First Seen Date': today,\n          'Source': 'VC Portfolio'\n        }\n      });\n    }\n  } catch (e) {\n    console.error('Iconiq parse error:', e.message);\n  }\n}\n\nconsole.log('Iconiq: Found ' + results.length + ' companies');\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 1000],
      "id": "parse-iconiq",
      "name": "Parse Iconiq"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1150, 300],
      "id": "merge-1",
      "name": "Merge Emergence + Insight"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1150, 700],
      "id": "merge-2",
      "name": "Merge GC + SignalFire"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1400, 500],
      "id": "merge-3",
      "name": "Merge Groups"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1400, 800],
      "id": "merge-4",
      "name": "Merge with Iconiq"
    },
    {
      "parameters": {
        "jsCode": "// Filter out empty results and dedupe across all VCs\nconst items = $input.all();\nconst results = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  // Skip empty markers\n  if (item.json._empty) continue;\n  \n  const name = item.json['Company Name'] || '';\n  if (!name || name.length < 2) continue;\n  \n  const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  \n  results.push(item);\n}\n\nconsole.log(`Growth Stage VCs: ${results.length} unique companies`);\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies from any VC' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 650],
      "id": "dedupe",
      "name": "Dedupe All VCs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1900, 650],
      "id": "if-has-companies",
      "name": "Has Companies?"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "rcMNDrfZR6csHRsYKFn0W",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2150, 550],
      "id": "exec-pipeline",
      "name": "Execute Enrich & Evaluate Pipeline"
    }
  ],
  "connections": {
    "Schedule (Wed/Sat 8am)": {
      "main": [
        [
          {"node": "Browserless Emergence", "type": "main", "index": 0},
          {"node": "Browserless Insight Partners", "type": "main", "index": 0},
          {"node": "Browserless General Catalyst", "type": "main", "index": 0},
          {"node": "Browserless SignalFire", "type": "main", "index": 0},
          {"node": "Browserless Iconiq", "type": "main", "index": 0}
        ]
      ]
    },
    "Browserless Emergence": {
      "main": [[{"node": "Parse Emergence", "type": "main", "index": 0}]]
    },
    "Parse Emergence": {
      "main": [[{"node": "Merge Emergence + Insight", "type": "main", "index": 0}]]
    },
    "Browserless Insight Partners": {
      "main": [[{"node": "Parse Insight Partners", "type": "main", "index": 0}]]
    },
    "Parse Insight Partners": {
      "main": [[{"node": "Merge Emergence + Insight", "type": "main", "index": 1}]]
    },
    "Browserless General Catalyst": {
      "main": [[{"node": "Parse General Catalyst", "type": "main", "index": 0}]]
    },
    "Parse General Catalyst": {
      "main": [[{"node": "Merge GC + SignalFire", "type": "main", "index": 0}]]
    },
    "Browserless SignalFire": {
      "main": [[{"node": "Parse SignalFire", "type": "main", "index": 0}]]
    },
    "Parse SignalFire": {
      "main": [[{"node": "Merge GC + SignalFire", "type": "main", "index": 1}]]
    },
    "Browserless Iconiq": {
      "main": [[{"node": "Parse Iconiq", "type": "main", "index": 0}]]
    },
    "Parse Iconiq": {
      "main": [[{"node": "Merge with Iconiq", "type": "main", "index": 1}]]
    },
    "Merge Emergence + Insight": {
      "main": [[{"node": "Merge Groups", "type": "main", "index": 0}]]
    },
    "Merge GC + SignalFire": {
      "main": [[{"node": "Merge Groups", "type": "main", "index": 1}]]
    },
    "Merge Groups": {
      "main": [[{"node": "Merge with Iconiq", "type": "main", "index": 0}]]
    },
    "Merge with Iconiq": {
      "main": [[{"node": "Dedupe All VCs", "type": "main", "index": 0}]]
    },
    "Dedupe All VCs": {
      "main": [[{"node": "Has Companies?", "type": "main", "index": 0}]]
    },
    "Has Companies?": {
      "main": [
        [{"node": "Execute Enrich & Evaluate Pipeline", "type": "main", "index": 0}],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-25T00:00:00.000Z",
  "versionId": "1.6"
}
