VC Scraper - Growth Stage v2.7.json
{
  "name": "VC Scraper - Growth Stage v2.7",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 3,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        400,
        500
      ],
      "id": "schedule-trigger",
      "name": "Schedule (Wed/Sat 8am)"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbll8igHTftSqsTtQ",
          "mode": "id"
        },
        "returnAll": true,
        "filterByFormula": "LEFT({Key}, 8) = \"company:\"",
        "options": {
          "fields": [
            "Key"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        600,
        450
      ],
      "id": "fetch-seen-keys",
      "name": "Fetch Seen Keys",
      "credentials": {
        "airtableTokenApi": {
          "id": "svcspqcZ9yGYzqGm",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// v2.7: Store seen company keys from BOTH Seen Opportunities and Funding Alerts\n// This fixes the issue where Dedup Register fails to populate Seen Opportunities\n\nconst staticData = $getWorkflowStaticData(\"global\");\nconst seenKeys = new Set();\n\nconst items = $input.all();\nfor (const item of items) {\n  // From Seen Opportunities: Key field\n  const key = item.json.Key;\n  if (key && key.startsWith(\"company:\")) {\n    seenKeys.add(key);\n  }\n  \n  // From Funding Alerts: Company Name field (convert to key format)\n  const companyName = item.json[\"Company Name\"];\n  if (companyName) {\n    const normalizedKey = \"company:\" + companyName.toLowerCase().replace(/[^a-z0-9]/g, \"\");\n    seenKeys.add(normalizedKey);\n  }\n}\n\nstaticData.seenCompanyKeys = Array.from(seenKeys);\nconsole.log(`v2.7: Stored ${seenKeys.size} seen company keys (from Seen Opportunities + Funding Alerts)`);\n\nreturn [{ json: { seenKeysLoaded: true, count: seenKeys.size } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        550
      ],
      "id": "store-seen-keys",
      "name": "Store Seen Keys"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://www.emcap.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 45000 },\n  \"waitForTimeout\": 5000\n}",
        "options": {
          "timeout": 120000
        },
        "onError": "continueRegularOutput"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        400
      ],
      "id": "fetch-emergence",
      "name": "Browserless Emergence",
      "credentials": {
        "httpQueryAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nconst vcName = 'Emergence Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  try {\n    let html = item.json.data || item.json.body || (typeof item.json === 'string' ? item.json : '');\n    if (!html || html.length < 100) continue;\n    \n    const portfolioPattern = /<a[^>]*href=[\"']\\/portfolio\\/([^\"']+)[\"'][^>]*>[\\s\\S]*?<\\/a>/gi;\n    let match;\n    \n    while ((match = portfolioPattern.exec(html)) !== null) {\n      const slug = match[1];\n      const content = match[0];\n      \n      let name = '';\n      const altMatch = content.match(/alt=[\"']([^\"']+)[\"']/i);\n      if (altMatch) {\n        name = altMatch[1].trim();\n      } else {\n        name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n      }\n      \n      name = name.replace(/&amp;/g, '&');\n      if (name.length < 2 || name.length > 50) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({\n        json: {\n          'Company Name': name,\n          'VC Firm': vcName,\n          'Company Description': name + ' - Emergence Capital portfolio (Enterprise SaaS)',\n          'Company URL': 'https://www.emcap.com/portfolio/' + slug,\n          'Status': 'New',\n          'First Seen Date': today,\n          'Source': 'VC Portfolio'\n        }\n      });\n    }\n  } catch (e) {\n    console.error('Emergence parse error:', e.message);\n  }\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ],
      "id": "parse-emergence",
      "name": "Parse Emergence"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://www.generalcatalyst.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 45000 },\n  \"waitForTimeout\": 8000\n}",
        "options": {
          "timeout": 120000
        },
        "onError": "continueRegularOutput"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1050,
        600
      ],
      "id": "fetch-gc",
      "name": "Browserless General Catalyst",
      "credentials": {
        "httpQueryAuth": {
          "id": "iatzkTu30nb6GVd9",
          "name": "Browserless"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nconst vcName = 'General Catalyst';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  try {\n    let html = item.json.data || item.json.body || (typeof item.json === 'string' ? item.json : '');\n    if (!html || html.length < 100) continue;\n    \n    const companyPattern = /<a[^>]*href=[\"']\\/companies\\/([^\"']+)[\"'][^>]*>[\\s\\S]*?<h[1-4][^>]*>([^<]+)<\\/h[1-4]>/gi;\n    let match;\n    \n    while ((match = companyPattern.exec(html)) !== null) {\n      const slug = match[1];\n      const name = match[2].trim().replace(/&amp;/g, '&');\n      \n      if (name.length < 2 || name.length > 60) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({\n        json: {\n          'Company Name': name,\n          'VC Firm': vcName,\n          'Company Description': name + ' - General Catalyst portfolio',\n          'Company URL': 'https://www.generalcatalyst.com/companies/' + slug,\n          'Status': 'New',\n          'First Seen Date': today,\n          'Source': 'VC Portfolio'\n        }\n      });\n    }\n  } catch (e) {\n    console.error('General Catalyst parse error:', e.message);\n  }\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        600
      ],
      "id": "parse-gc",
      "name": "Parse General Catalyst"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1550,
        500
      ],
      "id": "merge-vcs",
      "name": "Merge Emergence + GC"
    },
    {
      "parameters": {
        "jsCode": "// v2.6: Filter using seen keys from staticData\n// Seen keys were pre-loaded by Store Seen Keys node\n\nconst items = $input.all();\nconst staticData = $getWorkflowStaticData('global');\n\nconst seenKeysArray = staticData.seenCompanyKeys || [];\nconst seenKeys = new Set(seenKeysArray);\n\nconsole.log(`Using ${seenKeys.size} seen company keys from staticData`);\n\nconst localSeen = new Set();\nconst newCompanies = [];\nlet skippedEmpty = 0;\nlet skippedDupe = 0;\nlet skippedSeen = 0;\n\nfor (const item of items) {\n  if (item.json._empty) {\n    skippedEmpty++;\n    continue;\n  }\n  \n  const name = item.json['Company Name'] || '';\n  if (!name || name.length < 2) {\n    skippedEmpty++;\n    continue;\n  }\n  \n  const localKey = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (localSeen.has(localKey)) {\n    skippedDupe++;\n    continue;\n  }\n  localSeen.add(localKey);\n  \n  const dedupKey = 'company:' + localKey;\n  if (seenKeys.has(dedupKey)) {\n    skippedSeen++;\n    continue;\n  }\n  \n  newCompanies.push(item);\n}\n\nconsole.log(`Filter results: ${skippedEmpty} empty, ${skippedDupe} local dupes, ${skippedSeen} already seen, ${newCompanies.length} NEW`);\n\nif (newCompanies.length === 0) {\n  return [{ json: { _empty: true, _message: 'All companies already processed', skippedSeen, skippedDupe } }];\n}\n\nreturn newCompanies;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        500
      ],
      "id": "filter-new-only",
      "name": "Filter New Only"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Company Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2050,
        500
      ],
      "id": "if-has-new",
      "name": "Has New Companies?"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2300,
        400
      ],
      "id": "batch-companies",
      "name": "Batch (5)"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "rcMNDrfZR6csHRsYKFn0W",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2500,
        400
      ],
      "id": "exec-pipeline",
      "name": "Execute Enrich & Evaluate Pipeline"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl7yU6QYfIFSC2nD",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "fields": [
            "Company Name"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        600,
        650
      ],
      "id": "fetch-funding-alerts",
      "name": "Fetch Funding Alerts",
      "credentials": {
        "airtableTokenApi": {
          "id": "svcspqcZ9yGYzqGm",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        750,
        550
      ],
      "id": "merge-seen-sources",
      "name": "Merge Seen Sources"
    }
  ],
  "connections": {
    "Schedule (Wed/Sat 8am)": {
      "main": [
        [
          {
            "node": "Fetch Seen Keys",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Funding Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Seen Keys": {
      "main": [
        [
          {
            "node": "Merge Seen Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Seen Keys": {
      "main": [
        [
          {
            "node": "Browserless Emergence",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless General Catalyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Emergence": {
      "main": [
        [
          {
            "node": "Parse Emergence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Emergence": {
      "main": [
        [
          {
            "node": "Merge Emergence + GC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless General Catalyst": {
      "main": [
        [
          {
            "node": "Parse General Catalyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse General Catalyst": {
      "main": [
        [
          {
            "node": "Merge Emergence + GC",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Emergence + GC": {
      "main": [
        [
          {
            "node": "Filter New Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Only": {
      "main": [
        [
          {
            "node": "Has New Companies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Companies?": {
      "main": [
        [
          {
            "node": "Batch (5)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Batch (5)": {
      "main": [
        [],
        [
          {
            "node": "Execute Enrich & Evaluate Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Enrich & Evaluate Pipeline": {
      "main": [
        [
          {
            "node": "Batch (5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Funding Alerts": {
      "main": [
        [
          {
            "node": "Merge Seen Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Seen Sources": {
      "main": [
        [
          {
            "node": "Store Seen Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-01T00:00:00.000Z",
  "versionId": "2.7"
}