VC Scraper - Climate Tech.json
{
  "name": "VC Scraper - Climate Tech v23",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        500
      ],
      "id": "climate-schedule-trigger",
      "name": "Schedule Trigger (Mon/Thu 8am)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.congruentvc.com/portfolio",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        200
      ],
      "id": "climate-fetch-congruent",
      "name": "Fetch Congruent Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Congruent Ventures - portfolio page with company links\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Congruent Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: /portfolio/Company-Name links\n  const slugPattern = /href=[\"']\\/portfolio\\/([A-Za-z0-9\\-\\.]+)[\"']/gi;\n  let match;\n  \n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug.toLowerCase() === 'portfolio') continue;\n    \n    // Convert slug to company name (replace hyphens with spaces, capitalize)\n    let name = slug.replace(/-/g, ' ').replace(/\\./g, ' ');\n    name = name.split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1).toLowerCase()).join(' ');\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Congruent Ventures portfolio company (climate tech)`, 'Company URL': `https://www.congruentvc.com/portfolio/${slug}`, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ],
      "id": "climate-parse-congruent",
      "name": "Parse Congruent"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cleanenergyventures.com/portfolio/",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        350
      ],
      "id": "climate-fetch-cev",
      "name": "Fetch Clean Energy Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Clean Energy Ventures - portfolio with company images/links\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Clean Energy Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: <a href=\"https://company.com\"><img alt=\"Company Name\"></a>\n  const imgLinkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!cleanenergyventures|linkedin|twitter|facebook|cdn)[^\"']+)[\"'][^>]*>[^<]*<img[^>]*alt=[\"']([^\"']+)[\"'][^>]*>/gi;\n  let match;\n  \n  while ((match = imgLinkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    let name = match[2].trim();\n    \n    if (!name || name.length < 2 || name.length > 60) continue;\n    if (name.toLowerCase().includes('logo') || name.toLowerCase().includes('image')) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Clean Energy Ventures portfolio company (clean energy/decarbonization)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Fallback: Look for heading patterns\n  if (results.length === 0) {\n    const headingPattern = /<h[2-4][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/h[2-4]>/gi;\n    while ((match = headingPattern.exec(html)) !== null) {\n      let name = match[1].trim();\n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('legacy')) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Clean Energy Ventures portfolio company`, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        350
      ],
      "id": "climate-parse-cev",
      "name": "Parse Clean Energy Ventures"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.preludeventures.com/portfolio",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        500
      ],
      "id": "climate-fetch-prelude",
      "name": "Fetch Prelude Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Prelude Ventures - portfolio cards with company names and descriptions\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Prelude Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: Company names in headings or card titles\n  const cardPattern = /<(?:h[2-4]|div)[^>]*class=[\"'][^\"']*(?:company|portfolio|card-title|name)[^\"']*[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/(?:h[2-4]|div)>/gi;\n  let match;\n  \n  while ((match = cardPattern.exec(html)) !== null) {\n    let name = match[1].trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('filter')) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Prelude Ventures portfolio company (climate/sustainability)`, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Fallback: Look for external company links\n  if (results.length === 0) {\n    const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!preludeventures|linkedin|twitter|facebook|cdn|google)[^\"']+)[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/a>/gi;\n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      let name = match[2].trim();\n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (name.toLowerCase().includes('visit') || name.toLowerCase().includes('learn')) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Prelude Ventures portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        500
      ],
      "id": "climate-parse-prelude",
      "name": "Parse Prelude"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://lowercarbon.com/companies/",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        650
      ],
      "id": "climate-fetch-lowercarbon",
      "name": "Fetch Lowercarbon Capital"
    },
    {
      "parameters": {
        "jsCode": "// Parse Lowercarbon Capital - company links at /company/slug\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Lowercarbon Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: /company/company-slug/ links\n  const slugPattern = /href=[\"']\\/company\\/([a-z0-9\\-]+)\\/?[\"']/gi;\n  let match;\n  \n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug === 'company' || slug === 'companies') continue;\n    \n    // Convert slug to company name\n    let name = slug.replace(/-/g, ' ');\n    name = name.split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    \n    // Handle special cases\n    name = name.replace(/\\bAi\\b/g, 'AI').replace(/\\bCo\\b$/g, 'Co.');\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Lowercarbon Capital portfolio company (climate tech)`, 'Company URL': `https://lowercarbon.com/company/${slug}/`, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        650
      ],
      "id": "climate-parse-lowercarbon",
      "name": "Parse Lowercarbon"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.energizecap.com/portfolio",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        800
      ],
      "id": "climate-fetch-energize",
      "name": "Fetch Energize Capital"
    },
    {
      "parameters": {
        "jsCode": "// Parse Energize Capital - portfolio cards with company names\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Energize Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: <h3>Company Name</h3> followed by SINCE YEAR\n  const companyPattern = /<h3[^>]*>([A-Za-z0-9\\s\\-&\\.]+)<\\/h3>\\s*<p[^>]*>SINCE\\s+(\\d{4})/gi;\n  let match;\n  \n  while ((match = companyPattern.exec(html)) !== null) {\n    let name = match[1].trim();\n    const year = match[2];\n    \n    if (!name || name.length < 1 || name.length > 60) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 1 || seen.has(key)) continue;\n    seen.add(key);\n    \n    // Look for website link nearby\n    const context = html.substring(match.index, Math.min(html.length, match.index + 1500));\n    let url = '';\n    const urlMatch = context.match(/VISIT WEBSITE[^<]*<\\/a>\\s*<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"']/i) ||\n                     context.match(/href=[\"'](https?:\\/\\/(?!energizecap|linkedin|twitter|facebook)[^\"']+)[\"'][^>]*>.*?VISIT/i);\n    if (urlMatch) url = urlMatch[1];\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Energize Capital portfolio company since ${year} (energy transition)`, 'Company URL': url, 'Portfolio Addition Date': `${year}-01-01`, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Fallback: Just look for h3 headings\n  if (results.length === 0) {\n    const h3Pattern = /<h3[^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/h3>/gi;\n    while ((match = h3Pattern.exec(html)) !== null) {\n      let name = match[1].trim();\n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('filter')) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Energize Capital portfolio company`, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        800
      ],
      "id": "climate-parse-energize",
      "name": "Parse Energize"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.energyimpactpartners.com/_portfolio/",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        950
      ],
      "id": "climate-fetch-eip",
      "name": "Fetch Energy Impact Partners"
    },
    {
      "parameters": {
        "jsCode": "// Parse Energy Impact Partners - portfolio cards\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Energy Impact Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Skip these - common non-company patterns\nconst skipPatterns = ['visit site', 'learn more', 'read more', 'view all', 'portfolio', 'exits', 'contact'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: Company names in headings or strong tags within portfolio sections\n  const namePatterns = [\n    /<h[2-4][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/h[2-4]>/gi,\n    /<strong[^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/strong>/gi\n  ];\n  \n  for (const pattern of namePatterns) {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      let name = match[1].trim();\n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (skipPatterns.some(p => name.toLowerCase().includes(p))) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      // Look for nearby URL\n      const context = html.substring(Math.max(0, match.index - 200), Math.min(html.length, match.index + 800));\n      let url = '';\n      const urlMatch = context.match(/href=[\"'](https?:\\/\\/(?!energyimpactpartners|linkedin|twitter|facebook|cdn)[^\"']+)[\"']/i);\n      if (urlMatch) url = urlMatch[1];\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Energy Impact Partners portfolio company (utility-backed climate fund)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        950
      ],
      "id": "climate-parse-eip",
      "name": "Parse Energy Impact Partners"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.g2vp.com/portfolio",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        1100
      ],
      "id": "climate-fetch-g2",
      "name": "Fetch G2 Venture Partners"
    },
    {
      "parameters": {
        "jsCode": "// Parse G2 Venture Partners - carousel with company logos and names\nconst items = $input.all();\nconst results = [];\nconst vcName = 'G2 Venture Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known skiplist\nconst skipDomains = ['g2vp', 'linkedin', 'twitter', 'facebook', 'cdn', 'google', 'youtube'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern 1: Image alt text with company names\n  const imgPattern = /<img[^>]*alt=[\"']([A-Z][A-Za-z0-9\\s\\-&\\.\u00b0]+)[\"'][^>]*>/gi;\n  let match;\n  \n  while ((match = imgPattern.exec(html)) !== null) {\n    let name = match[1].trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    if (name.toLowerCase().includes('logo') || name.toLowerCase().includes('icon')) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    // Look for nearby URL\n    const context = html.substring(Math.max(0, match.index - 500), Math.min(html.length, match.index + 500));\n    let url = '';\n    const urlMatch = context.match(/href=[\"'](https?:\\/\\/(?!g2vp|linkedin|twitter|facebook|cdn)[^\"']+)[\"']/i);\n    if (urlMatch) url = urlMatch[1];\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - G2 Venture Partners portfolio company (climate/sustainability)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Pattern 2: Fallback - external company links\n  if (results.length === 0) {\n    const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!g2vp|linkedin|twitter|facebook|cdn|google)[^\"']+)[\"'][^>]*>/gi;\n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      if (url.includes('#')) continue;\n      \n      const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n      if (!domainMatch) continue;\n      \n      let name = domainMatch[1];\n      name = name.charAt(0).toUpperCase() + name.slice(1);\n      name = name.replace(/ai$/i, 'AI');\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      if (skipDomains.some(d => key.includes(d))) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - G2 Venture Partners portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1100
      ],
      "id": "climate-parse-g2",
      "name": "Parse G2 Venture Partners"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.burntislandventures.com/portfolio",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        1250
      ],
      "id": "climate-fetch-burntisland",
      "name": "Fetch Burnt Island Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Burnt Island Ventures - water-focused fund with marquee and logo grid\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Burnt Island Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Skip these domains\nconst skipDomains = ['burntisland', 'squarespace', 'linkedin', 'twitter', 'facebook', 'cdn', 'google'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern 1: External company links (logo grid)\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!burntisland|squarespace|linkedin|twitter|facebook)[^\"']+)[\"'][^>]*>/gi;\n  let match;\n  \n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    if (url.includes('#') || url.includes('sqs') || url.includes('cdn')) continue;\n    \n    // Extract domain as company name\n    const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n    if (!domainMatch) continue;\n    \n    let name = domainMatch[1];\n    name = name.charAt(0).toUpperCase() + name.slice(1);\n    name = name.replace(/ai$/i, 'AI');\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    if (skipDomains.some(d => key.includes(d))) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Burnt Island Ventures portfolio company (water tech)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Pattern 2: Marquee text items (company names in spans)\n  const marqueePattern = /class=[\"'][^\"']*marquee[^\"']*[\"'][^>]*>([^<]+)</gi;\n  while ((match = marqueePattern.exec(html)) !== null) {\n    let name = match[1].trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Burnt Island Ventures portfolio company (water tech)`, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1250
      ],
      "id": "climate-parse-burntisland",
      "name": "Parse Burnt Island"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mcj.vc/portfolio",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        1400
      ],
      "id": "climate-fetch-mcj",
      "name": "Fetch MCJ Collective"
    },
    {
      "parameters": {
        "jsCode": "// Parse MCJ Collective - Squarespace blog-style portfolio\nconst items = $input.all();\nconst results = [];\nconst vcName = 'MCJ Collective';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: /portfolio/company-slug links\n  const slugPattern = /href=[\"']\\/portfolio\\/([a-z0-9\\-]+)[\"']/gi;\n  let match;\n  \n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug === 'portfolio') continue;\n    \n    // Convert slug to company name\n    let name = slug.replace(/-/g, ' ');\n    name = name.split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    \n    // Handle special cases\n    name = name.replace(/\\bAi\\b/g, 'AI').replace(/\\bTelo\\b/gi, 'TELO');\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - MCJ Collective portfolio company (climate tech)`, 'Company URL': `https://mcj.vc/portfolio/${slug}`, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1400
      ],
      "id": "climate-parse-mcj",
      "name": "Parse MCJ Collective"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        275
      ],
      "id": "climate-merge-1",
      "name": "Merge Congruent + CEV"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        575
      ],
      "id": "climate-merge-2",
      "name": "Merge Prelude + Lowercarbon"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        875
      ],
      "id": "climate-merge-3",
      "name": "Merge Energize + EIP"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        1175
      ],
      "id": "climate-merge-4",
      "name": "Merge G2 + Burnt Island"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        425
      ],
      "id": "climate-merge-group-1",
      "name": "Merge Groups 1+2"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        725
      ],
      "id": "climate-merge-group-2",
      "name": "Merge Groups 3+4"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1100,
        575
      ],
      "id": "climate-merge-super",
      "name": "Merge Super Groups"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1100,
        875
      ],
      "id": "climate-merge-mcj",
      "name": "Merge with MCJ"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1320,
        725
      ],
      "id": "climate-merge-all",
      "name": "Combine All Climate VCs"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "rcMNDrfZR6csHRsYKFn0W",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1570,
        725
      ],
      "id": "climate-exec-pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Calls shared subworkflow for dedup, enrichment, and evaluation"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1420,
        725
      ],
      "id": "climate-limit-backfill",
      "name": "Limit (Backfill)",
      "notes": "Remove this node after initial backfill is complete"
    }
  ],
  "connections": {
    "Schedule Trigger (Mon/Thu 8am)": {
      "main": [
        [
          {
            "node": "Fetch Congruent Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Clean Energy Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Prelude Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Lowercarbon Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Energize Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Energy Impact Partners",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch G2 Venture Partners",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Burnt Island Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch MCJ Collective",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Congruent Ventures": {
      "main": [
        [
          {
            "node": "Parse Congruent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Congruent": {
      "main": [
        [
          {
            "node": "Merge Congruent + CEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Clean Energy Ventures": {
      "main": [
        [
          {
            "node": "Parse Clean Energy Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Clean Energy Ventures": {
      "main": [
        [
          {
            "node": "Merge Congruent + CEV",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Prelude Ventures": {
      "main": [
        [
          {
            "node": "Parse Prelude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prelude": {
      "main": [
        [
          {
            "node": "Merge Prelude + Lowercarbon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Lowercarbon Capital": {
      "main": [
        [
          {
            "node": "Parse Lowercarbon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lowercarbon": {
      "main": [
        [
          {
            "node": "Merge Prelude + Lowercarbon",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Energize Capital": {
      "main": [
        [
          {
            "node": "Parse Energize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Energize": {
      "main": [
        [
          {
            "node": "Merge Energize + EIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Energy Impact Partners": {
      "main": [
        [
          {
            "node": "Parse Energy Impact Partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Energy Impact Partners": {
      "main": [
        [
          {
            "node": "Merge Energize + EIP",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch G2 Venture Partners": {
      "main": [
        [
          {
            "node": "Parse G2 Venture Partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse G2 Venture Partners": {
      "main": [
        [
          {
            "node": "Merge G2 + Burnt Island",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Burnt Island Ventures": {
      "main": [
        [
          {
            "node": "Parse Burnt Island",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Burnt Island": {
      "main": [
        [
          {
            "node": "Merge G2 + Burnt Island",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch MCJ Collective": {
      "main": [
        [
          {
            "node": "Parse MCJ Collective",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse MCJ Collective": {
      "main": [
        [
          {
            "node": "Merge with MCJ",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Congruent + CEV": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Prelude + Lowercarbon": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Energize + EIP": {
      "main": [
        [
          {
            "node": "Merge Groups 3+4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge G2 + Burnt Island": {
      "main": [
        [
          {
            "node": "Merge Groups 3+4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Groups 1+2": {
      "main": [
        [
          {
            "node": "Merge Super Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Groups 3+4": {
      "main": [
        [
          {
            "node": "Merge Super Groups",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Super Groups": {
      "main": [
        [
          {
            "node": "Merge with MCJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge with MCJ": {
      "main": [
        [
          {
            "node": "Combine All Climate VCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Climate VCs": {
      "main": [
        [
          {
            "node": "Limit (Backfill)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit (Backfill)": {
      "main": [
        [
          {
            "node": "Execute Enrich & Evaluate Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}