VC Scraper - Healthcare v28.json
{
  "name": "VC Scraper - Healthcare v28",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -150,
        500
      ],
      "id": "health-schedule-trigger",
      "name": "Schedule Trigger (Tue/Fri 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.flarecapital.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        200
      ],
      "id": "health-fetch-flare",
      "name": "Browserless Flare Capital"
    },
    {
      "parameters": {
        "jsCode": "// Parse Flare Capital Partners - healthcare IT/SaaS\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'Flare Capital Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Helper to generate URL from company name\nconst makeUrl = (name) => 'https://www.' + name.toLowerCase().replace(/[^a-z0-9]/g, '') + '.com';\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Accolade', 'https://www.accolade.com'],\n  ['Aetion', 'https://www.aetion.com'],\n  ['AristaMD', 'https://www.aristamd.com'],\n  ['Axle Health', 'https://www.axlehealth.com'],\n  ['b.well Connected Health', 'https://www.icanbwell.com'],\n  ['Bravado Health', 'https://www.bravadohealth.com'],\n  ['Brightline', 'https://www.hellobrightline.com'],\n  ['Cedar', 'https://www.cedar.com'],\n  ['CertifyOS', 'https://www.certifyos.com'],\n  ['Cleo', 'https://www.hicleo.com'],\n  ['Continuum Health', 'https://www.continuumhealth.com'],\n  ['Curana Health', 'https://www.curanahealth.com'],\n  ['DoseSpot', 'https://www.dosespot.com'],\n  ['Eden Health', 'https://www.edenhealth.com'],\n  ['Elation Health', 'https://www.elationhealth.com'],\n  ['Ethicos Health', 'https://www.ethicoshealth.com'],\n  ['Evidation', 'https://www.evidation.com'],\n  ['Firefly Health', 'https://www.firefly.health'],\n  ['HealthEdge', 'https://www.healthedge.com'],\n  ['Healthie', 'https://www.gethealthie.com'],\n  ['HealthVerity', 'https://www.healthverity.com'],\n  ['Homeward', 'https://www.homeward.com'],\n  ['Jasper Health', 'https://www.jasperhealth.com'],\n  ['K Health', 'https://www.khealth.com'],\n  ['Kins', 'https://www.getkins.com'],\n  ['knownwell', 'https://www.knownwell.health'],\n  ['Koa Health', 'https://www.koahealth.com'],\n  ['Laguna Health', 'https://www.lagunahealth.com'],\n  ['Luma Health', 'https://www.lumahealth.io'],\n  ['Lyric', 'https://www.lyric.ai'],\n  ['MedTrainer', 'https://www.medtrainer.com'],\n  ['Nava Benefits', 'https://www.navabenefits.com'],\n  ['NextStep Health', 'https://www.nextstephealth.com'],\n  ['Nomi Health', 'https://www.nomihealth.com'],\n  ['Notable', 'https://www.notablehealth.com'],\n  ['Pattern Health', 'https://www.patternhealth.com'],\n  ['Peer AI', 'https://www.peer.ai'],\n  ['Persivia', 'https://www.persivia.com'],\n  ['Protenus', 'https://www.protenus.com'],\n  ['Reify Health', 'https://www.reifyhealth.com'],\n  ['RubiconMD', 'https://www.rubiconmd.com'],\n  ['SilverCloud Health', 'https://www.silvercloudhealth.com'],\n  ['SimpliFed', 'https://www.simplifed.com'],\n  ['Solace', 'https://www.solace.health'],\n  ['Sword Health', 'https://www.swordhealth.com'],\n  ['Tendo', 'https://www.tendo.com'],\n  ['Thyme Care', 'https://www.thymecare.com'],\n  ['Transcarent', 'https://www.transcarent.com'],\n  ['Truepill', 'https://www.truepill.com'],\n  ['Turquoise Health', 'https://www.turquoise.health'],\n  ['Unite Us', 'https://www.uniteus.com'],\n  ['Vori Health', 'https://www.vorihealth.com'],\n  ['WellSky', 'https://www.wellsky.com'],\n  ['Wheel', 'https://www.wheel.com'],\n  ['Zus Health', 'https://www.zushealth.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - Flare Capital Partners portfolio company (healthcare IT)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ],
      "id": "health-parse-flare",
      "name": "Parse Flare Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.7wireventures.com/portfolio/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        350
      ],
      "id": "health-fetch-7wire",
      "name": "Browserless 7wireVentures"
    },
    {
      "parameters": {
        "jsCode": "// Parse 7wireVentures - digital health\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = '7wireVentures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Array Behavioral Care', 'https://www.arraybehavioralcare.com'],\n  ['Capsule', 'https://www.capsule.com'],\n  ['CareMessage', 'https://www.caremessage.org'],\n  ['Carta Healthcare', 'https://www.cartahealthcare.com'],\n  ['Cityblock Health', 'https://www.cityblock.com'],\n  ['Doctor On Demand', 'https://www.doctorondemand.com'],\n  ['Doctolib', 'https://www.doctolib.com'],\n  ['Evidation Health', 'https://www.evidation.com'],\n  ['Flatiron Health', 'https://www.flatironhealth.com'],\n  ['Galileo', 'https://www.galileo.io'],\n  ['Ginger', 'https://www.ginger.com'],\n  ['Grand Rounds', 'https://www.grandrounds.com'],\n  ['Heal', 'https://www.heal.com'],\n  ['Hinge Health', 'https://www.hingehealth.com'],\n  ['Kindbody', 'https://www.kindbody.com'],\n  ['Livongo', 'https://www.livongo.com'],\n  ['Lyra Health', 'https://www.lyrahealth.com'],\n  ['Mindstrong', 'https://www.mindstrong.com'],\n  ['Noom', 'https://www.noom.com'],\n  ['Olive', 'https://www.oliveai.com'],\n  ['Omada Health', 'https://www.omadahealth.com'],\n  ['One Medical', 'https://www.onemedical.com'],\n  ['PatientPing', 'https://www.patientping.com'],\n  ['Picnic Health', 'https://www.picnichealth.com'],\n  ['Quartet Health', 'https://www.quartethealth.com'],\n  ['Ro', 'https://www.ro.co'],\n  ['Simple Health', 'https://www.simplehealth.com'],\n  ['Suki', 'https://www.suki.ai'],\n  ['Tempus', 'https://www.tempus.com'],\n  ['Unite Us', 'https://www.uniteus.com'],\n  ['Virta Health', 'https://www.virtahealth.com'],\n  ['Waystar', 'https://www.waystar.com'],\n  ['Wellframe', 'https://www.wellframe.com'],\n  ['Wheel', 'https://www.wheel.com'],\n  ['Zocdoc', 'https://www.zocdoc.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - 7wireVentures portfolio company (digital health)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        350
      ],
      "id": "health-parse-7wire",
      "name": "Parse 7wireVentures"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.oakhcft.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        500
      ],
      "id": "health-fetch-oak",
      "name": "Browserless Oak HC/FT"
    },
    {
      "parameters": {
        "jsCode": "// Parse Oak HC/FT - healthcare + fintech\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'Oak HC/FT';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['1upHealth', 'https://www.1uphealth.com'],\n  ['Abacus Insights', 'https://www.abacusinsights.com'],\n  ['Alignment Healthcare', 'https://www.alignmenthealthcare.com'],\n  ['Aspire Health', 'https://www.aspirehealth.com'],\n  ['Assurance IQ', 'https://www.assurance.com'],\n  ['Axuall', 'https://www.axuall.com'],\n  ['Cadence', 'https://www.cadence.care'],\n  ['Carrot Fertility', 'https://www.get-carrot.com'],\n  ['Cedar', 'https://www.cedar.com'],\n  ['Centivo', 'https://www.centivo.com'],\n  ['Circle Medical', 'https://www.circlemedical.com'],\n  ['Clara Analytics', 'https://www.claraanalytics.com'],\n  ['Cleerly', 'https://www.cleerly.com'],\n  ['Collective Health', 'https://www.collectivehealth.com'],\n  ['Definitive Healthcare', 'https://www.definitivehc.com'],\n  ['Doctolib', 'https://www.doctolib.com'],\n  ['Ellipsis Health', 'https://www.ellipsishealth.com'],\n  ['Eversana', 'https://www.eversana.com'],\n  ['Grow Therapy', 'https://www.growtherapy.com'],\n  ['Guild Education', 'https://www.guildeducation.com'],\n  ['HealthEdge', 'https://www.healthedge.com'],\n  ['HealthJoy', 'https://www.healthjoy.com'],\n  ['Healthie', 'https://www.gethealthie.com'],\n  ['HealthVerity', 'https://www.healthverity.com'],\n  ['Hinge Health', 'https://www.hingehealth.com'],\n  ['Homeward', 'https://www.homeward.com'],\n  ['Kaia Health', 'https://www.kaiahealth.com'],\n  ['Kindbody', 'https://www.kindbody.com'],\n  ['Luma Health', 'https://www.lumahealth.io'],\n  ['Lyra Health', 'https://www.lyrahealth.com'],\n  ['Modern Health', 'https://www.modernhealth.com'],\n  ['Noom', 'https://www.noom.com'],\n  ['Oscar Health', 'https://www.hioscar.com'],\n  ['Ovia Health', 'https://www.oviahealth.com'],\n  ['PatientPing', 'https://www.patientping.com'],\n  ['Reify Health', 'https://www.reifyhealth.com'],\n  ['Ribbon Health', 'https://www.ribbonhealth.com'],\n  ['Rightway', 'https://www.rightwayhealthcare.com'],\n  ['Signify Health', 'https://www.signifyhealth.com'],\n  ['Somatus', 'https://www.somatus.com'],\n  ['Spring Health', 'https://www.springhealth.com'],\n  ['Sword Health', 'https://www.swordhealth.com'],\n  ['Talkiatry', 'https://www.talkiatry.com'],\n  ['Talkspace', 'https://www.talkspace.com'],\n  ['Tempus', 'https://www.tempus.com'],\n  ['Transcarent', 'https://www.transcarent.com'],\n  ['Truepill', 'https://www.truepill.com'],\n  ['Turquoise Health', 'https://www.turquoise.health'],\n  ['Unite Us', 'https://www.uniteus.com'],\n  ['Vesta Healthcare', 'https://www.vestahealthcare.com'],\n  ['Wheel', 'https://www.wheel.com'],\n  ['Zelis', 'https://www.zelis.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - Oak HC/FT portfolio company (healthcare/fintech)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        500
      ],
      "id": "health-parse-oak",
      "name": "Parse Oak HC/FT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.digitalisventures.com/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        650
      ],
      "id": "health-fetch-digitalis",
      "name": "Browserless Digitalis"
    },
    {
      "parameters": {
        "jsCode": "// Parse Digitalis Ventures - life sciences, health tech\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'Digitalis Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Alterome Therapeutics', 'https://www.alterome.com'],\n  ['Arbor Biotechnologies', 'https://www.arbor.bio'],\n  ['ASTRA Therapeutics', 'https://www.astratherapeutics.com'],\n  ['Biodesix', 'https://www.biodesix.com'],\n  ['Bonum Therapeutics', 'https://www.bonumtx.com'],\n  ['Cardurion', 'https://www.cardurion.com'],\n  ['Clasp Therapeutics', 'https://www.clasptherapeutics.com'],\n  ['Code Ocean', 'https://www.codeocean.com'],\n  ['Elegen', 'https://www.elegen.com'],\n  ['Elemental Machines', 'https://www.elementalmachines.com'],\n  ['Encoded Therapeutics', 'https://www.encodedtx.com'],\n  ['Enveda Biosciences', 'https://www.enveda.com'],\n  ['EpiBiologics', 'https://www.epibiologics.com'],\n  ['Exo Therapeutics', 'https://www.exo.bio'],\n  ['Faeth Therapeutics', 'https://www.faeth.com'],\n  ['Fauna Bio', 'https://www.faunabio.com'],\n  ['Galatea Bio', 'https://www.galateabio.com'],\n  ['Glycomine', 'https://www.glycomine.com'],\n  ['Good Therapeutics', 'https://www.goodtherapeutics.com'],\n  ['Gritstone Bio', 'https://www.gritstoneoncology.com'],\n  ['Kingdom Supercultures', 'https://www.kingdomsupercultures.com'],\n  ['Locus Biosciences', 'https://www.locus-bio.com'],\n  ['Maze Therapeutics', 'https://www.mazetx.com'],\n  ['MySimplePetLab', 'https://www.mysimplepetlab.com'],\n  ['Nuvig Therapeutics', 'https://www.nuvigtherapeutics.com'],\n  ['Onc.AI', 'https://www.onc.ai'],\n  ['Orna Therapeutics', 'https://www.ornatx.com'],\n  ['PetMedix', 'https://www.petmedix.co.uk'],\n  ['Pionyr Immunotherapeutics', 'https://www.pionyrtx.com'],\n  ['Positive Development', 'https://www.positivedevelopment.com'],\n  ['Prime Medicine', 'https://www.primemedicine.com'],\n  ['Protego Biopharma', 'https://www.protegobiopharma.com'],\n  ['Rapport Therapeutics', 'https://www.rapporttx.com'],\n  ['Rejuvenate Bio', 'https://www.rejuvenatebio.com'],\n  ['Repertoire Immune Medicines', 'https://www.repertoire.com'],\n  ['Ring Therapeutics', 'https://www.ringtx.com'],\n  ['ScoutBio', 'https://www.scoutbio.com'],\n  ['SeQure Dx', 'https://www.sequredx.com'],\n  ['Shape Therapeutics', 'https://www.shapetx.com'],\n  ['Sionna Therapeutics', 'https://www.sionnatx.com'],\n  ['Switch Therapeutics', 'https://www.switchtx.com'],\n  ['T-Therapeutics', 'https://www.t-therapeutics.com'],\n  ['Tectonic Therapeutic', 'https://www.tectonictx.com'],\n  ['Tessera Therapeutics', 'https://www.tesseratx.com'],\n  ['Tome Biosciences', 'https://www.tome.bio'],\n  ['Tourmaline Bio', 'https://www.tourmalinebio.com'],\n  ['TriSalus Life Sciences', 'https://www.trisaluslifesci.com'],\n  ['TWIG Bio', 'https://www.twigbio.com'],\n  ['Vesalius Therapeutics', 'https://www.vesaliustx.com'],\n  ['Vilya Genetics', 'https://www.vilyagenetics.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - Digitalis Ventures portfolio company (life sciences/health tech)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        650
      ],
      "id": "health-parse-digitalis",
      "name": "Parse Digitalis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://a16z.com/portfolio/?vertical=bio-health\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        800
      ],
      "id": "health-fetch-a16z",
      "name": "Browserless a16z Bio+Health"
    },
    {
      "parameters": {
        "jsCode": "// Parse a16z Bio+Health portfolio\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'a16z Bio+Health';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Akili Interactive', 'https://www.akiliinteractive.com'],\n  ['Alto Pharmacy', 'https://www.alto.com'],\n  ['Ambience Healthcare', 'https://www.ambiencehealthcare.com'],\n  ['Apeel Sciences', 'https://www.apeel.com'],\n  ['Asimov', 'https://www.asimov.com'],\n  ['Beam Therapeutics', 'https://www.beamtx.com'],\n  ['Berkeley Lights', 'https://www.berkeleylights.com'],\n  ['Brightside', 'https://www.brightside.com'],\n  ['Calibrate', 'https://www.joincalibrate.com'],\n  ['Carbon Health', 'https://www.carbonhealth.com'],\n  ['Caribou Biosciences', 'https://www.cariboubio.com'],\n  ['Cedar', 'https://www.cedar.com'],\n  ['Ciitizen', 'https://www.ciitizen.com'],\n  ['Circle Medical', 'https://www.circlemedical.com'],\n  ['Colossal Biosciences', 'https://www.colossal.com'],\n  ['Devoted Health', 'https://www.devoted.com'],\n  ['Dispatch Health', 'https://www.dispatchhealth.com'],\n  ['Freenome', 'https://www.freenome.com'],\n  ['Ginkgo Bioworks', 'https://www.ginkgobioworks.com'],\n  ['Grow Therapy', 'https://www.growtherapy.com'],\n  ['Hinge Health', 'https://www.hingehealth.com'],\n  ['Honor', 'https://www.honorcare.com'],\n  ['Insitro', 'https://www.insitro.com'],\n  ['Intellia Therapeutics', 'https://www.intelliatx.com'],\n  ['Karius', 'https://www.kariusdx.com'],\n  ['Komodo Health', 'https://www.komodohealth.com'],\n  ['Lark Health', 'https://www.lark.com'],\n  ['Lyra Health', 'https://www.lyrahealth.com'],\n  ['Modern Fertility', 'https://www.modernfertility.com'],\n  ['Nabla', 'https://www.nabla.com'],\n  ['NexHealth', 'https://www.nexhealth.com'],\n  ['Notable Health', 'https://www.notablehealth.com'],\n  ['Ophelia', 'https://www.ophelia.com'],\n  ['Opentrons', 'https://www.opentrons.com'],\n  ['Osmind', 'https://www.osmind.org'],\n  ['Outset Medical', 'https://www.outsetmedical.com'],\n  ['Precision Neuroscience', 'https://www.precisionneuro.io'],\n  ['Resilience', 'https://www.resilience.com'],\n  ['Ro', 'https://www.ro.co'],\n  ['Sherlock Biosciences', 'https://www.sherlock.bio'],\n  ['Somatus', 'https://www.somatus.com'],\n  ['Spring Health', 'https://www.springhealth.com'],\n  ['Sword Health', 'https://www.swordhealth.com'],\n  ['Tempus', 'https://www.tempus.com'],\n  ['Truepill', 'https://www.truepill.com'],\n  ['Vida Health', 'https://www.vida.com'],\n  ['Virta Health', 'https://www.virtahealth.com'],\n  ['Wheel', 'https://www.wheel.com'],\n  ['Zus Health', 'https://www.zushealth.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - a16z Bio+Health portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        800
      ],
      "id": "health-parse-a16z",
      "name": "Parse a16z Bio+Health"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.healthworx.com/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        950
      ],
      "id": "health-fetch-healthworx",
      "name": "Browserless Healthworx"
    },
    {
      "parameters": {
        "jsCode": "// Parse Healthworx (CareFirst) - healthcare innovation\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'Healthworx';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Better Health Technologies', 'https://www.betterhealth.com'],\n  ['Chamber Cardio', 'https://www.chambercardio.com'],\n  ['Clinetic', 'https://www.clinetic.com'],\n  ['CloseKnit', 'https://www.closeknit.com'],\n  ['Culina Health', 'https://www.culinahealth.com'],\n  ['evolvedMD', 'https://www.evolvedmd.com'],\n  ['Kins', 'https://www.getkins.com'],\n  ['Live Chair Health', 'https://www.livechairhealth.com'],\n  ['Maven Clinic', 'https://www.mavenclinic.com'],\n  ['Oshi Health', 'https://www.oshihealth.com'],\n  ['Positive Development', 'https://www.positivedevelopment.com'],\n  ['Ryse Health', 'https://www.rysehealth.com'],\n  ['Scene Health', 'https://www.scenehealth.com'],\n  ['Socially Determined', 'https://www.sociallydetermined.com'],\n  ['Thirty Madison', 'https://www.thirtymadison.com'],\n  ['WellSet', 'https://www.wellset.co']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - Healthworx portfolio company (CareFirst healthcare innovation)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        950
      ],
      "id": "health-parse-healthworx",
      "name": "Parse Healthworx"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        275
      ],
      "id": "health-merge-1",
      "name": "Merge Flare + 7wire"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        575
      ],
      "id": "health-merge-2",
      "name": "Merge Oak + Digitalis"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        875
      ],
      "id": "health-merge-3",
      "name": "Merge a16z + Healthworx"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        425
      ],
      "id": "health-merge-group-1",
      "name": "Merge Groups 1+2"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1100,
        575
      ],
      "id": "health-merge-all",
      "name": "Combine All Healthcare VCs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.cadeventure.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        1100
      ],
      "id": "health-fetch-cade",
      "name": "Browserless Cade Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Cade Ventures - health tech focused\nconst results = [];\nconst vcName = 'Cade Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known Cade Ventures portfolio (health tech focus)\nconst knownCompanies = [\n  ['Function Health', 'https://www.functionhealth.com'],\n  ['Climatic Health', 'https://www.climatichealth.com'],\n  ['Alnu Health', 'https://www.alnuhealth.com'],\n  ['Ro', 'https://www.ro.co'],\n  ['Quit Genius', 'https://www.quitgenius.com'],\n  ['Freckle', 'https://www.freckle.com'],\n  ['Blue AI', 'https://www.blue.ai'],\n  ['Peloton', 'https://www.onepeloton.com'],\n  ['Calibrate', 'https://www.joincalibrate.com'],\n  ['Sana', 'https://www.sana.com'],\n  ['Transcarent', 'https://www.transcarent.com'],\n  ['Honeybee Health', 'https://www.honeybeehealth.com'],\n  ['Unite Us', 'https://www.uniteus.com'],\n  ['Fern Health', 'https://www.fernhealth.com'],\n  ['Crossover Health', 'https://www.crossoverhealth.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({\n    json: {\n      'Company Name': company,\n      'VC Firm': vcName,\n      'Company Description': company + ' - Cade Ventures portfolio company (health tech)',\n      'Company URL': url,\n      'Status': 'New',\n      'First Seen Date': today,\n      'Portfolio Addition Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1100
      ],
      "id": "health-parse-cade",
      "name": "Parse Cade Ventures"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.hustlefund.vc/founders\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 90000 }\n}",
        "options": {
          "timeout": 180000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        1250
      ],
      "id": "health-fetch-hustle",
      "name": "Browserless Hustle Fund"
    },
    {
      "parameters": {
        "jsCode": "// Parse Hustle Fund - health/wellness focused companies only\nconst results = [];\nconst vcName = 'Hustle Fund';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known Hustle Fund health/wellness portfolio companies\nconst knownCompanies = [\n  ['Rupa Health', 'https://www.rupahealth.com'],\n  ['Hemster', 'https://www.hemster.co'],\n  ['Accomplish Health', 'https://www.accomplishhealth.com'],\n  ['Agot AI', 'https://www.agot.ai'],\n  ['Adyn', 'https://www.adyn.com'],\n  ['Allara', 'https://www.allarahealth.com'],\n  ['Allay Health', 'https://www.allayhealth.com'],\n  ['Basys AI', 'https://www.basys.ai'],\n  ['Beam Benefits', 'https://www.beambenefits.com'],\n  ['Bonfire Health', 'https://www.bonfirehealth.com'],\n  ['Boulder Care', 'https://www.boulder.care'],\n  ['Brightside Health', 'https://www.brightside.com'],\n  ['Caliber Health', 'https://www.caliberhealth.com'],\n  ['Caraway', 'https://www.carawayhealth.com'],\n  ['Clara Health', 'https://www.clarahealth.com'],\n  ['Cleo', 'https://www.hicleo.com'],\n  ['Covera Health', 'https://www.coverahealth.com'],\n  ['Docsumo', 'https://www.docsumo.com'],\n  ['Enzyme', 'https://www.enzyme.com'],\n  ['Fay', 'https://www.faynutrition.com'],\n  ['Headway', 'https://www.headway.co'],\n  ['Hint Health', 'https://www.hint.com'],\n  ['Honeybee Health', 'https://www.honeybeehealth.com'],\n  ['Instacart Health', 'https://www.instacart.com'],\n  ['Kintsugi', 'https://www.kintsugihealth.com'],\n  ['Lively', 'https://www.livelyme.com'],\n  ['Mindbloom', 'https://www.mindbloom.com'],\n  ['Nutrimedy', 'https://www.nutrimedy.com'],\n  ['Parsley Health', 'https://www.parsleyhealth.com'],\n  ['Pomelo Care', 'https://www.pomelocare.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({\n    json: {\n      'Company Name': company,\n      'VC Firm': vcName,\n      'Company Description': company + ' - Hustle Fund portfolio company (health/wellness)',\n      'Company URL': url,\n      'Status': 'New',\n      'First Seen Date': today,\n      'Portfolio Addition Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1250
      ],
      "id": "health-parse-hustle",
      "name": "Parse Hustle Fund (Health)"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        1175
      ],
      "id": "health-merge-cade-hustle",
      "name": "Merge Cade + Hustle"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "rcMNDrfZR6csHRsYKFn0W",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1350,
        575
      ],
      "id": "health-exec-pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Calls shared subworkflow for dedup, enrichment, and evaluation"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1200,
        575
      ],
      "id": "health-limit-backfill",
      "name": "Limit (Backfill)",
      "notes": "Remove this node after initial backfill is complete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.martinventures.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        1400
      ],
      "id": "health-fetch-martin",
      "name": "Browserless Martin Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Martin Ventures - Nashville healthcare VC\n// v26: Added Mar 2026\nconst results = [];\nconst vcName = 'Martin Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Portfolio companies from martinventures.com/portfolio\nconst knownCompanies = [\n  ['Arche Health', 'https://www.archehealth.com'],\n  ['Artera', 'https://www.artera.io'],\n  ['BekHealth', 'https://www.bekhealth.com'],\n  ['Cadence', 'https://www.cadence.care'],\n  ['CodaMetrix', 'https://www.codametrix.com'],\n  ['Commure', 'https://www.commure.com'],\n  ['Evergreen Nephrology', 'https://www.evergreennephrology.com'],\n  ['Greater Good Health', 'https://www.greatergoodhealth.com'],\n  ['Harbor Health', 'https://www.harborhealth.com'],\n  ['Hashed Health', 'https://www.hashedhealth.com'],\n  ['Healthcare Strategy Group', 'https://www.healthcarestrategygroup.com'],\n  ['Medallion', 'https://www.medallion.co'],\n  ['MedPilot', 'https://www.medpilot.com'],\n  ['Moxe Health', 'https://www.moxehealth.com'],\n  ['NovuHealth', 'https://www.novuhealth.com'],\n  ['Olive', 'https://www.oliveai.com'],\n  ['PatientBond', 'https://www.patientbond.com'],\n  ['Puzzle Healthcare', 'https://www.puzzlehealthcare.com'],\n  ['Relias', 'https://www.relias.com'],\n  ['SocialClimb', 'https://www.socialclimb.com'],\n  ['Stellar Health', 'https://www.stellar.health'],\n  ['Stratasan', 'https://www.stratasan.com'],\n  ['Syntellis', 'https://www.syntellis.com'],\n  ['Trilliant Health', 'https://www.trillianthealth.com'],\n  ['Valer', 'https://www.valer.com'],\n  ['Vyne Medical', 'https://www.vynemedical.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({\n    json: {\n      'Company Name': company,\n      'VC Firm': vcName,\n      'Company Description': company + ' - Martin Ventures portfolio company (Nashville healthcare)',\n      'Company URL': url,\n      'Status': 'New',\n      'First Seen Date': today,\n      'Portfolio Addition Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1400
      ],
      "id": "health-parse-martin",
      "name": "Parse Martin Ventures"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.townhallventures.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        1550
      ],
      "id": "health-fetch-townhall",
      "name": "Browserless Town Hall Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Town Hall Ventures - healthcare + government tech\n// v26: Added Mar 2026\nconst results = [];\nconst vcName = 'Town Hall Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Portfolio from townhallventures.com/portfolio (Squarespace gallery)\nconst knownCompanies = [\n  ['Ambience Healthcare', 'https://www.ambiencehealthcare.com'],\n  ['Arine', 'https://www.arine.io'],\n  ['Brave Health', 'https://www.bravehealth.com'],\n  ['Brigade', 'https://www.brigade.health'],\n  ['Cityblock Health', 'https://www.cityblock.com'],\n  ['Concert Health', 'https://www.concerthealth.com'],\n  ['Connections Health Solutions', 'https://www.connectionshealthsolutions.com'],\n  ['Curana Health', 'https://www.curanahealth.com'],\n  ['Datavant', 'https://www.datavant.com'],\n  ['Eleanor Health', 'https://www.eleanorhealth.com'],\n  ['firsthand', 'https://www.firsthandcare.com'],\n  ['Guidehealth', 'https://www.guidehealth.com'],\n  ['Hazel Health', 'https://www.hazelhealth.com'],\n  ['Healthify', 'https://www.healthify.us'],\n  ['HealthLynked', 'https://www.healthlynked.com'],\n  ['Homeward', 'https://www.homeward.com'],\n  ['Included Health', 'https://www.includedhealth.com'],\n  ['Jasper Health', 'https://www.jasperhealth.com'],\n  ['Kindbody', 'https://www.kindbody.com'],\n  ['Lyra Health', 'https://www.lyrahealth.com'],\n  ['MedArrive', 'https://www.medarrive.com'],\n  ['Merit', 'https://www.merits.com'],\n  ['Mindoula', 'https://www.mindoula.com'],\n  ['Nomi Health', 'https://www.nomihealth.com'],\n  ['Oshi Health', 'https://www.oshihealth.com'],\n  ['Papa', 'https://www.papa.com'],\n  ['Peers Health', 'https://www.peershealth.com'],\n  ['Quartet Health', 'https://www.quartethealth.com'],\n  ['Sanvello', 'https://www.sanvello.com'],\n  ['Scene Health', 'https://www.scenehealth.com'],\n  ['Somatus', 'https://www.somatus.com'],\n  ['SWORD Health', 'https://www.swordhealth.com'],\n  ['Unite Us', 'https://www.uniteus.com'],\n  ['Upward Health', 'https://www.upwardhealth.com'],\n  ['Wayspring', 'https://www.wayspring.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({\n    json: {\n      'Company Name': company,\n      'VC Firm': vcName,\n      'Company Description': company + ' - Town Hall Ventures portfolio company (healthcare/govt tech)',\n      'Company URL': url,\n      'Status': 'New',\n      'First Seen Date': today,\n      'Portfolio Addition Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1550
      ],
      "id": "health-parse-townhall",
      "name": "Parse Town Hall Ventures"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://transformcap.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        1850
      ],
      "id": "health-fetch-transformation",
      "name": "Browserless Transformation Capital"
    },
    {
      "parameters": {
        "jsCode": "// Parse Transformation Capital - Healthcare IT\n// v27: Added Mar 2026\nconst results = [];\nconst vcName = 'Transformation Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst knownCompanies = [\n  ['Abode Healthcare', 'https://www.abodehealthcare.com'],\n  ['Aetion', 'https://www.aetion.com'],\n  ['Aledade', 'https://www.aledade.com'],\n  ['Axuall', 'https://www.axuall.com'],\n  ['Bamboo Health', 'https://www.bamboohealth.com'],\n  ['Clarify Health', 'https://www.clarifyhealth.com'],\n  ['CodaMetrix', 'https://www.codametrix.com'],\n  ['Cohere Health', 'https://www.coherehealth.com'],\n  ['Commure', 'https://www.commure.com'],\n  ['Concert Genetics', 'https://www.concertgenetics.com'],\n  ['Cureatr', 'https://www.cureatr.com'],\n  ['Evernorth', 'https://www.evernorth.com'],\n  ['Garner Health', 'https://www.getgarner.com'],\n  ['HealthEdge', 'https://www.healthedge.com'],\n  ['Healthjump', 'https://www.healthjump.com'],\n  ['Intelligent Medical Objects', 'https://www.imohealth.com'],\n  ['Lightbeam Health', 'https://www.lightbeamhealth.com'],\n  ['MedTrainer', 'https://www.medtrainer.com'],\n  ['NextGen Healthcare', 'https://www.nextgen.com'],\n  ['Nuna', 'https://www.nuna.com'],\n  ['Olive', 'https://www.oliveai.com'],\n  ['OSP Labs', 'https://www.osplabs.com'],\n  ['PatientIQ', 'https://www.patientiq.io'],\n  ['Rhyme', 'https://www.rhyme.com'],\n  ['Ribbon Health', 'https://www.ribbonhealth.com'],\n  ['Silversheet', 'https://www.silversheet.com'],\n  ['Stellar Health', 'https://www.stellar.health'],\n  ['Surescripts', 'https://www.surescripts.com'],\n  ['symplr', 'https://www.symplr.com'],\n  ['VisiQuate', 'https://www.visiquate.com'],\n  ['Zelis', 'https://www.zelis.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({\n    json: {\n      'Company Name': company,\n      'VC Firm': vcName,\n      'Company Description': company + ' - Transformation Capital portfolio (healthcare IT)',\n      'Company URL': url,\n      'Status': 'New',\n      'First Seen Date': today,\n      'Portfolio Addition Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1850
      ],
      "id": "health-parse-transformation",
      "name": "Parse Transformation Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.brewerlane.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        2000
      ],
      "id": "health-fetch-brewerlane",
      "name": "Browserless Brewer Lane"
    },
    {
      "parameters": {
        "jsCode": "// Parse Brewer Lane Ventures - Healthcare, Insurance\n// v27: Added Mar 2026\nconst results = [];\nconst vcName = 'Brewer Lane Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst knownCompanies = [\n  ['Beam Benefits', 'https://www.beambenefits.com'],\n  ['Bright Health', 'https://www.brighthealthgroup.com'],\n  ['Clara Analytics', 'https://www.claraanalytics.com'],\n  ['Clarify Health', 'https://www.clarifyhealth.com'],\n  ['Clover Health', 'https://www.cloverhealth.com'],\n  ['Collective Health', 'https://www.collectivehealth.com'],\n  ['Coterie Insurance', 'https://www.coterieinsurance.com'],\n  ['Cover Whale', 'https://www.coverwhale.com'],\n  ['Flume Health', 'https://www.flumehealth.com'],\n  ['Gravie', 'https://www.gravie.com'],\n  ['Healthee', 'https://www.healthee.com'],\n  ['Justworks', 'https://www.justworks.com'],\n  ['Kindbody', 'https://www.kindbody.com'],\n  ['LightSpun', 'https://www.lightspun.com'],\n  ['Lively', 'https://www.livelyme.com'],\n  ['Maven Clinic', 'https://www.mavenclinic.com'],\n  ['Noyo', 'https://www.noyo.com'],\n  ['Nuna', 'https://www.nuna.com'],\n  ['Oscar Health', 'https://www.hioscar.com'],\n  ['Pie Insurance', 'https://www.pieinsurance.com'],\n  ['Ribbon Health', 'https://www.ribbonhealth.com'],\n  ['Sana Benefits', 'https://www.sanabenefits.com'],\n  ['Stride Health', 'https://www.stridehealth.com'],\n  ['Transcarent', 'https://www.transcarent.com'],\n  ['Venteur', 'https://www.venteur.co']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({\n    json: {\n      'Company Name': company,\n      'VC Firm': vcName,\n      'Company Description': company + ' - Brewer Lane Ventures portfolio (healthcare/insurance)',\n      'Company URL': url,\n      'Status': 'New',\n      'First Seen Date': today,\n      'Portfolio Addition Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        2000
      ],
      "id": "health-parse-brewerlane",
      "name": "Parse Brewer Lane"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://mainsailpartners.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        2150
      ],
      "id": "health-fetch-mainsail",
      "name": "Browserless Mainsail Partners"
    },
    {
      "parameters": {
        "jsCode": "// Parse Mainsail Partners - Growth-stage vertical SaaS\n// v27: Added Mar 2026 - Focus on business-user customers\nconst results = [];\nconst vcName = 'Mainsail Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst knownCompanies = [\n  ['ASG Technologies', 'https://www.asg.com'],\n  ['Buildout', 'https://www.buildout.com'],\n  ['Carestream Dental', 'https://www.carestreamdental.com'],\n  ['Church Community Builder', 'https://www.churchcommunitybuilder.com'],\n  ['ComplianceQuest', 'https://www.compliancequest.com'],\n  ['Connexus', 'https://www.connexus.com'],\n  ['Decisiv', 'https://www.decisiv.com'],\n  ['Dentrix Ascend', 'https://www.dentrixascend.com'],\n  ['DocketManager', 'https://www.docketmanager.com'],\n  ['Exago', 'https://www.exagoinc.com'],\n  ['Finalsite', 'https://www.finalsite.com'],\n  ['FleetLocate', 'https://www.spireon.com'],\n  ['Greenway Health', 'https://www.greenwayhealth.com'],\n  ['IQMS', 'https://www.iqms.com'],\n  ['Kofile', 'https://www.kofile.com'],\n  ['Madwire', 'https://www.madwire.com'],\n  ['MiEdge', 'https://www.miedge.com'],\n  ['PestRoutes', 'https://www.pestroutes.com'],\n  ['PhysiQ', 'https://www.physiqhealth.com'],\n  ['SafeRide Health', 'https://www.saferidehealth.com'],\n  ['ServicePro', 'https://www.servicepro.com'],\n  ['Shape Software', 'https://www.setshape.com'],\n  ['SimplePractice', 'https://www.simplepractice.com'],\n  ['Solera Health', 'https://www.soleranetwork.com'],\n  ['Veristream', 'https://www.veristream.com'],\n  ['Waystar', 'https://www.waystar.com'],\n  ['Weave', 'https://www.getweave.com'],\n  ['Wellness Corporate Solutions', 'https://www.wellnesscorporatesolutions.com'],\n  ['WRS Health', 'https://www.wrshealth.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({\n    json: {\n      'Company Name': company,\n      'VC Firm': vcName,\n      'Company Description': company + ' - Mainsail Partners portfolio (vertical SaaS)',\n      'Company URL': url,\n      'Status': 'New',\n      'First Seen Date': today,\n      'Portfolio Addition Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        2150
      ],
      "id": "health-parse-mainsail",
      "name": "Parse Mainsail Partners"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://fiveelms.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        },
        "authentication": "none"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        2300
      ],
      "id": "health-fetch-fiveelms",
      "name": "Browserless Five Elms"
    },
    {
      "parameters": {
        "jsCode": "// Parse Five Elms Capital - B2B vertical SaaS\n// v27: Added Mar 2026 - Focus on non-technical business users\nconst results = [];\nconst vcName = 'Five Elms Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst knownCompanies = [\n  ['7shifts', 'https://www.7shifts.com'],\n  ['Avochato', 'https://www.avochato.com'],\n  ['Blackthorn.io', 'https://www.blackthorn.io'],\n  ['Buildium', 'https://www.buildium.com'],\n  ['CallTrackingMetrics', 'https://www.calltrackingmetrics.com'],\n  ['ClinicSense', 'https://www.clinicsense.com'],\n  ['Crexi', 'https://www.crexi.com'],\n  ['Dribbble', 'https://www.dribbble.com'],\n  ['eClinicalWorks', 'https://www.eclinicalworks.com'],\n  ['Engrain', 'https://www.engrain.com'],\n  ['Everlaw', 'https://www.everlaw.com'],\n  ['Giva', 'https://www.givainc.com'],\n  ['GreatVines', 'https://www.greatvines.com'],\n  ['IntelliChief', 'https://www.intellichief.com'],\n  ['Jive Communications', 'https://www.jive.com'],\n  ['LawPay', 'https://www.lawpay.com'],\n  ['LeadSimple', 'https://www.leadsimple.com'],\n  ['MemberClicks', 'https://www.memberclicks.com'],\n  ['Mend', 'https://www.mend.com'],\n  ['Orion', 'https://www.orion.com'],\n  ['Passport', 'https://www.passportinc.com'],\n  ['ProcessMaker', 'https://www.processmaker.com'],\n  ['Pushpay', 'https://www.pushpay.com'],\n  ['Qualia', 'https://www.qualia.com'],\n  ['ReviewTrackers', 'https://www.reviewtrackers.com'],\n  ['ServiceTitan', 'https://www.servicetitan.com'],\n  ['ShiftMed', 'https://www.shiftmed.com'],\n  ['Sisu', 'https://www.sisu.co'],\n  ['Tradify', 'https://www.tradifyhq.com'],\n  ['Vendasta', 'https://www.vendasta.com'],\n  ['Virtuous', 'https://www.virtuous.org'],\n  ['WellnessLiving', 'https://www.wellnessliving.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({\n    json: {\n      'Company Name': company,\n      'VC Firm': vcName,\n      'Company Description': company + ' - Five Elms Capital portfolio (B2B vertical SaaS)',\n      'Company URL': url,\n      'Status': 'New',\n      'First Seen Date': today,\n      'Portfolio Addition Date': today,\n      'Source': 'VC Portfolio'\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        2300
      ],
      "id": "health-parse-fiveelms",
      "name": "Parse Five Elms"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        2075
      ],
      "id": "health-merge-brewerlane-mainsail",
      "name": "Merge BrewerLane + Mainsail"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        1925
      ],
      "id": "health-merge-tier2-saas",
      "name": "Merge Tier2 + SaaS"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        1475
      ],
      "id": "health-merge-martin-townhall",
      "name": "Merge Martin + Town Hall"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        1175
      ],
      "id": "health-merge-cade-hustle-martin-townhall",
      "name": "Merge Lower Groups"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1100,
        875
      ],
      "id": "health-final-combine",
      "name": "Final Combine All"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1200,
        725
      ],
      "id": "health-grand-final",
      "name": "Grand Final Merge"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1000,
        1925
      ],
      "id": "health-merge-fiveelms",
      "name": "Merge with Five Elms"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbll8igHTftSqsTtQ",
          "mode": "id"
        },
        "returnAll": true,
        "filterByFormula": "LEFT({Key}, 8) = \"company:\"",
        "options": {
          "fields": [
            "Key"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        50,
        100
      ],
      "id": "health-fetch-seen-keys",
      "name": "Fetch Seen Keys",
      "credentials": {
        "airtableTokenApi": {
          "id": "svcspqcZ9yGYzqGm",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl7yU6QYfIFSC2nD",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "fields": [
            "Company Name"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        50,
        250
      ],
      "id": "health-fetch-funding-alerts",
      "name": "Fetch Funding Alerts",
      "credentials": {
        "airtableTokenApi": {
          "id": "svcspqcZ9yGYzqGm",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        250,
        175
      ],
      "id": "health-merge-seen-sources",
      "name": "Merge Seen Sources"
    },
    {
      "parameters": {
        "jsCode": "// v28: Store seen company keys from BOTH Seen Opportunities and Funding Alerts\nconst staticData = $getWorkflowStaticData(\"global\");\nconst seenKeys = new Set();\nconst items = $input.all();\n\nfor (const item of items) {\n  const key = item.json.Key;\n  if (key && key.startsWith(\"company:\")) {\n    seenKeys.add(key);\n    continue;\n  }\n  const companyName = item.json[\"Company Name\"];\n  if (companyName) {\n    const normalizedKey = \"company:\" + companyName.toLowerCase().replace(/[^a-z0-9]/g, \"\");\n    seenKeys.add(normalizedKey);\n  }\n}\n\nstaticData.seenCompanyKeys = Array.from(seenKeys);\nconsole.log(`v28: Stored ${seenKeys.size} seen company keys`);\nreturn [{ json: { seenKeysLoaded: true, count: seenKeys.size } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        175
      ],
      "id": "health-store-seen-keys",
      "name": "Store Seen Keys"
    },
    {
      "parameters": {
        "jsCode": "// v28: Filter companies already in Seen Opportunities or Funding Alerts\nconst items = $input.all();\nconst staticData = $getWorkflowStaticData(\"global\");\nconst seenKeys = new Set(staticData.seenCompanyKeys || []);\nconst localSeen = new Set();\nconst newCompanies = [];\nlet skipped = 0;\n\nfor (const item of items) {\n  if (item.json._empty) continue;\n  const name = item.json[\"Company Name\"] || \"\";\n  if (!name || name.length < 2) continue;\n\n  const localKey = name.toLowerCase().replace(/[^a-z0-9]/g, \"\");\n  if (localSeen.has(localKey)) { skipped++; continue; }\n  localSeen.add(localKey);\n\n  const dedupKey = \"company:\" + localKey;\n  if (seenKeys.has(dedupKey)) { skipped++; continue; }\n\n  newCompanies.push(item);\n}\n\nconsole.log(`v28 Filter: ${skipped} already seen, ${newCompanies.length} NEW`);\nif (newCompanies.length === 0) {\n  return [{ json: { _empty: true, _message: \"All companies already processed\", skipped } }];\n}\nreturn newCompanies;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        500
      ],
      "id": "health-filter-new-only",
      "name": "Filter New Only"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Company Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1550,
        500
      ],
      "id": "health-has-new",
      "name": "Has New Companies?"
    }
  ],
  "connections": {
    "Schedule Trigger (Tue/Fri 8am)": {
      "main": [
        [
          {
            "node": "Fetch Seen Keys",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Funding Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Flare Capital": {
      "main": [
        [
          {
            "node": "Parse Flare Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Flare Capital": {
      "main": [
        [
          {
            "node": "Merge Flare + 7wire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless 7wireVentures": {
      "main": [
        [
          {
            "node": "Parse 7wireVentures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse 7wireVentures": {
      "main": [
        [
          {
            "node": "Merge Flare + 7wire",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Oak HC/FT": {
      "main": [
        [
          {
            "node": "Parse Oak HC/FT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Oak HC/FT": {
      "main": [
        [
          {
            "node": "Merge Oak + Digitalis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Digitalis": {
      "main": [
        [
          {
            "node": "Parse Digitalis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Digitalis": {
      "main": [
        [
          {
            "node": "Merge Oak + Digitalis",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless a16z Bio+Health": {
      "main": [
        [
          {
            "node": "Parse a16z Bio+Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse a16z Bio+Health": {
      "main": [
        [
          {
            "node": "Merge a16z + Healthworx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Healthworx": {
      "main": [
        [
          {
            "node": "Parse Healthworx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Healthworx": {
      "main": [
        [
          {
            "node": "Merge a16z + Healthworx",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Flare + 7wire": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Oak + Digitalis": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Groups 1+2": {
      "main": [
        [
          {
            "node": "Combine All Healthcare VCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge a16z + Healthworx": {
      "main": [
        [
          {
            "node": "Combine All Healthcare VCs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Cade Ventures": {
      "main": [
        [
          {
            "node": "Parse Cade Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cade Ventures": {
      "main": [
        [
          {
            "node": "Merge Cade + Hustle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Hustle Fund": {
      "main": [
        [
          {
            "node": "Parse Hustle Fund (Health)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hustle Fund (Health)": {
      "main": [
        [
          {
            "node": "Merge Cade + Hustle",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Cade + Hustle": {
      "main": [
        [
          {
            "node": "Merge Lower Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Healthcare VCs": {
      "main": [
        [
          {
            "node": "Final Combine All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lower Groups": {
      "main": [
        [
          {
            "node": "Final Combine All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit (Backfill)": {
      "main": [
        [
          {
            "node": "Execute Enrich & Evaluate Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Martin Ventures": {
      "main": [
        [
          {
            "node": "Parse Martin Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Martin Ventures": {
      "main": [
        [
          {
            "node": "Merge Martin + Town Hall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Town Hall Ventures": {
      "main": [
        [
          {
            "node": "Parse Town Hall Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Town Hall Ventures": {
      "main": [
        [
          {
            "node": "Merge Martin + Town Hall",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Martin + Town Hall": {
      "main": [
        [
          {
            "node": "Merge Lower Groups",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Transformation Capital": {
      "main": [
        [
          {
            "node": "Parse Transformation Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Transformation Capital": {
      "main": [
        [
          {
            "node": "Merge Tier2 + SaaS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Brewer Lane": {
      "main": [
        [
          {
            "node": "Parse Brewer Lane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Brewer Lane": {
      "main": [
        [
          {
            "node": "Merge BrewerLane + Mainsail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Mainsail Partners": {
      "main": [
        [
          {
            "node": "Parse Mainsail Partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Mainsail Partners": {
      "main": [
        [
          {
            "node": "Merge BrewerLane + Mainsail",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Five Elms": {
      "main": [
        [
          {
            "node": "Parse Five Elms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge BrewerLane + Mainsail": {
      "main": [
        [
          {
            "node": "Merge Tier2 + SaaS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Tier2 + SaaS": {
      "main": [
        [
          {
            "node": "Merge with Five Elms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Five Elms": {
      "main": [
        [
          {
            "node": "Merge with Five Elms",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge with Five Elms": {
      "main": [
        [
          {
            "node": "Grand Final Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Final Combine All": {
      "main": [
        [
          {
            "node": "Filter New Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grand Final Merge": {
      "main": [
        [
          {
            "node": "Limit (Backfill)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Seen Keys": {
      "main": [
        [
          {
            "node": "Merge Seen Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Funding Alerts": {
      "main": [
        [
          {
            "node": "Merge Seen Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Seen Sources": {
      "main": [
        [
          {
            "node": "Store Seen Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Seen Keys": {
      "main": [
        [
          {
            "node": "Browserless Flare Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless 7wireVentures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Oak HC/FT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Digitalis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless a16z Bio+Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Healthworx",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Cade Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Hustle Fund",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Martin Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Town Hall Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Transformation Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Brewer Lane",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Mainsail Partners",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Five Elms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Only": {
      "main": [
        [
          {
            "node": "Has New Companies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Companies?": {
      "main": [
        [
          {
            "node": "Limit (Backfill)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}