VC Scraper - Enterprise & Generalist v22.json
{
  "name": "VC Scraper - Enterprise & Generalist v22",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 8 * * 0"}]}
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 500],
      "id": "trigger",
      "name": "Schedule (Sun 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://unusual.vc/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 },\n  \"waitForSelector\": { \"selector\": \"h4\", \"timeout\": 10000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 100],
      "id": "unusual-fetch",
      "name": "Browserless Unusual"
    },
    {
      "parameters": {
        "jsCode": "// Parse Unusual Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Unusual Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const h4Pattern = /<h4[^>]*>([^<]+)<\\/h4>/gi;\n  let match;\n  while ((match = h4Pattern.exec(html)) !== null) {\n    const text = match[1].trim();\n    if (text.length < 10 || text.toLowerCase().includes('visit website') || text.toLowerCase().includes('portfolio')) continue;\n    const parts = text.split(/\\s+is\\s+/i);\n    if (parts.length < 2) continue;\n    const name = parts[0].trim();\n    const key = name.toLowerCase();\n    if (name.length >= 2 && name.length <= 50 && !seen.has(key)) {\n      seen.add(key);\n      const context = html.substring(Math.max(0, match.index - 1000), Math.min(html.length, match.index + 1000));\n      let url = '';\n      const extMatch = context.match(/href=[\"'](https?:\\/\\/(?!(?:www\\.)?(?:unusual\\.vc|linkedin|twitter|facebook|x)\\.com)[^\"']+)[\"']/i);\n      if (extMatch) url = extMatch[1];\n      results.push({ json: { company_name: name, company_url: url, description: text, source: vcName } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 100],
      "id": "unusual-parse",
      "name": "Parse Unusual"
    },
    {
      "parameters": {
        "url": "https://m6i10uln.api.sanity.io/v2021-10-21/data/query/production?query=*[_type==\"company\"]{title,website,slug,statement,_createdAt}",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 260],
      "id": "firstround-fetch",
      "name": "Fetch First Round (Sanity API)"
    },
    {
      "parameters": {
        "jsCode": "// Parse First Round Capital\nconst items = $input.all();\nconst results = [];\nconst vcName = 'First Round Capital';\nconst seen = new Set();\n\nfor (const item of items) {\n  const companies = item.json.result || [];\n  for (const company of companies) {\n    const name = company.title || '';\n    if (!name || name.length < 2) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    const website = company.website || '';\n    let description = '';\n    if (company.statement && Array.isArray(company.statement)) {\n      for (const block of company.statement) {\n        if (block.children) for (const child of block.children) if (child.text) description += child.text + ' ';\n      }\n      description = description.trim();\n    }\n    if (!description) description = name + ' - First Round Capital portfolio company';\n    results.push({ json: { company_name: name, company_url: website, description: description, source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 260],
      "id": "firstround-parse",
      "name": "Parse First Round"
    },
    {
      "parameters": {
        "url": "https://www.essencevc.fund/companies",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 420],
      "id": "essence-fetch",
      "name": "Fetch Essence VC"
    },
    {
      "parameters": {
        "jsCode": "// Parse Essence VC\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Essence VC';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const imgLinkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>[^<]*<img[^>]*alt=[\"']([^\"']+)[\"'][^>]*>[^<]*<\\/a>/gi;\n  let match;\n  while ((match = imgLinkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    const name = match[2].trim();\n    if (url.includes('squarespace') || url.includes('essencevc') || url.includes('linkedin') || url.includes('twitter') || url.includes('facebook') || url.includes('instagram')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { company_name: name, company_url: url, description: name + ' - Essence VC portfolio company', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 420],
      "id": "essence-parse",
      "name": "Parse Essence"
    },
    {
      "parameters": {
        "url": "https://costanoa.vc/sitemap.xml",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 580],
      "id": "costanoa-fetch",
      "name": "Fetch Costanoa Sitemap"
    },
    {
      "parameters": {
        "jsCode": "// Parse Costanoa Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Costanoa Ventures';\nconst seen = new Set();\nconst headlineWords = ['connects', 'announces', 'launches', 'raises', 'acquires', 'joins', 'partners', 'expands', 'introduces', 'unveils', 'releases', 'data', 'digital', 'offline', 'online', 'purchasing', 'marketing', 'advertising', 'investment', 'funding', 'series', 'million', 'billion'];\n\nfor (const item of items) {\n  let xml = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const urlBlockPattern = /<url>([\\s\\S]*?)<\\/url>/gi;\n  let match;\n  while ((match = urlBlockPattern.exec(xml)) !== null) {\n    const block = match[1];\n    const locMatch = block.match(/<loc>https?:\\/\\/costanoa\\.vc\\/portfolio\\/([^<\\/]+)<\\/loc>/i);\n    if (!locMatch) continue;\n    const slug = locMatch[1].trim();\n    if (!slug || slug.length < 2 || slug === 'portfolio') continue;\n    const wordCount = slug.split('-').length;\n    if (wordCount > 4) continue;\n    const slugLower = slug.toLowerCase();\n    if (headlineWords.some(w => slugLower.includes(w))) continue;\n    if (slug.length > 40) continue;\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { company_name: name, company_url: 'https://costanoa.vc/portfolio/' + slug, description: name + ' - Costanoa Ventures portfolio company', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 580],
      "id": "costanoa-parse",
      "name": "Parse Costanoa"
    },
    {
      "parameters": {
        "url": "https://www.wxrfund.com/portfolio",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 740],
      "id": "wxr-fetch",
      "name": "Fetch WXR Fund"
    },
    {
      "parameters": {
        "jsCode": "// Parse WXR Fund\nconst items = $input.all();\nconst results = [];\nconst vcName = 'WXR Fund';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!wxrfund|squarespace|linkedin|twitter|facebook|instagram)[^\"']+)[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/a>/gi;\n  let match;\n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    let name = match[2].trim();\n    if (name.toLowerCase().includes('read more') || name.toLowerCase().includes('learn more')) continue;\n    if (name.toLowerCase().includes('privacy') || name.toLowerCase().includes('terms')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { company_name: name, company_url: url, description: name + ' - WXR Fund portfolio company (XR/spatial computing)', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 740],
      "id": "wxr-parse",
      "name": "Parse WXR"
    },
    {
      "parameters": {
        "url": "https://golden.ventures/portfolio",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 900],
      "id": "golden-fetch",
      "name": "Fetch Golden Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Golden Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Golden Ventures';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const slugPattern = /href=[\"']\\/portfolio\\/([a-z0-9\\-]+)[\"']/gi;\n  let match;\n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug === 'portfolio' || slug === 'all') continue;\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { company_name: name, company_url: 'https://golden.ventures/portfolio/' + slug, description: name + ' - Golden Ventures portfolio company (Canadian early-stage)', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 900],
      "id": "golden-parse",
      "name": "Parse Golden"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://notablecap.com/companies\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 100],
      "id": "notable-fetch",
      "name": "Browserless Notable"
    },
    {
      "parameters": {
        "jsCode": "// Parse Notable Capital\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Notable Capital';\nconst seen = new Set();\nconst skipDomains = ['notablecap', 'linkedin', 'twitter', 'facebook', 'instagram', 'youtube', 'medium', 'google', 'apple', 'amazonaws', 'cloudfront', 'cdn', 'fonts', 'gstatic'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>/gi;\n  let match;\n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    if (url.includes('#') || url.length < 10) continue;\n    const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n    if (!domainMatch) continue;\n    const domain = domainMatch[1].toLowerCase();\n    if (skipDomains.some(skip => domain.includes(skip))) continue;\n    if (domain.length < 2 || domain.length > 30) continue;\n    let name = domain.charAt(0).toUpperCase() + domain.slice(1);\n    name = name.replace(/ai$/i, 'AI').replace(/^ai/i, 'AI');\n    const key = domain.replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { company_name: name, company_url: url, description: name + ' - Notable Capital portfolio company', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100],
      "id": "notable-parse",
      "name": "Parse Notable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://headline.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 260],
      "id": "headline-fetch",
      "name": "Browserless Headline"
    },
    {
      "parameters": {
        "jsCode": "// Parse Headline\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Headline';\nconst seen = new Set();\nconst junkPatterns = ['privacy', 'statement', 'notice', 'blog', 'latest', 'how we work', 'site notice', 'investing in', 'founder', 'spotlight', 'landscape', 'lookahead', 'why is', 'the power of', 'match made', 'nasdaq', 'nyse', 'tyo', 'hk '];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const companyBlockPattern = /\\{[^{}]*\"type\"\\s*:\\s*\"company\"[^{}]*\"slug\"\\s*:\\s*\"([a-z0-9-]+)\"[^{}]*\\}/gi;\n  let match;\n  while ((match = companyBlockPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2 || slug.length > 50) continue;\n    if (slug.includes('acq') || slug === 'portfolio' || slug === 'company') continue;\n    let name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const nameLower = name.toLowerCase();\n    if (junkPatterns.some(p => nameLower.includes(p))) continue;\n    if (/^[A-Z][a-z]+ [A-Z][a-z]+$/.test(name) && !/\\d/.test(name)) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    const contextStart = Math.max(0, match.index - 200);\n    const contextEnd = Math.min(html.length, match.index + 500);\n    const context = html.substring(contextStart, contextEnd);\n    let companyUrl = '';\n    const urlMatch = context.match(/\"(?:website|url|href)\"\\s*:\\s*\"(https?:\\/\\/[^\"]+)\"/i);\n    if (urlMatch) companyUrl = urlMatch[1];\n    let description = name + ' - Headline portfolio company';\n    const tagMatch = context.match(/\"tag\"\\s*:\\s*\"([^\"]+)\"/i);\n    if (tagMatch && !['active', 'exited', 'north america', 'europe', 'asia'].includes(tagMatch[1].toLowerCase())) {\n      description = name + ' - Headline portfolio (' + tagMatch[1] + ')';\n    }\n    results.push({ json: { company_name: name, company_url: companyUrl, description: description, source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 260],
      "id": "headline-parse",
      "name": "Parse Headline"
    },
    {
      "parameters": {
        "url": "https://www.psl.com/companies",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 420],
      "id": "psl-fetch",
      "name": "Fetch PSL (Pioneer Square)"
    },
    {
      "parameters": {
        "jsCode": "// Parse Pioneer Square Labs\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Pioneer Square Labs';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const slugPattern = /href=[\"']\\/companies\\/([a-z0-9\\-]+)[\"']/gi;\n  let match;\n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug === 'companies' || slug === 'all') continue;\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { company_name: name, company_url: 'https://www.psl.com/companies/' + slug, description: name + ' - Pioneer Square Labs portfolio company (Seattle-based)', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 420],
      "id": "psl-parse",
      "name": "Parse PSL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://trilogyequity.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 60000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 580],
      "id": "trilogy-fetch",
      "name": "Browserless Trilogy"
    },
    {
      "parameters": {
        "jsCode": "// Parse Trilogy Equity Partners\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Trilogy Equity Partners';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const modalUrls = {};\n  const modalStartPattern = /id=\"(modal--\\d+)\"/g;\n  let modalMatch;\n  while ((modalMatch = modalStartPattern.exec(html)) !== null) {\n    const modalId = modalMatch[1];\n    const startIdx = modalMatch.index;\n    const section = html.substring(startIdx, startIdx + 5000);\n    const urlMatch = section.match(/class=\"website\"[^>]*>.*?href=\"([^\"]+)\"/i);\n    if (urlMatch) modalUrls[modalId] = urlMatch[1];\n  }\n  const itemPattern = /data-modal=\"(modal--\\d+)\"[^>]*>\\s*<div class=\"portfolio--content\">\\s*<h4>([^<]+)<\\/h4>/g;\n  let match;\n  while ((match = itemPattern.exec(html)) !== null) {\n    const modalId = match[1];\n    const name = match[2].trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    const url = modalUrls[modalId] || '';\n    results.push({ json: { company_name: name, company_url: url, description: name + ' - Trilogy Equity Partners portfolio company (Seattle enterprise/consumer)', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 580],
      "id": "trilogy-parse",
      "name": "Parse Trilogy"
    },
    {
      "parameters": {"mode": "combine", "combinationMode": "multiplex"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1100, 300],
      "id": "merge1",
      "name": "Merge HTTP VCs"
    },
    {
      "parameters": {"mode": "combine", "combinationMode": "multiplex"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1100, 500],
      "id": "merge2",
      "name": "Merge Browserless VCs"
    },
    {
      "parameters": {"mode": "combine", "combinationMode": "multiplex"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1320, 400],
      "id": "merge-all",
      "name": "Merge All VCs"
    },
    {
      "parameters": {
        "jsCode": "// Combine all items and filter empty results\nconst allItems = $input.all();\nconst results = [];\nconst seen = new Set();\n\nfor (const item of allItems) {\n  // Skip empty markers\n  if (item.json._empty) continue;\n  \n  const name = item.json.company_name;\n  if (!name) continue;\n  \n  // Deduplicate by company name\n  const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  \n  results.push(item);\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found across all VCs' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 400],
      "id": "combine-dedup",
      "name": "Combine & Dedupe"
    },
    {
      "parameters": {
        "conditions": {"boolean": [{"value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true}]}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1760, 400],
      "id": "filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "rcMNDrfZR6csHRsYKFn0W", "mode": "id"},
        "options": {"waitForSubWorkflow": true}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1980, 380],
      "id": "pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Configure with the workflow ID of 'Enrich & Evaluate Pipeline'"
    }
  ],
  "connections": {
    "Schedule (Sun 8am)": {"main": [[
      {"node": "Browserless Unusual", "type": "main", "index": 0},
      {"node": "Fetch First Round (Sanity API)", "type": "main", "index": 0},
      {"node": "Fetch Essence VC", "type": "main", "index": 0},
      {"node": "Fetch Costanoa Sitemap", "type": "main", "index": 0},
      {"node": "Fetch WXR Fund", "type": "main", "index": 0},
      {"node": "Fetch Golden Ventures", "type": "main", "index": 0},
      {"node": "Browserless Notable", "type": "main", "index": 0},
      {"node": "Browserless Headline", "type": "main", "index": 0},
      {"node": "Fetch PSL (Pioneer Square)", "type": "main", "index": 0},
      {"node": "Browserless Trilogy", "type": "main", "index": 0}
    ]]},
    "Browserless Unusual": {"main": [[{"node": "Parse Unusual", "type": "main", "index": 0}]]},
    "Fetch First Round (Sanity API)": {"main": [[{"node": "Parse First Round", "type": "main", "index": 0}]]},
    "Fetch Essence VC": {"main": [[{"node": "Parse Essence", "type": "main", "index": 0}]]},
    "Fetch Costanoa Sitemap": {"main": [[{"node": "Parse Costanoa", "type": "main", "index": 0}]]},
    "Fetch WXR Fund": {"main": [[{"node": "Parse WXR", "type": "main", "index": 0}]]},
    "Fetch Golden Ventures": {"main": [[{"node": "Parse Golden", "type": "main", "index": 0}]]},
    "Browserless Notable": {"main": [[{"node": "Parse Notable", "type": "main", "index": 0}]]},
    "Browserless Headline": {"main": [[{"node": "Parse Headline", "type": "main", "index": 0}]]},
    "Fetch PSL (Pioneer Square)": {"main": [[{"node": "Parse PSL", "type": "main", "index": 0}]]},
    "Browserless Trilogy": {"main": [[{"node": "Parse Trilogy", "type": "main", "index": 0}]]},
    "Parse Unusual": {"main": [[{"node": "Merge HTTP VCs", "type": "main", "index": 0}]]},
    "Parse First Round": {"main": [[{"node": "Merge HTTP VCs", "type": "main", "index": 0}]]},
    "Parse Essence": {"main": [[{"node": "Merge HTTP VCs", "type": "main", "index": 0}]]},
    "Parse Costanoa": {"main": [[{"node": "Merge HTTP VCs", "type": "main", "index": 0}]]},
    "Parse WXR": {"main": [[{"node": "Merge HTTP VCs", "type": "main", "index": 0}]]},
    "Parse Golden": {"main": [[{"node": "Merge HTTP VCs", "type": "main", "index": 0}]]},
    "Parse Notable": {"main": [[{"node": "Merge Browserless VCs", "type": "main", "index": 0}]]},
    "Parse Headline": {"main": [[{"node": "Merge Browserless VCs", "type": "main", "index": 0}]]},
    "Parse PSL": {"main": [[{"node": "Merge Browserless VCs", "type": "main", "index": 0}]]},
    "Parse Trilogy": {"main": [[{"node": "Merge Browserless VCs", "type": "main", "index": 0}]]},
    "Merge HTTP VCs": {"main": [[{"node": "Merge All VCs", "type": "main", "index": 0}]]},
    "Merge Browserless VCs": {"main": [[{"node": "Merge All VCs", "type": "main", "index": 1}]]},
    "Merge All VCs": {"main": [[{"node": "Combine & Dedupe", "type": "main", "index": 0}]]},
    "Combine & Dedupe": {"main": [[{"node": "Filter Valid", "type": "main", "index": 0}]]},
    "Filter Valid": {"main": [[{"node": "Execute Enrich & Evaluate Pipeline", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
