VC Scraper - Bessemer Battery v2.6.json
{
  "name": "VC Scraper - Bessemer Battery v2.6",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "weeks", "triggerAtDay": [2], "triggerAtHour": 8}]}
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "id": "trigger",
      "name": "Schedule (Tue 8am Weekly)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.bvp.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 300],
      "id": "bessemer-fetch",
      "name": "Browserless Bessemer"
    },
    {
      "parameters": {
        "jsCode": "// Parse ALL Bessemer portfolio companies (v2.6: dual dedup)\nconst html = $input.first().json.data || $input.first().json.content || '';\n\nconst results = [];\nconst vcName = 'Bessemer Venture Partners';\nconst seenSlugs = new Set();\nconst seenNames = new Set();\n\nconst companyPattern = /href=[\"']https?:\\/\\/(?:www\\.)?bvp\\.com\\/companies\\/([a-z0-9-]+)[\"'][^>]*>([^<]*)</gi;\nlet match;\n\nwhile ((match = companyPattern.exec(html)) !== null) {\n  const slug = match[1].trim().toLowerCase();\n  let name = match[2].trim();\n  \n  if (!slug || slug.length < 2 || slug === 'companies' || slug === 'all') continue;\n  \n  if (seenSlugs.has(slug)) continue;\n  seenSlugs.add(slug);\n  \n  if (!name || name.length < 2) {\n    name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n  }\n  \n  name = name.replace(/^\\s*[-\\u2022]\\s*/, '').trim();\n  if (!name || name.length < 2 || name.length > 60) continue;\n  \n  const normalizedName = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seenNames.has(normalizedName)) continue;\n  seenNames.add(normalizedName);\n  \n  results.push({\n    json: {\n      company_name: name,\n      company_url: 'https://www.bvp.com/companies/' + slug,\n      description: name + ' - Bessemer Venture Partners portfolio company',\n      source: vcName\n    }\n  });\n}\n\nconsole.log('Bessemer total unique companies:', results.length);\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "bessemer-parse",
      "name": "Parse Bessemer"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "rcMNDrfZR6csHRsYKFn0W", "mode": "id"},
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [660, 300],
      "id": "pipeline-bessemer",
      "name": "Pipeline (Bessemer)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.battery.com/our-companies/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 300],
      "id": "battery-fetch",
      "name": "Browserless Battery"
    },
    {
      "parameters": {
        "jsCode": "// Parse ALL Battery portfolio companies (v2.6: dual dedup)\nconst html = $input.first().json.data || $input.first().json.content || '';\n\nconst results = [];\nconst vcName = 'Battery Ventures';\nconst seenSlugs = new Set();\nconst seenNames = new Set();\n\nconst companyPattern = /href=[\"'](?:https?:\\/\\/(?:www\\.)?battery\\.com)?\\/company\\/([a-z0-9-]+)\\/?[\"'][^>]*>/gi;\nlet match;\n\nwhile ((match = companyPattern.exec(html)) !== null) {\n  const slug = match[1].trim().toLowerCase();\n  \n  if (!slug || slug.length < 2 || slug === 'company' || slug === 'all') continue;\n  \n  if (seenSlugs.has(slug)) continue;\n  seenSlugs.add(slug);\n  \n  let name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n  name = name.replace(/\\s+Inc$/i, '').replace(/\\s+Ltd$/i, '').trim();\n  name = name.replace(/ai$/i, 'AI').replace(/^ai\\s/i, 'AI ');\n  \n  if (!name || name.length < 2 || name.length > 60) continue;\n  \n  const normalizedName = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seenNames.has(normalizedName)) continue;\n  seenNames.add(normalizedName);\n  \n  results.push({\n    json: {\n      company_name: name,\n      company_url: 'https://www.battery.com/company/' + slug + '/',\n      description: name + ' - Battery Ventures portfolio company',\n      source: vcName\n    }\n  });\n}\n\nconsole.log('Battery total unique companies:', results.length);\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "id": "battery-parse",
      "name": "Parse Battery"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "rcMNDrfZR6csHRsYKFn0W", "mode": "id"},
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1320, 300],
      "id": "pipeline-battery",
      "name": "Pipeline (Battery)"
    }
  ],
  "connections": {
    "Schedule (Tue 8am Weekly)": {"main": [[{"node": "Browserless Bessemer", "type": "main", "index": 0}]]},
    "Browserless Bessemer": {"main": [[{"node": "Parse Bessemer", "type": "main", "index": 0}]]},
    "Parse Bessemer": {"main": [[{"node": "Pipeline (Bessemer)", "type": "main", "index": 0}]]},
    "Pipeline (Bessemer)": {"main": [[{"node": "Browserless Battery", "type": "main", "index": 0}]]},
    "Browserless Battery": {"main": [[{"node": "Parse Battery", "type": "main", "index": 0}]]},
    "Parse Battery": {"main": [[{"node": "Pipeline (Battery)", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
