VC Scraper - LegalTech Fund v1.json
{
  "name": "VC Scraper - LegalTech Fund v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        480
      ],
      "id": "legaltech-schedule",
      "name": "Schedule Trigger (Mon/Thu 8am)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        660
      ],
      "id": "legaltech-manual",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbll8igHTftSqsTtQ",
          "mode": "id"
        },
        "returnAll": true,
        "filterByFormula": "LEFT({Key}, 8) = \"company:\"",
        "options": {
          "fields": [
            "Key"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        380
      ],
      "id": "legaltech-fetch-seen-opps",
      "name": "Fetch Seen Opportunities",
      "credentials": {
        "airtableTokenApi": {
          "id": "svcspqcZ9yGYzqGm",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl7yU6QYfIFSC2nD",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "fields": [
            "Company Name"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        580
      ],
      "id": "legaltech-fetch-funding",
      "name": "Fetch Funding Alerts",
      "credentials": {
        "airtableTokenApi": {
          "id": "svcspqcZ9yGYzqGm",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        480
      ],
      "id": "legaltech-merge-seen",
      "name": "Merge Seen Sources"
    },
    {
      "parameters": {
        "jsCode": "// Store seen company keys from BOTH Seen Opportunities and Funding Alerts\nconst staticData = $getWorkflowStaticData(\"global\");\nconst seenKeys = new Set();\nconst items = $input.all();\n\nfor (const item of items) {\n  const key = item.json.Key;\n  if (key && key.startsWith(\"company:\")) {\n    seenKeys.add(key);\n    continue;\n  }\n  const companyName = item.json[\"Company Name\"];\n  if (companyName) {\n    const normalizedKey = \"company:\" + companyName.toLowerCase().replace(/[^a-z0-9]/g, \"\");\n    seenKeys.add(normalizedKey);\n  }\n}\n\nstaticData.seenCompanyKeys = Array.from(seenKeys);\nconsole.log(`LegalTech: Stored ${seenKeys.size} seen company keys`);\nreturn [{ json: { seenKeysLoaded: true, count: seenKeys.size } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        480
      ],
      "id": "legaltech-store-seen",
      "name": "Store Seen Keys"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.legaltech.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 60000 },\n  \"waitForSelector\": { \"selector\": \"a[href*='/portfolio-companies/']\", \"timeout\": 15000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        480
      ],
      "id": "legaltech-browserless",
      "name": "Browserless LegalTech Fund"
    },
    {
      "parameters": {
        "jsCode": "// Parse The LegalTech Fund Portfolio\n// Extracts companies from portfolio page with external website links\n// Adds 'VC Backed': true to bypass nonprofit entity filters in pipeline\nconst items = $input.all();\nconst results = [];\nconst vcName = 'The LegalTech Fund';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Extract portfolio company detail page links\n  const portfolioLinkPattern = /href=[\"']\\/portfolio-companies\\/([^\"']+)[\"']/gi;\n  const companyMap = new Map();\n  \n  let match;\n  while ((match = portfolioLinkPattern.exec(html)) !== null) {\n    const slug = match[1].trim().toLowerCase();\n    if (!slug || slug.length < 2) continue;\n    \n    let name = slug\n      .replace(/-/g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase())\n      .replace(/\\bAi\\b/g, 'AI')\n      .replace(/\\.ai$/i, '.ai');\n    \n    name = name.replace(/^Ai \\& /i, 'AI & ');\n    \n    if (!companyMap.has(slug)) {\n      companyMap.set(slug, { name, externalUrl: '' });\n    }\n  }\n  \n  // Extract external company website URLs\n  const externalLinkPattern = /href=[\"'](https?:\\/\\/(?!(?:www\\.)?(?:legaltech\\.com|linkedin|twitter|facebook|instagram|youtube|wixstatic|typeform|hubspot|tltfsummit))[^\"']+)[\"']/gi;\n  \n  const externalUrls = [];\n  while ((match = externalLinkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    if (url.includes('#') || url.length < 10) continue;\n    externalUrls.push(url);\n  }\n  \n  // Build results\n  for (const [slug, data] of companyMap) {\n    const key = slug.replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    let companyUrl = '';\n    const nameParts = data.name.toLowerCase().split(/\\s+/);\n    for (const url of externalUrls) {\n      const domain = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i)?.[1]?.toLowerCase();\n      if (domain && nameParts.some(part => domain.includes(part) || part.includes(domain))) {\n        companyUrl = url;\n        break;\n      }\n    }\n    \n    results.push({\n      json: {\n        'Company Name': data.name,\n        'VC Firm': vcName,\n        'Company Description': `${data.name} - The LegalTech Fund portfolio company (legal technology)`,\n        'Company URL': companyUrl,\n        'Portfolio Page': `https://www.legaltech.com/portfolio-companies/${slug}`,\n        'Status': 'New',\n        'First Seen Date': today,\n        'Source': 'VC Portfolio',\n        'VC Backed': true\n      }\n    });\n  }\n}\n\n// Fallback: Known LegalTech Fund companies\nif (results.length < 10) {\n  const knownCompanies = [\n    ['AI & Partners', 'https://www.ai-and-partners.com/'],\n    ['Alt Legal', 'https://www.altlegal.com/'],\n    ['Anuvi', 'https://anuvi.io/'],\n    ['Aumni', 'https://www.aumni.fund/'],\n    ['Bevel', 'http://bevelfinancial.com/'],\n    ['BlackCloak', 'https://blackcloak.io/'],\n    ['Canarie AI', 'https://www.canarie.ai/'],\n    ['Candle AI', 'https://www.trycandle.ai/'],\n    ['CapGains', 'http://capgains.com/'],\n    ['Clara', 'http://clara.co/'],\n    ['Cloverleaf AI', 'http://cloverleaf.ai/'],\n    ['Coadjute', 'http://coadjute.com/'],\n    ['Cofido Legal', 'https://confidolegal.com/'],\n    ['Contend', 'https://contend.legal/'],\n    ['ECFX', 'http://goecfx.com/'],\n    ['Easy Expunctions', 'http://easyexpunctions.com/'],\n    ['Entegrata', 'https://www.entegrata.com/'],\n    ['Fairmint', 'http://fairmint.co/'],\n    ['FirmPilot', 'http://firmpilot.com/'],\n    ['Flo', 'https://joinflo.com/'],\n    ['FlyTech', 'http://flytech.ai/'],\n    ['Foundation AI', 'https://www.foundationai.com/'],\n    ['Ground Truth Intelligence', 'https://www.gtintel.io/'],\n    ['HelloPrenup', 'https://helloprenup.com/'],\n    ['Hopkins', 'https://www.hopkins.systems/'],\n    ['Infodash', 'https://getinfodash.com/'],\n    ['Injuria', 'http://injuria.ai/'],\n    ['Intelligent Legal Solutions', 'http://intelligentlegalsolutions.co.uk/'],\n    ['Josef', 'http://joseflegal.com/'],\n    ['Jusfy', 'https://jusfy.com.br/'],\n    ['JustFund', 'http://justfund.com.au/'],\n    ['Kinnect', 'http://kinnect.us/'],\n    ['Knuula', 'http://knuula.com/'],\n    ['LawPro', 'http://lawpro.ai/'],\n    ['Lawmatics', 'http://lawmatics.com/'],\n    ['Legal Karma', 'http://www.legalkarma.io/'],\n    ['Lexamica', 'https://lexamica.com/'],\n    ['Lexverify', 'https://www.lexverify.com/'],\n    ['LifeLegacy', 'http://lifelegacy.io/'],\n    ['Lighthouse AI', 'http://lighthouseai.com/'],\n    ['Loopa', 'https://www.loopa.finance/'],\n    ['MIDAO', 'https://www.midao.org/'],\n    ['Macro', 'https://www.macro.com/'],\n    ['NLPatent', 'https://www.nlpatent.com/'],\n    ['Narrative', 'http://narrativehq.com/'],\n    ['Navys', 'http://navys.ai/'],\n    ['Newcase.ai', 'https://www.newcase.ai/'],\n    ['Newcode.ai', 'https://newcode.ai/'],\n    ['Nexl', 'https://nexl.cloud/'],\n    ['Noetica', 'https://www.noetica.ai/'],\n    ['Oddr', 'https://www.oddr.com/'],\n    ['OneNotary', 'http://onenotary.us/'],\n    ['OpenLaw', 'https://www.getopenlaw.com/'],\n    ['Orbital', 'http://orbital.tech/'],\n    ['Outtake.ai', 'http://outtake.ai/'],\n    ['Ownright', 'https://ownright.com/'],\n    ['Pattern Data', 'http://patterndata.ai/'],\n    ['Priori Legal', 'http://priorilegal.com/'],\n    ['Proof', 'http://proofserve.com/'],\n    ['Qualytics', 'http://qualytics.ai/'],\n    ['Quantstamp', 'http://quantstamp.com/'],\n    ['Rownd', 'http://rownd.io/'],\n    ['Scan Logic', 'https://www.scan-logic.com/'],\n    ['SettleIndex', 'http://settleindex.com/'],\n    ['Silent Witness', 'http://silentwitness.ai/'],\n    ['SimpleClosure', 'https://simpleclosure.com/'],\n    ['SimplyAgree', 'http://simplyagree.com/'],\n    ['SingleFile', 'http://singlefile.io/'],\n    ['Skribe', 'https://skribe.ai/'],\n    ['Solo', 'http://solosuit.com/'],\n    ['Spellbook', 'https://spellbook.legal/'],\n    ['Steno', 'https://steno.com/'],\n    ['Streamline AI', 'http://www.streamline.ai/'],\n    ['Synthetic Lab', 'https://synthetic.new/'],\n    ['TermScout', 'http://termscout.com/'],\n    ['The Contract Network', 'http://thecontractnetwork.com/'],\n    ['Trestle', 'https://www.gotrestle.com/'],\n    ['Truth Systems', 'https://www.truthsystems.ai/'],\n    ['UpDraft', 'https://www.tryupdraft.com/'],\n    ['Upside', 'http://upside.gg/'],\n    ['Warrant', 'https://www.hellowarrant.com/'],\n    ['Wexler', 'https://www.wexler.ai/']\n  ];\n  \n  for (const [company, url] of knownCompanies) {\n    const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({\n      json: {\n        'Company Name': company,\n        'VC Firm': vcName,\n        'Company Description': `${company} - The LegalTech Fund portfolio company (legal technology)`,\n        'Company URL': url,\n        'Status': 'New',\n        'First Seen Date': today,\n        'Source': 'VC Portfolio',\n        'VC Backed': true\n      }\n    });\n  }\n}\n\nconsole.log(`LegalTech Fund: Found ${results.length} companies (all tagged VC Backed)`);\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        480
      ],
      "id": "legaltech-parse",
      "name": "Parse LegalTech Fund"
    },
    {
      "parameters": {
        "jsCode": "// Filter companies already in Seen Opportunities or Funding Alerts\nconst items = $input.all();\nconst staticData = $getWorkflowStaticData(\"global\");\nconst seenKeys = new Set(staticData.seenCompanyKeys || []);\nconst localSeen = new Set();\nconst newCompanies = [];\nlet skipped = 0;\n\nfor (const item of items) {\n  if (item.json._empty) continue;\n  const name = item.json[\"Company Name\"] || \"\";\n  if (!name || name.length < 2) continue;\n\n  const localKey = name.toLowerCase().replace(/[^a-z0-9]/g, \"\");\n  if (localSeen.has(localKey)) { skipped++; continue; }\n  localSeen.add(localKey);\n\n  const dedupKey = \"company:\" + localKey;\n  if (seenKeys.has(dedupKey)) { skipped++; continue; }\n\n  newCompanies.push(item);\n}\n\nconsole.log(`LegalTech Filter: ${skipped} already seen, ${newCompanies.length} NEW`);\nif (newCompanies.length === 0) {\n  return [{ json: { _empty: true, _message: \"All companies already processed\", skipped } }];\n}\nreturn newCompanies;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        480
      ],
      "id": "legaltech-filter-new",
      "name": "Filter New Only"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Company Name'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        480
      ],
      "id": "legaltech-has-new",
      "name": "Has New Companies?"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "rcMNDrfZR6csHRsYKFn0W",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2160,
        480
      ],
      "id": "legaltech-exec-pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Calls shared subworkflow for dedup, enrichment, and evaluation"
    }
  ],
  "connections": {
    "Schedule Trigger (Mon/Thu 8am)": {
      "main": [
        [
          {
            "node": "Fetch Seen Opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Funding Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Seen Opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Funding Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Seen Opportunities": {
      "main": [
        [
          {
            "node": "Merge Seen Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Funding Alerts": {
      "main": [
        [
          {
            "node": "Merge Seen Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Seen Sources": {
      "main": [
        [
          {
            "node": "Store Seen Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Seen Keys": {
      "main": [
        [
          {
            "node": "Browserless LegalTech Fund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless LegalTech Fund": {
      "main": [
        [
          {
            "node": "Parse LegalTech Fund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LegalTech Fund": {
      "main": [
        [
          {
            "node": "Filter New Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Only": {
      "main": [
        [
          {
            "node": "Has New Companies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Companies?": {
      "main": [
        [
          {
            "node": "Execute Enrich & Evaluate Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
