VC Scraper - Bessemer Battery Test v1.json
{
  "name": "VC Scraper - Bessemer Battery v2.2",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 8 * * 2,5"}]}
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "id": "trigger",
      "name": "Schedule (Tue/Fri 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.bvp.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 200],
      "id": "bessemer-fetch",
      "name": "Browserless Bessemer"
    },
    {
      "parameters": {
        "jsCode": "// Parse Bessemer Venture Partners portfolio\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Bessemer Venture Partners';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.content || item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  const companyPattern = /href=[\"']https?:\\/\\/(?:www\\.)?bvp\\.com\\/companies\\/([a-z0-9-]+)[\"'][^>]*>([^<]*)</gi;\n  let match;\n  \n  while ((match = companyPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    let name = match[2].trim();\n    \n    if (!slug || slug.length < 2 || slug === 'companies' || slug === 'all') continue;\n    \n    if (!name || name.length < 2) {\n      name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    }\n    \n    name = name.replace(/^\\s*[\\-\u2022]\\s*/, '').trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({\n      json: {\n        company_name: name,\n        company_url: 'https://www.bvp.com/companies/' + slug,\n        description: name + ' - Bessemer Venture Partners portfolio company',\n        source: vcName\n      }\n    });\n  }\n}\n\nconsole.log('Bessemer companies found:', results.length);\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200],
      "id": "bessemer-parse",
      "name": "Parse Bessemer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content?token=2Trz3gOeSEE1MkB2b68c220a7e326f747693f241d0f72136c",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.battery.com/our-companies/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 400],
      "id": "battery-fetch",
      "name": "Browserless Battery"
    },
    {
      "parameters": {
        "jsCode": "// Parse Battery Ventures portfolio\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Battery Ventures';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.content || item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  const companyPattern = /href=[\"']\\/company\\/([a-z0-9-]+)\\/?[\"'][^>]*>/gi;\n  let match;\n  \n  while ((match = companyPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    \n    if (!slug || slug.length < 2 || slug === 'company' || slug === 'all') continue;\n    \n    let name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    name = name.replace(/\\s+Inc$/i, '').replace(/\\s+Ltd$/i, '').trim();\n    name = name.replace(/ai$/i, 'AI').replace(/^ai\\s/i, 'AI ');\n    \n    if (!name || name.length < 2 || name.length > 60) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({\n      json: {\n        company_name: name,\n        company_url: 'https://www.battery.com/company/' + slug + '/',\n        description: name + ' - Battery Ventures portfolio company',\n        source: vcName\n      }\n    });\n  }\n}\n\nconsole.log('Battery companies found:', results.length);\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400],
      "id": "battery-parse",
      "name": "Parse Battery"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "rcMNDrfZR6csHRsYKFn0W", "mode": "id"},
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [660, 200],
      "id": "pipeline-bessemer",
      "name": "Pipeline (Bessemer)"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "rcMNDrfZR6csHRsYKFn0W", "mode": "id"},
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [660, 400],
      "id": "pipeline-battery",
      "name": "Pipeline (Battery)"
    }
  ],
  "connections": {
    "Schedule (Tue/Fri 8am)": {"main": [[
      {"node": "Browserless Bessemer", "type": "main", "index": 0},
      {"node": "Browserless Battery", "type": "main", "index": 0}
    ]]},
    "Browserless Bessemer": {"main": [[{"node": "Parse Bessemer", "type": "main", "index": 0}]]},
    "Browserless Battery": {"main": [[{"node": "Parse Battery", "type": "main", "index": 0}]]},
    "Parse Bessemer": {"main": [[{"node": "Pipeline (Bessemer)", "type": "main", "index": 0}]]},
    "Parse Battery": {"main": [[{"node": "Pipeline (Battery)", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
