Job Search/Go Fractional Scraper v1.json
{
  "name": "Go Fractional Scraper v1",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 9 * * 1,3,5"}]}
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "id": "trigger",
      "name": "Schedule (Mon/Wed/Fri 9am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.gofractional.com/jobs/remote\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 90000 },\n  \"waitForTimeout\": 5000\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 300],
      "id": "fetch",
      "name": "Browserless Go Fractional"
    },
    {
      "parameters": {
        "jsCode": "// Parse Go Fractional job listings\n// Extract company names and job titles for pipeline evaluation\n\nconst items = $input.all();\nconst results = [];\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Go Fractional job cards typically have structure:\n  // Job title, Company name, Location, and link to job detail page\n  \n  // Pattern 1: Look for job card structures with company and title\n  // Common patterns: <a href=\"/jobs/...\">...<h3>Title</h3>...<span>Company</span>...</a>\n  const jobLinkPattern = /<a[^>]*href=[\"']\\/jobs\\/([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let match;\n  \n  while ((match = jobLinkPattern.exec(html)) !== null) {\n    const jobSlug = match[1];\n    const cardContent = match[2];\n    \n    // Skip navigation links\n    if (jobSlug === 'remote' || jobSlug === 'all' || jobSlug.length < 3) continue;\n    \n    // Extract title - usually in h2, h3, or strong tags\n    let title = '';\n    const titleMatch = cardContent.match(/<(?:h[1-4]|strong)[^>]*>([^<]+)<\\/(?:h[1-4]|strong)>/i);\n    if (titleMatch) {\n      title = titleMatch[1].trim();\n    }\n    \n    // Extract company name - look for company patterns\n    let company = '';\n    \n    // Pattern: \"at CompanyName\" or \"Company:\" or specific class\n    const companyPatterns = [\n      /(?:at|@|company:|employer:)\\s*([A-Z][A-Za-z0-9\\s&.\\-']+)/i,\n      /<span[^>]*>([A-Z][A-Za-z0-9\\s&.\\-']{2,40})<\\/span>/gi,\n      /<p[^>]*class=[\"'][^\"']*company[^\"']*[\"'][^>]*>([^<]+)<\\/p>/i,\n      /<div[^>]*class=[\"'][^\"']*company[^\"']*[\"'][^>]*>([^<]+)<\\/div>/i\n    ];\n    \n    for (const pattern of companyPatterns) {\n      const companyMatch = cardContent.match(pattern);\n      if (companyMatch && companyMatch[1]) {\n        const potentialCompany = companyMatch[1].trim();\n        // Filter out common non-company strings\n        if (potentialCompany.length >= 2 && \n            potentialCompany.length <= 50 &&\n            !potentialCompany.toLowerCase().includes('remote') &&\n            !potentialCompany.toLowerCase().includes('full-time') &&\n            !potentialCompany.toLowerCase().includes('part-time') &&\n            !potentialCompany.toLowerCase().includes('contract') &&\n            !potentialCompany.toLowerCase().includes('fractional') &&\n            !potentialCompany.match(/^\\d+/) &&\n            !potentialCompany.match(/^\\$/)) {\n          company = potentialCompany;\n          break;\n        }\n      }\n    }\n    \n    // If no company found, try to extract from job slug\n    if (!company && jobSlug.includes('-at-')) {\n      const slugParts = jobSlug.split('-at-');\n      if (slugParts[1]) {\n        company = slugParts[1].split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n      }\n    }\n    \n    // If still no company, extract from slug assuming format: role-company-id\n    if (!company && jobSlug.includes('-')) {\n      const slugWords = jobSlug.split('-');\n      // Last part is often an ID, so take middle portions\n      if (slugWords.length >= 3) {\n        // Find where the role ends (common role keywords)\n        const roleKeywords = ['cfo', 'cmo', 'cto', 'coo', 'ceo', 'vp', 'head', 'director', 'chief', 'officer', 'fractional', 'interim'];\n        let companyStart = 0;\n        for (let i = 0; i < slugWords.length; i++) {\n          if (roleKeywords.some(kw => slugWords[i].toLowerCase().includes(kw))) {\n            companyStart = i + 1;\n          }\n        }\n        if (companyStart > 0 && companyStart < slugWords.length - 1) {\n          company = slugWords.slice(companyStart, -1).map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n        }\n      }\n    }\n    \n    // Skip if we couldn't identify the company\n    if (!company || company.length < 2) continue;\n    \n    // Deduplicate by company name\n    const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    // Build description including job title for context\n    let description = company;\n    if (title) {\n      description = `${company} - Hiring: ${title} (via Go Fractional)`;\n    } else {\n      description = `${company} - Fractional executive opportunity (via Go Fractional)`;\n    }\n    \n    results.push({\n      json: {\n        company_name: company,\n        company_url: `https://www.gofractional.com/jobs/${jobSlug}`,\n        description: description,\n        source: 'Go Fractional',\n        _jobTitle: title || 'Fractional Executive',\n        _jobSlug: jobSlug\n      }\n    });\n  }\n  \n  // Fallback: if no jobs found with link pattern, try extracting from text\n  if (results.length === 0) {\n    // Look for company names near fractional role keywords\n    const textPattern = /(?:Fractional|Interim)\\s+(?:CFO|CMO|CTO|COO|CEO|VP|Head|Director)[^\\n]*?(?:at|@|for)\\s+([A-Z][A-Za-z0-9\\s&.\\-']+)/gi;\n    let textMatch;\n    while ((textMatch = textPattern.exec(html)) !== null) {\n      const company = textMatch[1].trim();\n      if (!company || company.length < 2 || company.length > 50) continue;\n      const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({\n        json: {\n          company_name: company,\n          company_url: 'https://www.gofractional.com/jobs/remote',\n          description: `${company} - Fractional executive opportunity (via Go Fractional)`,\n          source: 'Go Fractional'\n        }\n      });\n    }\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, _message: 'No jobs found - page structure may have changed' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "parse",
      "name": "Parse Job Listings"
    },
    {
      "parameters": {
        "conditions": {"boolean": [{"value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true}]}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 300],
      "id": "filter",
      "name": "Has Jobs?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 420],
      "id": "no-jobs",
      "name": "No Jobs Found"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "rcMNDrfZR6csHRsYKFn0W", "mode": "id"},
        "options": {"waitForSubWorkflow": true}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [880, 280],
      "id": "pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Configure with the workflow ID of 'Enrich & Evaluate Pipeline'"
    }
  ],
  "connections": {
    "Schedule (Mon/Wed/Fri 9am)": {"main": [[{"node": "Browserless Go Fractional", "type": "main", "index": 0}]]},
    "Browserless Go Fractional": {"main": [[{"node": "Parse Job Listings", "type": "main", "index": 0}]]},
    "Parse Job Listings": {"main": [[{"node": "Has Jobs?", "type": "main", "index": 0}]]},
    "Has Jobs?": {"main": [
      [{"node": "Execute Enrich & Evaluate Pipeline", "type": "main", "index": 0}],
      [{"node": "No Jobs Found", "type": "main", "index": 0}]
    ]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
