Job Search/VC Date Enrichment v1.json
{
  "name": "VC Date Enrichment v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "id": "date-manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id" },
        "table": { "__rl": true, "value": "Funding Alerts", "mode": "list", "cachedResultName": "Funding Alerts" },
        "filterByFormula": "AND({Portfolio Addition Date} = '', {VC Firm} != '')",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [220, 300],
      "id": "date-get-missing",
      "name": "Get Companies Missing Dates"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 300],
      "id": "date-batch",
      "name": "Batch (10 at a time)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=\"\\\"\" + $json.fields['Company Name'] + \"\\\" \\\"\" + $json.fields['VC Firm'] + \"\\\" investment funding series\""
            },
            {
              "name": "count",
              "value": "5"
            }
          ]
        },
        "options": { "timeout": 30000, "batching": { "batch": { "batchSize": 1, "batchInterval": 1000 } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 300],
      "id": "date-brave-search",
      "name": "Brave Search Investment Date",
      "credentials": { "httpHeaderAuth": { "id": "brave-header", "name": "Brave Search API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Brave search results for investment date\nconst items = $input.all();\nconst originalItems = $('Batch (10 at a time)').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const original = originalItems[i]?.json || {};\n  const recordId = original.id || '';\n  const companyName = original.fields?.['Company Name'] || '';\n  const vcFirm = original.fields?.['VC Firm'] || '';\n  \n  let investmentDate = '';\n  let investmentYear = '';\n  \n  try {\n    const webResults = item.json.web?.results || [];\n    \n    // Look for investment year in search results\n    for (const result of webResults) {\n      const text = (result.title + ' ' + result.description).toLowerCase();\n      \n      // Skip if not about this company\n      if (!text.includes(companyName.toLowerCase().split(' ')[0])) continue;\n      \n      // Look for patterns like \"raised $X in 2020\" or \"Series A in 2019\" or \"invested in 2018\"\n      const yearPatterns = [\n        /(?:raised|funding|investment|invested|series [a-d]|seed).*?(20[12][0-9])/i,\n        /(20[12][0-9]).*?(?:raised|funding|investment|series [a-d]|seed)/i,\n        /(?:founded|started|launched).*?(20[0-2][0-9])/i\n      ];\n      \n      for (const pattern of yearPatterns) {\n        const match = text.match(pattern);\n        if (match && match[1]) {\n          const year = parseInt(match[1]);\n          // Sanity check: year should be between 2005 and current year\n          if (year >= 2005 && year <= new Date().getFullYear()) {\n            investmentYear = match[1];\n            investmentDate = `${match[1]}-01-01`; // Use Jan 1 as approximate date\n            break;\n          }\n        }\n      }\n      \n      if (investmentYear) break;\n    }\n  } catch (e) {\n    // Ignore parse errors\n  }\n  \n  if (recordId && investmentDate) {\n    results.push({ json: { recordId, companyName, vcFirm, investmentDate, investmentYear } });\n  }\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No dates found in this batch' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "id": "date-parse-results",
      "name": "Parse Investment Dates"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 300],
      "id": "date-has-results",
      "name": "Has Dates?"
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id" },
        "table": { "__rl": true, "value": "Funding Alerts", "mode": "list", "cachedResultName": "Funding Alerts" },
        "id": "={{ $json.recordId }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Portfolio Addition Date": "={{ $json.investmentDate }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1320, 250],
      "id": "date-update-airtable",
      "name": "Update Airtable with Date"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1320, 400],
      "id": "date-no-dates",
      "name": "No Dates Found"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $('Batch (10 at a time)').context.noItemsLeft }}", "operation": "equal", "value2": false }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1540, 300],
      "id": "date-more-batches",
      "name": "More Batches?"
    },
    {
      "parameters": {
        "amount": 5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1760, 250],
      "id": "date-wait",
      "name": "Wait 5s (Rate Limit)"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Get Companies Missing Dates", "type": "main", "index": 0 }]]
    },
    "Get Companies Missing Dates": {
      "main": [[{ "node": "Batch (10 at a time)", "type": "main", "index": 0 }]]
    },
    "Batch (10 at a time)": {
      "main": [[{ "node": "Brave Search Investment Date", "type": "main", "index": 0 }]]
    },
    "Brave Search Investment Date": {
      "main": [[{ "node": "Parse Investment Dates", "type": "main", "index": 0 }]]
    },
    "Parse Investment Dates": {
      "main": [[{ "node": "Has Dates?", "type": "main", "index": 0 }]]
    },
    "Has Dates?": {
      "main": [
        [{ "node": "Update Airtable with Date", "type": "main", "index": 0 }],
        [{ "node": "No Dates Found", "type": "main", "index": 0 }]
      ]
    },
    "Update Airtable with Date": {
      "main": [[{ "node": "More Batches?", "type": "main", "index": 0 }]]
    },
    "No Dates Found": {
      "main": [[{ "node": "More Batches?", "type": "main", "index": 0 }]]
    },
    "More Batches?": {
      "main": [
        [{ "node": "Wait 5s (Rate Limit)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Wait 5s (Rate Limit)": {
      "main": [[{ "node": "Batch (10 at a time)", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
