Job Search/VC Portfolio Scraper v11.json
{
  "name": "VC Portfolio Scraper v11",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 200],
      "id": "vc-schedule-trigger",
      "name": "Schedule Trigger (Mon/Thu 8am)"
    },
    {
      "parameters": {
        "url": "https://unusual.vc/portfolio",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 100],
      "id": "vc-fetch-unusual",
      "name": "Fetch Unusual Ventures"
    },
    {
      "parameters": {
        "url": "https://amplifypartners.com/portfolio",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 300],
      "id": "vc-fetch-amplify",
      "name": "Fetch Amplify Partners"
    },
    {
      "parameters": {
        "jsCode": "// Parse Unusual Ventures\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  let html = '';\n  const raw = item.json;\n  \n  if (typeof raw === 'string') {\n    html = raw;\n  } else if (raw.data && typeof raw.data === 'string') {\n    html = raw.data;\n  } else if (raw.body && typeof raw.body === 'string') {\n    html = raw.body;\n  } else {\n    html = JSON.stringify(raw);\n  }\n  \n  const vcName = 'Unusual Ventures';\n  const companies = [];\n  \n  const h4Pattern = /<h4[^>]*>([^<]+)<\\/h4>/gi;\n  let match;\n  \n  while ((match = h4Pattern.exec(html)) !== null) {\n    const text = match[1].trim();\n    \n    if (text.length < 10) continue;\n    if (text.toLowerCase().includes('visit website')) continue;\n    if (text.toLowerCase().includes('portfolio')) continue;\n    \n    const nameMatch = text.match(/^([A-Za-z0-9][A-Za-z0-9\\s\\.&]+?)(?:\\s+is\\s+|\\s+builds|\\s+provides|\\s+helps|,)/i);\n    \n    let name = '';\n    if (nameMatch) {\n      name = nameMatch[1].trim();\n    } else {\n      const words = text.split(/\\s+/);\n      name = words.slice(0, 3).join(' ');\n    }\n    \n    name = name.replace(/[,\\.]+$/, '').trim();\n    \n    if (name && name.length >= 2 && name.length <= 50) {\n      companies.push({ name: name, description: text.substring(0, 500) });\n    }\n  }\n  \n  const seen = new Set();\n  for (const c of companies) {\n    const key = c.name.toLowerCase();\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    const today = new Date().toISOString().split('T')[0];\n    results.push({\n      json: {\n        'Company Name': c.name,\n        'VC Firm': vcName,\n        'Company Description': c.description || '',\n        'Company URL': '',\n        'Logo URL': '',\n        'Status': 'New',\n        'First Seen Date': today,\n        'Source': 'VC Portfolio'\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, vcName: 'Unusual Ventures' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 100],
      "id": "vc-parse-unusual",
      "name": "Parse Unusual Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Amplify Partners\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  let html = '';\n  const raw = item.json;\n  \n  if (typeof raw === 'string') {\n    html = raw;\n  } else if (raw.data && typeof raw.data === 'string') {\n    html = raw.data;\n  } else if (raw.body && typeof raw.body === 'string') {\n    html = raw.body;\n  } else {\n    html = JSON.stringify(raw);\n  }\n  \n  const vcName = 'Amplify Partners';\n  const companies = [];\n  \n  const pattern = /<a[^>]*href=[\"']\\/companies\\/([^\"']+)[\"'][^>]*>([^<]+)<\\/a>/gi;\n  let match;\n  \n  while ((match = pattern.exec(html)) !== null) {\n    const slug = match[1];\n    const name = match[2].trim();\n    \n    if (name && name.length >= 2 && name.length <= 100) {\n      companies.push({ name: name, slug: slug });\n    }\n  }\n  \n  const seen = new Set();\n  for (const c of companies) {\n    const key = c.name.toLowerCase();\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    const today = new Date().toISOString().split('T')[0];\n    results.push({\n      json: {\n        'Company Name': c.name,\n        'VC Firm': vcName,\n        'Company Description': '',\n        'Company URL': 'https://amplifypartners.com/companies/' + c.slug,\n        'Logo URL': '',\n        'Status': 'New',\n        'First Seen Date': today,\n        'Source': 'VC Portfolio'\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, vcName: 'Amplify Partners' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "vc-parse-amplify",
      "name": "Parse Amplify Partners"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 200],
      "id": "vc-merge-parsed",
      "name": "Merge Parsed Companies"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._empty }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [880, 200],
      "id": "vc-filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "jsCode": "// Mark new companies\nconst newCompanies = $input.all();\n\nreturn newCompanies.map(item => ({\n  json: {\n    ...item.json,\n    _isNewCompany: true\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200],
      "id": "vc-mark-new",
      "name": "Mark as New"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1100, 400],
      "id": "vc-get-existing",
      "name": "Get Existing Companies"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1320, 300],
      "id": "vc-merge-for-dedup",
      "name": "Merge for Dedup"
    },
    {
      "parameters": {
        "jsCode": "// Dedup: compare new companies against existing Airtable records\nconst allItems = $input.all();\n\nconst newCompanies = [];\nconst existingRecords = [];\n\nfor (const item of allItems) {\n  if (item.json._isNewCompany) {\n    newCompanies.push(item);\n  } else if (item.json.fields) {\n    existingRecords.push(item);\n  }\n}\n\nconst normalize = (str) => (str || '').toLowerCase().replace(/[^a-z0-9]/g, '').trim();\n\nconst existingNames = new Set();\nfor (const item of existingRecords) {\n  const name = item.json.fields?.['Company Name'] || '';\n  if (name) {\n    existingNames.add(normalize(name));\n  }\n}\n\nconst uniqueCompanies = [];\nconst addedNames = new Set();\n\nfor (const company of newCompanies) {\n  const name = company.json['Company Name'];\n  const normalizedName = normalize(name);\n  \n  if (existingNames.has(normalizedName) || addedNames.has(normalizedName)) {\n    continue;\n  }\n  \n  addedNames.add(normalizedName);\n  \n  const cleanCompany = { ...company.json };\n  delete cleanCompany._isNewCompany;\n  uniqueCompanies.push({ json: cleanCompany });\n}\n\nif (uniqueCompanies.length === 0) {\n  return [{ json: { _empty: true, _message: 'No new companies found' } }];\n}\n\nreturn uniqueCompanies;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300],
      "id": "vc-dedup",
      "name": "Dedup Against Existing"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._empty }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1760, 300],
      "id": "vc-has-new",
      "name": "Has New Companies?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this startup company and classify it.\\n\\nCompany Name: {{ $json['Company Name'] }}\\nVC Firm: {{ $json['VC Firm'] }}\\nDescription: {{ $json['Company Description'] }}\\nWebsite: {{ $json['Company URL'] }}\\n\\nProvide:\\n1. Industry/Vertical (e.g., Healthcare, AI/ML, Climate/Environment, EdTech, Developer Tools, Enterprise Software, Fintech, Consumer, Defense/Military, etc.)\\n\\n2. Mission Score (1-5) based on these priorities:\\n   - 5: Strong mission around healthcare, environment/climate, or education\\n   - 4: Moderate alignment with healthcare, environment, or education\\n   - 3: Neutral - general tech, enterprise software, consumer apps, AI/ML tools\\n   - 2: Lower priority - fintech, adtech, crypto\\n   - 1: Lowest priority - military, defense, weapons\\n\\n3. Brief explanation of the score\\n\\nRespond with ONLY valid JSON (no markdown, no code blocks):\\n{\\\"industry\\\": \\\"Industry Name\\\", \\\"mission_score\\\": 3, \\\"mission_notes\\\": \\\"Brief explanation\\\"}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1980, 300],
      "id": "vc-classify-api",
      "name": "Classify via Anthropic API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-header",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Anthropic API response and merge with original company data\nconst items = $input.all();\nconst results = [];\n\n// Get original company data\nconst originalCompanies = $('Has New Companies?').all().filter(item => !item.json._empty);\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const original = originalCompanies[i]?.json || {};\n  \n  let industry = 'Unknown';\n  let missionScore = 3;\n  let missionNotes = 'Unable to classify';\n  \n  try {\n    // Anthropic API returns { content: [{ text: \"...\" }] }\n    const responseText = item.json.content?.[0]?.text || '';\n    \n    // Clean and parse JSON\n    const cleanedResponse = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const parsed = JSON.parse(cleanedResponse);\n    \n    if (parsed.industry) industry = parsed.industry;\n    if (parsed.mission_score) missionScore = parseInt(parsed.mission_score) || 3;\n    if (parsed.mission_notes) missionNotes = parsed.mission_notes;\n  } catch (e) {\n    // Fallback regex extraction\n    const responseText = item.json.content?.[0]?.text || JSON.stringify(item.json);\n    \n    const industryMatch = responseText.match(/\"industry\"\\s*:\\s*\"([^\"]+)\"/i);\n    const scoreMatch = responseText.match(/\"mission_score\"\\s*:\\s*(\\d)/i);\n    const notesMatch = responseText.match(/\"mission_notes\"\\s*:\\s*\"([^\"]+)\"/i);\n    \n    if (industryMatch) industry = industryMatch[1];\n    if (scoreMatch) missionScore = parseInt(scoreMatch[1]);\n    if (notesMatch) missionNotes = notesMatch[1];\n  }\n  \n  results.push({\n    json: {\n      'Company Name': original['Company Name'] || '',\n      'VC Firm': original['VC Firm'] || '',\n      'Company Description': original['Company Description'] || '',\n      'Company URL': original['Company URL'] || '',\n      'Logo URL': original['Logo URL'] || '',\n      'Status': original['Status'] || 'New',\n      'First Seen Date': original['First Seen Date'] || new Date().toISOString().split('T')[0],\n      'Source': original['Source'] || 'VC Portfolio',\n      'Industry': industry,\n      'Mission Score': missionScore,\n      'Mission Notes': missionNotes\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300],
      "id": "vc-parse-classification",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "VC Firm": "={{ $json['VC Firm'] }}",
            "Company Description": "={{ $json['Company Description'] }}",
            "Company URL": "={{ $json['Company URL'] }}",
            "Logo URL": "={{ $json['Logo URL'] }}",
            "Status": "={{ $json['Status'] }}",
            "First Seen Date": "={{ $json['First Seen Date'] }}",
            "Source": "={{ $json['Source'] }}",
            "Industry": "={{ $json['Industry'] }}",
            "Mission Score": "={{ $json['Mission Score'] }}",
            "Mission Notes": "={{ $json['Mission Notes'] }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [2420, 300],
      "id": "vc-add-to-airtable",
      "name": "Add to Airtable"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 50],
      "id": "vc-no-valid",
      "name": "No Valid Companies"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1980, 150],
      "id": "vc-no-new",
      "name": "All Duplicates"
    }
  ],
  "connections": {
    "Schedule Trigger (Mon/Thu 8am)": {
      "main": [
        [
          {
            "node": "Fetch Unusual Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Amplify Partners",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unusual Ventures": {
      "main": [
        [
          {
            "node": "Parse Unusual Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Amplify Partners": {
      "main": [
        [
          {
            "node": "Parse Amplify Partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Unusual Ventures": {
      "main": [
        [
          {
            "node": "Merge Parsed Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Amplify Partners": {
      "main": [
        [
          {
            "node": "Merge Parsed Companies",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Parsed Companies": {
      "main": [
        [
          {
            "node": "Filter Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid": {
      "main": [
        [
          {
            "node": "Mark as New",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Valid Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as New": {
      "main": [
        [
          {
            "node": "Merge for Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Companies": {
      "main": [
        [
          {
            "node": "Merge for Dedup",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge for Dedup": {
      "main": [
        [
          {
            "node": "Dedup Against Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Against Existing": {
      "main": [
        [
          {
            "node": "Has New Companies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Companies?": {
      "main": [
        [
          {
            "node": "Classify via Anthropic API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify via Anthropic API": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Add to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
