Job Search/VC Portfolio Scraper v17.json
{
  "name": "VC Portfolio Scraper v17",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 500],
      "id": "vc-schedule-trigger",
      "name": "Schedule Trigger (Mon/Thu 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://unusual.vc/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 },\n  \"waitForSelector\": { \"selector\": \"h4\", \"timeout\": 10000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 200],
      "id": "vc-browserless-unusual",
      "name": "Browserless Unusual",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Unusual Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Unusual Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const h4Pattern = /<h4[^>]*>([^<]+)<\\/h4>/gi;\n  let match;\n  while ((match = h4Pattern.exec(html)) !== null) {\n    const text = match[1].trim();\n    if (text.length < 10 || text.toLowerCase().includes('visit website') || text.toLowerCase().includes('portfolio')) continue;\n    const parts = text.split(/\\s+is\\s+/i);\n    if (parts.length < 2) continue;\n    const name = parts[0].trim();\n    const key = name.toLowerCase();\n    if (name.length >= 2 && name.length <= 50 && !seen.has(key)) {\n      seen.add(key);\n      const context = html.substring(Math.max(0, match.index - 1000), Math.min(html.length, match.index + 1000));\n      let url = '';\n      const extMatch = context.match(/href=[\"'](https?:\\/\\/(?!(?:www\\.)?(?:unusual\\.vc|linkedin|twitter|facebook|x)\\.com)[^\"']+)[\"']/i);\n      if (extMatch) url = extMatch[1];\n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': text, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200],
      "id": "vc-parse-unusual",
      "name": "Parse Unusual Ventures"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://m6i10uln.api.sanity.io/v2021-10-21/data/query/production?query=*[_type==\"company\"]{title,website,slug,statement}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 350],
      "id": "vc-fetch-firstround",
      "name": "Fetch First Round (Sanity API)"
    },
    {
      "parameters": {
        "jsCode": "// Parse First Round Capital\nconst items = $input.all();\nconst results = [];\nconst vcName = 'First Round Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  const companies = item.json.result || [];\n  for (const company of companies) {\n    const name = company.title || '';\n    if (!name || name.length < 2) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    const website = company.website || '';\n    let description = '';\n    if (company.statement && Array.isArray(company.statement)) {\n      for (const block of company.statement) {\n        if (block.children) for (const child of block.children) if (child.text) description += child.text + ' ';\n      }\n      description = description.trim();\n    }\n    if (!description) description = `${name} - First Round Capital portfolio company`;\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': description, 'Company URL': website, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 350],
      "id": "vc-parse-firstround",
      "name": "Parse First Round"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.essencevc.fund/companies",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 500],
      "id": "vc-fetch-essence",
      "name": "Fetch Essence VC"
    },
    {
      "parameters": {
        "jsCode": "// Parse Essence VC\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Essence VC';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const imgLinkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>[^<]*<img[^>]*alt=[\"']([^\"']+)[\"'][^>]*>[^<]*<\\/a>/gi;\n  let match;\n  while ((match = imgLinkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    const name = match[2].trim();\n    if (url.includes('squarespace') || url.includes('essencevc') || url.includes('linkedin') || url.includes('twitter') || url.includes('facebook') || url.includes('instagram')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Essence VC portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 500],
      "id": "vc-parse-essence",
      "name": "Parse Essence VC"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://costanoa.vc/sitemap.xml",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 650],
      "id": "vc-fetch-costanoa",
      "name": "Fetch Costanoa Sitemap"
    },
    {
      "parameters": {
        "jsCode": "// Parse Costanoa Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Costanoa Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let xml = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const locPattern = /<loc>https?:\\/\\/costanoa\\.vc\\/portfolio\\/([^<\\/]+)<\\/loc>/gi;\n  let match;\n  while ((match = locPattern.exec(xml)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2 || slug === 'portfolio') continue;\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Costanoa Ventures portfolio company`, 'Company URL': `https://costanoa.vc/portfolio/${slug}`, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 650],
      "id": "vc-parse-costanoa",
      "name": "Parse Costanoa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.khoslaventures.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 },\n  \"waitForSelector\": { \"selector\": \".splide__slide\", \"timeout\": 15000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 800],
      "id": "vc-fetch-khosla",
      "name": "Browserless Khosla",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Khosla Ventures - company cards with names and external URLs\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Khosla Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: find company links with external URLs and nearby text for company name\n  // Khosla uses cards with <a href=\"external_url\"> and company names nearby\n  const cardPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!khoslaventures\\.com|linkedin|twitter|facebook|x\\.com)[^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let match;\n  \n  while ((match = cardPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    const content = match[2];\n    \n    // Skip non-company URLs\n    if (url.includes('#') || url.includes('javascript') || url.length < 10) continue;\n    \n    // Try to find company name in the link content or nearby\n    let name = '';\n    \n    // Look for text content (company name is often the link text)\n    const textMatch = content.match(/>([A-Z][A-Za-z0-9\\s\\.\\-&]{1,40})</i) || content.match(/([A-Z][A-Za-z0-9\\s\\.\\-&]{2,40})/i);\n    if (textMatch) name = textMatch[1].trim();\n    \n    // Or extract from URL (e.g., https://openai.com -> OpenAI)\n    if (!name || name.length < 2) {\n      const urlName = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n      if (urlName) name = urlName[1].charAt(0).toUpperCase() + urlName[1].slice(1);\n    }\n    \n    if (!name || name.length < 2 || name.length > 50) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Khosla Ventures portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 800],
      "id": "vc-parse-khosla",
      "name": "Parse Khosla Ventures"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.kaporcapital.com/sitemap.xml",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 950],
      "id": "vc-fetch-kapor",
      "name": "Fetch Kapor Capital Sitemap"
    },
    {
      "parameters": {
        "jsCode": "// Parse Kapor Capital - Sitemap XML\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Kapor Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let xml = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: <loc>http://www.kaporcapital.com/company/company-name/</loc>\n  const locPattern = /<loc>https?:\\/\\/(?:www\\.)?kaporcapital\\.com\\/company\\/([^<\\/]+)\\/?<\\/loc>/gi;\n  let match;\n  \n  while ((match = locPattern.exec(xml)) !== null) {\n    const slug = match[1].trim().replace(/\\/$/, '');\n    if (!slug || slug.length < 2) continue;\n    \n    // Convert slug to company name\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Kapor Capital portfolio company (social impact)`, 'Company URL': `https://www.kaporcapital.com/company/${slug}/`, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 950],
      "id": "vc-parse-kapor",
      "name": "Parse Kapor Capital"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 275],
      "id": "vc-merge-1",
      "name": "Merge Unusual + First Round"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 575],
      "id": "vc-merge-2",
      "name": "Merge Essence + Costanoa"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 875],
      "id": "vc-merge-3",
      "name": "Merge Khosla + Kapor"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [880, 425],
      "id": "vc-merge-4",
      "name": "Merge Groups 1+2"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1100, 650],
      "id": "vc-merge-all",
      "name": "Combine All VCs"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 650],
      "id": "vc-filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "jsCode": "const newCompanies = $input.all();\nreturn newCompanies.map(item => ({ json: { ...item.json, _isNewCompany: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 650],
      "id": "vc-mark-new",
      "name": "Mark as New"
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id" },
        "table": { "__rl": true, "value": "Funding Alerts", "mode": "list", "cachedResultName": "Funding Alerts" },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1540, 850],
      "id": "vc-get-existing",
      "name": "Get Existing Companies"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1760, 750],
      "id": "vc-merge-for-dedup",
      "name": "Merge for Dedup"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst newCompanies = [];\nconst existingRecords = [];\nfor (const item of allItems) {\n  if (item.json._isNewCompany) newCompanies.push(item);\n  else if (item.json.fields && item.json.fields['Company Name']) existingRecords.push(item);\n  else if (item.json.id && item.json['Company Name']) existingRecords.push({ json: { fields: item.json } });\n}\nconst normalize = (str) => str ? String(str).toLowerCase().replace(/[^a-z0-9]/g, '').trim() : '';\nconst existingNames = new Set();\nfor (const item of existingRecords) {\n  const name = (item.json.fields || item.json)['Company Name'] || '';\n  if (name) existingNames.add(normalize(name));\n}\nconst uniqueCompanies = [];\nconst addedNames = new Set();\nfor (const company of newCompanies) {\n  const name = company.json['Company Name'];\n  if (!name) continue;\n  const normalizedName = normalize(name);\n  if (!normalizedName || existingNames.has(normalizedName) || addedNames.has(normalizedName)) continue;\n  addedNames.add(normalizedName);\n  const cleanCompany = { ...company.json };\n  delete cleanCompany._isNewCompany;\n  uniqueCompanies.push({ json: cleanCompany });\n}\nreturn uniqueCompanies.length ? uniqueCompanies : [{ json: { _empty: true, _message: 'No new companies found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 750],
      "id": "vc-dedup",
      "name": "Dedup Against Existing"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2200, 750],
      "id": "vc-has-new",
      "name": "Has New Companies?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify(\"Analyze this startup company and classify it.\\n\\nCompany Name: \" + ($json['Company Name'] || '').replace(/[\\x00-\\x1f]/g, ' ') + \"\\nVC Firm: \" + ($json['VC Firm'] || '') + \"\\nDescription: \" + ($json['Company Description'] || '').replace(/[\\x00-\\x1f]/g, ' ').substring(0, 500) + \"\\nWebsite: \" + ($json['Company URL'] || '') + \"\\n\\nProvide:\\n1. Industry/Vertical (e.g., Healthcare, AI/ML, Climate/Environment, EdTech, Developer Tools, Enterprise Software, Fintech, Consumer, Defense/Military, etc.)\\n\\n2. Company Stage - classify based on your knowledge of the company:\\n   - Seed/Early: New startup, pre-product or early product, small team, not widely known\\n   - Growth: Scaling company, established product, Series B-D, growing but not dominant\\n   - Late/Public: Large company, IPO'd, acquired by major company, or household name (e.g., Uber, DoorDash, Stripe, Square, Roblox, Instacart)\\n   - Unknown: Cannot determine stage\\n\\n3. Mission Score (1-5) based on these priorities:\\n   - 5: Strong mission around healthcare, environment/climate, or education\\n   - 4: Moderate alignment with healthcare, environment, or education\\n   - 3: Neutral - general tech, enterprise software, consumer apps, AI/ML tools\\n   - 2: Lower priority - fintech, adtech, crypto\\n   - 1: Lowest priority - military, defense, weapons\\n\\n4. Brief explanation of the score\\n\\nRespond with ONLY valid JSON (no markdown, no code blocks):\\n{\\\"industry\\\": \\\"Industry Name\\\", \\\"stage\\\": \\\"Seed/Early\\\", \\\"mission_score\\\": 3, \\\"mission_notes\\\": \\\"Brief explanation\\\"}\") }} }]\n}",
        "options": { "timeout": 60000, "batching": { "batch": { "batchSize": 1, "batchInterval": 2000 } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2420, 750],
      "id": "vc-classify-api",
      "name": "Classify via Anthropic API",
      "credentials": { "httpHeaderAuth": { "id": "anthropic-header", "name": "Anthropic API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nconst originalCompanies = $('Has New Companies?').all().filter(item => !item.json._empty);\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const original = originalCompanies[i]?.json || {};\n  let industry = 'Unknown', stage = 'Unknown', missionScore = 3, missionNotes = 'Unable to classify';\n  try {\n    const responseText = item.json.content?.[0]?.text || '';\n    const parsed = JSON.parse(responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim());\n    if (parsed.industry) industry = parsed.industry;\n    if (parsed.stage) stage = parsed.stage;\n    if (parsed.mission_score) missionScore = parseInt(parsed.mission_score) || 3;\n    if (parsed.mission_notes) missionNotes = parsed.mission_notes;\n  } catch (e) {\n    const rt = item.json.content?.[0]?.text || '';\n    const im = rt.match(/\"industry\"\\s*:\\s*\"([^\"]+)\"/i);\n    const stm = rt.match(/\"stage\"\\s*:\\s*\"([^\"]+)\"/i);\n    const sm = rt.match(/\"mission_score\"\\s*:\\s*(\\d)/i);\n    const nm = rt.match(/\"mission_notes\"\\s*:\\s*\"([^\"]+)\"/i);\n    if (im) industry = im[1]; if (stm) stage = stm[1]; if (sm) missionScore = parseInt(sm[1]); if (nm) missionNotes = nm[1];\n  }\n  results.push({ json: { 'Company Name': original['Company Name'] || '', 'VC Firm': original['VC Firm'] || '', 'Company Description': original['Company Description'] || '', 'Company URL': original['Company URL'] || '', 'Status': original['Status'] || 'New', 'First Seen Date': original['First Seen Date'] || new Date().toISOString().split('T')[0], 'Source': original['Source'] || 'VC Portfolio', 'Industry': industry, 'Stage': stage, 'Mission Score': missionScore, 'Mission Notes': missionNotes } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 750],
      "id": "vc-parse-classification",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "create",
        "base": { "__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id" },
        "table": { "__rl": true, "value": "Funding Alerts", "mode": "list", "cachedResultName": "Funding Alerts" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "VC Firm": "={{ $json['VC Firm'] }}",
            "Company Description": "={{ $json['Company Description'] }}",
            "Company URL": "={{ $json['Company URL'] }}",
            "Status": "={{ $json['Status'] }}",
            "First Seen Date": "={{ $json['First Seen Date'] }}",
            "Source": "={{ $json['Source'] }}",
            "Industry": "={{ $json['Industry'] }}",
            "Stage": "={{ $json['Stage'] }}",
            "Mission Score": "={{ $json['Mission Score'] }}",
            "Mission Notes": "={{ $json['Mission Notes'] }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [2860, 750],
      "id": "vc-add-to-airtable",
      "name": "Add to Airtable"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 500],
      "id": "vc-no-valid",
      "name": "No Valid Companies"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2420, 600],
      "id": "vc-no-new",
      "name": "All Duplicates"
    }
  ],
  "connections": {
    "Schedule Trigger (Mon/Thu 8am)": {
      "main": [[
        { "node": "Browserless Unusual", "type": "main", "index": 0 },
        { "node": "Fetch First Round (Sanity API)", "type": "main", "index": 0 },
        { "node": "Fetch Essence VC", "type": "main", "index": 0 },
        { "node": "Fetch Costanoa Sitemap", "type": "main", "index": 0 },
        { "node": "Browserless Khosla", "type": "main", "index": 0 },
        { "node": "Fetch Kapor Capital Sitemap", "type": "main", "index": 0 },
        { "node": "Get Existing Companies", "type": "main", "index": 0 }
      ]]
    },
    "Browserless Unusual": { "main": [[{ "node": "Parse Unusual Ventures", "type": "main", "index": 0 }]] },
    "Parse Unusual Ventures": { "main": [[{ "node": "Merge Unusual + First Round", "type": "main", "index": 0 }]] },
    "Fetch First Round (Sanity API)": { "main": [[{ "node": "Parse First Round", "type": "main", "index": 0 }]] },
    "Parse First Round": { "main": [[{ "node": "Merge Unusual + First Round", "type": "main", "index": 1 }]] },
    "Fetch Essence VC": { "main": [[{ "node": "Parse Essence VC", "type": "main", "index": 0 }]] },
    "Parse Essence VC": { "main": [[{ "node": "Merge Essence + Costanoa", "type": "main", "index": 0 }]] },
    "Fetch Costanoa Sitemap": { "main": [[{ "node": "Parse Costanoa", "type": "main", "index": 0 }]] },
    "Parse Costanoa": { "main": [[{ "node": "Merge Essence + Costanoa", "type": "main", "index": 1 }]] },
    "Browserless Khosla": { "main": [[{ "node": "Parse Khosla Ventures", "type": "main", "index": 0 }]] },
    "Parse Khosla Ventures": { "main": [[{ "node": "Merge Khosla + Kapor", "type": "main", "index": 0 }]] },
    "Fetch Kapor Capital Sitemap": { "main": [[{ "node": "Parse Kapor Capital", "type": "main", "index": 0 }]] },
    "Parse Kapor Capital": { "main": [[{ "node": "Merge Obvious + Kapor", "type": "main", "index": 1 }]] },
    "Merge Unusual + First Round": { "main": [[{ "node": "Merge Groups 1+2", "type": "main", "index": 0 }]] },
    "Merge Essence + Costanoa": { "main": [[{ "node": "Merge Groups 1+2", "type": "main", "index": 1 }]] },
    "Merge Groups 1+2": { "main": [[{ "node": "Combine All VCs", "type": "main", "index": 0 }]] },
    "Merge Khosla + Kapor": { "main": [[{ "node": "Combine All VCs", "type": "main", "index": 1 }]] },
    "Combine All VCs": { "main": [[{ "node": "Filter Valid", "type": "main", "index": 0 }]] },
    "Filter Valid": { "main": [[{ "node": "Mark as New", "type": "main", "index": 0 }], [{ "node": "No Valid Companies", "type": "main", "index": 0 }]] },
    "Mark as New": { "main": [[{ "node": "Merge for Dedup", "type": "main", "index": 0 }]] },
    "Get Existing Companies": { "main": [[{ "node": "Merge for Dedup", "type": "main", "index": 1 }]] },
    "Merge for Dedup": { "main": [[{ "node": "Dedup Against Existing", "type": "main", "index": 0 }]] },
    "Dedup Against Existing": { "main": [[{ "node": "Has New Companies?", "type": "main", "index": 0 }]] },
    "Has New Companies?": { "main": [[{ "node": "Classify via Anthropic API", "type": "main", "index": 0 }], [{ "node": "All Duplicates", "type": "main", "index": 0 }]] },
    "Classify via Anthropic API": { "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]] },
    "Parse Classification": { "main": [[{ "node": "Add to Airtable", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
