Job Search/VC Portfolio Scraper v19.json
{
  "name": "VC Portfolio Scraper v19",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 500],
      "id": "vc-schedule-trigger",
      "name": "Schedule Trigger (Mon/Thu 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://unusual.vc/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 },\n  \"waitForSelector\": { \"selector\": \"h4\", \"timeout\": 10000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 200],
      "id": "vc-browserless-unusual",
      "name": "Browserless Unusual",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Unusual Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Unusual Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const h4Pattern = /<h4[^>]*>([^<]+)<\\/h4>/gi;\n  let match;\n  while ((match = h4Pattern.exec(html)) !== null) {\n    const text = match[1].trim();\n    if (text.length < 10 || text.toLowerCase().includes('visit website') || text.toLowerCase().includes('portfolio')) continue;\n    const parts = text.split(/\\s+is\\s+/i);\n    if (parts.length < 2) continue;\n    const name = parts[0].trim();\n    const key = name.toLowerCase();\n    if (name.length >= 2 && name.length <= 50 && !seen.has(key)) {\n      seen.add(key);\n      const context = html.substring(Math.max(0, match.index - 1000), Math.min(html.length, match.index + 1000));\n      let url = '';\n      const extMatch = context.match(/href=[\"'](https?:\\/\\/(?!(?:www\\.)?(?:unusual\\.vc|linkedin|twitter|facebook|x)\\.com)[^\"']+)[\"']/i);\n      if (extMatch) url = extMatch[1];\n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': text, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200],
      "id": "vc-parse-unusual",
      "name": "Parse Unusual Ventures"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://m6i10uln.api.sanity.io/v2021-10-21/data/query/production?query=*[_type==\"company\"]{title,website,slug,statement,_createdAt}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 350],
      "id": "vc-fetch-firstround",
      "name": "Fetch First Round (Sanity API)"
    },
    {
      "parameters": {
        "jsCode": "// Parse First Round Capital - with _createdAt dates from Sanity API\nconst items = $input.all();\nconst results = [];\nconst vcName = 'First Round Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  const companies = item.json.result || [];\n  for (const company of companies) {\n    const name = company.title || '';\n    if (!name || name.length < 2) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    const website = company.website || '';\n    let description = '';\n    if (company.statement && Array.isArray(company.statement)) {\n      for (const block of company.statement) {\n        if (block.children) for (const child of block.children) if (child.text) description += child.text + ' ';\n      }\n      description = description.trim();\n    }\n    if (!description) description = `${name} - First Round Capital portfolio company`;\n    // Extract portfolio addition date from _createdAt\n    let portfolioDate = '';\n    if (company._createdAt) {\n      portfolioDate = company._createdAt.split('T')[0];\n    }\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': description, 'Company URL': website, 'Portfolio Addition Date': portfolioDate, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 350],
      "id": "vc-parse-firstround",
      "name": "Parse First Round"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.essencevc.fund/companies",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 500],
      "id": "vc-fetch-essence",
      "name": "Fetch Essence VC"
    },
    {
      "parameters": {
        "jsCode": "// Parse Essence VC\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Essence VC';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const imgLinkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>[^<]*<img[^>]*alt=[\"']([^\"']+)[\"'][^>]*>[^<]*<\\/a>/gi;\n  let match;\n  while ((match = imgLinkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    const name = match[2].trim();\n    if (url.includes('squarespace') || url.includes('essencevc') || url.includes('linkedin') || url.includes('twitter') || url.includes('facebook') || url.includes('instagram')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Essence VC portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 500],
      "id": "vc-parse-essence",
      "name": "Parse Essence VC"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://costanoa.vc/sitemap.xml",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 650],
      "id": "vc-fetch-costanoa",
      "name": "Fetch Costanoa Sitemap"
    },
    {
      "parameters": {
        "jsCode": "// Parse Costanoa Ventures - with lastmod dates from sitemap\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Costanoa Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let xml = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Parse URL blocks to get both loc and lastmod\n  const urlBlockPattern = /<url>([\\s\\S]*?)<\\/url>/gi;\n  let match;\n  \n  while ((match = urlBlockPattern.exec(xml)) !== null) {\n    const block = match[1];\n    \n    // Extract portfolio slug from loc\n    const locMatch = block.match(/<loc>https?:\\/\\/costanoa\\.vc\\/portfolio\\/([^<\\/]+)<\\/loc>/i);\n    if (!locMatch) continue;\n    \n    const slug = locMatch[1].trim();\n    if (!slug || slug.length < 2 || slug === 'portfolio') continue;\n    \n    // Extract lastmod date\n    let portfolioDate = '';\n    const lastmodMatch = block.match(/<lastmod>([^<]+)<\\/lastmod>/i);\n    if (lastmodMatch) {\n      portfolioDate = lastmodMatch[1].trim().split('T')[0];\n    }\n    \n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Costanoa Ventures portfolio company`, 'Company URL': `https://costanoa.vc/portfolio/${slug}`, 'Portfolio Addition Date': portfolioDate, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 650],
      "id": "vc-parse-costanoa",
      "name": "Parse Costanoa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.khoslaventures.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 },\n  \"waitForSelector\": { \"selector\": \".splide__slide\", \"timeout\": 15000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 800],
      "id": "vc-fetch-khosla",
      "name": "Browserless Khosla",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Khosla Ventures - extract company name from URL domain\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Khosla Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Skip these domains - not portfolio companies\nconst skipDomains = ['khoslaventures', 'linkedin', 'twitter', 'facebook', 'x', 'jobs', 'careers', 'webflow', 'githubusercontent', 'google', 'youtube', 'instagram', 'medium', 'substack'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Find all external links\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>/gi;\n  let match;\n  \n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    \n    // Skip non-company URLs\n    if (url.includes('#') || url.includes('javascript') || url.length < 10) continue;\n    \n    // Extract domain from URL\n    const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n    if (!domainMatch) continue;\n    \n    const domain = domainMatch[1].toLowerCase();\n    \n    // Skip non-company domains\n    if (skipDomains.some(skip => domain.includes(skip))) continue;\n    if (domain.length < 2 || domain.length > 30) continue;\n    \n    // Convert domain to company name (capitalize first letter)\n    let name = domain.charAt(0).toUpperCase() + domain.slice(1);\n    \n    // Handle common patterns: openai -> OpenAI, gitlab -> GitLab\n    name = name.replace(/ai$/i, 'AI').replace(/^ai/i, 'AI');\n    \n    const key = domain.replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Khosla Ventures portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 800],
      "id": "vc-parse-khosla",
      "name": "Parse Khosla Ventures"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.kaporcapital.com/sitemap.xml",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 950],
      "id": "vc-fetch-kapor",
      "name": "Fetch Kapor Capital Sitemap"
    },
    {
      "parameters": {
        "jsCode": "// Parse Kapor Capital - Sitemap XML with lastmod dates\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Kapor Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let xml = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: <url> block with <loc> and <lastmod>\n  const urlBlockPattern = /<url>([\\s\\S]*?)<\\/url>/gi;\n  let match;\n  \n  while ((match = urlBlockPattern.exec(xml)) !== null) {\n    const block = match[1];\n    \n    // Extract company slug from loc\n    const locMatch = block.match(/<loc>https?:\\/\\/(?:www\\.)?kaporcapital\\.com\\/company\\/([^<\\/]+)\\/?<\\/loc>/i);\n    if (!locMatch) continue;\n    \n    const slug = locMatch[1].trim().replace(/\\/$/, '');\n    if (!slug || slug.length < 2) continue;\n    \n    // Extract lastmod date\n    let portfolioDate = '';\n    const lastmodMatch = block.match(/<lastmod>([^<]+)<\\/lastmod>/i);\n    if (lastmodMatch) {\n      // Convert ISO date to YYYY-MM-DD\n      const isoDate = lastmodMatch[1].trim();\n      portfolioDate = isoDate.split('T')[0];\n    }\n    \n    // Convert slug to company name\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Kapor Capital portfolio company (social impact)`, 'Company URL': `https://www.kaporcapital.com/company/${slug}/`, 'Portfolio Addition Date': portfolioDate, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 950],
      "id": "vc-parse-kapor",
      "name": "Parse Kapor Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.whatif.vc/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 1100],
      "id": "vc-fetch-whatif",
      "name": "Browserless WhatIf",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse WhatIf Ventures - Webflow portfolio with company cards\nconst items = $input.all();\nconst results = [];\nconst vcName = 'WhatIf Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern 1: Look for company names in headings followed by descriptions and Visit Site links\n  // Company cards have: image, company name (h3/h4/div), description, \"Visit Site\" link\n  const cardPattern = /<(?:h[2-4]|div)[^>]*class=[\"'][^\"']*(?:heading|company-name|portfolio-name)[^\"']*[\"'][^>]*>([^<]+)<\\/(?:h[2-4]|div)>/gi;\n  let match;\n  \n  while ((match = cardPattern.exec(html)) !== null) {\n    const name = match[1].trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('visit')) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    // Look for nearby external URL\n    const context = html.substring(Math.max(0, match.index - 500), Math.min(html.length, match.index + 1500));\n    let url = '';\n    const urlMatch = context.match(/href=[\"'](https?:\\/\\/(?!whatif\\.vc|linkedin|twitter|facebook|cdn)[^\"']+)[\"']/i);\n    if (urlMatch) url = urlMatch[1];\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - WhatIf Ventures portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Pattern 2: Fallback - look for external links with company-like text\n  if (results.length === 0) {\n    const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!whatif\\.vc|linkedin|twitter|facebook|cdn|webflow)[^\"']+)[\"'][^>]*>([^<]*(?:Visit|Site)?[^<]*)<\\/a>/gi;\n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      if (url.includes('#') || url.length < 10) continue;\n      \n      // Extract company name from URL domain\n      const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n      if (!domainMatch) continue;\n      \n      let name = domainMatch[1];\n      name = name.charAt(0).toUpperCase() + name.slice(1);\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - WhatIf Ventures portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 1100],
      "id": "vc-parse-whatif",
      "name": "Parse WhatIf Ventures"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.wxrfund.com/portfolio",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 1250],
      "id": "vc-fetch-wxr",
      "name": "Fetch WXR Fund"
    },
    {
      "parameters": {
        "jsCode": "// Parse WXR Fund - Squarespace portfolio with company links\nconst items = $input.all();\nconst results = [];\nconst vcName = 'WXR Fund';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: <a href=\"http://company.com\">Company Name</a> followed by description\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!wxrfund|squarespace|linkedin|twitter|facebook|instagram)[^\"']+)[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/a>/gi;\n  let match;\n  \n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    let name = match[2].trim();\n    \n    // Skip navigation/footer links\n    if (name.toLowerCase().includes('read more') || name.toLowerCase().includes('learn more')) continue;\n    if (name.toLowerCase().includes('privacy') || name.toLowerCase().includes('terms')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - WXR Fund portfolio company (XR/spatial computing)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 1250],
      "id": "vc-parse-wxr",
      "name": "Parse WXR Fund"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.leadoutcapital.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 1400],
      "id": "vc-fetch-leadout",
      "name": "Browserless Leadout",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Leadout Capital - Webflow portfolio with company cards\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Leadout Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern 1: Company names in text-block class elements\n  const textBlockPattern = /<[^>]*class=[\"'][^\"']*text-block[^\"']*[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/[^>]+>/gi;\n  let match;\n  \n  while ((match = textBlockPattern.exec(html)) !== null) {\n    let name = match[1].trim();\n    \n    // Skip years, numbers, and generic text\n    if (/^\\d{4}$/.test(name)) continue;\n    if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('filter')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    // Look for nearby URL\n    const context = html.substring(Math.max(0, match.index - 500), Math.min(html.length, match.index + 1000));\n    let url = '';\n    const urlMatch = context.match(/href=[\"'](https?:\\/\\/(?!leadoutcapital|webflow|linkedin|twitter|facebook)[^\"']+)[\"']/i);\n    if (urlMatch) url = urlMatch[1];\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Leadout Capital portfolio company (healthcare/femtech focus)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Pattern 2: Fallback - look for company links\n  if (results.length === 0) {\n    const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!leadoutcapital|webflow|linkedin|twitter|facebook)[^\"']+)[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/a>/gi;\n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      let name = match[2].trim();\n      if (!name || name.length < 2 || name.length > 60) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Leadout Capital portfolio company (healthcare/femtech focus)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 1400],
      "id": "vc-parse-leadout",
      "name": "Parse Leadout Capital"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://golden.ventures/portfolio",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 1550],
      "id": "vc-fetch-golden",
      "name": "Fetch Golden Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Golden Ventures - portfolio page with company cards\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Golden Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: Company detail pages at /portfolio/company-name\n  const slugPattern = /href=[\"']\\/portfolio\\/([a-z0-9\\-]+)[\"']/gi;\n  let match;\n  \n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug === 'portfolio' || slug === 'all') continue;\n    \n    // Convert slug to company name\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Golden Ventures portfolio company (Canadian early-stage)`, 'Company URL': `https://golden.ventures/portfolio/${slug}`, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 1550],
      "id": "vc-parse-golden",
      "name": "Parse Golden Ventures"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://notablecap.com/companies\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 1700],
      "id": "vc-fetch-notable",
      "name": "Browserless Notable",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Notable Capital - extract from external company links\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Notable Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Skip these domains\nconst skipDomains = ['notablecap', 'linkedin', 'twitter', 'facebook', 'instagram', 'youtube', 'medium', 'google', 'apple', 'amazonaws', 'cloudfront', 'cdn', 'fonts', 'gstatic'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Extract all external company links\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>/gi;\n  let match;\n  \n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    if (url.includes('#') || url.length < 10) continue;\n    \n    // Extract domain\n    const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n    if (!domainMatch) continue;\n    \n    const domain = domainMatch[1].toLowerCase();\n    \n    // Skip non-company domains\n    if (skipDomains.some(skip => domain.includes(skip))) continue;\n    if (domain.length < 2 || domain.length > 30) continue;\n    \n    // Convert domain to company name\n    let name = domain.charAt(0).toUpperCase() + domain.slice(1);\n    name = name.replace(/ai$/i, 'AI').replace(/^ai/i, 'AI');\n    \n    const key = domain.replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Notable Capital portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 1700],
      "id": "vc-parse-notable",
      "name": "Parse Notable Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://headline.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 1850],
      "id": "vc-fetch-headline",
      "name": "Browserless Headline",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Headline - extract from Prismic CMS portfolios_list JSON embedded in page\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Headline';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Method 1: Extract company_name fields from Prismic JSON data\n  const companyPattern = /\"company_name\"\\s*:\\s*\"([^\"]+)\"/gi;\n  let match;\n  \n  while ((match = companyPattern.exec(html)) !== null) {\n    let name = match[1].trim();\n    if (!name || name.length < 2 || name.length > 80) continue;\n    \n    // Skip obvious non-companies\n    if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('headline')) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    // Try to find description, sector near this match\n    const contextStart = Math.max(0, match.index - 200);\n    const contextEnd = Math.min(html.length, match.index + 500);\n    const context = html.substring(contextStart, contextEnd);\n    \n    let description = name + ' - Headline portfolio company';\n    const descMatch = context.match(/\"description\"\\s*:\\s*\"([^\"]+)\"/i);\n    if (descMatch) description = descMatch[1].replace(/\\\\n/g, ' ').substring(0, 300);\n    \n    const sectorMatch = context.match(/\"sector\"\\s*:\\s*\"([^\"]+)\"/i);\n    if (sectorMatch) description += ' (' + sectorMatch[1] + ')';\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': description, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Method 2: Fallback - try slugs if company_name not found\n  if (results.length === 0) {\n    const slugPattern = /\"slug\"\\s*:\\s*\"([a-z0-9-]+)\"/gi;\n    while ((match = slugPattern.exec(html)) !== null) {\n      const slug = match[1].trim();\n      if (!slug || slug.length < 2) continue;\n      if (slug.includes('acq') || slug === 'portfolio') continue;\n      \n      let name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Headline portfolio company', 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 1850],
      "id": "vc-parse-headline",
      "name": "Parse Headline"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.psl.com/companies",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 2000],
      "id": "vc-fetch-psl",
      "name": "Fetch PSL (Pioneer Square)"
    },
    {
      "parameters": {
        "jsCode": "// Parse Pioneer Square Labs - static portfolio page\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Pioneer Square Labs';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pattern: Company links at /companies/company-name\n  const slugPattern = /href=[\"']\\/companies\\/([a-z0-9\\-]+)[\"']/gi;\n  let match;\n  \n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug === 'companies' || slug === 'all') continue;\n    \n    // Convert slug to company name\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Pioneer Square Labs portfolio company (Seattle-based)`, 'Company URL': `https://www.psl.com/companies/${slug}`, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 2000],
      "id": "vc-parse-psl",
      "name": "Parse PSL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://trilogyequity.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 60000 }\n}",
        "options": { "timeout": 120000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 2150],
      "id": "vc-fetch-trilogy",
      "name": "Browserless Trilogy",
      "credentials": { "httpQueryAuth": { "id": "browserless-token", "name": "Browserless API" } }
    },
    {
      "parameters": {
        "jsCode": "// Parse Trilogy Equity Partners - two-pass: find Website URLs then match to company names\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Trilogy Equity Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Field labels to skip (not company names)\nconst fieldLabels = ['website', 'ceo', 'location', 'founded', 'status', 'active', 'past', 'select', 'portfolio', 'investment', 'acquired'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Pass 1: Find all h4 tags and categorize them\n  const h4Pattern = /<h4[^>]*>([^<]+)<\\/h4>/gi;\n  const h4Tags = [];\n  let match;\n  while ((match = h4Pattern.exec(html)) !== null) {\n    const text = match[1].trim();\n    const isFieldLabel = fieldLabels.some(label => text.toLowerCase() === label);\n    h4Tags.push({ text, index: match.index, isFieldLabel });\n  }\n  \n  // Pass 2: For each company name h4, find the Website URL before the next company h4\n  for (let i = 0; i < h4Tags.length; i++) {\n    const tag = h4Tags[i];\n    if (tag.isFieldLabel) continue;\n    \n    const name = tag.text;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    if (!/^[A-Z]/.test(name)) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    // Find next company h4 (or end of html)\n    let nextCompanyIndex = html.length;\n    for (let j = i + 1; j < h4Tags.length; j++) {\n      if (!h4Tags[j].isFieldLabel) {\n        nextCompanyIndex = h4Tags[j].index;\n        break;\n      }\n    }\n    \n    // Search for website URL between this h4 and next company h4\n    const section = html.substring(tag.index, nextCompanyIndex);\n    let url = '';\n    const urlMatch = section.match(/<h4[^>]*>Website<\\/h4>[\\s\\S]*?href=[\"'](https?:\\/\\/[^\"']+)[\"']/i);\n    if (urlMatch) url = urlMatch[1];\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Trilogy Equity Partners portfolio company (Seattle enterprise/consumer)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 2150],
      "id": "vc-parse-trilogy",
      "name": "Parse Trilogy Equity"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 275],
      "id": "vc-merge-1",
      "name": "Merge Unusual + First Round"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 575],
      "id": "vc-merge-2",
      "name": "Merge Essence + Costanoa"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 875],
      "id": "vc-merge-3",
      "name": "Merge Khosla + Kapor"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 1175],
      "id": "vc-merge-4",
      "name": "Merge WhatIf + WXR"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 1475],
      "id": "vc-merge-5",
      "name": "Merge Leadout + Golden"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 1775],
      "id": "vc-merge-6",
      "name": "Merge Notable + Headline"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 2075],
      "id": "vc-merge-7",
      "name": "Merge PSL + Trilogy"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [880, 425],
      "id": "vc-merge-group-1",
      "name": "Merge Groups 1+2"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [880, 725],
      "id": "vc-merge-group-2",
      "name": "Merge Groups 3+4"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [880, 1025],
      "id": "vc-merge-group-3",
      "name": "Merge Groups 5+6"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1100, 575],
      "id": "vc-merge-super-1",
      "name": "Merge Super 1+2"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1100, 875],
      "id": "vc-merge-super-2",
      "name": "Merge Super 3+7"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1320, 725],
      "id": "vc-merge-all",
      "name": "Combine All VCs"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1540, 725],
      "id": "vc-filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "jsCode": "const newCompanies = $input.all();\nreturn newCompanies.map(item => ({ json: { ...item.json, _isNewCompany: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 725],
      "id": "vc-mark-new",
      "name": "Mark as New"
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id" },
        "table": { "__rl": true, "value": "Funding Alerts", "mode": "list", "cachedResultName": "Funding Alerts" },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1760, 925],
      "id": "vc-get-existing",
      "name": "Get Existing Companies"
    },
    {
      "parameters": { "mode": "append" },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1980, 825],
      "id": "vc-merge-for-dedup",
      "name": "Merge for Dedup"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst newCompanies = [];\nconst existingRecords = [];\nfor (const item of allItems) {\n  if (item.json._isNewCompany) newCompanies.push(item);\n  else if (item.json.fields && item.json.fields['Company Name']) existingRecords.push(item);\n  else if (item.json.id && item.json['Company Name']) existingRecords.push({ json: { fields: item.json } });\n}\nconst normalize = (str) => str ? String(str).toLowerCase().replace(/[^a-z0-9]/g, '').trim() : '';\nconst existingNames = new Set();\nfor (const item of existingRecords) {\n  const name = (item.json.fields || item.json)['Company Name'] || '';\n  if (name) existingNames.add(normalize(name));\n}\nconst uniqueCompanies = [];\nconst addedNames = new Set();\nfor (const company of newCompanies) {\n  const name = company.json['Company Name'];\n  if (!name) continue;\n  const normalizedName = normalize(name);\n  if (!normalizedName || existingNames.has(normalizedName) || addedNames.has(normalizedName)) continue;\n  addedNames.add(normalizedName);\n  const cleanCompany = { ...company.json };\n  delete cleanCompany._isNewCompany;\n  uniqueCompanies.push({ json: cleanCompany });\n}\nreturn uniqueCompanies.length ? uniqueCompanies : [{ json: { _empty: true, _message: 'No new companies found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 825],
      "id": "vc-dedup",
      "name": "Dedup Against Existing"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true }]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2420, 825],
      "id": "vc-has-new",
      "name": "Has New Companies?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify(\"Analyze this startup company and classify it.\\n\\nCompany Name: \" + ($json['Company Name'] || '').replace(/[\\x00-\\x1f]/g, ' ') + \"\\nVC Firm: \" + ($json['VC Firm'] || '') + \"\\nDescription: \" + ($json['Company Description'] || '').replace(/[\\x00-\\x1f]/g, ' ').substring(0, 500) + \"\\nWebsite: \" + ($json['Company URL'] || '') + \"\\n\\nProvide:\\n1. Industry/Vertical (e.g., Healthcare, AI/ML, Climate/Environment, EdTech, Developer Tools, Enterprise Software, Fintech, Consumer, Defense/Military, etc.)\\n\\n2. Company Stage - classify based on your knowledge of the company:\\n   - Seed/Early: New startup, pre-product or early product, small team, not widely known\\n   - Growth: Scaling company, established product, Series B-D, growing but not dominant\\n   - Late/Public: Large company, IPO'd, acquired by major company, or household name (e.g., Uber, DoorDash, Stripe, Square, Roblox, Instacart)\\n   - Unknown: Cannot determine stage\\n\\n3. Mission Score (1-5) based on these priorities:\\n   - 5: Strong mission around healthcare, environment/climate, or education\\n   - 4: Moderate alignment with healthcare, environment, or education\\n   - 3: Neutral - general tech, enterprise software, consumer apps, AI/ML tools\\n   - 2: Lower priority - fintech, adtech, crypto\\n   - 1: Lowest priority - military, defense, weapons\\n\\n4. Brief explanation of the score\\n\\nRespond with ONLY valid JSON (no markdown, no code blocks):\\n{\\\"industry\\\": \\\"Industry Name\\\", \\\"stage\\\": \\\"Seed/Early\\\", \\\"mission_score\\\": 3, \\\"mission_notes\\\": \\\"Brief explanation\\\"}\") }} }]\n}",
        "options": { "timeout": 60000, "batching": { "batch": { "batchSize": 1, "batchInterval": 2000 } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2640, 825],
      "id": "vc-classify-api",
      "name": "Classify via Anthropic API",
      "credentials": { "httpHeaderAuth": { "id": "anthropic-header", "name": "Anthropic API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\nconst originalCompanies = $('Has New Companies?').all().filter(item => !item.json._empty);\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const original = originalCompanies[i]?.json || {};\n  let industry = 'Unknown', stage = 'Unknown', missionScore = 3, missionNotes = 'Unable to classify';\n  try {\n    const responseText = item.json.content?.[0]?.text || '';\n    const parsed = JSON.parse(responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim());\n    if (parsed.industry) industry = parsed.industry;\n    if (parsed.stage) stage = parsed.stage;\n    if (parsed.mission_score) missionScore = parseInt(parsed.mission_score) || 3;\n    if (parsed.mission_notes) missionNotes = parsed.mission_notes;\n  } catch (e) {\n    const rt = item.json.content?.[0]?.text || '';\n    const im = rt.match(/\"industry\"\\s*:\\s*\"([^\"]+)\"/i);\n    const stm = rt.match(/\"stage\"\\s*:\\s*\"([^\"]+)\"/i);\n    const sm = rt.match(/\"mission_score\"\\s*:\\s*(\\d)/i);\n    const nm = rt.match(/\"mission_notes\"\\s*:\\s*\"([^\"]+)\"/i);\n    if (im) industry = im[1]; if (stm) stage = stm[1]; if (sm) missionScore = parseInt(sm[1]); if (nm) missionNotes = nm[1];\n  }\n  results.push({ json: { 'Company Name': original['Company Name'] || '', 'VC Firm': original['VC Firm'] || '', 'Company Description': original['Company Description'] || '', 'Company URL': original['Company URL'] || '', 'Portfolio Addition Date': original['Portfolio Addition Date'] || '', 'Status': original['Status'] || 'New', 'First Seen Date': original['First Seen Date'] || new Date().toISOString().split('T')[0], 'Source': original['Source'] || 'VC Portfolio', 'Industry': industry, 'Stage': stage, 'Mission Score': missionScore, 'Mission Notes': missionNotes } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 825],
      "id": "vc-parse-classification",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "create",
        "base": { "__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id" },
        "table": { "__rl": true, "value": "Funding Alerts", "mode": "list", "cachedResultName": "Funding Alerts" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "VC Firm": "={{ $json['VC Firm'] }}",
            "Company Description": "={{ $json['Company Description'] }}",
            "Company URL": "={{ $json['Company URL'] }}",
            "Portfolio Addition Date": "={{ $json['Portfolio Addition Date'] }}",
            "Status": "={{ $json['Status'] }}",
            "First Seen Date": "={{ $json['First Seen Date'] }}",
            "Source": "={{ $json['Source'] }}",
            "Industry": "={{ $json['Industry'] }}",
            "Stage": "={{ $json['Stage'] }}",
            "Mission Score": "={{ $json['Mission Score'] }}",
            "Mission Notes": "={{ $json['Mission Notes'] }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [3080, 825],
      "id": "vc-add-to-airtable",
      "name": "Add to Airtable"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1760, 575],
      "id": "vc-no-valid",
      "name": "No Valid Companies"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2640, 675],
      "id": "vc-no-new",
      "name": "All Duplicates"
    }
  ],
  "connections": {
    "Schedule Trigger (Mon/Thu 8am)": {
      "main": [[
        { "node": "Browserless Unusual", "type": "main", "index": 0 },
        { "node": "Fetch First Round (Sanity API)", "type": "main", "index": 0 },
        { "node": "Fetch Essence VC", "type": "main", "index": 0 },
        { "node": "Fetch Costanoa Sitemap", "type": "main", "index": 0 },
        { "node": "Browserless Khosla", "type": "main", "index": 0 },
        { "node": "Fetch Kapor Capital Sitemap", "type": "main", "index": 0 },
        { "node": "Browserless WhatIf", "type": "main", "index": 0 },
        { "node": "Fetch WXR Fund", "type": "main", "index": 0 },
        { "node": "Browserless Leadout", "type": "main", "index": 0 },
        { "node": "Fetch Golden Ventures", "type": "main", "index": 0 },
        { "node": "Browserless Notable", "type": "main", "index": 0 },
        { "node": "Browserless Headline", "type": "main", "index": 0 },
        { "node": "Fetch PSL (Pioneer Square)", "type": "main", "index": 0 },
        { "node": "Browserless Trilogy", "type": "main", "index": 0 },
        { "node": "Get Existing Companies", "type": "main", "index": 0 }
      ]]
    },
    "Browserless Unusual": { "main": [[{ "node": "Parse Unusual Ventures", "type": "main", "index": 0 }]] },
    "Parse Unusual Ventures": { "main": [[{ "node": "Merge Unusual + First Round", "type": "main", "index": 0 }]] },
    "Fetch First Round (Sanity API)": { "main": [[{ "node": "Parse First Round", "type": "main", "index": 0 }]] },
    "Parse First Round": { "main": [[{ "node": "Merge Unusual + First Round", "type": "main", "index": 1 }]] },
    "Fetch Essence VC": { "main": [[{ "node": "Parse Essence VC", "type": "main", "index": 0 }]] },
    "Parse Essence VC": { "main": [[{ "node": "Merge Essence + Costanoa", "type": "main", "index": 0 }]] },
    "Fetch Costanoa Sitemap": { "main": [[{ "node": "Parse Costanoa", "type": "main", "index": 0 }]] },
    "Parse Costanoa": { "main": [[{ "node": "Merge Essence + Costanoa", "type": "main", "index": 1 }]] },
    "Browserless Khosla": { "main": [[{ "node": "Parse Khosla Ventures", "type": "main", "index": 0 }]] },
    "Parse Khosla Ventures": { "main": [[{ "node": "Merge Khosla + Kapor", "type": "main", "index": 0 }]] },
    "Fetch Kapor Capital Sitemap": { "main": [[{ "node": "Parse Kapor Capital", "type": "main", "index": 0 }]] },
    "Parse Kapor Capital": { "main": [[{ "node": "Merge Khosla + Kapor", "type": "main", "index": 1 }]] },
    "Browserless WhatIf": { "main": [[{ "node": "Parse WhatIf Ventures", "type": "main", "index": 0 }]] },
    "Parse WhatIf Ventures": { "main": [[{ "node": "Merge WhatIf + WXR", "type": "main", "index": 0 }]] },
    "Fetch WXR Fund": { "main": [[{ "node": "Parse WXR Fund", "type": "main", "index": 0 }]] },
    "Parse WXR Fund": { "main": [[{ "node": "Merge WhatIf + WXR", "type": "main", "index": 1 }]] },
    "Browserless Leadout": { "main": [[{ "node": "Parse Leadout Capital", "type": "main", "index": 0 }]] },
    "Parse Leadout Capital": { "main": [[{ "node": "Merge Leadout + Golden", "type": "main", "index": 0 }]] },
    "Fetch Golden Ventures": { "main": [[{ "node": "Parse Golden Ventures", "type": "main", "index": 0 }]] },
    "Parse Golden Ventures": { "main": [[{ "node": "Merge Leadout + Golden", "type": "main", "index": 1 }]] },
    "Browserless Notable": { "main": [[{ "node": "Parse Notable Capital", "type": "main", "index": 0 }]] },
    "Parse Notable Capital": { "main": [[{ "node": "Merge Notable + Headline", "type": "main", "index": 0 }]] },
    "Browserless Headline": { "main": [[{ "node": "Parse Headline", "type": "main", "index": 0 }]] },
    "Parse Headline": { "main": [[{ "node": "Merge Notable + Headline", "type": "main", "index": 1 }]] },
    "Fetch PSL (Pioneer Square)": { "main": [[{ "node": "Parse PSL", "type": "main", "index": 0 }]] },
    "Parse PSL": { "main": [[{ "node": "Merge PSL + Trilogy", "type": "main", "index": 0 }]] },
    "Browserless Trilogy": { "main": [[{ "node": "Parse Trilogy Equity", "type": "main", "index": 0 }]] },
    "Parse Trilogy Equity": { "main": [[{ "node": "Merge PSL + Trilogy", "type": "main", "index": 1 }]] },
    "Merge Unusual + First Round": { "main": [[{ "node": "Merge Groups 1+2", "type": "main", "index": 0 }]] },
    "Merge Essence + Costanoa": { "main": [[{ "node": "Merge Groups 1+2", "type": "main", "index": 1 }]] },
    "Merge Khosla + Kapor": { "main": [[{ "node": "Merge Groups 3+4", "type": "main", "index": 0 }]] },
    "Merge WhatIf + WXR": { "main": [[{ "node": "Merge Groups 3+4", "type": "main", "index": 1 }]] },
    "Merge Leadout + Golden": { "main": [[{ "node": "Merge Groups 5+6", "type": "main", "index": 0 }]] },
    "Merge Notable + Headline": { "main": [[{ "node": "Merge Groups 5+6", "type": "main", "index": 1 }]] },
    "Merge Groups 1+2": { "main": [[{ "node": "Merge Super 1+2", "type": "main", "index": 0 }]] },
    "Merge Groups 3+4": { "main": [[{ "node": "Merge Super 1+2", "type": "main", "index": 1 }]] },
    "Merge Groups 5+6": { "main": [[{ "node": "Merge Super 3+7", "type": "main", "index": 0 }]] },
    "Merge PSL + Trilogy": { "main": [[{ "node": "Merge Super 3+7", "type": "main", "index": 1 }]] },
    "Merge Super 1+2": { "main": [[{ "node": "Combine All VCs", "type": "main", "index": 0 }]] },
    "Merge Super 3+7": { "main": [[{ "node": "Combine All VCs", "type": "main", "index": 1 }]] },
    "Combine All VCs": { "main": [[{ "node": "Filter Valid", "type": "main", "index": 0 }]] },
    "Filter Valid": { "main": [[{ "node": "Mark as New", "type": "main", "index": 0 }], [{ "node": "No Valid Companies", "type": "main", "index": 0 }]] },
    "Mark as New": { "main": [[{ "node": "Merge for Dedup", "type": "main", "index": 0 }]] },
    "Get Existing Companies": { "main": [[{ "node": "Merge for Dedup", "type": "main", "index": 1 }]] },
    "Merge for Dedup": { "main": [[{ "node": "Dedup Against Existing", "type": "main", "index": 0 }]] },
    "Dedup Against Existing": { "main": [[{ "node": "Has New Companies?", "type": "main", "index": 0 }]] },
    "Has New Companies?": { "main": [[{ "node": "Classify via Anthropic API", "type": "main", "index": 0 }], [{ "node": "All Duplicates", "type": "main", "index": 0 }]] },
    "Classify via Anthropic API": { "main": [[{ "node": "Parse Classification", "type": "main", "index": 0 }]] },
    "Parse Classification": { "main": [[{ "node": "Add to Airtable", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
