Job Search/VC Scraper - Social Justice v22.json
{
  "name": "VC Scraper - Social Justice v22",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 8 * * 3,6"}]}
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "id": "trigger",
      "name": "Schedule (Wed/Sat 8am)"
    },
    {
      "parameters": {
        "url": "https://www.kaporcapital.com/sitemap.xml",
        "options": {"timeout": 60000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 100],
      "id": "kapor-fetch",
      "name": "Fetch Kapor Capital Sitemap"
    },
    {
      "parameters": {
        "jsCode": "// Parse Kapor Capital\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Kapor Capital';\nconst seen = new Set();\n\nfor (const item of items) {\n  let xml = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const urlBlockPattern = /<url>([\\s\\S]*?)<\\/url>/gi;\n  let match;\n  while ((match = urlBlockPattern.exec(xml)) !== null) {\n    const block = match[1];\n    const locMatch = block.match(/<loc>https?:\\/\\/(?:www\\.)?kaporcapital\\.com\\/company\\/([^<\\/]+)\\/?<\\/loc>/i);\n    if (!locMatch) continue;\n    const slug = locMatch[1].trim().replace(/\\/$/, '');\n    if (!slug || slug.length < 2) continue;\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { company_name: name, company_url: 'https://www.kaporcapital.com/company/' + slug + '/', description: name + ' - Kapor Capital portfolio company (social impact)', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 100],
      "id": "kapor-parse",
      "name": "Parse Kapor Capital"
    },
    {
      "parameters": {
        "jsCode": "// Static list of Social Justice VCs that don't have scrapable portfolio pages\n// Backstage Capital, Harlem Capital, Collab Capital\nconst results = [];\nconst seen = new Set();\n\nconst vcData = [\n  {\n    vc: 'Backstage Capital',\n    companies: [\n      ['The Lip Bar', 'https://www.thelipbar.com'],\n      ['Pigeonly', 'https://www.pigeonly.com'],\n      ['Mayvenn', 'https://www.mayvenn.com'],\n      ['Partake Foods', 'https://www.partakefoods.com'],\n      ['Blavity', 'https://www.blavity.com'],\n      ['Health In Her HUE', 'https://www.healthinherhue.com'],\n      ['PlayVS', 'https://www.playvs.com']\n    ]\n  },\n  {\n    vc: 'Harlem Capital',\n    companies: [\n      ['HBCU 20x20', 'https://www.hbcu20x20.com'],\n      ['Kanarys', 'https://www.kanarys.com'],\n      ['Sana Benefits', 'https://www.sanabenefits.com'],\n      ['Stackwell', 'https://www.getstackwell.com'],\n      ['Vori Health', 'https://www.vorihealth.com']\n    ]\n  },\n  {\n    vc: 'Collab Capital',\n    companies: [\n      ['Goodr', 'https://www.goodr.co'],\n      ['Autobon.ai', 'https://www.autobon.ai'],\n      ['Caribu', 'https://www.caribu.com'],\n      ['SkillSmart', 'https://www.skillsmart.io'],\n      ['Pangea', 'https://www.pangeamoney.com']\n    ]\n  }\n];\n\nfor (const { vc, companies } of vcData) {\n  for (const [name, url] of companies) {\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({\n      json: {\n        company_name: name,\n        company_url: url,\n        description: `${name} - ${vc} portfolio company (social impact)`,\n        source: vc\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "static-data",
      "name": "Static Social Justice VCs"
    },
    {
      "parameters": {"mode": "combine", "combinationMode": "multiplex"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 200],
      "id": "merge-all",
      "name": "Merge All"
    },
    {
      "parameters": {
        "jsCode": "// Combine all items and filter empty results\nconst allItems = $input.all();\nconst results = [];\nconst seen = new Set();\n\nfor (const item of allItems) {\n  if (item.json._empty) continue;\n  const name = item.json.company_name;\n  if (!name) continue;\n  const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push(item);\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200],
      "id": "combine-dedup",
      "name": "Combine & Dedupe"
    },
    {
      "parameters": {
        "conditions": {"boolean": [{"value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true}]}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 200],
      "id": "filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "rcMNDrfZR6csHRsYKFn0W", "mode": "id"},
        "options": {"waitForSubWorkflow": true}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1320, 180],
      "id": "pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Configure with the workflow ID of 'Enrich & Evaluate Pipeline'"
    }
  ],
  "connections": {
    "Schedule (Wed/Sat 8am)": {"main": [[
      {"node": "Fetch Kapor Capital Sitemap", "type": "main", "index": 0},
      {"node": "Static Social Justice VCs", "type": "main", "index": 0}
    ]]},
    "Fetch Kapor Capital Sitemap": {"main": [[{"node": "Parse Kapor Capital", "type": "main", "index": 0}]]},
    "Parse Kapor Capital": {"main": [[{"node": "Merge All", "type": "main", "index": 0}]]},
    "Static Social Justice VCs": {"main": [[{"node": "Merge All", "type": "main", "index": 1}]]},
    "Merge All": {"main": [[{"node": "Combine & Dedupe", "type": "main", "index": 0}]]},
    "Combine & Dedupe": {"main": [[{"node": "Filter Valid", "type": "main", "index": 0}]]},
    "Filter Valid": {"main": [[{"node": "Execute Enrich & Evaluate Pipeline", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
