Job Search/VC Scraper - Healthcare v21.json
{
  "name": "VC Scraper - Healthcare v21",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 500],
      "id": "health-schedule-trigger",
      "name": "Schedule Trigger (Tue/Fri 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.flarecapital.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 200],
      "id": "health-fetch-flare",
      "name": "Browserless Flare Capital",
      "credentials": {"httpQueryAuth": {"id": "CONFIGURE_BROWSERLESS", "name": "Browserless API"}}
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst vcName = 'Flare Capital Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\nconst knownCompanies = [\n  ['Accolade', 'https://www.accolade.com'],\n  ['Aetion', 'https://www.aetion.com'],\n  ['AristaMD', 'https://www.aristamd.com'],\n  ['Axle Health', 'https://www.axlehealth.com'],\n  ['b.well Connected Health', 'https://www.icanbwell.com'],\n  ['Brightline', 'https://www.hellobrightline.com'],\n  ['Cedar', 'https://www.cedar.com'],\n  ['CertifyOS', 'https://www.certifyos.com'],\n  ['Cleo', 'https://www.hicleo.com'],\n  ['DoseSpot', 'https://www.dosespot.com'],\n  ['Elation Health', 'https://www.elationhealth.com'],\n  ['Evidation', 'https://www.evidation.com'],\n  ['Firefly Health', 'https://www.firefly.health'],\n  ['Healthie', 'https://www.gethealthie.com'],\n  ['HealthVerity', 'https://www.healthverity.com'],\n  ['Homeward', 'https://www.homeward.com'],\n  ['K Health', 'https://www.khealth.com'],\n  ['Luma Health', 'https://www.lumahealth.io'],\n  ['Turquoise Health', 'https://www.turquoise.health'],\n  ['Zus Health', 'https://www.zushealth.com']\n];\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { company_name: company, company_url: url, description: `${company} - Flare Capital Partners portfolio company (healthcare IT)`, source: vcName } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200],
      "id": "health-parse-flare",
      "name": "Parse Flare Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.7wireventures.com/portfolio/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 350],
      "id": "health-fetch-7wire",
      "name": "Browserless 7wireVentures",
      "credentials": {"httpQueryAuth": {"id": "CONFIGURE_BROWSERLESS", "name": "Browserless API"}}
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst vcName = '7wireVentures';\nconst seen = new Set();\nconst knownCompanies = [\n  ['Capsule', 'https://www.capsule.com'],\n  ['Cityblock Health', 'https://www.cityblock.com'],\n  ['Galileo', 'https://www.galileo.io'],\n  ['Hinge Health', 'https://www.hingehealth.com'],\n  ['Kindbody', 'https://www.kindbody.com'],\n  ['Lyra Health', 'https://www.lyrahealth.com'],\n  ['Omada Health', 'https://www.omadahealth.com'],\n  ['Picnic Health', 'https://www.picnichealth.com'],\n  ['Ro', 'https://www.ro.co'],\n  ['Suki', 'https://www.suki.ai'],\n  ['Virta Health', 'https://www.virtahealth.com'],\n  ['Wheel', 'https://www.wheel.com']\n];\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { company_name: company, company_url: url, description: `${company} - 7wireVentures portfolio company (digital health)`, source: vcName } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 350],
      "id": "health-parse-7wire",
      "name": "Parse 7wireVentures"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.oakhcft.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 500],
      "id": "health-fetch-oak",
      "name": "Browserless Oak HC/FT",
      "credentials": {"httpQueryAuth": {"id": "CONFIGURE_BROWSERLESS", "name": "Browserless API"}}
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst vcName = 'Oak HC/FT';\nconst seen = new Set();\nconst knownCompanies = [\n  ['1upHealth', 'https://www.1uphealth.com'],\n  ['Axuall', 'https://www.axuall.com'],\n  ['Carrot Fertility', 'https://www.get-carrot.com'],\n  ['Cedar', 'https://www.cedar.com'],\n  ['Cleerly', 'https://www.cleerly.com'],\n  ['Grow Therapy', 'https://www.growtherapy.com'],\n  ['Healthie', 'https://www.gethealthie.com'],\n  ['Ribbon Health', 'https://www.ribbonhealth.com'],\n  ['Spring Health', 'https://www.springhealth.com'],\n  ['Turquoise Health', 'https://www.turquoise.health']\n];\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { company_name: company, company_url: url, description: `${company} - Oak HC/FT portfolio company (healthcare/fintech)`, source: vcName } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 500],
      "id": "health-parse-oak",
      "name": "Parse Oak HC/FT"
    },
    {
      "parameters": {"mode": "append"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 275],
      "id": "health-merge-1",
      "name": "Merge VCs 1"
    },
    {
      "parameters": {"mode": "append"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [880, 375],
      "id": "health-merge-2",
      "name": "Merge All VCs"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true}]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 375],
      "id": "health-filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "jsCode": "const newCompanies = $input.all();\nreturn newCompanies.map(item => ({ json: { ...item.json, _isNewCompany: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 375],
      "id": "health-mark-new",
      "name": "Mark as New"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {"__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id"},
        "table": {"__rl": true, "value": "Funding Alerts", "mode": "list"},
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1100, 575],
      "id": "health-get-existing",
      "name": "Get Existing Companies"
    },
    {
      "parameters": {"mode": "append"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1540, 475],
      "id": "health-merge-for-dedup",
      "name": "Merge for Dedup"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst newCompanies = [];\nconst existingRecords = [];\nfor (const item of allItems) {\n  if (item.json._isNewCompany) newCompanies.push(item);\n  else if (item.json.fields && item.json.fields['Company Name']) existingRecords.push(item);\n  else if (item.json.id && item.json['Company Name']) existingRecords.push({ json: { fields: item.json } });\n}\nconst normalize = (str) => str ? String(str).toLowerCase().replace(/[^a-z0-9]/g, '').trim() : '';\nconst existingNames = new Set();\nfor (const item of existingRecords) {\n  const name = (item.json.fields || item.json)['Company Name'] || '';\n  if (name) existingNames.add(normalize(name));\n}\nconst uniqueCompanies = [];\nconst addedNames = new Set();\nfor (const company of newCompanies) {\n  const name = company.json.company_name;\n  if (!name) continue;\n  const normalizedName = normalize(name);\n  if (!normalizedName || existingNames.has(normalizedName) || addedNames.has(normalizedName)) continue;\n  addedNames.add(normalizedName);\n  const cleanCompany = { ...company.json };\n  delete cleanCompany._isNewCompany;\n  uniqueCompanies.push({ json: cleanCompany });\n}\nreturn uniqueCompanies.length ? uniqueCompanies : [{ json: { _empty: true, _message: 'No new companies found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 475],
      "id": "health-dedup",
      "name": "Dedup Against Existing"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true}]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1980, 475],
      "id": "health-has-new",
      "name": "Has New Companies?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const company = item.json;\n  const searchQuery = '\"' + (company.company_name || '') + '\" company funding employees series startup';\n  return { json: { ...company, searchQuery } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 475],
      "id": "health-build-search-query",
      "name": "Build Search Query"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "q", "value": "={{ $json.searchQuery }}"},
            {"name": "count", "value": "10"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Accept", "value": "application/json"}]
        },
        "options": {
          "batching": {"batch": {"batchSize": 1, "batchInterval": 1500}},
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 475],
      "id": "health-brave-search",
      "name": "Brave Search Company",
      "credentials": {"httpHeaderAuth": {"id": "CONFIGURE_BRAVE", "name": "Brave Search API"}}
    },
    {
      "parameters": {
        "jsCode": "const braveResponses = $input.all();\nconst companyDataItems = $('Build Search Query').all();\nconst peFirms = ['Vista Equity', 'Thoma Bravo', 'KKR', 'Blackstone', 'TPG', 'Carlyle', 'Bain Capital', 'Silver Lake', 'Francisco Partners', 'Accel-KKR', 'LLR Partners', 'Warburg Pincus', 'Apollo', 'Insight Partners', 'GTCR', 'Clearlake'];\nconst currentYear = new Date().getFullYear();\n\nreturn braveResponses.map((item, index) => {\n  const braveResponse = item.json;\n  const companyData = companyDataItems[index]?.json || {};\n  const searchResults = braveResponse?.web?.results || [];\n  const allText = searchResults.map(r => `${r.title || ''} ${r.description || ''}`).join(' ');\n  \n  let employeeCount = null;\n  const empMatch = allText.match(/([\\d,]+)\\s*(?:to\\s*[\\d,]+)?\\s*employees?/i);\n  if (empMatch) employeeCount = parseInt(empMatch[1].replace(/,/g, ''));\n  \n  let fundingStage = null;\n  const stagePatterns = {'Series D': /Series\\s*D/i, 'Series C': /Series\\s*C/i, 'Series B': /Series\\s*B/i, 'Series A': /Series\\s*A/i, 'Seed': /Seed/i};\n  for (const [stage, pattern] of Object.entries(stagePatterns)) {\n    if (pattern.test(allText)) { fundingStage = stage; break; }\n  }\n  \n  let totalFunding = null, totalFundingRaw = null;\n  const fundMatch = allText.match(/\\$([\\d.]+)\\s*(million|billion|M|B)/i);\n  if (fundMatch) {\n    const amount = parseFloat(fundMatch[1]);\n    const unit = fundMatch[2].toLowerCase();\n    totalFunding = (unit === 'billion' || unit === 'b') ? amount * 1000000000 : amount * 1000000;\n    totalFundingRaw = `$${amount}${unit.charAt(0).toUpperCase()}`;\n  }\n  \n  const isPEBacked = peFirms.some(f => new RegExp(f, 'i').test(allText));\n  const peBackerFound = peFirms.find(f => new RegExp(f, 'i').test(allText)) || null;\n  \n  let foundedYear = null;\n  const foundMatch = allText.match(/(?:founded|established|since)\\s*(?:in)?\\s*(\\d{4})/i);\n  if (foundMatch) foundedYear = parseInt(foundMatch[1]);\n  \n  const autoDisqualifiers = [];\n  if (isPEBacked) autoDisqualifiers.push(`PE-backed (${peBackerFound})`);\n  if (employeeCount >= 500) autoDisqualifiers.push(`500+ employees (${employeeCount})`);\n  if (totalFunding >= 200000000) autoDisqualifiers.push(`$200M+ funding (${totalFundingRaw})`);\n  if (foundedYear && foundedYear < 2017) autoDisqualifiers.push(`Founded ${foundedYear}`);\n  if (['Series D'].includes(fundingStage)) autoDisqualifiers.push(`Late stage (${fundingStage})`);\n  \n  return {\n    json: {\n      company_name: companyData.company_name,\n      company_url: companyData.company_url,\n      description: companyData.description,\n      source: companyData.source,\n      funding_stage: fundingStage,\n      total_funding: totalFundingRaw,\n      employee_count: employeeCount,\n      pe_backed: isPEBacked,\n      founded_year: foundedYear,\n      investors: peBackerFound || '',\n      autoDisqualifiers,\n      isAutoDisqualified: autoDisqualifiers.length > 0\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 475],
      "id": "health-parse-enrichment",
      "name": "Parse Enrichment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "check-auto-disqualify", "leftValue": "={{ $json.isAutoDisqualified }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2860, 475],
      "id": "health-if-auto-disqualify",
      "name": "IF: Auto-Disqualify"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {"__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id"},
        "table": {"__rl": true, "value": "Funding Alerts", "mode": "list"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.company_name }}",
            "Company URL": "={{ $json.company_url }}",
            "Company Description": "={{ $json.description }}",
            "VC Firm": "={{ $json.source }}",
            "Status": "Auto-Disqualified",
            "Next Steps": "Skip",
            "Disqualify Reasons": "={{ $json.autoDisqualifiers.join('; ') }}",
            "Tide-Pool Score": 0,
            "Summary": "={{ 'Auto-disqualified: ' + $json.autoDisqualifiers.join('; ') }}",
            "Source": "={{ $json.source }}",
            "Sector Match": "unknown"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [3080, 350],
      "id": "health-airtable-auto-disqualified",
      "name": "Airtable: Auto-Disqualified"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "CONFIGURE_SUBWORKFLOW_ID",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [3080, 600],
      "id": "health-execute-evaluate",
      "name": "Execute Evaluate Subworkflow",
      "notes": "Calls the shared 'Evaluate Company Subworkflow' with company data. Configure the workflow ID after importing the subworkflow."
    },
    {
      "parameters": {
        "operation": "create",
        "base": {"__rl": true, "value": "appFEzXvPWvRtXgRY", "mode": "id"},
        "table": {"__rl": true, "value": "Funding Alerts", "mode": "list"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.company_name }}",
            "Company URL": "={{ $json.company_url }}",
            "Company Description": "={{ $json.description }}",
            "VC Firm": "={{ $json.source }}",
            "Status": "={{ $json.status || 'Research' }}",
            "Next Steps": "={{ $json.next_steps || 'Research More' }}",
            "Tide-Pool Score": "={{ $json.total_score || 0 }}",
            "Sector Match": "={{ $json.sector_match || 'unknown' }}",
            "CS Hire Likelihood": "={{ $json.cs_hire_likelihood || '' }}",
            "Product Type": "={{ $json.product_type || '' }}",
            "Summary": "={{ $json.summary || '' }}",
            "Stage": "={{ $json.funding_stage || '' }}",
            "Total Funding": "={{ $json.total_funding || '' }}",
            "Employee Count": "={{ $json.employee_count || null }}",
            "Source": "={{ $json.source }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [3300, 600],
      "id": "health-airtable-create-evaluated",
      "name": "Airtable: Create Evaluated Record"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1320, 225],
      "id": "health-no-valid",
      "name": "No Valid Companies"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2200, 325],
      "id": "health-no-new",
      "name": "All Duplicates"
    }
  ],
  "connections": {
    "Schedule Trigger (Tue/Fri 8am)": {
      "main": [[
        {"node": "Browserless Flare Capital", "type": "main", "index": 0},
        {"node": "Browserless 7wireVentures", "type": "main", "index": 0},
        {"node": "Browserless Oak HC/FT", "type": "main", "index": 0},
        {"node": "Get Existing Companies", "type": "main", "index": 0}
      ]]
    },
    "Browserless Flare Capital": {"main": [[{"node": "Parse Flare Capital", "type": "main", "index": 0}]]},
    "Parse Flare Capital": {"main": [[{"node": "Merge VCs 1", "type": "main", "index": 0}]]},
    "Browserless 7wireVentures": {"main": [[{"node": "Parse 7wireVentures", "type": "main", "index": 0}]]},
    "Parse 7wireVentures": {"main": [[{"node": "Merge VCs 1", "type": "main", "index": 1}]]},
    "Browserless Oak HC/FT": {"main": [[{"node": "Parse Oak HC/FT", "type": "main", "index": 0}]]},
    "Parse Oak HC/FT": {"main": [[{"node": "Merge All VCs", "type": "main", "index": 1}]]},
    "Merge VCs 1": {"main": [[{"node": "Merge All VCs", "type": "main", "index": 0}]]},
    "Merge All VCs": {"main": [[{"node": "Filter Valid", "type": "main", "index": 0}]]},
    "Filter Valid": {"main": [[{"node": "Mark as New", "type": "main", "index": 0}], [{"node": "No Valid Companies", "type": "main", "index": 0}]]},
    "Mark as New": {"main": [[{"node": "Merge for Dedup", "type": "main", "index": 0}]]},
    "Get Existing Companies": {"main": [[{"node": "Merge for Dedup", "type": "main", "index": 1}]]},
    "Merge for Dedup": {"main": [[{"node": "Dedup Against Existing", "type": "main", "index": 0}]]},
    "Dedup Against Existing": {"main": [[{"node": "Has New Companies?", "type": "main", "index": 0}]]},
    "Has New Companies?": {"main": [[{"node": "Build Search Query", "type": "main", "index": 0}], [{"node": "All Duplicates", "type": "main", "index": 0}]]},
    "Build Search Query": {"main": [[{"node": "Brave Search Company", "type": "main", "index": 0}]]},
    "Brave Search Company": {"main": [[{"node": "Parse Enrichment", "type": "main", "index": 0}]]},
    "Parse Enrichment": {"main": [[{"node": "IF: Auto-Disqualify", "type": "main", "index": 0}]]},
    "IF: Auto-Disqualify": {"main": [[{"node": "Airtable: Auto-Disqualified", "type": "main", "index": 0}], [{"node": "Execute Evaluate Subworkflow", "type": "main", "index": 0}]]},
    "Execute Evaluate Subworkflow": {"main": [[{"node": "Airtable: Create Evaluated Record", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
