Job Search/VC Scraper - Healthcare.json
{
  "name": "VC Scraper - Healthcare",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2,5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        500
      ],
      "id": "health-schedule-trigger",
      "name": "Schedule Trigger (Tue/Fri 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.flarecapital.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        200
      ],
      "id": "health-fetch-flare",
      "name": "Browserless Flare Capital",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Flare Capital Partners - healthcare IT/SaaS\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'Flare Capital Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Helper to generate URL from company name\nconst makeUrl = (name) => 'https://www.' + name.toLowerCase().replace(/[^a-z0-9]/g, '') + '.com';\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Accolade', 'https://www.accolade.com'],\n  ['Aetion', 'https://www.aetion.com'],\n  ['AristaMD', 'https://www.aristamd.com'],\n  ['Axle Health', 'https://www.axlehealth.com'],\n  ['b.well Connected Health', 'https://www.icanbwell.com'],\n  ['Bravado Health', 'https://www.bravadohealth.com'],\n  ['Brightline', 'https://www.hellobrightline.com'],\n  ['Cedar', 'https://www.cedar.com'],\n  ['CertifyOS', 'https://www.certifyos.com'],\n  ['Cleo', 'https://www.hicleo.com'],\n  ['Continuum Health', 'https://www.continuumhealth.com'],\n  ['Curana Health', 'https://www.curanahealth.com'],\n  ['DoseSpot', 'https://www.dosespot.com'],\n  ['Eden Health', 'https://www.edenhealth.com'],\n  ['Elation Health', 'https://www.elationhealth.com'],\n  ['Ethicos Health', 'https://www.ethicoshealth.com'],\n  ['Evidation', 'https://www.evidation.com'],\n  ['Firefly Health', 'https://www.firefly.health'],\n  ['HealthEdge', 'https://www.healthedge.com'],\n  ['Healthie', 'https://www.gethealthie.com'],\n  ['HealthVerity', 'https://www.healthverity.com'],\n  ['Homeward', 'https://www.homeward.com'],\n  ['Jasper Health', 'https://www.jasperhealth.com'],\n  ['K Health', 'https://www.khealth.com'],\n  ['Kins', 'https://www.getkins.com'],\n  ['knownwell', 'https://www.knownwell.health'],\n  ['Koa Health', 'https://www.koahealth.com'],\n  ['Laguna Health', 'https://www.lagunahealth.com'],\n  ['Luma Health', 'https://www.lumahealth.io'],\n  ['Lyric', 'https://www.lyric.ai'],\n  ['MedTrainer', 'https://www.medtrainer.com'],\n  ['Nava Benefits', 'https://www.navabenefits.com'],\n  ['NextStep Health', 'https://www.nextstephealth.com'],\n  ['Nomi Health', 'https://www.nomihealth.com'],\n  ['Notable', 'https://www.notablehealth.com'],\n  ['Pattern Health', 'https://www.patternhealth.com'],\n  ['Peer AI', 'https://www.peer.ai'],\n  ['Persivia', 'https://www.persivia.com'],\n  ['Protenus', 'https://www.protenus.com'],\n  ['Reify Health', 'https://www.reifyhealth.com'],\n  ['RubiconMD', 'https://www.rubiconmd.com'],\n  ['SilverCloud Health', 'https://www.silvercloudhealth.com'],\n  ['SimpliFed', 'https://www.simplifed.com'],\n  ['Solace', 'https://www.solace.health'],\n  ['Sword Health', 'https://www.swordhealth.com'],\n  ['Tendo', 'https://www.tendo.com'],\n  ['Thyme Care', 'https://www.thymecare.com'],\n  ['Transcarent', 'https://www.transcarent.com'],\n  ['Truepill', 'https://www.truepill.com'],\n  ['Turquoise Health', 'https://www.turquoise.health'],\n  ['Unite Us', 'https://www.uniteus.com'],\n  ['Vori Health', 'https://www.vorihealth.com'],\n  ['WellSky', 'https://www.wellsky.com'],\n  ['Wheel', 'https://www.wheel.com'],\n  ['Zus Health', 'https://www.zushealth.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - Flare Capital Partners portfolio company (healthcare IT)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ],
      "id": "health-parse-flare",
      "name": "Parse Flare Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.7wireventures.com/portfolio/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        350
      ],
      "id": "health-fetch-7wire",
      "name": "Browserless 7wireVentures",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse 7wireVentures - digital health\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = '7wireVentures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Array Behavioral Care', 'https://www.arraybehavioralcare.com'],\n  ['Capsule', 'https://www.capsule.com'],\n  ['CareMessage', 'https://www.caremessage.org'],\n  ['Carta Healthcare', 'https://www.cartahealthcare.com'],\n  ['Cityblock Health', 'https://www.cityblock.com'],\n  ['Doctor On Demand', 'https://www.doctorondemand.com'],\n  ['Doctolib', 'https://www.doctolib.com'],\n  ['Evidation Health', 'https://www.evidation.com'],\n  ['Flatiron Health', 'https://www.flatironhealth.com'],\n  ['Galileo', 'https://www.galileo.io'],\n  ['Ginger', 'https://www.ginger.com'],\n  ['Grand Rounds', 'https://www.grandrounds.com'],\n  ['Heal', 'https://www.heal.com'],\n  ['Hinge Health', 'https://www.hingehealth.com'],\n  ['Kindbody', 'https://www.kindbody.com'],\n  ['Livongo', 'https://www.livongo.com'],\n  ['Lyra Health', 'https://www.lyrahealth.com'],\n  ['Mindstrong', 'https://www.mindstrong.com'],\n  ['Noom', 'https://www.noom.com'],\n  ['Olive', 'https://www.oliveai.com'],\n  ['Omada Health', 'https://www.omadahealth.com'],\n  ['One Medical', 'https://www.onemedical.com'],\n  ['PatientPing', 'https://www.patientping.com'],\n  ['Picnic Health', 'https://www.picnichealth.com'],\n  ['Quartet Health', 'https://www.quartethealth.com'],\n  ['Ro', 'https://www.ro.co'],\n  ['Simple Health', 'https://www.simplehealth.com'],\n  ['Suki', 'https://www.suki.ai'],\n  ['Tempus', 'https://www.tempus.com'],\n  ['Unite Us', 'https://www.uniteus.com'],\n  ['Virta Health', 'https://www.virtahealth.com'],\n  ['Waystar', 'https://www.waystar.com'],\n  ['Wellframe', 'https://www.wellframe.com'],\n  ['Wheel', 'https://www.wheel.com'],\n  ['Zocdoc', 'https://www.zocdoc.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - 7wireVentures portfolio company (digital health)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        350
      ],
      "id": "health-parse-7wire",
      "name": "Parse 7wireVentures"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.oakhcft.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        500
      ],
      "id": "health-fetch-oak",
      "name": "Browserless Oak HC/FT",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Oak HC/FT - healthcare + fintech\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'Oak HC/FT';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['1upHealth', 'https://www.1uphealth.com'],\n  ['Abacus Insights', 'https://www.abacusinsights.com'],\n  ['Alignment Healthcare', 'https://www.alignmenthealthcare.com'],\n  ['Aspire Health', 'https://www.aspirehealth.com'],\n  ['Assurance IQ', 'https://www.assurance.com'],\n  ['Axuall', 'https://www.axuall.com'],\n  ['Cadence', 'https://www.cadence.care'],\n  ['Carrot Fertility', 'https://www.get-carrot.com'],\n  ['Cedar', 'https://www.cedar.com'],\n  ['Centivo', 'https://www.centivo.com'],\n  ['Circle Medical', 'https://www.circlemedical.com'],\n  ['Clara Analytics', 'https://www.claraanalytics.com'],\n  ['Cleerly', 'https://www.cleerly.com'],\n  ['Collective Health', 'https://www.collectivehealth.com'],\n  ['Definitive Healthcare', 'https://www.definitivehc.com'],\n  ['Doctolib', 'https://www.doctolib.com'],\n  ['Ellipsis Health', 'https://www.ellipsishealth.com'],\n  ['Eversana', 'https://www.eversana.com'],\n  ['Grow Therapy', 'https://www.growtherapy.com'],\n  ['Guild Education', 'https://www.guildeducation.com'],\n  ['HealthEdge', 'https://www.healthedge.com'],\n  ['HealthJoy', 'https://www.healthjoy.com'],\n  ['Healthie', 'https://www.gethealthie.com'],\n  ['HealthVerity', 'https://www.healthverity.com'],\n  ['Hinge Health', 'https://www.hingehealth.com'],\n  ['Homeward', 'https://www.homeward.com'],\n  ['Kaia Health', 'https://www.kaiahealth.com'],\n  ['Kindbody', 'https://www.kindbody.com'],\n  ['Luma Health', 'https://www.lumahealth.io'],\n  ['Lyra Health', 'https://www.lyrahealth.com'],\n  ['Modern Health', 'https://www.modernhealth.com'],\n  ['Noom', 'https://www.noom.com'],\n  ['Oscar Health', 'https://www.hioscar.com'],\n  ['Ovia Health', 'https://www.oviahealth.com'],\n  ['PatientPing', 'https://www.patientping.com'],\n  ['Reify Health', 'https://www.reifyhealth.com'],\n  ['Ribbon Health', 'https://www.ribbonhealth.com'],\n  ['Rightway', 'https://www.rightwayhealthcare.com'],\n  ['Signify Health', 'https://www.signifyhealth.com'],\n  ['Somatus', 'https://www.somatus.com'],\n  ['Spring Health', 'https://www.springhealth.com'],\n  ['Sword Health', 'https://www.swordhealth.com'],\n  ['Talkiatry', 'https://www.talkiatry.com'],\n  ['Talkspace', 'https://www.talkspace.com'],\n  ['Tempus', 'https://www.tempus.com'],\n  ['Transcarent', 'https://www.transcarent.com'],\n  ['Truepill', 'https://www.truepill.com'],\n  ['Turquoise Health', 'https://www.turquoise.health'],\n  ['Unite Us', 'https://www.uniteus.com'],\n  ['Vesta Healthcare', 'https://www.vestahealthcare.com'],\n  ['Wheel', 'https://www.wheel.com'],\n  ['Zelis', 'https://www.zelis.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - Oak HC/FT portfolio company (healthcare/fintech)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        500
      ],
      "id": "health-parse-oak",
      "name": "Parse Oak HC/FT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.digitalisventures.com/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        650
      ],
      "id": "health-fetch-digitalis",
      "name": "Browserless Digitalis",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Digitalis Ventures - life sciences, health tech\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'Digitalis Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Alterome Therapeutics', 'https://www.alterome.com'],\n  ['Arbor Biotechnologies', 'https://www.arbor.bio'],\n  ['ASTRA Therapeutics', 'https://www.astratherapeutics.com'],\n  ['Biodesix', 'https://www.biodesix.com'],\n  ['Bonum Therapeutics', 'https://www.bonumtx.com'],\n  ['Cardurion', 'https://www.cardurion.com'],\n  ['Clasp Therapeutics', 'https://www.clasptherapeutics.com'],\n  ['Code Ocean', 'https://www.codeocean.com'],\n  ['Elegen', 'https://www.elegen.com'],\n  ['Elemental Machines', 'https://www.elementalmachines.com'],\n  ['Encoded Therapeutics', 'https://www.encodedtx.com'],\n  ['Enveda Biosciences', 'https://www.enveda.com'],\n  ['EpiBiologics', 'https://www.epibiologics.com'],\n  ['Exo Therapeutics', 'https://www.exo.bio'],\n  ['Faeth Therapeutics', 'https://www.faeth.com'],\n  ['Fauna Bio', 'https://www.faunabio.com'],\n  ['Galatea Bio', 'https://www.galateabio.com'],\n  ['Glycomine', 'https://www.glycomine.com'],\n  ['Good Therapeutics', 'https://www.goodtherapeutics.com'],\n  ['Gritstone Bio', 'https://www.gritstoneoncology.com'],\n  ['Kingdom Supercultures', 'https://www.kingdomsupercultures.com'],\n  ['Locus Biosciences', 'https://www.locus-bio.com'],\n  ['Maze Therapeutics', 'https://www.mazetx.com'],\n  ['MySimplePetLab', 'https://www.mysimplepetlab.com'],\n  ['Nuvig Therapeutics', 'https://www.nuvigtherapeutics.com'],\n  ['Onc.AI', 'https://www.onc.ai'],\n  ['Orna Therapeutics', 'https://www.ornatx.com'],\n  ['PetMedix', 'https://www.petmedix.co.uk'],\n  ['Pionyr Immunotherapeutics', 'https://www.pionyrtx.com'],\n  ['Positive Development', 'https://www.positivedevelopment.com'],\n  ['Prime Medicine', 'https://www.primemedicine.com'],\n  ['Protego Biopharma', 'https://www.protegobiopharma.com'],\n  ['Rapport Therapeutics', 'https://www.rapporttx.com'],\n  ['Rejuvenate Bio', 'https://www.rejuvenatebio.com'],\n  ['Repertoire Immune Medicines', 'https://www.repertoire.com'],\n  ['Ring Therapeutics', 'https://www.ringtx.com'],\n  ['ScoutBio', 'https://www.scoutbio.com'],\n  ['SeQure Dx', 'https://www.sequredx.com'],\n  ['Shape Therapeutics', 'https://www.shapetx.com'],\n  ['Sionna Therapeutics', 'https://www.sionnatx.com'],\n  ['Switch Therapeutics', 'https://www.switchtx.com'],\n  ['T-Therapeutics', 'https://www.t-therapeutics.com'],\n  ['Tectonic Therapeutic', 'https://www.tectonictx.com'],\n  ['Tessera Therapeutics', 'https://www.tesseratx.com'],\n  ['Tome Biosciences', 'https://www.tome.bio'],\n  ['Tourmaline Bio', 'https://www.tourmalinebio.com'],\n  ['TriSalus Life Sciences', 'https://www.trisaluslifesci.com'],\n  ['TWIG Bio', 'https://www.twigbio.com'],\n  ['Vesalius Therapeutics', 'https://www.vesaliustx.com'],\n  ['Vilya Genetics', 'https://www.vilyagenetics.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - Digitalis Ventures portfolio company (life sciences/health tech)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        650
      ],
      "id": "health-parse-digitalis",
      "name": "Parse Digitalis"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://a16z.com/portfolio/?vertical=bio-health\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        800
      ],
      "id": "health-fetch-a16z",
      "name": "Browserless a16z Bio+Health",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse a16z Bio+Health portfolio\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'a16z Bio+Health';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Akili Interactive', 'https://www.akiliinteractive.com'],\n  ['Alto Pharmacy', 'https://www.alto.com'],\n  ['Ambience Healthcare', 'https://www.ambiencehealthcare.com'],\n  ['Apeel Sciences', 'https://www.apeel.com'],\n  ['Asimov', 'https://www.asimov.com'],\n  ['Beam Therapeutics', 'https://www.beamtx.com'],\n  ['Berkeley Lights', 'https://www.berkeleylights.com'],\n  ['Brightside', 'https://www.brightside.com'],\n  ['Calibrate', 'https://www.joincalibrate.com'],\n  ['Carbon Health', 'https://www.carbonhealth.com'],\n  ['Caribou Biosciences', 'https://www.cariboubio.com'],\n  ['Cedar', 'https://www.cedar.com'],\n  ['Ciitizen', 'https://www.ciitizen.com'],\n  ['Circle Medical', 'https://www.circlemedical.com'],\n  ['Colossal Biosciences', 'https://www.colossal.com'],\n  ['Devoted Health', 'https://www.devoted.com'],\n  ['Dispatch Health', 'https://www.dispatchhealth.com'],\n  ['Freenome', 'https://www.freenome.com'],\n  ['Ginkgo Bioworks', 'https://www.ginkgobioworks.com'],\n  ['Grow Therapy', 'https://www.growtherapy.com'],\n  ['Hinge Health', 'https://www.hingehealth.com'],\n  ['Honor', 'https://www.honorcare.com'],\n  ['Insitro', 'https://www.insitro.com'],\n  ['Intellia Therapeutics', 'https://www.intelliatx.com'],\n  ['Karius', 'https://www.kariusdx.com'],\n  ['Komodo Health', 'https://www.komodohealth.com'],\n  ['Lark Health', 'https://www.lark.com'],\n  ['Lyra Health', 'https://www.lyrahealth.com'],\n  ['Modern Fertility', 'https://www.modernfertility.com'],\n  ['Nabla', 'https://www.nabla.com'],\n  ['NexHealth', 'https://www.nexhealth.com'],\n  ['Notable Health', 'https://www.notablehealth.com'],\n  ['Ophelia', 'https://www.ophelia.com'],\n  ['Opentrons', 'https://www.opentrons.com'],\n  ['Osmind', 'https://www.osmind.org'],\n  ['Outset Medical', 'https://www.outsetmedical.com'],\n  ['Precision Neuroscience', 'https://www.precisionneuro.io'],\n  ['Resilience', 'https://www.resilience.com'],\n  ['Ro', 'https://www.ro.co'],\n  ['Sherlock Biosciences', 'https://www.sherlock.bio'],\n  ['Somatus', 'https://www.somatus.com'],\n  ['Spring Health', 'https://www.springhealth.com'],\n  ['Sword Health', 'https://www.swordhealth.com'],\n  ['Tempus', 'https://www.tempus.com'],\n  ['Truepill', 'https://www.truepill.com'],\n  ['Vida Health', 'https://www.vida.com'],\n  ['Virta Health', 'https://www.virtahealth.com'],\n  ['Wheel', 'https://www.wheel.com'],\n  ['Zus Health', 'https://www.zushealth.com']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - a16z Bio+Health portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        800
      ],
      "id": "health-parse-a16z",
      "name": "Parse a16z Bio+Health"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.healthworx.com/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        950
      ],
      "id": "health-fetch-healthworx",
      "name": "Browserless Healthworx",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Healthworx (CareFirst) - healthcare innovation\n// Output ALL known companies with URLs\nconst results = [];\nconst vcName = 'Healthworx';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Known portfolio companies with URLs [name, url]\nconst knownCompanies = [\n  ['Better Health Technologies', 'https://www.betterhealth.com'],\n  ['Chamber Cardio', 'https://www.chambercardio.com'],\n  ['Clinetic', 'https://www.clinetic.com'],\n  ['CloseKnit', 'https://www.closeknit.com'],\n  ['Culina Health', 'https://www.culinahealth.com'],\n  ['evolvedMD', 'https://www.evolvedmd.com'],\n  ['Kins', 'https://www.getkins.com'],\n  ['Live Chair Health', 'https://www.livechairhealth.com'],\n  ['Maven Clinic', 'https://www.mavenclinic.com'],\n  ['Oshi Health', 'https://www.oshihealth.com'],\n  ['Positive Development', 'https://www.positivedevelopment.com'],\n  ['Ryse Health', 'https://www.rysehealth.com'],\n  ['Scene Health', 'https://www.scenehealth.com'],\n  ['Socially Determined', 'https://www.sociallydetermined.com'],\n  ['Thirty Madison', 'https://www.thirtymadison.com'],\n  ['WellSet', 'https://www.wellset.co']\n];\n\nfor (const [company, url] of knownCompanies) {\n  const key = company.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push({ json: { 'Company Name': company, 'VC Firm': vcName, 'Company Description': `${company} - Healthworx portfolio company (CareFirst healthcare innovation)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        950
      ],
      "id": "health-parse-healthworx",
      "name": "Parse Healthworx"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        275
      ],
      "id": "health-merge-1",
      "name": "Merge Flare + 7wire"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        575
      ],
      "id": "health-merge-2",
      "name": "Merge Oak + Digitalis"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        875
      ],
      "id": "health-merge-3",
      "name": "Merge a16z + Healthworx"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        425
      ],
      "id": "health-merge-group-1",
      "name": "Merge Groups 1+2"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1100,
        575
      ],
      "id": "health-merge-all",
      "name": "Combine All Healthcare VCs"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._empty }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        575
      ],
      "id": "health-filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "jsCode": "const newCompanies = $input.all();\nreturn newCompanies.map(item => ({ json: { ...item.json, _isNewCompany: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        575
      ],
      "id": "health-mark-new",
      "name": "Mark as New"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1540,
        775
      ],
      "id": "health-get-existing",
      "name": "Get Existing Companies"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1760,
        675
      ],
      "id": "health-merge-for-dedup",
      "name": "Merge for Dedup"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst newCompanies = [];\nconst existingRecords = [];\nfor (const item of allItems) {\n  if (item.json._isNewCompany) newCompanies.push(item);\n  else if (item.json.fields && item.json.fields['Company Name']) existingRecords.push(item);\n  else if (item.json.id && item.json['Company Name']) existingRecords.push({ json: { fields: item.json } });\n}\nconst normalize = (str) => str ? String(str).toLowerCase().replace(/[^a-z0-9]/g, '').trim() : '';\nconst existingNames = new Set();\nfor (const item of existingRecords) {\n  const name = (item.json.fields || item.json)['Company Name'] || '';\n  if (name) existingNames.add(normalize(name));\n}\nconst uniqueCompanies = [];\nconst addedNames = new Set();\nfor (const company of newCompanies) {\n  const name = company.json['Company Name'];\n  if (!name) continue;\n  const normalizedName = normalize(name);\n  if (!normalizedName || existingNames.has(normalizedName) || addedNames.has(normalizedName)) continue;\n  addedNames.add(normalizedName);\n  const cleanCompany = { ...company.json };\n  delete cleanCompany._isNewCompany;\n  uniqueCompanies.push({ json: cleanCompany });\n}\nreturn uniqueCompanies.length ? uniqueCompanies : [{ json: { _empty: true, _message: 'No new companies found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        675
      ],
      "id": "health-dedup",
      "name": "Dedup Against Existing"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._empty }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2200,
        675
      ],
      "id": "health-has-new",
      "name": "Has New Companies?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/zelman/tidepool/main/tide-pool-agent-lens.md",
        "options": {
          "timeout": 15000
        }
      },
      "id": "health-fetch-tide-pool-profile",
      "name": "Fetch Tide Pool Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        675
      ],
      "notes": "Fetch the Tide Pool agent lens for evaluation context."
    },
    {
      "parameters": {
        "jsCode": "// Build evaluation prompt - process ALL items\nconst companyItems = $('IF: Auto-Disqualify').all().filter(item => !item.json.isAutoDisqualified);\nconst tidePoolProfile = $('Fetch Tide Pool Profile').first().json;\n\nconst systemPrompt = `You are evaluating a company for job search fit based on the Tide Pool Agent Lens criteria.\n\nTIDE POOL PROFILE (Key Criteria):\n- Target: VP/Head/Director of Customer Support/Success Operations roles\n- Ideal Company: Pre-Series A to Series A, 0-50 employees, VC-backed (not PE)\n- Builder Focus: \"First hire\", \"build from scratch\", creating/scaling support operations\n- Target Sectors: Healthcare, environmental/climate, life sciences, education, audio/music tech, enterprise AI/ML\n- Auto-Disqualify: PE-backed, 500+ employees, $200M+ funding, Fortune 500, acquired companies\n- Title Flexibility: At <50 person companies, title irrelevant - focus on builder scope\n- High-Touch AI: Enterprise AI (governance, compliance, analytics) needs CS from day one\n\nSCORING FRAMEWORK (100 points max):\n- Company Stage & Fit: up to 40 pts\n  - Pre-Seed/Seed: 40 pts (ideal early builder)\n  - Series A: 35 pts (still early)\n  - Series B: 20 pts (getting late)\n  - Series C+: 5 pts (too late)\n- Sector Match: up to 30 pts\n  - Target sector (healthcare, climate, life sciences, education, audio/music, enterprise AI): 30 pts\n  - Adjacent sector: 15 pts\n  - Unrelated sector: 5 pts\n- CS Hire Likelihood: up to 30 pts\n  - B2B SaaS/Enterprise with high-touch product: 30 pts\n  - Mid-market B2B: 20 pts\n  - Consumer or self-serve: 10 pts\n\nPENALTIES (subtract from score):\n- PE-backed: -50 pts (auto-skip)\n- 200+ employees: -20 pts\n- Founded before 2018: -15 pts\n- Series C or later: -20 pts\n\nEvaluate the company and return this JSON:\n{\n  \"score\": <0-100 integer>,\n  \"sector_match\": \"target\" | \"adjacent\" | \"unrelated\",\n  \"cs_hire_likelihood\": \"high\" | \"medium\" | \"low\" | \"unlikely\",\n  \"product_type\": \"high-touch enterprise\" | \"mid-market\" | \"self-serve\" | \"consumer\" | \"unknown\",\n  \"ops_gap\": true | false,\n  \"summary\": \"<2-3 sentence explanation>\"\n}\n\nRespond ONLY with valid JSON, no markdown or explanation.`;\n\nreturn companyItems.map(item => {\n  const companyData = item.json;\n  const userPrompt = `COMPANY TO EVALUATE:\n\nName: ${companyData['Company Name']}\nVC Firm: ${companyData['VC Firm']}\nURL: ${companyData['Company URL']}\nDescription: ${companyData['Company Description'] || 'Not available'}\n\nENRICHMENT DATA:\n- Employee Count: ${companyData.enrichment?.employeeCount || 'Unknown'}\n- Funding Stage: ${companyData.enrichment?.fundingStage || 'Unknown'}\n- Total Funding: ${companyData.enrichment?.totalFundingRaw || 'Unknown'}\n- PE-Backed: ${companyData.enrichment?.isPEBacked ? 'Yes (' + companyData.enrichment.peBackerFound + ')' : 'No'}\n- VC-Backed: ${companyData.enrichment?.isVCBacked ? 'Yes' : 'Unknown'}\n- Founded Year: ${companyData.enrichment?.foundedYear || 'Unknown'}\n\nAUTO-DISQUALIFIERS: ${companyData.autoDisqualifiers?.length > 0 ? companyData.autoDisqualifiers.join('; ') : 'None'}\n\nProvide your evaluation as JSON.`;\n\n  return {\n    json: {\n      ...companyData,\n      evaluationPrompt: { systemPrompt, userPrompt }\n    }\n  };\n});"
      },
      "id": "health-build-evaluation-prompt",
      "name": "Build Evaluation Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        675
      ],
      "notes": "Combine Tide Pool profile with company data to build Claude evaluation prompt."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 1024,\n  \"system\": {{ JSON.stringify($json.evaluationPrompt.systemPrompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.evaluationPrompt.userPrompt) }}\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 30000
            }
          },
          "timeout": 60000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "health-evaluate-via-anthropic",
      "name": "Evaluate via Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        675
      ],
      "notes": "Call Claude 3 Haiku for company evaluation. Rate limited to 30s between requests.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-header",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's evaluation response - process ALL items\nconst responseItems = $input.all();\nconst companyItems = $('Build Evaluation Prompt').all();\n\nreturn responseItems.map((item, index) => {\n  const response = item.json;\n  const companyData = companyItems[index]?.json || {};\n  \n  let evaluationText = '';\n  if (response.content && Array.isArray(response.content)) {\n    evaluationText = response.content.filter(c => c.type === 'text').map(c => c.text).join('');\n  } else if (typeof response.content === 'string') {\n    evaluationText = response.content;\n  }\n  \n  let evaluation = {};\n  try {\n    const jsonMatch = evaluationText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) evaluation = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    evaluation = { score: 0, cs_hire_likelihood: 'unknown', product_type: 'unknown', ops_gap: false, summary: `Parse error: ${e.message}` };\n  }\n  \n  let status = 'Research';\n  const score = evaluation.score || 0;\n  if (score >= 70) status = 'Apply';\n  else if (score >= 50) status = 'Monitor';\n  else if (score >= 30) status = 'Research';\n  else status = 'Skip';\n  \n  return {\n    json: {\n      'Company Name': companyData['Company Name'],\n      'Company URL': companyData['Company URL'],\n      'Company Description': companyData['Company Description'],\n      'VC Firm': companyData['VC Firm'],\n      'Tide-Pool Score': score,\n      'Sector Match': evaluation.sector_match || 'unknown',\n      'CS Hire Likelihood': evaluation.cs_hire_likelihood || 'unknown',\n      'Product Type': evaluation.product_type || 'unknown',\n      'Ops Gap': evaluation.ops_gap || false,\n      'Status': status,\n      'Summary': evaluation.summary || 'No summary available',\n      'Employee Count': companyData.enrichment?.employeeCount || null,\n      'Funding Stage': companyData.enrichment?.fundingStage || '',\n      'Total Funding': companyData.enrichment?.totalFundingRaw || '',\n      'PE Backed': companyData.enrichment?.isPEBacked || false,\n      'Founded Year': companyData.enrichment?.foundedYear || null,\n      'Disqualify Reasons': companyData.autoDisqualifiers?.length > 0 ? companyData.autoDisqualifiers.join('; ') : ''\n    }\n  };\n});"
      },
      "id": "health-parse-evaluation",
      "name": "Parse Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3660,
        675
      ],
      "notes": "Parse Claude's JSON response and map to Airtable fields."
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "Company URL": "={{ $json['Company URL'] }}",
            "Company Description": "={{ $json['Company Description'] }}",
            "VC Firm": "={{ $json['VC Firm'] }}",
            "Status": "={{ $json['Status'] }}",
            "Next Steps": "={{ $json['Status'] === 'Apply' ? 'Apply Now' : $json['Status'] === 'Monitor' ? 'Watch for Jobs' : $json['Status'] === 'Research' ? 'Research More' : 'Skip' }}",
            "Tide-Pool Score": "={{ $json['Tide-Pool Score'] || 0 }}",
            "Sector Match": "={{ $json['Sector Match'] || 'unknown' }}",
            "CS Hire Likelihood": "={{ $json['CS Hire Likelihood'] || '' }}",
            "Product Type": "={{ $json['Product Type'] || '' }}",
            "Ops Gap": "={{ $json['Ops Gap'] || false }}",
            "Summary": "={{ $json['Summary'] || '' }}",
            "Stage": "={{ $json['Funding Stage'] || '' }}",
            "Total Funding": "={{ $json['Total Funding'] || '' }}",
            "Employee Count": "={{ $json['Employee Count'] || null }}",
            "PE Backed": "={{ $json['PE Backed'] || false }}",
            "Founded Year": "={{ $json['Founded Year'] || null }}",
            "Disqualify Reasons": "={{ $json['Disqualify Reasons'] || '' }}",
            "First Seen Date": "={{ $now.format('YYYY-MM-DD') }}",
            "Source": "={{ $json['VC Firm'] }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "health-airtable-create-evaluated",
      "name": "Airtable: Create Evaluated Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3880,
        675
      ],
      "notes": "Create Airtable record with full evaluation data."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1540,
        425
      ],
      "id": "health-no-valid",
      "name": "No Valid Companies"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2420,
        525
      ],
      "id": "health-no-new",
      "name": "All Duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Build search query for Brave - process ALL items\nconst items = $input.all();\n\nreturn items.map(item => {\n  const company = item.json;\n  const companyName = company['Company Name'] || '';\n  const searchQuery = '\"' + companyName + '\" company funding employees series startup';\n  \n  return {\n    json: {\n      ...company,\n      searchQuery: searchQuery\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        675
      ],
      "id": "health-build-search-query",
      "name": "Build Search Query"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        675
      ],
      "id": "health-brave-search",
      "name": "Brave Search Company",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "Brave Search API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Brave Search results - process ALL items with improved disqualifiers\nconst braveResponses = $input.all();\nconst companyDataItems = $('Build Search Query').all();\n\nconst peFirms = ['Vista Equity', 'Thoma Bravo', 'KKR', 'Blackstone', 'TPG', 'Carlyle', 'Bain Capital', 'Silver Lake', 'Francisco Partners', 'Vector Capital', 'Ares Management', 'Apollo Global', 'Warburg Pincus', 'Golden Gate Capital', 'Nordic Capital', 'TA Associates', 'Insight Partners', 'General Atlantic', 'Summit Partners'];\nconst vcFirms = ['a16z', 'Andreessen Horowitz', 'Sequoia', 'Accel', 'Greylock', 'First Round', 'NEA', 'Lightspeed', 'Bessemer', 'Battery Ventures', 'Foundation Capital', 'Index Ventures', 'Benchmark', 'Kleiner Perkins', 'GV', 'Google Ventures', 'Founders Fund', 'Y Combinator', 'YC', 'Accomplice', 'Underscore VC'];\nconst bigAcquirers = ['Google', 'Alphabet', 'Microsoft', 'Amazon', 'Apple', 'Meta', 'Facebook', 'Oracle', 'Salesforce', 'Adobe', 'SAP', 'IBM', 'Cisco', 'Intel', 'Nest', 'UnitedHealth', 'CVS', 'Optum', 'Teladoc'];\n\nconst currentYear = new Date().getFullYear();\n\nreturn braveResponses.map((item, index) => {\n  const braveResponse = item.json;\n  const companyData = companyDataItems[index]?.json || {};\n  const searchResults = braveResponse?.web?.results || braveResponse?.results || [];\n  const allText = searchResults.map(r => `${r.title || ''} ${r.description || ''} ${r.extra_snippets?.join(' ') || ''}`).join(' ');\n  \n  let employeeCount = null;\n  const empPatterns = [/([\\d,]+)\\s*(?:to\\s*[\\d,]+)?\\s*employees?/gi, /team\\s*(?:of)?\\s*([\\d,]+)/gi];\n  for (const pattern of empPatterns) {\n    const matches = [...allText.matchAll(pattern)];\n    for (const match of matches) {\n      const count = parseInt(match[1].replace(/,/g, ''));\n      if (count > 0 && count < 1000000 && (!employeeCount || count > employeeCount)) employeeCount = count;\n    }\n  }\n  \n  const isPublic = /\\b(?:IPO|went public|publicly traded|publicly held|stock price|NYSE|NASDAQ|traded on|ticker|stock symbol|\\([A-Z]{1,5}\\))\\b/i.test(allText);\n  const acquiredMatch = allText.match(/(?:acquired by|bought by|purchased by|acquisition by)\\s+([\\w\\s]+?)(?:\\s+(?:for|in))/i);\n  const isAcquired = !!acquiredMatch || bigAcquirers.some(a => new RegExp(`acquired by ${a}|${a} acqui`, 'i').test(allText));\n  const acquiredBy = acquiredMatch ? acquiredMatch[1].trim() : (bigAcquirers.find(a => new RegExp(`acquired by ${a}|${a} acqui`, 'i').test(allText)) || null);\n  \n  let fundingStage = null;\n  if (isPublic) {\n    fundingStage = 'Public/IPO';\n  } else {\n    const stagePatterns = {'Series F+': /\\bSeries\\s*[F-Z]\\b/i, 'Series E': /\\bSeries\\s*E\\b/i, 'Series D': /\\bSeries\\s*D\\b/i, 'Series C': /\\bSeries\\s*C\\b/i, 'Series B': /\\bSeries\\s*B\\b/i, 'Series A': /\\bSeries\\s*A\\b/i, 'Seed': /\\b(?:Seed\\s*(?:round|funding)?|seed-stage)\\b/i, 'Pre-Seed': /\\b(?:Pre[- ]?Seed|angel\\s*round)\\b/i};\n    for (const [stage, pattern] of Object.entries(stagePatterns)) {\n      if (pattern.test(allText)) { fundingStage = stage; break; }\n    }\n  }\n  \n  let totalFunding = null, totalFundingRaw = null;\n  const fundPatterns = [/raised\\s*\\$([\\d.]+)\\s*(million|billion|M|B)/gi, /\\$([\\d.]+)\\s*(million|billion|M|B)\\s*(?:in\\s*)?(?:total\\s*)?funding/gi];\n  for (const pattern of fundPatterns) {\n    const matches = [...allText.matchAll(pattern)];\n    for (const match of matches) {\n      const amount = parseFloat(match[1]);\n      const unit = match[2].toLowerCase();\n      let value = (unit === 'billion' || unit === 'b') ? amount * 1000000000 : amount * 1000000;\n      if (!totalFunding || value > totalFunding) { totalFunding = value; totalFundingRaw = `$${amount}${unit.charAt(0).toUpperCase()}`; }\n    }\n  }\n  \n  const isPEBacked = peFirms.some(f => new RegExp(f.replace(/\\s+/g, '\\\\s*'), 'i').test(allText));\n  const peBackerFound = peFirms.find(f => new RegExp(f.replace(/\\s+/g, '\\\\s*'), 'i').test(allText)) || null;\n  const isVCBacked = vcFirms.some(f => new RegExp(f.replace(/\\s+/g, '\\\\s*'), 'i').test(allText));\n  \n  let foundedYear = null;\n  const foundMatch = allText.match(/(?:founded|established|since|started)\\s*(?:in)?\\s*(\\d{4})/i);\n  if (foundMatch) { const year = parseInt(foundMatch[1]); if (year >= 1990 && year <= currentYear) foundedYear = year; }\n  \n  const autoDisqualifiers = [];\n  if (isPEBacked) autoDisqualifiers.push(`PE-backed (${peBackerFound})`);\n  if (employeeCount >= 500) autoDisqualifiers.push(`500+ employees (${employeeCount})`);\n  if (totalFunding >= 200000000) autoDisqualifiers.push(`$200M+ funding (${totalFundingRaw})`);\n  if (isPublic || fundingStage === 'Public/IPO') autoDisqualifiers.push('Public company');\n  if (isAcquired) autoDisqualifiers.push(`Acquired${acquiredBy ? ' by ' + acquiredBy : ''}`);\n  if (foundedYear && foundedYear < 2017) autoDisqualifiers.push(`Founded ${foundedYear} (${currentYear - foundedYear}+ years old)`);\n  if (['Series D', 'Series E', 'Series F+'].includes(fundingStage)) autoDisqualifiers.push(`Late stage (${fundingStage})`);\n  \n  return {\n    json: {\n      'Company Name': companyData['Company Name'],\n      'Company URL': companyData['Company URL'],\n      'Company Description': companyData['Company Description'],\n      'VC Firm': companyData['VC Firm'],\n      'Status': companyData['Status'],\n      'First Seen Date': companyData['First Seen Date'],\n      'Source': companyData['Source'],\n      enrichment: { employeeCount, fundingStage, totalFunding, totalFundingRaw, isPEBacked, peBackerFound, isVCBacked, foundedYear, isPublic, isAcquired, acquiredBy, searchResultCount: searchResults.length },\n      autoDisqualifiers,\n      isAutoDisqualified: autoDisqualifiers.length > 0,\n      needsManualResearch: searchResults.length === 0,\n      hasEnrichmentData: !!(employeeCount || fundingStage || totalFunding || isPEBacked || isVCBacked || isPublic || isAcquired)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        675
      ],
      "id": "health-parse-enrichment",
      "name": "Parse Enrichment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-auto-disqualify",
              "leftValue": "={{ $json.isAutoDisqualified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2840,
        675
      ],
      "id": "health-if-auto-disqualify",
      "name": "IF: Auto-Disqualify"
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "Company URL": "={{ $json['Company URL'] }}",
            "Company Description": "={{ $json['Company Description'] }}",
            "VC Firm": "={{ $json['VC Firm'] }}",
            "Status": "Auto-Disqualified",
            "Next Steps": "Skip",
            "Disqualify Reasons": "={{ $json.autoDisqualifiers.join('; ') }}",
            "Stage": "={{ $json.enrichment.fundingStage || '' }}",
            "Total Funding": "={{ $json.enrichment.totalFundingRaw || '' }}",
            "Tide-Pool Score": 0,
            "Summary": "={{ 'Auto-disqualified: ' + $json.autoDisqualifiers.join('; ') }}",
            "Employee Count": "={{ $json.enrichment.employeeCount || null }}",
            "PE Backed": "={{ $json.enrichment.isPEBacked || false }}",
            "Founded Year": "={{ $json.enrichment.foundedYear || null }}",
            "First Seen Date": "={{ $now.format('YYYY-MM-DD') }}",
            "Source": "={{ $json['VC Firm'] }}",
            "Sector Match": "unknown"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3020,
        500
      ],
      "id": "health-airtable-auto-disqualified",
      "name": "Airtable: Auto-Disqualified"
    }
  ],
  "connections": {
    "Schedule Trigger (Tue/Fri 8am)": {
      "main": [
        [
          {
            "node": "Browserless Flare Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless 7wireVentures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Oak HC/FT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Digitalis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless a16z Bio+Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Healthworx",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Flare Capital": {
      "main": [
        [
          {
            "node": "Parse Flare Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Flare Capital": {
      "main": [
        [
          {
            "node": "Merge Flare + 7wire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless 7wireVentures": {
      "main": [
        [
          {
            "node": "Parse 7wireVentures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse 7wireVentures": {
      "main": [
        [
          {
            "node": "Merge Flare + 7wire",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Oak HC/FT": {
      "main": [
        [
          {
            "node": "Parse Oak HC/FT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Oak HC/FT": {
      "main": [
        [
          {
            "node": "Merge Oak + Digitalis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Digitalis": {
      "main": [
        [
          {
            "node": "Parse Digitalis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Digitalis": {
      "main": [
        [
          {
            "node": "Merge Oak + Digitalis",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless a16z Bio+Health": {
      "main": [
        [
          {
            "node": "Parse a16z Bio+Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse a16z Bio+Health": {
      "main": [
        [
          {
            "node": "Merge a16z + Healthworx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Healthworx": {
      "main": [
        [
          {
            "node": "Parse Healthworx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Healthworx": {
      "main": [
        [
          {
            "node": "Merge a16z + Healthworx",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Flare + 7wire": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Oak + Digitalis": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Groups 1+2": {
      "main": [
        [
          {
            "node": "Combine All Healthcare VCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge a16z + Healthworx": {
      "main": [
        [
          {
            "node": "Combine All Healthcare VCs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine All Healthcare VCs": {
      "main": [
        [
          {
            "node": "Filter Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid": {
      "main": [
        [
          {
            "node": "Mark as New",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Valid Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as New": {
      "main": [
        [
          {
            "node": "Merge for Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Companies": {
      "main": [
        [
          {
            "node": "Merge for Dedup",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge for Dedup": {
      "main": [
        [
          {
            "node": "Dedup Against Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Against Existing": {
      "main": [
        [
          {
            "node": "Has New Companies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Companies?": {
      "main": [
        [
          {
            "node": "Build Search Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tide Pool Profile": {
      "main": [
        [
          {
            "node": "Build Evaluation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Evaluation Prompt": {
      "main": [
        [
          {
            "node": "Evaluate via Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate via Anthropic API": {
      "main": [
        [
          {
            "node": "Parse Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation": {
      "main": [
        [
          {
            "node": "Airtable: Create Evaluated Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Query": {
      "main": [
        [
          {
            "node": "Brave Search Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search Company": {
      "main": [
        [
          {
            "node": "Parse Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enrichment": {
      "main": [
        [
          {
            "node": "IF: Auto-Disqualify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Auto-Disqualify": {
      "main": [
        [
          {
            "node": "Airtable: Auto-Disqualified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Tide Pool Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable: Auto-Disqualified": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}