Job Search/VC Scraper - Climate Tech v22.json
{
  "name": "VC Scraper - Climate Tech v22",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 8 * * 1,4"}]}
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "id": "trigger",
      "name": "Schedule (Mon/Thu 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.khoslaventures.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 },\n  \"waitForSelector\": { \"selector\": \".splide__slide\", \"timeout\": 15000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 100],
      "id": "khosla-fetch",
      "name": "Browserless Khosla"
    },
    {
      "parameters": {
        "jsCode": "// Parse Khosla Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Khosla Ventures';\nconst seen = new Set();\nconst skipDomains = ['khoslaventures', 'linkedin', 'twitter', 'facebook', 'x', 'jobs', 'careers', 'webflow', 'githubusercontent', 'google', 'youtube', 'instagram', 'medium', 'substack'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>/gi;\n  let match;\n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    if (url.includes('#') || url.includes('javascript') || url.length < 10) continue;\n    const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n    if (!domainMatch) continue;\n    const domain = domainMatch[1].toLowerCase();\n    if (skipDomains.some(skip => domain.includes(skip))) continue;\n    if (domain.length < 2 || domain.length > 30) continue;\n    let name = domain.charAt(0).toUpperCase() + domain.slice(1);\n    name = name.replace(/ai$/i, 'AI').replace(/^ai/i, 'AI');\n    const key = domain.replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { company_name: name, company_url: url, description: name + ' - Khosla Ventures portfolio company (climate/energy)', source: vcName } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 100],
      "id": "khosla-parse",
      "name": "Parse Khosla"
    },
    {
      "parameters": {
        "jsCode": "// Static list of Climate Tech VCs that don't have scrapable portfolio pages\n// Congruent Ventures, Prelude Ventures, Lowercarbon Capital\nconst results = [];\nconst seen = new Set();\n\nconst vcData = [\n  {\n    vc: 'Congruent Ventures',\n    companies: [\n      ['Arcadia', 'https://www.arcadia.com'],\n      ['Aurora Solar', 'https://www.aurorasolar.com'],\n      ['BlocPower', 'https://www.blocpower.io'],\n      ['Carbon Direct', 'https://www.carbon-direct.com'],\n      ['Charm Industrial', 'https://www.charmindustrial.com'],\n      ['Common Energy', 'https://www.commonenergy.us'],\n      ['Dandelion Energy', 'https://www.dandelionenergy.com'],\n      ['Enervee', 'https://www.enervee.com'],\n      ['Form Energy', 'https://www.formenergy.com'],\n      ['Gradient', 'https://www.gradientcomfort.com'],\n      ['Span', 'https://www.span.io'],\n      ['WattBuy', 'https://www.wattbuy.com']\n    ]\n  },\n  {\n    vc: 'Prelude Ventures',\n    companies: [\n      ['Impossible Foods', 'https://www.impossiblefoods.com'],\n      ['Redwood Materials', 'https://www.redwoodmaterials.com'],\n      ['Pivot Bio', 'https://www.pivotbio.com'],\n      ['Lilac Solutions', 'https://www.lilacsolutions.com'],\n      ['Twelve', 'https://www.twelve.co'],\n      ['Boston Metal', 'https://www.bostonmetal.com'],\n      ['CarbonCure', 'https://www.carboncure.com'],\n      ['Pachama', 'https://www.pachama.com'],\n      ['Turntide Technologies', 'https://www.turntide.com']\n    ]\n  },\n  {\n    vc: 'Lowercarbon Capital',\n    companies: [\n      ['Watershed', 'https://www.watershed.com'],\n      ['Crusoe', 'https://www.crusoe.ai'],\n      ['Electric Hydrogen', 'https://www.eh2.com'],\n      ['Fervo Energy', 'https://www.fervoenergy.com'],\n      ['Sublime Systems', 'https://www.sublime-systems.com'],\n      ['ZeroAvia', 'https://www.zeroavia.com'],\n      ['Commonwealth Fusion', 'https://www.cfs.energy'],\n      ['Koloma', 'https://www.koloma.com']\n    ]\n  }\n];\n\nfor (const { vc, companies } of vcData) {\n  for (const [name, url] of companies) {\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({\n      json: {\n        company_name: name,\n        company_url: url,\n        description: `${name} - ${vc} portfolio company (climate tech)`,\n        source: vc\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "static-data",
      "name": "Static Climate VCs"
    },
    {
      "parameters": {"mode": "combine", "combinationMode": "multiplex"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 200],
      "id": "merge-all",
      "name": "Merge All"
    },
    {
      "parameters": {
        "jsCode": "// Combine all items and filter empty results\nconst allItems = $input.all();\nconst results = [];\nconst seen = new Set();\n\nfor (const item of allItems) {\n  if (item.json._empty) continue;\n  const name = item.json.company_name;\n  if (!name) continue;\n  const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push(item);\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200],
      "id": "combine-dedup",
      "name": "Combine & Dedupe"
    },
    {
      "parameters": {
        "conditions": {"boolean": [{"value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true}]}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 200],
      "id": "filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "CONFIGURE_PIPELINE_ID", "mode": "id"},
        "options": {"waitForSubWorkflow": true}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1320, 180],
      "id": "pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Configure with the workflow ID of 'Enrich & Evaluate Pipeline'"
    }
  ],
  "connections": {
    "Schedule (Mon/Thu 8am)": {"main": [[
      {"node": "Browserless Khosla", "type": "main", "index": 0},
      {"node": "Static Climate VCs", "type": "main", "index": 0}
    ]]},
    "Browserless Khosla": {"main": [[{"node": "Parse Khosla", "type": "main", "index": 0}]]},
    "Parse Khosla": {"main": [[{"node": "Merge All", "type": "main", "index": 0}]]},
    "Static Climate VCs": {"main": [[{"node": "Merge All", "type": "main", "index": 1}]]},
    "Merge All": {"main": [[{"node": "Combine & Dedupe", "type": "main", "index": 0}]]},
    "Combine & Dedupe": {"main": [[{"node": "Filter Valid", "type": "main", "index": 0}]]},
    "Filter Valid": {"main": [[{"node": "Execute Enrich & Evaluate Pipeline", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
