Job Search/VC Scraper - Healthcare v22.json
{
  "name": "VC Scraper - Healthcare v22",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 8 * * 2,5"}]}
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 300],
      "id": "trigger",
      "name": "Schedule (Tue/Fri 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.whatif.vc/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 100],
      "id": "whatif-fetch",
      "name": "Browserless WhatIf"
    },
    {
      "parameters": {
        "jsCode": "// Parse WhatIf Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'WhatIf Ventures';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const cardPattern = /<(?:h[2-4]|div)[^>]*class=[\"'][^\"']*(?:heading|company-name|portfolio-name)[^\"']*[\"'][^>]*>([^<]+)<\\/(?:h[2-4]|div)>/gi;\n  let match;\n  while ((match = cardPattern.exec(html)) !== null) {\n    const name = match[1].trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('visit')) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    const context = html.substring(Math.max(0, match.index - 500), Math.min(html.length, match.index + 1500));\n    let url = '';\n    const urlMatch = context.match(/href=[\"'](https?:\\/\\/(?!whatif\\.vc|linkedin|twitter|facebook|cdn)[^\"']+)[\"']/i);\n    if (urlMatch) url = urlMatch[1];\n    results.push({ json: { company_name: name, company_url: url, description: name + ' - WhatIf Ventures portfolio company (healthcare)', source: vcName } });\n  }\n  if (results.length === 0) {\n    const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!whatif\\.vc|linkedin|twitter|facebook|cdn|webflow)[^\"']+)[\"'][^>]*>([^<]*(?:Visit|Site)?[^<]*)<\\/a>/gi;\n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      if (url.includes('#') || url.length < 10) continue;\n      const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n      if (!domainMatch) continue;\n      let name = domainMatch[1];\n      name = name.charAt(0).toUpperCase() + name.slice(1);\n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      results.push({ json: { company_name: name, company_url: url, description: name + ' - WhatIf Ventures portfolio company (healthcare)', source: vcName } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 100],
      "id": "whatif-parse",
      "name": "Parse WhatIf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.leadoutcapital.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 260],
      "id": "leadout-fetch",
      "name": "Browserless Leadout"
    },
    {
      "parameters": {
        "jsCode": "// Parse Leadout Capital\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Leadout Capital';\nconst seen = new Set();\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const textBlockPattern = /<[^>]*class=[\"'][^\"']*text-block[^\"']*[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/[^>]+>/gi;\n  let match;\n  while ((match = textBlockPattern.exec(html)) !== null) {\n    let name = match[1].trim();\n    if (/^\\d{4}$/.test(name)) continue;\n    if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('filter')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    const context = html.substring(Math.max(0, match.index - 500), Math.min(html.length, match.index + 1000));\n    let url = '';\n    const urlMatch = context.match(/href=[\"'](https?:\\/\\/(?!leadoutcapital|webflow|linkedin|twitter|facebook)[^\"']+)[\"']/i);\n    if (urlMatch) url = urlMatch[1];\n    results.push({ json: { company_name: name, company_url: url, description: name + ' - Leadout Capital portfolio company (healthcare/femtech)', source: vcName } });\n  }\n  if (results.length === 0) {\n    const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!leadoutcapital|webflow|linkedin|twitter|facebook)[^\"']+)[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/a>/gi;\n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      let name = match[2].trim();\n      if (!name || name.length < 2 || name.length > 60) continue;\n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      results.push({ json: { company_name: name, company_url: url, description: name + ' - Leadout Capital portfolio company (healthcare/femtech)', source: vcName } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 260],
      "id": "leadout-parse",
      "name": "Parse Leadout"
    },
    {
      "parameters": {
        "jsCode": "// Static list of Healthcare VCs that don't have scrapable portfolio pages\n// Flare Capital, 7wireVentures, Oak HC/FT\nconst results = [];\nconst seen = new Set();\n\nconst vcData = [\n  {\n    vc: 'Flare Capital Partners',\n    companies: [\n      ['Accolade', 'https://www.accolade.com'],\n      ['Aetion', 'https://www.aetion.com'],\n      ['AristaMD', 'https://www.aristamd.com'],\n      ['Axle Health', 'https://www.axlehealth.com'],\n      ['Brightline', 'https://www.hellobrightline.com'],\n      ['Cedar', 'https://www.cedar.com'],\n      ['CertifyOS', 'https://www.certifyos.com'],\n      ['Cleo', 'https://www.hicleo.com'],\n      ['DoseSpot', 'https://www.dosespot.com'],\n      ['Elation Health', 'https://www.elationhealth.com'],\n      ['Evidation', 'https://www.evidation.com'],\n      ['Firefly Health', 'https://www.firefly.health'],\n      ['Healthie', 'https://www.gethealthie.com'],\n      ['HealthVerity', 'https://www.healthverity.com'],\n      ['Homeward', 'https://www.homeward.com'],\n      ['K Health', 'https://www.khealth.com'],\n      ['Luma Health', 'https://www.lumahealth.io'],\n      ['Turquoise Health', 'https://www.turquoise.health'],\n      ['Zus Health', 'https://www.zushealth.com']\n    ]\n  },\n  {\n    vc: '7wireVentures',\n    companies: [\n      ['Capsule', 'https://www.capsule.com'],\n      ['Cityblock Health', 'https://www.cityblock.com'],\n      ['Galileo', 'https://www.galileo.io'],\n      ['Hinge Health', 'https://www.hingehealth.com'],\n      ['Kindbody', 'https://www.kindbody.com'],\n      ['Lyra Health', 'https://www.lyrahealth.com'],\n      ['Omada Health', 'https://www.omadahealth.com'],\n      ['Picnic Health', 'https://www.picnichealth.com'],\n      ['Ro', 'https://www.ro.co'],\n      ['Suki', 'https://www.suki.ai'],\n      ['Virta Health', 'https://www.virtahealth.com'],\n      ['Wheel', 'https://www.wheel.com']\n    ]\n  },\n  {\n    vc: 'Oak HC/FT',\n    companies: [\n      ['1upHealth', 'https://www.1uphealth.com'],\n      ['Axuall', 'https://www.axuall.com'],\n      ['Carrot Fertility', 'https://www.get-carrot.com'],\n      ['Cleerly', 'https://www.cleerly.com'],\n      ['Grow Therapy', 'https://www.growtherapy.com'],\n      ['Ribbon Health', 'https://www.ribbonhealth.com'],\n      ['Spring Health', 'https://www.springhealth.com']\n    ]\n  }\n];\n\nfor (const { vc, companies } of vcData) {\n  for (const [name, url] of companies) {\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({\n      json: {\n        company_name: name,\n        company_url: url,\n        description: `${name} - ${vc} portfolio company (healthcare)`,\n        source: vc\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 420],
      "id": "static-data",
      "name": "Static Healthcare VCs"
    },
    {
      "parameters": {"mode": "combine", "combinationMode": "multiplex"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [660, 180],
      "id": "merge-scraped",
      "name": "Merge Scraped"
    },
    {
      "parameters": {"mode": "combine", "combinationMode": "multiplex"},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [880, 300],
      "id": "merge-all",
      "name": "Merge All"
    },
    {
      "parameters": {
        "jsCode": "// Combine all items and filter empty results\nconst allItems = $input.all();\nconst results = [];\nconst seen = new Set();\n\nfor (const item of allItems) {\n  if (item.json._empty) continue;\n  const name = item.json.company_name;\n  if (!name) continue;\n  const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  results.push(item);\n}\n\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "id": "combine-dedup",
      "name": "Combine & Dedupe"
    },
    {
      "parameters": {
        "conditions": {"boolean": [{"value1": "={{ $json._empty }}", "operation": "notEqual", "value2": true}]}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 300],
      "id": "filter-valid",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {"__rl": true, "value": "rcMNDrfZR6csHRsYKFn0W", "mode": "id"},
        "options": {"waitForSubWorkflow": true}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1540, 280],
      "id": "pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Configure with the workflow ID of 'Enrich & Evaluate Pipeline'"
    }
  ],
  "connections": {
    "Schedule (Tue/Fri 8am)": {"main": [[
      {"node": "Browserless WhatIf", "type": "main", "index": 0},
      {"node": "Browserless Leadout", "type": "main", "index": 0},
      {"node": "Static Healthcare VCs", "type": "main", "index": 0}
    ]]},
    "Browserless WhatIf": {"main": [[{"node": "Parse WhatIf", "type": "main", "index": 0}]]},
    "Browserless Leadout": {"main": [[{"node": "Parse Leadout", "type": "main", "index": 0}]]},
    "Parse WhatIf": {"main": [[{"node": "Merge Scraped", "type": "main", "index": 0}]]},
    "Parse Leadout": {"main": [[{"node": "Merge Scraped", "type": "main", "index": 1}]]},
    "Merge Scraped": {"main": [[{"node": "Merge All", "type": "main", "index": 0}]]},
    "Static Healthcare VCs": {"main": [[{"node": "Merge All", "type": "main", "index": 1}]]},
    "Merge All": {"main": [[{"node": "Combine & Dedupe", "type": "main", "index": 0}]]},
    "Combine & Dedupe": {"main": [[{"node": "Filter Valid", "type": "main", "index": 0}]]},
    "Filter Valid": {"main": [[{"node": "Execute Enrich & Evaluate Pipeline", "type": "main", "index": 0}], []]}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "tags": []
}
