Job Search/VC Scraper - Social Justice.json
{
  "name": "VC Scraper - Social Justice v25",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 3,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        600
      ],
      "id": "sj-schedule-trigger",
      "name": "Schedule Trigger (Wed/Sat 8am)"
    },
    {
      "parameters": {
        "url": "https://backstagecapital.com/portfolio/",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        100
      ],
      "id": "sj-fetch-backstage",
      "name": "HTTP GET Backstage Capital"
    },
    {
      "parameters": {
        "jsCode": "// Parse Backstage Capital - underrepresented founders\n// Company links point to /headliners/company-slug/\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Backstage Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Primary pattern: links to /headliners/company-slug/ with <strong>Name</strong> inside\n  // Example: <a href=\"/headliners/company-name/\"><strong>Company Name</strong>...</a>\n  const headlinerLinkPattern = /<a[^>]*href=[\"']\\/headliners\\/([a-z0-9-]+)\\/?[\"'][^>]*>[\\s\\S]*?<strong>([^<]+)<\\/strong>/gi;\n  \n  let match;\n  while ((match = headlinerLinkPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    const name = match[2].trim();\n    \n    if (!name || name.length < 2 || name.length > 60) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Backstage Capital portfolio company (underrepresented founders)`, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n  \n  // Fallback: just look for /headliners/slug/ links and convert slug to name\n  if (results.length === 0) {\n    const slugPattern = /href=[\"']\\/headliners\\/([a-z0-9-]+)\\/?[\"']/gi;\n    while ((match = slugPattern.exec(html)) !== null) {\n      const slug = match[1].trim();\n      if (!slug || slug.length < 2) continue;\n      \n      // Convert slug to name: 'company-name' -> 'Company Name'\n      const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n      \n      const key = slug.replace(/[^a-z0-9]/g, '');\n      if (seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Backstage Capital portfolio company (underrepresented founders)`, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        100
      ],
      "id": "sj-parse-backstage",
      "name": "Parse Backstage Capital"
    },
    {
      "parameters": {
        "url": "https://www.impactamericafund.com/portfolio",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        250
      ],
      "id": "sj-fetch-impactamerica",
      "name": "HTTP GET Impact America"
    },
    {
      "parameters": {
        "jsCode": "// Parse Impact America Fund - companies serving communities of color\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Impact America Fund';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst skipPatterns = ['impact', 'america', 'fund', 'portfolio', 'about', 'team', 'contact', 'linkedin', 'twitter', 'notion', 'subscribe', 'newsletter'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Notion-based site pattern\n  const patterns = [\n    /<h[1-4][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/h[1-4]>/gi,\n    /<strong>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/strong>/gi,\n    /<a[^>]*href=[\"'](https?:\\/\\/(?!impactamericafund|notion|linkedin|twitter)[^\"']+)[\"'][^>]*>\\s*([A-Z][A-Za-z0-9\\s\\-&\\.]+)\\s*<\\/a>/gi\n  ];\n  \n  for (const pattern of patterns) {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      let name, url = '';\n      if (match[2]) {\n        url = match[1];\n        name = match[2].trim();\n      } else {\n        name = match[1].trim();\n      }\n      \n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (skipPatterns.some(p => name.toLowerCase().includes(p))) continue;\n      if (/^(View|Load|See|All|More|Portfolio|Our|The|And|Or)$/i.test(name)) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Impact America Fund portfolio company (serving communities of color)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        250
      ],
      "id": "sj-parse-impactamerica",
      "name": "Parse Impact America"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.collab.capital/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        400
      ],
      "id": "sj-fetch-collab",
      "name": "Browserless Collab Capital",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Collab Capital - Black entrepreneurs\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Collab Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst skipSlugs = ['team', 'about', 'contact', 'portfolio', 'companies', 'fund', 'apply', 'press', 'news'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Find internal company links: /companies/company-slug\n  const companyPattern = /href=[\"']\\/companies\\/([a-z0-9-]+)[\"']/gi;\n  let match;\n  while ((match = companyPattern.exec(html)) !== null) {\n    const slug = match[1].trim().toLowerCase();\n    \n    if (!slug || slug.length < 2 || slug.length > 50) continue;\n    if (skipSlugs.some(s => slug === s || slug.startsWith(s + '-'))) continue;\n    \n    // Convert slug to company name\n    let name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    \n    const key = slug.replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    // No external URL available from this page\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Collab Capital portfolio company (Black entrepreneurs)`, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ],
      "id": "sj-parse-collab",
      "name": "Parse Collab Capital"
    },
    {
      "parameters": {
        "url": "https://www.cleocap.com/portfolio",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        550
      ],
      "id": "sj-fetch-cleo",
      "name": "HTTP GET Cleo Capital"
    },
    {
      "parameters": {
        "jsCode": "// Parse Cleo Capital - diverse founders (Sarah Kunst)\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Cleo Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst skipPatterns = ['cleo', 'capital', 'portfolio', 'about', 'team', 'contact', 'linkedin', 'twitter', 'sarah', 'kunst', 'consumer', 'enterprise', 'fintech'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Squarespace-based site\n  const patterns = [\n    /<h[2-5][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/h[2-5]>/gi,\n    /<img[^>]*alt=[\"']([A-Z][A-Za-z0-9\\s\\-&\\.]+)[\"'][^>]*>/gi,\n    /<a[^>]*href=[\"'](https?:\\/\\/(?!cleocap|squarespace|linkedin|twitter)[^\"']+)[\"'][^>]*>/gi\n  ];\n  \n  // First pass: extract from alt tags and headings\n  for (let i = 0; i < 2; i++) {\n    const pattern = patterns[i];\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      let name = match[1].trim();\n      \n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (skipPatterns.some(p => name.toLowerCase().includes(p))) continue;\n      if (/^(View|Load|See|All|More|Portfolio|Logo|Image)$/i.test(name)) continue;\n      if (/logo/i.test(name)) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Cleo Capital portfolio company (diverse founders)`, 'Company URL': '', 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n  \n  // Second pass: extract URLs and derive company names\n  if (results.length < 5) {\n    const urlPattern = patterns[2];\n    let match;\n    while ((match = urlPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      if (!url || url.includes('#') || url.includes('?')) continue;\n      \n      const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n      if (!domainMatch) continue;\n      \n      let name = domainMatch[1];\n      name = name.charAt(0).toUpperCase() + name.slice(1);\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Cleo Capital portfolio company`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        550
      ],
      "id": "sj-parse-cleo",
      "name": "Parse Cleo Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://harlem.capital/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        750
      ],
      "id": "sj-fetch-harlem",
      "name": "Browserless Harlem Capital",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Harlem Capital - diverse founders\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Harlem Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst skipPatterns = ['harlem', 'capital', 'portfolio', 'about', 'team', 'contact', 'linkedin', 'twitter', 'diversity', 'founders'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  const patterns = [\n    /<h[2-5][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/h[2-5]>/gi,\n    /<div[^>]*class=[\"'][^\"']*company[^\"']*[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/div>/gi,\n    /<a[^>]*href=[\"'](https?:\\/\\/(?!harlem|linkedin|twitter|facebook)[^\"']+)[\"'][^>]*>\\s*([A-Z][A-Za-z0-9\\s\\-&\\.]+)\\s*<\\/a>/gi\n  ];\n  \n  for (const pattern of patterns) {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      let name, url = '';\n      if (match[2]) {\n        url = match[1];\n        name = match[2].trim();\n      } else {\n        name = match[1].trim();\n      }\n      \n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (skipPatterns.some(p => name.toLowerCase().includes(p))) continue;\n      if (/^(View|Load|See|All|More|Portfolio)$/i.test(name)) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Harlem Capital portfolio company (diverse founders)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        750
      ],
      "id": "sj-parse-harlem",
      "name": "Parse Harlem Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://precursorvc.com/portfolio/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        900
      ],
      "id": "sj-fetch-precursor",
      "name": "Browserless Precursor",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Precursor Ventures - Charles Hudson, underrepresented founders\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Precursor Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst skipPatterns = ['precursor', 'ventures', 'portfolio', 'about', 'team', 'contact', 'linkedin', 'twitter', 'charles', 'hudson'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  const patterns = [\n    /<h[2-5][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/h[2-5]>/gi,\n    /<div[^>]*class=[\"'][^\"']*company[^\"']*[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/div>/gi,\n    /<a[^>]*href=[\"'](https?:\\/\\/(?!precursorvc|linkedin|twitter|facebook)[^\"']+)[\"'][^>]*>\\s*([A-Z][A-Za-z0-9\\s\\-&\\.]+)\\s*<\\/a>/gi\n  ];\n  \n  for (const pattern of patterns) {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      let name, url = '';\n      if (match[2]) {\n        url = match[1];\n        name = match[2].trim();\n      } else {\n        name = match[1].trim();\n      }\n      \n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (skipPatterns.some(p => name.toLowerCase().includes(p))) continue;\n      if (/^(View|Load|See|All|More|Portfolio|Pre-Seed|Seed)$/i.test(name)) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Precursor Ventures portfolio company (pre-seed/seed)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        900
      ],
      "id": "sj-parse-precursor",
      "name": "Parse Precursor"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.zealcapitalpartners.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        1050
      ],
      "id": "sj-fetch-zeal",
      "name": "Browserless Zeal Capital",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Zeal Capital Partners - static list (Gatsby site too JS-heavy to scrape)\nconst today = new Date().toISOString().split('T')[0];\nconst vcName = 'Zeal Capital Partners';\n\n// Static portfolio list - update periodically from https://www.zealcapitalpartners.com/portfolio/\nconst companies = [\n  { name: 'Stratyfy', url: 'https://www.stratyfy.com' },\n  { name: 'Wellthi', url: 'https://www.wellthi.com' },\n  { name: 'Daivergent', url: 'https://www.daivergent.com' },\n  { name: 'PathMatch', url: 'https://www.pathmatch.com' },\n  { name: 'EQL Finance', url: 'https://www.eqlfinance.com' },\n  { name: 'Esusu', url: 'https://www.esusu.com' },\n  { name: 'Rising Team', url: 'https://www.risingteam.com' },\n  { name: 'Seven Starling', url: 'https://www.sevenstarling.com' },\n  { name: 'AdeptID', url: 'https://www.adeptid.com' },\n  { name: 'Stoovo', url: 'https://www.stoovo.com' },\n  { name: 'Mobility Capital Finance', url: 'https://www.mobilitycapitalfinance.com' },\n  { name: 'Finesse', url: 'https://www.finesse.us' },\n  { name: 'Catch', url: 'https://www.catch.co' },\n  { name: 'HireVue', url: 'https://www.hirevue.com' },\n  { name: 'Kiddie Kredit', url: 'https://www.kiddiekredit.com' },\n  { name: 'Papa', url: 'https://www.papa.com' },\n  { name: 'Goodr', url: 'https://www.goodr.co' },\n  { name: 'Mobility Credit', url: '' },\n  { name: 'First Boulevard', url: 'https://www.firstboulevard.com' },\n  { name: 'Greenwood', url: 'https://www.bankgreenwood.com' }\n];\n\nreturn companies.map(c => ({ json: {\n  'Company Name': c.name,\n  'VC Firm': vcName,\n  'Company Description': `${c.name} - Zeal Capital Partners portfolio company (underrepresented founders)`,\n  'Company URL': c.url,\n  'Status': 'New',\n  'First Seen Date': today,\n  'Portfolio Addition Date': today,\n  'Source': 'VC Portfolio'\n}}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1050
      ],
      "id": "sj-parse-zeal",
      "name": "Parse Zeal Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://base10.vc/companies/\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle0\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        220,
        1200
      ],
      "id": "sj-fetch-base10",
      "name": "Browserless Base10",
      "credentials": {
        "httpQueryAuth": {
          "id": "browserless-token",
          "name": "Browserless API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Base10 Partners - automation, donates to HBCUs\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Base10 Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst skipPatterns = ['base10', 'partners', 'portfolio', 'about', 'team', 'contact', 'linkedin', 'twitter', 'advancement', 'initiative', 'hbcu'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  const patterns = [\n    /<h[2-5][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/h[2-5]>/gi,\n    /<div[^>]*class=[\"'][^\"']*company[^\"']*[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\-&\\.]+)<\\/div>/gi,\n    /<a[^>]*href=[\"'](https?:\\/\\/(?!base10|linkedin|twitter|facebook)[^\"']+)[\"'][^>]*>\\s*([A-Z][A-Za-z0-9\\s\\-&\\.]+)\\s*<\\/a>/gi\n  ];\n  \n  for (const pattern of patterns) {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      let name, url = '';\n      if (match[2]) {\n        url = match[1];\n        name = match[2].trim();\n      } else {\n        name = match[1].trim();\n      }\n      \n      if (!name || name.length < 2 || name.length > 60) continue;\n      if (skipPatterns.some(p => name.toLowerCase().includes(p))) continue;\n      if (/^(View|Load|See|All|More|Portfolio|Real Economy|Automation)$/i.test(name)) continue;\n      \n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      \n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': `${name} - Base10 Partners portfolio company (real economy automation)`, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Portfolio Addition Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1200
      ],
      "id": "sj-parse-base10",
      "name": "Parse Base10"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        175
      ],
      "id": "sj-merge-1",
      "name": "Merge Backstage + Impact"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        475
      ],
      "id": "sj-merge-2",
      "name": "Merge Collab + Cleo"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        825
      ],
      "id": "sj-merge-3",
      "name": "Merge Harlem + Precursor"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        660,
        1125
      ],
      "id": "sj-merge-4",
      "name": "Merge Zeal + Base10"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        325
      ],
      "id": "sj-merge-group-1",
      "name": "Merge Groups 1+2"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        975
      ],
      "id": "sj-merge-group-2",
      "name": "Merge Groups 3+4"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1100,
        650
      ],
      "id": "sj-merge-all",
      "name": "Combine All Social Justice VCs"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "rcMNDrfZR6csHRsYKFn0W",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1350,
        650
      ],
      "id": "sj-exec-pipeline",
      "name": "Execute Enrich & Evaluate Pipeline",
      "notes": "Calls shared subworkflow for dedup, enrichment, and evaluation"
    },
    {
      "parameters": {
        "maxItems": 50
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1200,
        650
      ],
      "id": "sj-limit-backfill",
      "name": "Limit (Backfill)",
      "notes": "Remove this node after initial backfill is complete"
    }
  ],
  "connections": {
    "Schedule Trigger (Wed/Sat 8am)": {
      "main": [
        [
          {
            "node": "HTTP GET Backstage Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP GET Impact America",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Collab Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP GET Cleo Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Harlem Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Precursor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Zeal Capital",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Base10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET Backstage Capital": {
      "main": [
        [
          {
            "node": "Parse Backstage Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Backstage Capital": {
      "main": [
        [
          {
            "node": "Merge Backstage + Impact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET Impact America": {
      "main": [
        [
          {
            "node": "Parse Impact America",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Impact America": {
      "main": [
        [
          {
            "node": "Merge Backstage + Impact",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Collab Capital": {
      "main": [
        [
          {
            "node": "Parse Collab Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Collab Capital": {
      "main": [
        [
          {
            "node": "Merge Collab + Cleo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET Cleo Capital": {
      "main": [
        [
          {
            "node": "Parse Cleo Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cleo Capital": {
      "main": [
        [
          {
            "node": "Merge Collab + Cleo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Harlem Capital": {
      "main": [
        [
          {
            "node": "Parse Harlem Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Harlem Capital": {
      "main": [
        [
          {
            "node": "Merge Harlem + Precursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Precursor": {
      "main": [
        [
          {
            "node": "Parse Precursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Precursor": {
      "main": [
        [
          {
            "node": "Merge Harlem + Precursor",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Zeal Capital": {
      "main": [
        [
          {
            "node": "Parse Zeal Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Zeal Capital": {
      "main": [
        [
          {
            "node": "Merge Zeal + Base10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Base10": {
      "main": [
        [
          {
            "node": "Parse Base10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Base10": {
      "main": [
        [
          {
            "node": "Merge Zeal + Base10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Backstage + Impact": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Collab + Cleo": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Harlem + Precursor": {
      "main": [
        [
          {
            "node": "Merge Groups 3+4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Zeal + Base10": {
      "main": [
        [
          {
            "node": "Merge Groups 3+4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Groups 1+2": {
      "main": [
        [
          {
            "node": "Combine All Social Justice VCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Groups 3+4": {
      "main": [
        [
          {
            "node": "Combine All Social Justice VCs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine All Social Justice VCs": {
      "main": [
        [
          {
            "node": "Limit (Backfill)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit (Backfill)": {
      "main": [
        [
          {
            "node": "Execute Enrich & Evaluate Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}