Job Search/vc-portfolio-scraper-v20-enriched.json
{
  "name": "VC Portfolio Scraper v20 (Enriched)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        49312,
        8768
      ],
      "id": "75118aef-546d-4747-9321-b27433f90cd9",
      "name": "Schedule Trigger (Mon/Thu 8am)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://unusual.vc/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 },\n  \"waitForSelector\": { \"selector\": \"h4\", \"timeout\": 10000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        8464
      ],
      "id": "b5722a0a-f761-42e5-b68b-7bc9a76b9649",
      "name": "Browserless Unusual"
    },
    {
      "parameters": {
        "jsCode": "// Parse Unusual Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Unusual Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const h4Pattern = /<h4[^>]*>([^<]+)<\\/h4>/gi;\n  let match;\n  while ((match = h4Pattern.exec(html)) !== null) {\n    const text = match[1].trim();\n    if (text.length < 10 || text.toLowerCase().includes('visit website') || text.toLowerCase().includes('portfolio')) continue;\n    const parts = text.split(/\\s+is\\s+/i);\n    if (parts.length < 2) continue;\n    const name = parts[0].trim();\n    const key = name.toLowerCase();\n    if (name.length >= 2 && name.length <= 50 && !seen.has(key)) {\n      seen.add(key);\n      const context = html.substring(Math.max(0, match.index - 1000), Math.min(html.length, match.index + 1000));\n      let url = '';\n      const extMatch = context.match(/href=[\"'](https?:\\/\\/(?!(?:www\\.)?(?:unusual\\.vc|linkedin|twitter|facebook|x)\\.com)[^\"']+)[\"']/i);\n      if (extMatch) url = extMatch[1];\n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': text, 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        8464
      ],
      "id": "21a44681-2a29-4c4f-b4f2-26165c1a725b",
      "name": "Parse Unusual Ventures"
    },
    {
      "parameters": {
        "url": "https://m6i10uln.api.sanity.io/v2021-10-21/data/query/production?query=*[_type==\"company\"]{title,website,slug,statement,_createdAt}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        8624
      ],
      "id": "bec25385-cae7-4b07-9eef-584571d4c266",
      "name": "Fetch First Round (Sanity API)"
    },
    {
      "parameters": {
        "jsCode": "// Parse First Round Capital - with _createdAt dates from Sanity API\nconst items = $input.all();\nconst results = [];\nconst vcName = 'First Round Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  const companies = item.json.result || [];\n  for (const company of companies) {\n    const name = company.title || '';\n    if (!name || name.length < 2) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    const website = company.website || '';\n    let description = '';\n    if (company.statement && Array.isArray(company.statement)) {\n      for (const block of company.statement) {\n        if (block.children) for (const child of block.children) if (child.text) description += child.text + ' ';\n      }\n      description = description.trim();\n    }\n    if (!description) description = name + ' - First Round Capital portfolio company';\n    let portfolioDate = '';\n    if (company._createdAt) {\n      portfolioDate = company._createdAt.split('T')[0];\n    }\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': description, 'Company URL': website, 'Portfolio Addition Date': portfolioDate, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        8624
      ],
      "id": "963f8f5b-d10f-4759-8b96-91b310300125",
      "name": "Parse First Round"
    },
    {
      "parameters": {
        "url": "https://www.essencevc.fund/companies",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        8768
      ],
      "id": "10289226-1ffc-4594-a7b1-3412c09792e8",
      "name": "Fetch Essence VC"
    },
    {
      "parameters": {
        "jsCode": "// Parse Essence VC\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Essence VC';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const imgLinkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>[^<]*<img[^>]*alt=[\"']([^\"']+)[\"'][^>]*>[^<]*<\\/a>/gi;\n  let match;\n  while ((match = imgLinkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    const name = match[2].trim();\n    if (url.includes('squarespace') || url.includes('essencevc') || url.includes('linkedin') || url.includes('twitter') || url.includes('facebook') || url.includes('instagram')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Essence VC portfolio company', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        8768
      ],
      "id": "dff325e1-3f24-485b-9f14-2e77e8cb6efb",
      "name": "Parse Essence VC"
    },
    {
      "parameters": {
        "url": "https://costanoa.vc/sitemap.xml",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        8928
      ],
      "id": "e78d98c2-d6d8-42ce-ad6f-34ad47402a48",
      "name": "Fetch Costanoa Sitemap"
    },
    {
      "parameters": {
        "jsCode": "// Parse Costanoa Ventures - filter out headlines and blog posts\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Costanoa Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\n// Words that indicate a headline, not a company name\nconst headlineWords = ['connects', 'announces', 'launches', 'raises', 'acquires', 'joins', 'partners', 'expands', 'introduces', 'unveils', 'releases', 'data', 'digital', 'offline', 'online', 'purchasing', 'marketing', 'advertising', 'investment', 'funding', 'series', 'million', 'billion'];\n\nfor (const item of items) {\n  let xml = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  const urlBlockPattern = /<url>([\\s\\S]*?)<\\/url>/gi;\n  let match;\n  \n  while ((match = urlBlockPattern.exec(xml)) !== null) {\n    const block = match[1];\n    const locMatch = block.match(/<loc>https?:\\/\\/costanoa\\.vc\\/portfolio\\/([^<\\/]+)<\\/loc>/i);\n    if (!locMatch) continue;\n    \n    const slug = locMatch[1].trim();\n    if (!slug || slug.length < 2 || slug === 'portfolio') continue;\n    \n    // Filter: skip slugs with 5+ words (likely headlines)\n    const wordCount = slug.split('-').length;\n    if (wordCount > 4) continue;\n    \n    // Filter: skip slugs containing headline words\n    const slugLower = slug.toLowerCase();\n    if (headlineWords.some(w => slugLower.includes(w))) continue;\n    \n    // Filter: skip very long slugs (>40 chars = likely headline)\n    if (slug.length > 40) continue;\n    \n    let portfolioDate = '';\n    const lastmodMatch = block.match(/<lastmod>([^<]+)<\\/lastmod>/i);\n    if (lastmodMatch) {\n      portfolioDate = lastmodMatch[1].trim().split('T')[0];\n    }\n    \n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Costanoa Ventures portfolio company', 'Company URL': 'https://costanoa.vc/portfolio/' + slug, 'Portfolio Addition Date': portfolioDate, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        8928
      ],
      "id": "40d2053a-832d-41b1-b346-eab956186b86",
      "name": "Parse Costanoa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.khoslaventures.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 },\n  \"waitForSelector\": { \"selector\": \".splide__slide\", \"timeout\": 15000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        9072
      ],
      "id": "fa02c0f1-e627-4855-bcd9-63817ab8afc2",
      "name": "Browserless Khosla"
    },
    {
      "parameters": {
        "jsCode": "// Parse Khosla Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Khosla Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\nconst skipDomains = ['khoslaventures', 'linkedin', 'twitter', 'facebook', 'x', 'jobs', 'careers', 'webflow', 'githubusercontent', 'google', 'youtube', 'instagram', 'medium', 'substack'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>/gi;\n  let match;\n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    if (url.includes('#') || url.includes('javascript') || url.length < 10) continue;\n    const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n    if (!domainMatch) continue;\n    const domain = domainMatch[1].toLowerCase();\n    if (skipDomains.some(skip => domain.includes(skip))) continue;\n    if (domain.length < 2 || domain.length > 30) continue;\n    let name = domain.charAt(0).toUpperCase() + domain.slice(1);\n    name = name.replace(/ai$/i, 'AI').replace(/^ai/i, 'AI');\n    const key = domain.replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Khosla Ventures portfolio company', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        9072
      ],
      "id": "b0b60e19-b162-4594-9fdf-18c45aa53981",
      "name": "Parse Khosla Ventures"
    },
    {
      "parameters": {
        "url": "https://www.kaporcapital.com/sitemap.xml",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        9216
      ],
      "id": "e3a71a06-4c4b-405f-bb2b-a20713b48104",
      "name": "Fetch Kapor Capital Sitemap"
    },
    {
      "parameters": {
        "jsCode": "// Parse Kapor Capital\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Kapor Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let xml = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const urlBlockPattern = /<url>([\\s\\S]*?)<\\/url>/gi;\n  let match;\n  while ((match = urlBlockPattern.exec(xml)) !== null) {\n    const block = match[1];\n    const locMatch = block.match(/<loc>https?:\\/\\/(?:www\\.)?kaporcapital\\.com\\/company\\/([^<\\/]+)\\/?<\\/loc>/i);\n    if (!locMatch) continue;\n    const slug = locMatch[1].trim().replace(/\\/$/, '');\n    if (!slug || slug.length < 2) continue;\n    let portfolioDate = '';\n    const lastmodMatch = block.match(/<lastmod>([^<]+)<\\/lastmod>/i);\n    if (lastmodMatch) portfolioDate = lastmodMatch[1].trim().split('T')[0];\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Kapor Capital portfolio company (social impact)', 'Company URL': 'https://www.kaporcapital.com/company/' + slug + '/', 'Portfolio Addition Date': portfolioDate, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        9216
      ],
      "id": "ce1146d4-1d75-47b7-852c-8ada5ab98cc0",
      "name": "Parse Kapor Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.whatif.vc/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        9376
      ],
      "id": "c8efcb05-5560-4240-b02e-f466dd726ba2",
      "name": "Browserless WhatIf"
    },
    {
      "parameters": {
        "jsCode": "// Parse WhatIf Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'WhatIf Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const cardPattern = /<(?:h[2-4]|div)[^>]*class=[\"'][^\"']*(?:heading|company-name|portfolio-name)[^\"']*[\"'][^>]*>([^<]+)<\\/(?:h[2-4]|div)>/gi;\n  let match;\n  while ((match = cardPattern.exec(html)) !== null) {\n    const name = match[1].trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('visit')) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    const context = html.substring(Math.max(0, match.index - 500), Math.min(html.length, match.index + 1500));\n    let url = '';\n    const urlMatch = context.match(/href=[\"'](https?:\\/\\/(?!whatif\\.vc|linkedin|twitter|facebook|cdn)[^\"']+)[\"']/i);\n    if (urlMatch) url = urlMatch[1];\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - WhatIf Ventures portfolio company', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n  if (results.length === 0) {\n    const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!whatif\\.vc|linkedin|twitter|facebook|cdn|webflow)[^\"']+)[\"'][^>]*>([^<]*(?:Visit|Site)?[^<]*)<\\/a>/gi;\n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      if (url.includes('#') || url.length < 10) continue;\n      const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n      if (!domainMatch) continue;\n      let name = domainMatch[1];\n      name = name.charAt(0).toUpperCase() + name.slice(1);\n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - WhatIf Ventures portfolio company', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        9376
      ],
      "id": "a24bb430-224f-447a-bf92-f7a99b4f4276",
      "name": "Parse WhatIf Ventures"
    },
    {
      "parameters": {
        "url": "https://www.wxrfund.com/portfolio",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        9520
      ],
      "id": "d97f76e6-85ec-4537-b2d8-30f3ecc1342e",
      "name": "Fetch WXR Fund"
    },
    {
      "parameters": {
        "jsCode": "// Parse WXR Fund\nconst items = $input.all();\nconst results = [];\nconst vcName = 'WXR Fund';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!wxrfund|squarespace|linkedin|twitter|facebook|instagram)[^\"']+)[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/a>/gi;\n  let match;\n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    let name = match[2].trim();\n    if (name.toLowerCase().includes('read more') || name.toLowerCase().includes('learn more')) continue;\n    if (name.toLowerCase().includes('privacy') || name.toLowerCase().includes('terms')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - WXR Fund portfolio company (XR/spatial computing)', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        9520
      ],
      "id": "577c0743-dbef-4dc5-afff-6229b58a7fc4",
      "name": "Parse WXR Fund"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://www.leadoutcapital.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        9664
      ],
      "id": "3f062643-46a7-46a1-a1f6-c4d8813ebd31",
      "name": "Browserless Leadout"
    },
    {
      "parameters": {
        "jsCode": "// Parse Leadout Capital\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Leadout Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const textBlockPattern = /<[^>]*class=[\"'][^\"']*text-block[^\"']*[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/[^>]+>/gi;\n  let match;\n  while ((match = textBlockPattern.exec(html)) !== null) {\n    let name = match[1].trim();\n    if (/^\\d{4}$/.test(name)) continue;\n    if (name.toLowerCase().includes('portfolio') || name.toLowerCase().includes('filter')) continue;\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    const context = html.substring(Math.max(0, match.index - 500), Math.min(html.length, match.index + 1000));\n    let url = '';\n    const urlMatch = context.match(/href=[\"'](https?:\\/\\/(?!leadoutcapital|webflow|linkedin|twitter|facebook)[^\"']+)[\"']/i);\n    if (urlMatch) url = urlMatch[1];\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Leadout Capital portfolio company (healthcare/femtech focus)', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n  if (results.length === 0) {\n    const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/(?!leadoutcapital|webflow|linkedin|twitter|facebook)[^\"']+)[\"'][^>]*>([A-Z][A-Za-z0-9\\s\\.\\-&']+)<\\/a>/gi;\n    while ((match = linkPattern.exec(html)) !== null) {\n      const url = match[1].trim();\n      let name = match[2].trim();\n      if (!name || name.length < 2 || name.length > 60) continue;\n      const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n      if (key.length < 2 || seen.has(key)) continue;\n      seen.add(key);\n      results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Leadout Capital portfolio company (healthcare/femtech focus)', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n    }\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        9664
      ],
      "id": "d7cd9b2e-45b3-4c1e-9986-c7f6e8b5b118",
      "name": "Parse Leadout Capital"
    },
    {
      "parameters": {
        "url": "https://golden.ventures/portfolio",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        9824
      ],
      "id": "b66e67fb-8ec9-4fc8-afa1-234f0f2e7229",
      "name": "Fetch Golden Ventures"
    },
    {
      "parameters": {
        "jsCode": "// Parse Golden Ventures\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Golden Ventures';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const slugPattern = /href=[\"']\\/portfolio\\/([a-z0-9\\-]+)[\"']/gi;\n  let match;\n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug === 'portfolio' || slug === 'all') continue;\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Golden Ventures portfolio company (Canadian early-stage)', 'Company URL': 'https://golden.ventures/portfolio/' + slug, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        9824
      ],
      "id": "e67088bb-2b75-438e-b17f-e98cc179d843",
      "name": "Parse Golden Ventures"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://notablecap.com/companies\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        9968
      ],
      "id": "95c2a277-a3a5-474d-b439-503c96df62d3",
      "name": "Browserless Notable"
    },
    {
      "parameters": {
        "jsCode": "// Parse Notable Capital\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Notable Capital';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\nconst skipDomains = ['notablecap', 'linkedin', 'twitter', 'facebook', 'instagram', 'youtube', 'medium', 'google', 'apple', 'amazonaws', 'cloudfront', 'cdn', 'fonts', 'gstatic'];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const linkPattern = /<a[^>]*href=[\"'](https?:\\/\\/[^\"']+)[\"'][^>]*>/gi;\n  let match;\n  while ((match = linkPattern.exec(html)) !== null) {\n    const url = match[1].trim();\n    if (url.includes('#') || url.length < 10) continue;\n    const domainMatch = url.match(/https?:\\/\\/(?:www\\.)?([^.\\/]+)/i);\n    if (!domainMatch) continue;\n    const domain = domainMatch[1].toLowerCase();\n    if (skipDomains.some(skip => domain.includes(skip))) continue;\n    if (domain.length < 2 || domain.length > 30) continue;\n    let name = domain.charAt(0).toUpperCase() + domain.slice(1);\n    name = name.replace(/ai$/i, 'AI').replace(/^ai/i, 'AI');\n    const key = domain.replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Notable Capital portfolio company', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        9968
      ],
      "id": "50b9da37-bbfc-4188-bac0-d991ae254eb3",
      "name": "Parse Notable Capital"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://headline.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 30000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        10128
      ],
      "id": "0e424c59-7adf-4dff-9677-4eaf8c700ce2",
      "name": "Browserless Headline"
    },
    {
      "parameters": {
        "jsCode": "// Parse Headline - extract company data with URLs\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Headline';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nconst junkPatterns = ['privacy', 'statement', 'notice', 'blog', 'latest', 'how we work', 'site notice', 'investing in', 'founder', 'spotlight', 'landscape', 'lookahead', 'why is', 'the power of', 'match made', 'nasdaq', 'nyse', 'tyo', 'hk '];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  \n  // Find company blocks with slug and try to get website URL\n  const companyBlockPattern = /\\{[^{}]*\"type\"\\s*:\\s*\"company\"[^{}]*\"slug\"\\s*:\\s*\"([a-z0-9-]+)\"[^{}]*\\}/gi;\n  let match;\n  \n  while ((match = companyBlockPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2 || slug.length > 50) continue;\n    if (slug.includes('acq') || slug === 'portfolio' || slug === 'company') continue;\n    \n    let name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const nameLower = name.toLowerCase();\n    if (junkPatterns.some(p => nameLower.includes(p))) continue;\n    if (/^[A-Z][a-z]+ [A-Z][a-z]+$/.test(name) && !/\\d/.test(name)) continue;\n    \n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    \n    // Extract context for URL and description\n    const contextStart = Math.max(0, match.index - 200);\n    const contextEnd = Math.min(html.length, match.index + 500);\n    const context = html.substring(contextStart, contextEnd);\n    \n    // Try to find website URL in context\n    let companyUrl = '';\n    const urlMatch = context.match(/\"(?:website|url|href)\"\\s*:\\s*\"(https?:\\/\\/[^\"]+)\"/i);\n    if (urlMatch) {\n      companyUrl = urlMatch[1];\n    } else {\n      // Try to find any URL that looks like company website\n      const anyUrlMatch = context.match(/https?:\\/\\/(?:www\\.)?([a-z0-9-]+)\\.(com|io|co|ai|xyz|app|dev|tech|health|bio)[^\"\\s]*/i);\n      if (anyUrlMatch && anyUrlMatch[1].toLowerCase().includes(slug.split('-')[0])) {\n        companyUrl = anyUrlMatch[0];\n      }\n    }\n    \n    let description = name + ' - Headline portfolio company';\n    const tagMatch = context.match(/\"tag\"\\s*:\\s*\"([^\"]+)\"/i);\n    if (tagMatch && !['active', 'exited', 'north america', 'europe', 'asia'].includes(tagMatch[1].toLowerCase())) {\n      description = name + ' - Headline portfolio (' + tagMatch[1] + ')';\n    }\n    \n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': description, 'Company URL': companyUrl, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        10128
      ],
      "id": "f78d4538-5a7d-41eb-92dc-068e0a25e5d7",
      "name": "Parse Headline"
    },
    {
      "parameters": {
        "url": "https://www.psl.com/companies",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        10272
      ],
      "id": "55e86699-0808-4679-aa7e-29e37711b589",
      "name": "Fetch PSL (Pioneer Square)"
    },
    {
      "parameters": {
        "jsCode": "// Parse Pioneer Square Labs\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Pioneer Square Labs';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const slugPattern = /href=[\"']\\/companies\\/([a-z0-9\\-]+)[\"']/gi;\n  let match;\n  while ((match = slugPattern.exec(html)) !== null) {\n    const slug = match[1].trim();\n    if (!slug || slug.length < 2) continue;\n    if (slug === 'companies' || slug === 'all') continue;\n    const name = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Pioneer Square Labs portfolio company (Seattle-based)', 'Company URL': 'https://www.psl.com/companies/' + slug, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        10272
      ],
      "id": "193b39dd-a42b-4890-88d4-47e2c46e8a0d",
      "name": "Parse PSL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://trilogyequity.com/portfolio\",\n  \"gotoOptions\": { \"waitUntil\": \"networkidle2\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        49520,
        10416
      ],
      "id": "c5390738-9a29-4806-b3fd-9e69e6ddc5b6",
      "name": "Browserless Trilogy"
    },
    {
      "parameters": {
        "jsCode": "// Parse Trilogy Equity Partners\nconst items = $input.all();\nconst results = [];\nconst vcName = 'Trilogy Equity Partners';\nconst seen = new Set();\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const item of items) {\n  let html = item.json.data || (typeof item.json === 'string' ? item.json : JSON.stringify(item.json));\n  const modalUrls = {};\n  const modalStartPattern = /id=\"(modal--\\d+)\"/g;\n  let modalMatch;\n  while ((modalMatch = modalStartPattern.exec(html)) !== null) {\n    const modalId = modalMatch[1];\n    const startIdx = modalMatch.index;\n    const section = html.substring(startIdx, startIdx + 5000);\n    const urlMatch = section.match(/class=\"website\"[^>]*>.*?href=\"([^\"]+)\"/i);\n    if (urlMatch) modalUrls[modalId] = urlMatch[1];\n  }\n  const itemPattern = /data-modal=\"(modal--\\d+)\"[^>]*>\\s*<div class=\"portfolio--content\">\\s*<h4>([^<]+)<\\/h4>/g;\n  let match;\n  while ((match = itemPattern.exec(html)) !== null) {\n    const modalId = match[1];\n    const name = match[2].trim();\n    if (!name || name.length < 2 || name.length > 60) continue;\n    const key = name.toLowerCase().replace(/[^a-z0-9]/g, '');\n    if (key.length < 2 || seen.has(key)) continue;\n    seen.add(key);\n    const url = modalUrls[modalId] || '';\n    results.push({ json: { 'Company Name': name, 'VC Firm': vcName, 'Company Description': name + ' - Trilogy Equity Partners portfolio company (Seattle enterprise/consumer)', 'Company URL': url, 'Status': 'New', 'First Seen Date': today, 'Source': 'VC Portfolio' } });\n  }\n}\nreturn results.length ? results : [{ json: { _empty: true, _message: 'No companies found', vcName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        49744,
        10416
      ],
      "id": "eeb2c5bf-07ff-4c01-9cd9-a5aaf63b1b1d",
      "name": "Parse Trilogy Equity"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        49968,
        8544
      ],
      "id": "bcf30533-a329-4d3c-8a45-cfbd4cc51aaa",
      "name": "Merge Unusual + First Round"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        49968,
        8848
      ],
      "id": "85613843-8e87-40f5-90e1-c8ef20c89766",
      "name": "Merge Essence + Costanoa"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        49968,
        9152
      ],
      "id": "2a76a9e5-ea97-4adb-bb2b-5ee275a0ddd7",
      "name": "Merge Khosla + Kapor"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        49968,
        9440
      ],
      "id": "d8f8ce14-7eec-44ae-9471-19ca3fac90ee",
      "name": "Merge WhatIf + WXR"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        49968,
        9744
      ],
      "id": "75924878-6973-43c0-9aa2-87d38a8fbd38",
      "name": "Merge Leadout + Golden"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        49968,
        10048
      ],
      "id": "708efef0-bc71-46f6-9c0e-74030e27c08a",
      "name": "Merge Notable + Headline"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        49968,
        10352
      ],
      "id": "a9ef5fdc-bbfb-4f82-bbb4-d10604965e96",
      "name": "Merge PSL + Trilogy"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        50192,
        8704
      ],
      "id": "20c0989b-cfae-49a9-84bb-0754b08557f2",
      "name": "Merge Groups 1+2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        50192,
        8992
      ],
      "id": "7f9bef2e-9fe7-47c0-9eae-a3b932abe754",
      "name": "Merge Groups 3+4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        50192,
        9296
      ],
      "id": "3e6df42a-29d5-4682-9500-0b1ab6654fb7",
      "name": "Merge Groups 5+6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        50400,
        8848
      ],
      "id": "2bba18b4-fee7-48bb-a0e8-250589e71032",
      "name": "Merge Super 1+2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        50400,
        9152
      ],
      "id": "ec2e2e1d-9906-4135-bcef-bb3e3fad71db",
      "name": "Merge Super 3+7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        50624,
        8992
      ],
      "id": "b700ac9e-6ebb-4606-9107-377435e1e627",
      "name": "Combine All VCs"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._empty }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        50848,
        8992
      ],
      "id": "9d36dbb1-6315-4ba7-89ec-afe7eea7524c",
      "name": "Filter Valid"
    },
    {
      "parameters": {
        "jsCode": "const newCompanies = $input.all();\nreturn newCompanies.map(item => ({ json: { ...item.json, _isNewCompany: true } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        51072,
        8992
      ],
      "id": "8ef6b53d-fea1-4188-b041-f34c75c74c88",
      "name": "Mark as New"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        51072,
        9200
      ],
      "id": "533c426b-c626-46d3-b4aa-c85661615db5",
      "name": "Get Existing Companies"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        51280,
        9104
      ],
      "id": "a078425c-a8de-4944-b68d-04fdcac3bb21",
      "name": "Merge for Dedup"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst newCompanies = [];\nconst existingRecords = [];\nfor (const item of allItems) {\n  if (item.json._isNewCompany) newCompanies.push(item);\n  else if (item.json.fields && item.json.fields['Company Name']) existingRecords.push(item);\n  else if (item.json.id && item.json['Company Name']) existingRecords.push({ json: { fields: item.json } });\n}\nconst normalize = (str) => str ? String(str).toLowerCase().replace(/[^a-z0-9]/g, '').trim() : '';\nconst existingNames = new Set();\nfor (const item of existingRecords) {\n  const name = (item.json.fields || item.json)['Company Name'] || '';\n  if (name) existingNames.add(normalize(name));\n}\nconst uniqueCompanies = [];\nconst addedNames = new Set();\nfor (const company of newCompanies) {\n  const name = company.json['Company Name'];\n  if (!name) continue;\n  const normalizedName = normalize(name);\n  if (!normalizedName || existingNames.has(normalizedName) || addedNames.has(normalizedName)) continue;\n  addedNames.add(normalizedName);\n  const cleanCompany = { ...company.json };\n  delete cleanCompany._isNewCompany;\n  uniqueCompanies.push({ json: cleanCompany });\n}\nreturn uniqueCompanies.length ? uniqueCompanies : [{ json: { _empty: true, _message: 'No new companies found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        51504,
        9104
      ],
      "id": "078452ca-d9c8-4577-9d9c-4f0bcf9b3285",
      "name": "Dedup Against Existing"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._empty }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        51728,
        9104
      ],
      "id": "98233058-8280-432b-8ab6-9e070bbfbdd4",
      "name": "Has New Companies?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        51072,
        8848
      ],
      "id": "6f000c4f-728c-473b-a0b9-9e554d094187",
      "name": "No Valid Companies"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        51952,
        8944
      ],
      "id": "7b4daaf7-5f2e-460e-8e82-fce5d24789ca",
      "name": "All Duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Build search query for Brave - process ALL items\nconst items = $input.all();\n\nreturn items.map(item => {\n  const company = item.json;\n  const companyName = company['Company Name'] || '';\n  const searchQuery = '\"' + companyName + '\" company funding employees series startup';\n  \n  return {\n    json: {\n      ...company,\n      searchQuery: searchQuery\n    }\n  };\n});"
      },
      "id": "build-search-query-001",
      "name": "Build Search Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        51800,
        9004
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.search.brave.com/res/v1/web/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "count",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "timeout": 30000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "brave-search-company-001",
      "name": "Brave Search Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        51978,
        9004
      ],
      "notes": "Search Brave for company enrichment data. Rate limited to 1.5s between requests.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "Brave Search API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Brave Search results - process ALL items, extract URLs from search\nconst braveResponses = $input.all();\nconst companyDataItems = $('Build Search Query').all();\n\nconst peFirms = ['Vista Equity', 'Thoma Bravo', 'KKR', 'Blackstone', 'TPG', 'Carlyle', 'Bain Capital', 'Silver Lake', 'Francisco Partners', 'Vector Capital', 'Ares Management', 'Apollo Global', 'Warburg Pincus', 'Golden Gate Capital', 'Nordic Capital', 'TA Associates', 'Insight Partners', 'General Atlantic', 'Summit Partners'];\nconst vcFirms = ['a16z', 'Andreessen Horowitz', 'Sequoia', 'Accel', 'Greylock', 'First Round', 'NEA', 'Lightspeed', 'Bessemer', 'Battery Ventures', 'Foundation Capital', 'Index Ventures', 'Benchmark', 'Kleiner Perkins', 'GV', 'Google Ventures', 'Founders Fund', 'Y Combinator', 'YC', 'Accomplice', 'Underscore VC'];\nconst bigAcquirers = ['Google', 'Alphabet', 'Microsoft', 'Amazon', 'Apple', 'Meta', 'Facebook', 'Oracle', 'Salesforce', 'Adobe', 'SAP', 'IBM', 'Cisco', 'Intel', 'Nest'];\nconst skipDomains = ['linkedin.com', 'crunchbase.com', 'pitchbook.com', 'wikipedia.org', 'glassdoor.com', 'indeed.com', 'zoominfo.com', 'apollo.io', 'ycombinator.com', 'techcrunch.com', 'bloomberg.com', 'forbes.com', 'businesswire.com', 'prnewswire.com', 'tracxn.com', 'cbinsights.com', 'owler.com', 'dnb.com', 'craft.co', 'rocketreach.co', 'getlatka.com', 'growjo.com', 'datanyze.com', 'leadiq.com', 'lusha.com', 'contactout.com', 'signalhire.com'];\n\nconst currentYear = new Date().getFullYear();\n\nreturn braveResponses.map((item, index) => {\n  const braveResponse = item.json;\n  const companyData = companyDataItems[index]?.json || {};\n  const searchResults = braveResponse?.web?.results || braveResponse?.results || [];\n  const allText = searchResults.map(r => `${r.title || ''} ${r.description || ''} ${r.extra_snippets?.join(' ') || ''}`).join(' ');\n  \n  // Extract company URL from search results if not provided\n  let companyUrl = companyData['Company URL'] || '';\n  if (!companyUrl && searchResults.length > 0) {\n    const companyName = (companyData['Company Name'] || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n    for (const result of searchResults.slice(0, 5)) {\n      const url = result.url || '';\n      if (!url) continue;\n      const domain = url.replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0].toLowerCase();\n      if (skipDomains.some(d => domain.includes(d))) continue;\n      const domainBase = domain.replace(/\\.(com|io|co|ai|health|app|dev|tech|xyz|org|net)$/, '').replace(/[^a-z0-9]/g, '');\n      if (domainBase.includes(companyName.slice(0, 5)) || companyName.includes(domainBase.slice(0, 5))) {\n        companyUrl = url.split('/').slice(0, 3).join('/');\n        break;\n      }\n    }\n    if (!companyUrl && searchResults[0]?.url) {\n      const firstUrl = searchResults[0].url;\n      const domain = firstUrl.replace(/^https?:\\/\\/(www\\.)?/, '').split('/')[0].toLowerCase();\n      if (!skipDomains.some(d => domain.includes(d))) {\n        companyUrl = firstUrl.split('/').slice(0, 3).join('/');\n      }\n    }\n  }\n  \n  // Employee count\n  let employeeCount = null;\n  const empPatterns = [/([\\d,]+)\\s*(?:to\\s*[\\d,]+)?\\s*employees?/gi, /team\\s*(?:of)?\\s*([\\d,]+)/gi];\n  for (const pattern of empPatterns) {\n    const matches = [...allText.matchAll(pattern)];\n    for (const match of matches) {\n      const count = parseInt(match[1].replace(/,/g, ''));\n      if (count > 0 && count < 1000000 && (!employeeCount || count > employeeCount)) employeeCount = count;\n    }\n  }\n  \n  const isPublic = /\\b(?:IPO|went public|publicly traded|publicly held|stock price|NYSE|NASDAQ|traded on|ticker|stock symbol|\\([A-Z]{1,5}\\))\\b/i.test(allText);\n  const acquiredMatch = allText.match(/(?:acquired by|bought by|purchased by|acquisition by)\\s+([\\w\\s]+?)(?:\\s+(?:for|in))/i);\n  const isAcquired = !!acquiredMatch || bigAcquirers.some(a => new RegExp(`acquired by ${a}|${a} acqui`, 'i').test(allText));\n  const acquiredBy = acquiredMatch ? acquiredMatch[1].trim() : (bigAcquirers.find(a => new RegExp(`acquired by ${a}|${a} acqui`, 'i').test(allText)) || null);\n  \n  let fundingStage = null;\n  if (isPublic) {\n    fundingStage = 'Public/IPO';\n  } else {\n    const stagePatterns = {'Series F+': /\\bSeries\\s*[F-Z]\\b/i, 'Series E': /\\bSeries\\s*E\\b/i, 'Series D': /\\bSeries\\s*D\\b/i, 'Series C': /\\bSeries\\s*C\\b/i, 'Series B': /\\bSeries\\s*B\\b/i, 'Series A': /\\bSeries\\s*A\\b/i, 'Seed': /\\b(?:Seed\\s*(?:round|funding)?|seed-stage)\\b/i, 'Pre-Seed': /\\b(?:Pre[- ]?Seed|angel\\s*round)\\b/i};\n    for (const [stage, pattern] of Object.entries(stagePatterns)) {\n      if (pattern.test(allText)) { fundingStage = stage; break; }\n    }\n  }\n  \n  let totalFunding = null, totalFundingRaw = null;\n  const fundPatterns = [/raised\\s*\\$([\\d.]+)\\s*(million|billion|M|B)/gi, /\\$([\\d.]+)\\s*(million|billion|M|B)\\s*(?:in\\s*)?(?:total\\s*)?funding/gi];\n  for (const pattern of fundPatterns) {\n    const matches = [...allText.matchAll(pattern)];\n    for (const match of matches) {\n      const amount = parseFloat(match[1]);\n      const unit = match[2].toLowerCase();\n      let value = (unit === 'billion' || unit === 'b') ? amount * 1000000000 : amount * 1000000;\n      if (!totalFunding || value > totalFunding) { totalFunding = value; totalFundingRaw = `$${amount}${unit.charAt(0).toUpperCase()}`; }\n    }\n  }\n  \n  const isPEBacked = peFirms.some(f => new RegExp(f.replace(/\\s+/g, '\\\\s*'), 'i').test(allText));\n  const peBackerFound = peFirms.find(f => new RegExp(f.replace(/\\s+/g, '\\\\s*'), 'i').test(allText)) || null;\n  const isVCBacked = vcFirms.some(f => new RegExp(f.replace(/\\s+/g, '\\\\s*'), 'i').test(allText));\n  \n  let foundedYear = null;\n  const foundMatch = allText.match(/(?:founded|established|since|started)\\s*(?:in)?\\s*(\\d{4})/i);\n  if (foundMatch) { const year = parseInt(foundMatch[1]); if (year >= 1990 && year <= currentYear) foundedYear = year; }\n  \n  const autoDisqualifiers = [];\n  if (isPEBacked) autoDisqualifiers.push(`PE-backed (${peBackerFound})`);\n  if (employeeCount >= 500) autoDisqualifiers.push(`500+ employees (${employeeCount})`);\n  if (totalFunding >= 200000000) autoDisqualifiers.push(`$200M+ funding (${totalFundingRaw})`);\n  if (isPublic || fundingStage === 'Public/IPO') autoDisqualifiers.push('Public company');\n  if (isAcquired) autoDisqualifiers.push(`Acquired${acquiredBy ? ' by ' + acquiredBy : ''}`);\n  if (foundedYear && foundedYear < 2017) autoDisqualifiers.push(`Founded ${foundedYear} (${currentYear - foundedYear}+ years old)`);\n  if (['Series D', 'Series E', 'Series F+'].includes(fundingStage)) autoDisqualifiers.push(`Late stage (${fundingStage})`);\n  \n  return {\n    json: {\n      'Company Name': companyData['Company Name'],\n      'Company URL': companyUrl,\n      'Company Description': companyData['Company Description'],\n      'VC Firm': companyData['VC Firm'],\n      enrichment: { employeeCount, fundingStage, totalFunding, totalFundingRaw, isPEBacked, peBackerFound, isVCBacked, foundedYear, isPublic, isAcquired, acquiredBy, searchResultCount: searchResults.length },\n      autoDisqualifiers,\n      isAutoDisqualified: autoDisqualifiers.length > 0,\n      needsManualResearch: searchResults.length === 0,\n      hasEnrichmentData: !!(employeeCount || fundingStage || totalFunding || isPEBacked || isVCBacked || isPublic || isAcquired)\n    }\n  };\n});"
      },
      "id": "parse-enrichment-001",
      "name": "Parse Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        52228,
        9004
      ],
      "notes": "Extract employee count, funding stage, total funding, PE/VC backing, founded year. Calculate auto-disqualifiers."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-auto-disqualify",
              "leftValue": "={{ $json.isAutoDisqualified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-auto-disqualify-001",
      "name": "IF: Auto-Disqualify",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        52478,
        9004
      ],
      "notes": "True branch: Company has auto-disqualifiers (PE-backed, 1000+ employees, $500M+ funding, etc.). Skip evaluation and mark as disqualified."
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "Company URL": "={{ $json['Company URL'] }}",
            "Company Description": "={{ $json['Company Description'] }}",
            "VC Firm": "={{ $json['VC Firm'] }}",
            "Status": "Auto-Disqualified",
            "Next Steps": "Skip",
            "Disqualify Reasons": "={{ $json.autoDisqualifiers.join('; ') }}",
            "Stage": "={{ $json.enrichment.fundingStage || '' }}",
            "Total Funding": "={{ $json.enrichment.totalFundingRaw || '' }}",
            "Tide-Pool Score": 0,
            "Summary": "={{ 'Auto-disqualified: ' + $json.autoDisqualifiers.join('; ') }}",
            "Employee Count": "={{ $json.enrichment.employeeCount || null }}",
            "PE Backed": "={{ $json.enrichment.isPEBacked || false }}",
            "Founded Year": "={{ $json.enrichment.foundedYear || null }}",
            "First Seen Date": "={{ $now.format('YYYY-MM-DD') }}",
            "Source": "={{ $json['VC Firm'] }}",
            "Sector Match": "unknown"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "airtable-auto-disqualified-001",
      "name": "Airtable: Auto-Disqualified",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        52728,
        8804
      ],
      "notes": "Save auto-disqualified company to Airtable with status and reasons."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-needs-research",
              "leftValue": "={{ $json.needsManualResearch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-research-001",
      "name": "IF: Needs Manual Research",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        52728,
        9204
      ],
      "notes": "True branch: No enrichment data found. Flag for manual research."
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "Company URL": "={{ $json['Company URL'] }}",
            "Company Description": "={{ $json['Company Description'] }}",
            "VC Firm": "={{ $json['VC Firm'] }}",
            "Status": "Research",
            "Summary": "No enrichment data found. Manual research required."
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "airtable-needs-research-001",
      "name": "Airtable: Needs Research",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        52978,
        9104
      ],
      "notes": "Save company needing manual research to Airtable."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/zelman/tidepool/main/tide-pool-agent-lens.md",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-tide-pool-profile-001",
      "name": "Fetch Tide Pool Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        52978,
        9304
      ],
      "notes": "Fetch the Tide Pool agent lens for evaluation context."
    },
    {
      "parameters": {
        "jsCode": "// Build evaluation prompt - process ALL items\nconst companyItems = $('IF: Needs Manual Research').all();\nconst tidePoolProfile = $('Fetch Tide Pool Profile').first().json;\n\nconst systemPrompt = `You are evaluating a company for job search fit based on the Tide Pool Agent Lens criteria.\n\nTIDE POOL PROFILE (Key Criteria):\n- Target: VP/Head/Director of Customer Support/Success Operations roles\n- Ideal Company: Pre-Series A to Series A, 0-50 employees, VC-backed (not PE)\n- Builder Focus: \"First hire\", \"build from scratch\", creating/scaling support operations\n- Target Sectors: Healthcare, environmental/climate, life sciences, education, audio/music tech, enterprise AI/ML\n- Auto-Disqualify: PE-backed, 500+ employees, $200M+ funding, Fortune 500, acquired companies\n- Title Flexibility: At <50 person companies, title irrelevant - focus on builder scope\n- High-Touch AI: Enterprise AI (governance, compliance, analytics) needs CS from day one\n\nSCORING FRAMEWORK (100 points max):\n- Company Stage & Fit: up to 40 pts\n  - Pre-Seed/Seed: 40 pts (ideal early builder)\n  - Series A: 35 pts (still early)\n  - Series B: 20 pts (getting late)\n  - Series C+: 5 pts (too late)\n- Sector Match: up to 30 pts\n  - Target sector (healthcare, climate, life sciences, education, audio/music, enterprise AI): 30 pts\n  - Adjacent sector: 15 pts\n  - Unrelated sector: 5 pts\n- CS Hire Likelihood: up to 30 pts\n  - B2B SaaS/Enterprise with high-touch product: 30 pts\n  - Mid-market B2B: 20 pts\n  - Consumer or self-serve: 10 pts\n\nPENALTIES (subtract from score):\n- PE-backed: -50 pts (auto-skip)\n- 200+ employees: -20 pts\n- Founded before 2018: -15 pts\n- Series C or later: -20 pts\n\nEvaluate the company and return this JSON:\n{\n  \"score\": <0-100 integer>,\n  \"sector_match\": \"target\" | \"adjacent\" | \"unrelated\",\n  \"cs_hire_likelihood\": \"high\" | \"medium\" | \"low\" | \"unlikely\",\n  \"product_type\": \"high-touch enterprise\" | \"mid-market\" | \"self-serve\" | \"consumer\" | \"unknown\",\n  \"ops_gap\": true | false,\n  \"summary\": \"<2-3 sentence explanation>\"\n}\n\nRespond ONLY with valid JSON, no markdown or explanation.`;\n\nreturn companyItems.map(item => {\n  const companyData = item.json;\n  const userPrompt = `COMPANY TO EVALUATE:\n\nName: ${companyData['Company Name']}\nVC Firm: ${companyData['VC Firm']}\nURL: ${companyData['Company URL']}\nDescription: ${companyData['Company Description'] || 'Not available'}\n\nENRICHMENT DATA:\n- Employee Count: ${companyData.enrichment?.employeeCount || 'Unknown'}\n- Funding Stage: ${companyData.enrichment?.fundingStage || 'Unknown'}\n- Total Funding: ${companyData.enrichment?.totalFundingRaw || 'Unknown'}\n- PE-Backed: ${companyData.enrichment?.isPEBacked ? 'Yes (' + companyData.enrichment.peBackerFound + ')' : 'No'}\n- VC-Backed: ${companyData.enrichment?.isVCBacked ? 'Yes' : 'Unknown'}\n- Founded Year: ${companyData.enrichment?.foundedYear || 'Unknown'}\n\nAUTO-DISQUALIFIERS: ${companyData.autoDisqualifiers?.length > 0 ? companyData.autoDisqualifiers.join('; ') : 'None'}\n\nProvide your evaluation as JSON.`;\n\n  return {\n    json: {\n      ...companyData,\n      evaluationPrompt: { systemPrompt, userPrompt }\n    }\n  };\n});"
      },
      "id": "build-evaluation-prompt-001",
      "name": "Build Evaluation Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        53228,
        9304
      ],
      "notes": "Combine Tide Pool profile with company data to build Claude evaluation prompt."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 1024,\n  \"system\": {{ JSON.stringify($json.evaluationPrompt.systemPrompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.evaluationPrompt.userPrompt) }}\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 30000
            }
          },
          "timeout": 60000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "evaluate-via-anthropic-001",
      "name": "Evaluate via Anthropic API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        53478,
        9304
      ],
      "notes": "Call Claude 3 Haiku for company evaluation. Rate limited to 30s between requests for API limits.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's evaluation response - process ALL items\nconst responseItems = $input.all();\nconst companyItems = $('Build Evaluation Prompt').all();\n\nreturn responseItems.map((item, index) => {\n  const response = item.json;\n  const companyData = companyItems[index]?.json || {};\n  \n  // Extract text from Claude's response\n  let evaluationText = '';\n  if (response.content && Array.isArray(response.content)) {\n    evaluationText = response.content.filter(c => c.type === 'text').map(c => c.text).join('');\n  } else if (typeof response.content === 'string') {\n    evaluationText = response.content;\n  }\n  \n  // Parse JSON response\n  let evaluation = {};\n  try {\n    const jsonMatch = evaluationText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) evaluation = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    evaluation = { score: 0, cs_hire_likelihood: 'unknown', product_type: 'unknown', ops_gap: false, recommendation: 'needs_research', summary: `Parse error: ${e.message}` };\n  }\n  \n  // Derive status from score since we removed recommendation\n  let status = 'Research';\n  const score = evaluation.score || 0;\n  if (score >= 70) status = 'Apply';\n  else if (score >= 50) status = 'Monitor';\n  else if (score >= 30) status = 'Research';\n  else status = 'Skip';\n  \n  return {\n    json: {\n      'Company Name': companyData['Company Name'],\n      'Company URL': companyData['Company URL'],\n      'Company Description': companyData['Company Description'],\n      'VC Firm': companyData['VC Firm'],\n      'Tide-Pool Score': score,\n      'Sector Match': evaluation.sector_match || 'unknown',\n      'CS Hire Likelihood': evaluation.cs_hire_likelihood || 'unknown',\n      'Product Type': evaluation.product_type || 'unknown',\n      'Ops Gap': evaluation.ops_gap || false,\n      'Status': status,\n      'Summary': evaluation.summary || 'No summary available',\n      'Employee Count': companyData.enrichment?.employeeCount || null,\n      'Funding Stage': companyData.enrichment?.fundingStage || '',\n      'Total Funding': companyData.enrichment?.totalFundingRaw || '',\n      'PE Backed': companyData.enrichment?.isPEBacked || false,\n      'Founded Year': companyData.enrichment?.foundedYear || null,\n      'Disqualify Reasons': companyData.autoDisqualifiers?.length > 0 ? companyData.autoDisqualifiers.join('; ') : ''\n    }\n  };\n});"
      },
      "id": "parse-evaluation-001",
      "name": "Parse Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        53728,
        9304
      ],
      "notes": "Parse Claude's JSON response and map to Airtable fields."
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFEzXvPWvRtXgRY",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Funding Alerts",
          "mode": "list",
          "cachedResultName": "Funding Alerts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json['Company Name'] }}",
            "Company URL": "={{ $json['Company URL'] }}",
            "Company Description": "={{ $json['Company Description'] }}",
            "VC Firm": "={{ $json['VC Firm'] }}",
            "Status": "={{ $json['Status'] }}",
            "Next Steps": "={{ $json['Status'] === 'Apply' ? 'Apply Now' : $json['Status'] === 'Monitor' ? 'Watch for Jobs' : $json['Status'] === 'Research' ? 'Research More' : 'Skip' }}",
            "Tide-Pool Score": "={{ $json['Tide-Pool Score'] || 0 }}",
            "Sector Match": "={{ $json['Sector Match'] || 'unknown' }}",
            "CS Hire Likelihood": "={{ $json['CS Hire Likelihood'] || '' }}",
            "Product Type": "={{ $json['Product Type'] || '' }}",
            "Ops Gap": "={{ $json['Ops Gap'] || false }}",
            "Summary": "={{ $json['Summary'] || '' }}",
            "Stage": "={{ $json['Funding Stage'] || '' }}",
            "Total Funding": "={{ $json['Total Funding'] || '' }}",
            "Employee Count": "={{ $json['Employee Count'] || null }}",
            "PE Backed": "={{ $json['PE Backed'] || false }}",
            "Founded Year": "={{ $json['Founded Year'] || null }}",
            "Disqualify Reasons": "={{ $json['Disqualify Reasons'] || '' }}",
            "First Seen Date": "={{ $now.format('YYYY-MM-DD') }}",
            "Source": "={{ $json['VC Firm'] }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "airtable-create-evaluated-001",
      "name": "Airtable: Create Evaluated Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        53978,
        9304
      ],
      "notes": "Create Airtable record with full evaluation data."
    }
  ],
  "connections": {
    "Schedule Trigger (Mon/Thu 8am)": {
      "main": [
        [
          {
            "node": "Browserless Unusual",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch First Round (Sanity API)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Essence VC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Costanoa Sitemap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Khosla",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Kapor Capital Sitemap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless WhatIf",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch WXR Fund",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Leadout",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Golden Ventures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Notable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Headline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch PSL (Pioneer Square)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browserless Trilogy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Unusual": {
      "main": [
        [
          {
            "node": "Parse Unusual Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Unusual Ventures": {
      "main": [
        [
          {
            "node": "Merge Unusual + First Round",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch First Round (Sanity API)": {
      "main": [
        [
          {
            "node": "Parse First Round",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse First Round": {
      "main": [
        [
          {
            "node": "Merge Unusual + First Round",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Essence VC": {
      "main": [
        [
          {
            "node": "Parse Essence VC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Essence VC": {
      "main": [
        [
          {
            "node": "Merge Essence + Costanoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Costanoa Sitemap": {
      "main": [
        [
          {
            "node": "Parse Costanoa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Costanoa": {
      "main": [
        [
          {
            "node": "Merge Essence + Costanoa",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Khosla": {
      "main": [
        [
          {
            "node": "Parse Khosla Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Khosla Ventures": {
      "main": [
        [
          {
            "node": "Merge Khosla + Kapor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kapor Capital Sitemap": {
      "main": [
        [
          {
            "node": "Parse Kapor Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Kapor Capital": {
      "main": [
        [
          {
            "node": "Merge Khosla + Kapor",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless WhatIf": {
      "main": [
        [
          {
            "node": "Parse WhatIf Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WhatIf Ventures": {
      "main": [
        [
          {
            "node": "Merge WhatIf + WXR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch WXR Fund": {
      "main": [
        [
          {
            "node": "Parse WXR Fund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WXR Fund": {
      "main": [
        [
          {
            "node": "Merge WhatIf + WXR",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Leadout": {
      "main": [
        [
          {
            "node": "Parse Leadout Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Leadout Capital": {
      "main": [
        [
          {
            "node": "Merge Leadout + Golden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Golden Ventures": {
      "main": [
        [
          {
            "node": "Parse Golden Ventures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Golden Ventures": {
      "main": [
        [
          {
            "node": "Merge Leadout + Golden",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Browserless Notable": {
      "main": [
        [
          {
            "node": "Parse Notable Capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notable Capital": {
      "main": [
        [
          {
            "node": "Merge Notable + Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Headline": {
      "main": [
        [
          {
            "node": "Parse Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Headline": {
      "main": [
        [
          {
            "node": "Merge Notable + Headline",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch PSL (Pioneer Square)": {
      "main": [
        [
          {
            "node": "Parse PSL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PSL": {
      "main": [
        [
          {
            "node": "Merge PSL + Trilogy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Trilogy": {
      "main": [
        [
          {
            "node": "Parse Trilogy Equity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Trilogy Equity": {
      "main": [
        [
          {
            "node": "Merge PSL + Trilogy",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Unusual + First Round": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Essence + Costanoa": {
      "main": [
        [
          {
            "node": "Merge Groups 1+2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Khosla + Kapor": {
      "main": [
        [
          {
            "node": "Merge Groups 3+4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge WhatIf + WXR": {
      "main": [
        [
          {
            "node": "Merge Groups 3+4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Leadout + Golden": {
      "main": [
        [
          {
            "node": "Merge Groups 5+6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Notable + Headline": {
      "main": [
        [
          {
            "node": "Merge Groups 5+6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Groups 1+2": {
      "main": [
        [
          {
            "node": "Merge Super 1+2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Groups 3+4": {
      "main": [
        [
          {
            "node": "Merge Super 1+2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Groups 5+6": {
      "main": [
        [
          {
            "node": "Merge Super 3+7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PSL + Trilogy": {
      "main": [
        [
          {
            "node": "Merge Super 3+7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Super 1+2": {
      "main": [
        [
          {
            "node": "Combine All VCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Super 3+7": {
      "main": [
        [
          {
            "node": "Combine All VCs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine All VCs": {
      "main": [
        [
          {
            "node": "Filter Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid": {
      "main": [
        [
          {
            "node": "Mark as New",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Valid Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as New": {
      "main": [
        [
          {
            "node": "Merge for Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Companies": {
      "main": [
        [
          {
            "node": "Merge for Dedup",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge for Dedup": {
      "main": [
        [
          {
            "node": "Dedup Against Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Against Existing": {
      "main": [
        [
          {
            "node": "Has New Companies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Companies?": {
      "main": [
        [
          {
            "node": "Build Search Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Query": {
      "main": [
        [
          {
            "node": "Brave Search Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search Company": {
      "main": [
        [
          {
            "node": "Parse Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enrichment": {
      "main": [
        [
          {
            "node": "IF: Auto-Disqualify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Auto-Disqualify": {
      "main": [
        [
          {
            "node": "Airtable: Auto-Disqualified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Needs Manual Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Needs Manual Research": {
      "main": [
        [
          {
            "node": "Airtable: Needs Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Tide Pool Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tide Pool Profile": {
      "main": [
        [
          {
            "node": "Build Evaluation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Evaluation Prompt": {
      "main": [
        [
          {
            "node": "Evaluate via Anthropic API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate via Anthropic API": {
      "main": [
        [
          {
            "node": "Parse Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation": {
      "main": [
        [
          {
            "node": "Airtable: Create Evaluated Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}